<kendo-grid #grid="kendoGrid"
    [data]="model"
    [scrollable]="'vertical'"
    class="custom-edit-grid email-setting-grid">

    <!-- Email Type -->
    <kendo-grid-column [width]="28" field="emailTypeName" title="{{'label.emailType' | translate}}">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
            {{dataItem.emailTypeName | translate}}
            <label *ngIf="!noSystemEmail.includes(dataItem.emailType)" class="required"></label>
        </ng-template>
    </kendo-grid-column>

    <!-- Default Send To -->
    <kendo-grid-column [width]="16" field="defaultSendTo" title="{{'label.defaultSendTo' | translate}}">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">         
            <input kendoCheckBox type="checkbox" class="k-checkbox" name="{{tabPrefix}}defaultSendTo_{{rowIndex}}" id="{{tabPrefix}}defaultSendTo_{{rowIndex}}"
                [disabled]="readOnly" [(ngModel)]="dataItem.defaultSendTo" (change)="onDefaultSendToChanged($event, rowIndex)"/>
            <label class="k-checkbox-label noselect default-sendTo-label" for="{{tabPrefix}}defaultSendTo_{{rowIndex}}">{{(dataItem.defaultSendTo ? 'label.yes' : 'label.no') | translate}}</label>

            <ng-template #infoTooltipTemplate let-anchor>
                <span class="tooltip-info">{{ anchor.nativeElement.getAttribute('data-tooltip') }}</span>
            </ng-template>
            <span class="icon-top">
                <span kendoTooltip [tooltipTemplate]="infoTooltipTemplate" filter="fa-icon" position="right" class="icon-info ml-3">
                    <fa-icon attr.data-tooltip="{{getTooltipData(rowIndex) | translate}}" [icon]="faInfoCircle" [styles]="{'color': '#0A89D6'}"></fa-icon>
                </span>
            </span>
        </ng-template>
    </kendo-grid-column>

    <!-- Send To -->
    <kendo-grid-column [width]="28" field="sendTo" title="{{'label.sendTo' | translate}}">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
            <input name="{{tabPrefix}}sendTo_{{rowIndex}}" type="text" class="form-control"
                [required]="!dataItem.defaultSendTo && !noSystemEmail.includes(dataItem.emailType)"
                [disabled]="readOnly"
                [(ngModel)]="dataItem.sendTo"
                [pattern]="patternEmail"
                maxlength="128" placeholder="Email Address"/>

            <div *ngIf="formErrors[tabPrefix + 'sendTo_' + rowIndex]" class="k-invalid-msg">
                {{ formErrors[tabPrefix + 'sendTo_' + rowIndex] }}
            </div>
        </ng-template>
    </kendo-grid-column>

    <!-- CC -->
    <kendo-grid-column [width]="28" field="cc" title="{{'label.cc' | translate}}">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
            <input name="{{tabPrefix}}cc_{{rowIndex}}" type="text" class="form-control"
                [disabled]="readOnly"
                [(ngModel)]="dataItem.cc"
                [pattern]="patternEmail"
                maxlength="128" placeholder="Email Address"/>
            
            <div *ngIf="formErrors[tabPrefix + 'cc_' + rowIndex]" class="k-invalid-msg">
                {{ formErrors[tabPrefix + 'cc_' + rowIndex] }}
            </div>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>