<div class="panel-group agent-assignment-container">
<label class="panel-header">{{'label.airAgents' | translate}}</label>

<kendo-grid #grid="kendoGrid"
    [data]="agentAssignments"
    [scrollable]="'vertical'"
    [selectable]="false"
    class="custom-edit-grid">

    <kendo-grid-column field="assignment" title="{{'label.assignment' | translate}}" width="120px">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
            <span *ngIf="rowIndex == 0 || rowIndex == 1">{{'label.default' | translate}}</span>
            <span *ngIf="rowIndex > 1">{{rowIndex - 1}}</span>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="autoCreateShipment" title="{{'label.autoCreateShipment' | translate}}">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
            <kendo-dropdownlist name="air_autoCreateShipment_{{rowIndex}}" required [hidden]="dataItem.agentType === agentType.Destination"
                [(ngModel)]="dataItem.autoCreateShipment" [data]="autoCreateShipmentOption"
                [valuePrimitive]="true" [textField]="'label'" [valueField]="'value'"
                (focusout)="checkAgentAutoCreateShipmentValidates(rowIndex)"
                (valueChange)="checkAgentAutoCreateShipmentValidates(rowIndex)"
                [disabled]="isViewMode">
                <ng-template kendoDropDownListValueTemplate let-dataItem>
                    {{ dataItem?.label | translate }}
                </ng-template>
                <ng-template kendoDropDownListItemTemplate let-dataItem>
                    {{ dataItem?.label | translate }}
                </ng-template>
            </kendo-dropdownlist>
            <div *ngIf="formErrors['airAgentValidationRules'][rowIndex].autoCreateShipment?.required" class="k-invalid-msg">
                {{ formErrors['airAgentValidationRules'][rowIndex].autoCreateShipment?.required }}
            </div>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="agentType" title="{{'label.agentType' | translate}}">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
            <span *ngIf="rowIndex === 0"> {{ 'label.origin' | translate }}</span>
            <span *ngIf="rowIndex === 1"> {{ 'label.destination' | translate }}</span>
            <kendo-dropdownlist *ngIf="rowIndex >= 2"  name="air_agentType_{{rowIndex}}" required
                [(ngModel)]="dataItem.agentType" [data]="agentTypeOption"
                [valuePrimitive]="true" [textField]="'label'" [valueField]="'value'"
                (valueChange)="onAgentTypeChange($event, rowIndex)"
                (focusout)="checkAgentAgentTypeValidates(rowIndex)"
                [disabled]="isViewMode">
                <ng-template kendoDropDownListValueTemplate let-dataItem>
                    {{ dataItem?.label | translate }}
                </ng-template>
                <ng-template kendoDropDownListItemTemplate let-dataItem>
                    {{ dataItem?.label | translate }}
                </ng-template>
            </kendo-dropdownlist>
            <div *ngIf="formErrors['airAgentValidationRules'][rowIndex].agentType?.required" class="k-invalid-msg">
                {{ formErrors['airAgentValidationRules'][rowIndex].agentType?.required }}
            </div>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="country" title="{{'label.country' | translate}}">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
            <span *ngIf="rowIndex < 2">{{'label.any' | translate}}</span>
            <kendo-dropdownlist *ngIf="rowIndex >= 2" name="air_country_{{rowIndex}}" required
                [(ngModel)]="dataItem.countryId" [data]="countryList"
                [valuePrimitive]="true" [textField]="'label'" [valueField]="'value'"
                [disabled]="isViewMode"
                (valueChange)="onCountryChange($event, rowIndex)"
                (focusout)="checkAgentCountryValidates(rowIndex)">
            </kendo-dropdownlist>
            <div *ngIf="formErrors['airAgentValidationRules'][rowIndex].countryId?.required" class="k-invalid-msg">
                {{ formErrors['airAgentValidationRules'][rowIndex].countryId?.required }}
            </div>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="port" title="{{'label.port' | translate}}">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
            <span *ngIf="rowIndex < 2">{{'label.any' | translate}}</span>
            <kendo-multiselect *ngIf="rowIndex >= 2"
                    name="air_port_{{rowIndex}}"
                    [data]="dataItem.portLocations"
                    [textField]="'label'"
                    [valueField]="'description'"
                    [valuePrimitive]="true"
                    [(ngModel)]="dataItem.portSelectionIds"
                    [autoClose]="false"
                    [disabled]="isViewMode || dataItem.countryId === null"
                    class="form-control"
                    [filterable]="true"
                    (filterChange)="onPortSelectionFilterChange($event, rowIndex)"
                    [placeholder]="'label.any' | translate"
                    #airAgentPorts>
                    <ng-template kendoMultiSelectItemTemplate let-dataItem>
                        <input type="checkbox" class="k-checkbox"
                        [checked]="isPortAgentSelected(dataItem.description, rowIndex)">
                        <label class="k-checkbox-label">{{ dataItem?.label | translate }}</label>
                    </ng-template>
                    <ng-template kendoMultiSelectTagTemplate  let-dataItem>
                        {{ dataItem?.label | translate }}
                    </ng-template>
                </kendo-multiselect>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="agentOrganizationId" title="{{'label.organization' | translate}}">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
            <kendo-autocomplete
                    required
                    name="air_organizationAgent_{{rowIndex}}"
                    (valueChange)="agentOrgValueChange($event, rowIndex)"
                    (filterChange)="agentOrgFilterChange($event)"
                    [valueField]="'name'"
                    [disabled]="isViewMode"
                    [(ngModel)]="dataItem.agentOrganizationName"
                    [data]="agentOrgFilter"
                    [filterable]="true"
                    [placeholder]="'placeholder.egThing' | translate: {thing: ('label.agentOrganization' | translate)}"
                    (focusout)="checkAgentOrgValidates(rowIndex)"
                    class="form-control">
            </kendo-autocomplete>
            <div *ngIf="!formErrors['airAgentValidationRules'][rowIndex].agentOrganizationId?.notExists && formErrors['airAgentValidationRules'][rowIndex].agentOrganizationId?.required" class="k-invalid-msg">
                {{ formErrors['airAgentValidationRules'][rowIndex].agentOrganizationId.required }}
            </div>
            <div *ngIf="formErrors['airAgentValidationRules'][rowIndex].agentOrganizationId?.notExists" class="k-invalid-msg">
                {{ formErrors['airAgentValidationRules'][rowIndex].agentOrganizationId?.notExists }}
            </div>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-command-column title="{{'label.action' | translate}}" [headerStyle]="{'text-align': 'center'}" class="action-column-grid col-action" width="75" *ngIf="!isViewMode">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
            <button attr.data-balloon="{{'tooltip.delete' | translate}}" data-balloon-pos="left" type="button" class="btn btn-default grid-remove-icon-button" *ngIf="rowIndex >= 2" (click)="removeAssignment(rowIndex)">
                <i class="ei ei-icon_minus-06"></i>
            </button>
        </ng-template>
    </kendo-grid-command-column>
</kendo-grid>
<div class="margin-add-icon-button">
    <button type="button" class="btn prim-button add-more-icon-button"
            attr.data-balloon="{{'label.addMore' | translate}}" data-balloon-pos="up"
            (click)="addBlankAssignmentRow()"[disabled]="isViewMode">
        <i class="ei ei-icon_plus"></i>
    </button>
</div>
</div>
