@import "../../../../styles/variables";

.warehouse-fulfillment-container {
    .cancel-po-dialog {
        textarea::placeholder {
            font-size: 14px;
            font-style: italic;
        }

        .cancel-reason {
            height: auto !important;
        }
    }
    .arrow_box {
        border-radius: 2px;
        font-size: 14px;
        padding: 3px;
        padding-left: 9px;
        padding-right: 6px;
        font-family: "Noto Sans";
        font-weight: bold;
    }
    .pending-container {
        @extend .arrow_box;
        background-color: #F9E7BF;
        color: #FBAC02;
    }
    .rejected-container {
        @extend .arrow_box;
        background-color: #FCA397;
        color: red;
    }
    .pending-caret-left {
        color: #F9E7BF;
    } 
    .rejected-caret-left {
        color: #FCA397;
    }
}
.header-group {
    background-color: $theme-background-color;
    width: 100%;
    z-index: 2;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sticky-navigation {
    border-color:1px solid #009FFF;
    width: 100%;
    background-color: $theme-background-color;
    border-bottom: $theme-color-darker 1px solid;
    z-index: 2;
}

.button-group {
    .k-button {
        padding: 0.375rem 1.75rem;
        box-sizing: border-box;
        border-width: 0px;
        border-style: solid;
        line-height: 1.5rem;

        color: $color-grey-dark-3;
        background-color: $theme-background-color;
        background-image: none;
        border: $color-white-dark-2 1px solid;
        border-radius: 5px 5px 0 0;
        font-weight: bold;
        height: 35px;

        &:active, &:focus {
            box-shadow: none;
        }

        &:hover {
            color: $theme-color;
        }

        &.current {
            border-color: $theme-color-darker;
            color: $color-white-primary;
            background-color: $theme-color;
        }
    }
}

.hidden-content {
    display: none;
}