<kendo-dialog [title]="'label.addAffiliateOrganization' | translate" *ngIf="formOpen" (close)="onFormClosed()"
    novalidate [width]="850" class="add-affiliate-dialog custom-header-dialog max-screen-1280x768">
    <div class="container">
        <form #mainForm="ngForm">
            <div>
                <h5 class="title-grid mt-0">{{'label.selectOrganization' | translate}}</h5>
                <hr class="colored" />
                <label class="required">{{'msg.searchAffiliateOrganizationHint' | translate}}:</label>
                <div class="form-row">
                    <div class="form-group col-md-10">
                        <kendo-autocomplete name="affiliateAutoComplete" #affiliateAutoComplete
                            (valueChange)="onAffiliateValueChange($event)" required
                            (filterChange)="onAffiliateFilterChange($event)" [loading]="selectSupplierLoading"
                            [valueField]="'label'" [data]="affiliateDataSourceFilter" [(ngModel)]="selectedAffiliateName"
                            [filterable]="true" [placeholder]="'label.egOrganizationName' | translate" class="form-control">
                        </kendo-autocomplete>

                        <div *ngIf="getControl('affiliateAutoComplete')?.errors?.required && getControl('affiliateAutoComplete').touched" class="k-invalid-msg">
                            {{'validation.requiredThisField' | translate}}
                        </div>
                    </div>
                    <div class="form-group col-md-2 text-right pr-0 action-button-container">
                        <button type="button" class="btn btn-header-secondary" (click)="reset()"
                            [disabled]="!model?.id">
                            {{ 'label.reset' | translate}}
                        </button>
                    </div>
                </div>
    
                <div id="affiliate-info">
                    <ng-container *ngIf="model?.id">
                        <hr class="colored" />
                        <div class="row">
                            <div class="col content-details">
                                <div class="row">
                                    <div class="col-5 text-label">{{'label.organizationName' | translate}}</div>
                                    <div class="col-7 value-label">{{model.name}}</div>
                                </div>
                            </div>
                            <div class="col content-details">
                                <div class="row">
                                    <div class="col-5 text-label">{{'label.type' | translate}}</div>
                                    <div class="col-7 value-label">{{model.organizationTypeName | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col content-details">
                                <div class="row">
                                    <div class="col-5 text-label">{{'label.address' | translate}}</div>
                                    <div class="col-7 value-label">{{model.address | default: defaultValue}}</div>
                                </div>
                            </div>
                            <div class="col content-details">
                                <div class="row">
                                    <div class="col-5 text-label">{{'label.contactName' | translate}}</div>
                                    <div class="col-7 value-label">{{model.contactName | default: defaultValue}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col content-details">
                                <div class="row">
                                    <div class="col-5 text-label">{{'label.country' | translate}}</div>
                                    <div class="col-7 value-label">{{selectedCountryName | default: defaultValue}}</div>
                                </div>
                            </div>
                            <div class="col content-details">
                                <div class="row">
                                    <div class="col-5 text-label">{{'label.contactEmail' | translate}}</div>
                                    <div class="col-7 value-label word-break">{{model.contactEmail | default: defaultValue}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col content-details">
                                <div class="row">
                                    <div class="col-5 text-label">{{'label.city' | translate}}</div>
                                    <div class="col-7 value-label">{{selectedCityName | default: defaultValue}}</div>
                                </div>
                            </div>
                            <div class="col content-details">
                                <div class="row">
                                    <div class="col-5 text-label">{{'label.contactNumber' | translate}}</div>
                                    <div class="col-7 value-label">{{model.contactNumber | default: defaultValue}}</div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </form>
    </div>
    
    <kendo-dialog-actions>
        <button type="button" class="btn second-button dialog-button" (click)="onFormClosed()"
            #Cancel>{{'label.cancel' | translate}}</button>
        <button type="submit" class="btn prim-button dialog-button"
            (click)="onSelectClick()" [disabled]="">{{'label.select' | translate}}</button>
    </kendo-dialog-actions>
</kendo-dialog>