.add-affiliate-dialog {
    .action-button-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .word-break {
        word-break: break-all;
    }
}