<kendo-dialog [title]="'label.addRelationship' | translate" *ngIf="addSupplierFormOpened" (close)="onFormClosed()"
    novalidate [width]="824" class="custom-header-dialog max-screen-1280x768">
    <div class="container">
        <form #mainForm="ngForm">
            <div>
                <h5 class="title-grid mt-0">{{'label.selectSupplier' | translate}}</h5>
                <hr class="colored" />
                <label class="required">{{'label.selectSupplierHint' | translate}}:</label>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <kendo-autocomplete name="supplierAutoComplete" #supplierAutoComplete
                            required
                            (valueChange)="onSupplierValueChange($event)"
                            (filterChange)="onSupplierFilterChange($event)" [loading]="selectSupplierLoading"
                            [valueField]="'customValue'" [data]="supplierFilter" [(ngModel)]="selectedSupplierName"
                            [filterable]="true" [placeholder]="'label.egOrganizationName' | translate" class="form-control"
                            [disabled]="isAddNewSupplierMode">
                        </kendo-autocomplete>
                        <div *ngIf="isSelectedSupplierDuplicated" class="k-invalid-msg">
                            {{ 'label.selectedSupplierDuplicated' | translate }}
                        </div>

                        <div *ngIf="formErrors['supplierAutoComplete']" class="k-invalid-msg">
                            {{'validation.requiredThisField' | translate}}
                        </div>
                    </div>
                    <div class="form-group col-md-4 text-right pr-0">
                        <button type="button" class="btn btn-header-secondary" (click)="onBtnResetClick()"
                            [disabled]="isSupplierNameNullOrEmpty && !isAddNewSupplierMode">
                            {{ 'label.reset' | translate}}
                        </button>
                        <button type="button" class="btn btn-header-warning" (click)="onBtnAddNewClick()"
                            [disabled]="selectedSupplierName || isAddNewSupplierMode">
                            {{ 'label.newSupplier' | translate}}
                        </button>
                    </div>
                </div>

                <div id="supplier-info">
                    <ng-container *ngIf="(selectedSupplierName && model.id) || isAddNewSupplierMode">
                        <h5 *ngIf="isAddNewSupplierMode" class="title-grid mt-0">{{'label.newSupplier' | translate}}
                        </h5>
                        <h5 *ngIf="!isAddNewSupplierMode" class="title-grid mt-0">
                            {{'label.selectedSupplier' | translate}}</h5>
                        <hr class="colored" />
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="organizationName"
                                    class="required">{{'label.organizationName' | translate}}</label>
                                <input required type="text" class="form-control" name="organizationName"
                                    [(ngModel)]="model.name" />
                                <div *ngIf="formErrors['organizationName']" class="k-invalid-msg">
                                    {{formErrors.organizationName}}
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="address">{{'label.address' | translate}}</label>
                                <input type="text" class="form-control" name="address" [(ngModel)]="model.address" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="countryName" class="required">{{'label.country' | translate}}</label>
                                <kendo-autocomplete #countryAutoComplete required name="countryName"
                                    (valueChange)="onCountryValueChange($event)" (close)="onCountryValueChange()"
                                    (filterChange)="onCountryFilterChange($event)" [loading]="countryLoading"
                                    [valueField]="'label'" [data]="countryFilter" [(ngModel)]="selectedCountryName"
                                    [filterable]="true" [placeholder]="'placeholder.egThing' | translate: {thing: ('label.countryName' | translate)}" class="form-control">
                                </kendo-autocomplete>
                                <div *ngIf="formErrors['countryName']" class="k-invalid-msg">
                                    {{formErrors.countryName}}
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="cityName" class="required">{{'label.city' | translate}}</label>
                                <kendo-autocomplete #cityAutoComplete required name="cityName"
                                    (valueChange)="onCityValueChange($event)"
                                    (filterChange)="onCityFilterChange($event)" [loading]="cityLoading"
                                    [valueField]="'label'" [disabled]="!selectedCountry" [(ngModel)]="selectedCityName"
                                    [data]="cityFilter" [filterable]="true" [placeholder]="'placeholder.egThing' | translate: {thing: ('label.cityName' | translate)}"
                                    class="form-control">
                                </kendo-autocomplete>
                                <div *ngIf="formErrors['cityName']" class="k-invalid-msg">
                                    {{formErrors.cityName}}
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="required" for="contactName">{{'label.contactName' | translate}}</label>
                                <input required type="text" class="form-control" name="contactName"
                                    [(ngModel)]="model.contactName" />
                                <div *ngIf="formErrors['contactName']" class="k-invalid-msg">
                                    {{ formErrors.contactName }}
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="required" for="contactEmail">{{'label.contactEmail' | translate}}</label>
                                <input required type="text" class="form-control" name="contactEmail"
                                    [(ngModel)]="model.contactEmail"
                                    [pattern]="patternEmail"
                                    maxlength="128" />
                                <div *ngIf="formErrors['contactEmail']" class="k-invalid-msg">
                                    {{ formErrors.contactEmail }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="websiteDomain">{{'label.websiteDomain' | translate}}</label>
                                <input type="text" class="form-control" name="websiteDomain"
                                    [(ngModel)]="model.websiteDomain" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="required" for="contactNumber">{{'label.contactNumber' | translate}}</label>
                                <input required type="text" class="form-control" name="contactNumber" [(ngModel)]="model.contactNumber" (input)="onTypingContactNumber($event.target.value)"/>
                                <div *ngIf="formErrors['contactNumber']" class="k-invalid-msg">
                                    {{ formErrors.contactNumber }}
                                </div>
                            </div>
                        </div>
                        <ng-container *ngIf="selectedSupplierName && !model.adminUser">
                            <hr class="colored" />
                            <span>{{'label.selectedSupplierHasNoAdmin' | translate}} {{model.contactEmail}}.</span>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </form>
    </div>
    <kendo-dialog-actions>
        <button type="button" class="btn second-button dialog-button" (click)="onFormClosed()"
            #Cancel>{{'label.cancel' | translate}}</button>
        <button type="submit" class="btn prim-button dialog-button" *ngIf="!isAddNewSupplierMode"
            (click)="onSelectClick()">{{'label.select' | translate}}</button>
        <button type="submit" class="btn prim-button dialog-button" *ngIf="isAddNewSupplierMode" (click)="onSaveClick()"
            >{{'label.save' | translate}}</button>
    </kendo-dialog-actions>
</kendo-dialog>
