
.arrow_box {
	position: absolute;
    height: 24px;
    width: 73px;
    border-radius: 2px;
    font-size: 14px;
    padding: 2px;
    padding-left: 8px;
    padding-right: 5px;
    font-family: "Noto Sans";
    left: 136px;
}
.arrow_box:after, .arrow_box:before {
	right: 98%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-width: 6px;
    margin-top: -7px;
}


.pending_arrow_box {
    @extend .arrow_box;
    background-color: #F9E7BF;
    color: #FBAC02;
}

.pending_arrow_box:after {
	border-right-color: #F9E7BF;
}

.rejected_arrow_box {
    @extend .arrow_box;
    background-color: #fca397;
    color: red;
}

.rejected_arrow_box:after {
    border-right-color: #fca397;
}

.draft_arrow_box {
    @extend .arrow_box;
    background-color: #F9E7BF;
    color: #FBAC02;
    padding-right: 10px;
    width: fit-content;
}

.draft_arrow_box:after {
	border-right-color: #F9E7BF;
}

.blanket_arrow_box {
    @extend .arrow_box;
    background-color: #F9E7BF;
    color: #FBAC02;
    width: 65px;
}

.blanket_arrow_box:after {
	border-right-color: #F9E7BF;
}