.organization-code-dropdown{
    width: 120px;
}

.link-code{
    color: $theme-color;
    &:hover {
        color: $theme-color !important;
    }
}
.organization-email{
    color:$theme-color;
    font-weight: normal !important;
}

.refresh-grid {
    position: absolute;
    right: 0px;
}

.loading {
    width: 2em;
    height: 2em;
}

h1, h2, h3, h4, h5, h6, label {
    .loading {
        width: 1em;
        height: 1em;
    }
}

.container{
    padding-left: 0px;
    padding-right: 0px;
}

/* kendo UI */
.k-grid th{
    color: #333333;
    font-weight: bold;
}

.k-pager-numbers .k-link{
    color: $color-grey-bright-1;
    font-weight: normal;
}

.k-pager-numbers .k-state-selected {
    background-color: $theme-color;
    color:white;
    border-radius: 15px;
}

.k-list .k-item.k-state-selected, .k-list-optionlabel.k-state-selected, .k-list-container .k-button:active,
.k-list-container .k-button.k-state-active, .k-spreadsheet-popup .k-button:active, .k-spreadsheet-popup
.k-button.k-state-active, .k-spreadsheet-popup .k-button.k-state-selected, .k-menu-group .k-item.k-state-selected,
.k-menu.k-context-menu .k-item.k-state-selected
{
    background-color: $theme-color;
}

.k-grid-header .k-i-sort-asc-sm, .k-grid-header .k-i-sort-desc-sm, .k-grid-header .k-sort-order
{
    color: $theme-color;
}

.action-column-grid{
    text-align: center !important;
}

.k-clear-button-visible {
    margin-left: -30px;
}

// hide number sorted on column
.k-sort-order {
    opacity: 0;
}

.k-grid td.k-state-selected, .k-grid tr.k-state-selected>td {
    background-color: #fff;
}


.k-pager-refresh .k-i-reload {
    transform: rotate(60deg);
}

.k-pager-numbers .k-state-selected {
    background-color: $theme-color;
    color: #fff;
    font-weight: bold;
}

.k-pager-numbers .k-link {
    border-radius: 15px;
    &:hover {
        color: $theme-color;
        font-weight: bold;
    }
}

.k-grid-header .k-header>.k-link {
    padding: 12px 12px;
}

.k-pager-wrap .k-pager-refresh {
    width: 36px;
    height: 36px;
}

.k-grid-content {
    overflow-y: auto;
}

.k-grid-header {
    padding: 0px !important;
}


.order-text{
    text-align: center;
}

.action-menu {
    font-size: 16px;
    cursor: pointer;
}

.action-tooltip-container {
    padding: 5px;
}

.action-button {
    padding: 5px 20px;
    padding-right: 50px;
    &:hover {
        background-color: $theme-color-brighter;
        cursor: pointer;
        .action-grid-label, .action-grid-icon {
            color: $theme-color;
        }
    }
}

.action-grid-icon {
    margin-right: 7px;
    font-size: 13px;
    cursor: pointer;
}

.action-grid-label {
    font-size: 13px;
    color: #333333;
}

// drag drop grid
.order-drag-container {
    padding: 0px !important;
    &:hover {
        background-color: rgba(3, 155, 250, 0.3) !important;
        .hover-drag
        {
            background: url('/assets/images/compliance/drag-icon.png');
            background-size: auto;
            background-repeat: no-repeat;
            padding: 10px;
            margin-left: 23px;

            span {
                display: none;
            }
        }
    }
}

.multiline-header{
    white-space: normal !important;
    text-align: left !important;
    vertical-align: middle !important;
}

.center-cell {
    text-align: center !important;
}
.right-cell {
    text-align: right !important;
}

.k-grid-content tr:last-child td, .k-grid-content-locked tr:last-child td {
    border-bottom-width: 1px;
}

.k-grid-content tr:last-child > td, .k-grid-content-locked tr:last-child > td {
    border-bottom-width: 0;
}

/** custom grid detail */

.k-grid {
    td {
        &.k-hierarchy-cell {
            border-right: 1px solid #ebebeb !important;
            .k-icon::before {
                position: absolute;
                transform: translate(-50%, -50%);
            }
        }
        &.k-detail-cell {
            padding: 0px !important;
        }
    }
}
