.k-tabstrip-top > .k-tabstrip-items .k-item {
    background-color: #F6FAFB;
    border: 1px solid $color-white-dark-2;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}

.k-tabstrip-items .k-item:hover, .k-tabstrip-items .k-item.k-state-hover {
    color: $theme-color;
}

.k-tabstrip-items .k-item.k-state-active, .k-tabstrip-items .k-item.k-state-selected {
    background: $theme-color;
    color: #fff;
}

.k-tabstrip > .k-content.k-state-active {
    border-top: 1px solid $theme-color;
}

.k-tabstrip > .k-content {
    padding: 30px;
}

.tab-panel {
    margin-top: 10px;
}

.k-tabstrip-items .k-link {
    height: 25px;
    text-transform: uppercase;
}

.k-tabstrip > .k-tabstrip-items .k-state-disabled {
    color: gray !important;
}
