<div class="content__header">
    <div class="typing_loader" *ngIf="!isInitDataLoaded else mainTemplate"></div>

    <ng-template #mainTemplate>
        <div class="header-group">
            <div class="row">
                <div class="col-sm-7">
                    <button attr.data-balloon="{{'tooltip.backToList' | translate }}" data-balloon-pos="up"
                        type="button" class="btn btn-default back-button" (click)="backToList()">
                        <i class="ei ei-arrow_left"></i>
                    </button>

                    <ng-container *ngIf="!isAddMode else addNewContractLabel">
                        <label class="form-header">{{'label.contract' | translate}} #{{contractKey}}</label>
                        <app-status-label [status]="model.status"
                            [statusName]="model.status === contractMasterStatus.Active ? 'Active': 'Inactive'"
                            [statusEnum]="contractMasterStatus">
                        </app-status-label>
                    </ng-container>

                    <ng-template #addNewContractLabel>
                        <label class="form-header"> {{'label.addNewContract' | translate }} </label>
                    </ng-template>
                </div>

                <div class="col-sm-5 text-right" *hasPermission="[AppPermissions.Organization_Contract_Detail_Edit]" [hidden]="!isViewMode">
                    <button attr.data-balloon="{{'label.edit' | translate}}" data-balloon-pos="up" type="button"
                        class="btn edit-icon-button" (click)="editContract()">
                        <fa-icon [icon]="faPencilAlt"></fa-icon>
                    </button>
                    <button attr.data-balloon="{{'label.deactivate' | translate}}" data-balloon-pos="up" type="button"
                        class="btn suspend-icon-button" *ngIf="model.status === contractMasterStatus.Active"
                        (click)="onUpdateStatus(model, contractMasterStatus.Inactive)">
                        <fa-icon [icon]="faPowerOff"></fa-icon>
                    </button>
                    <button attr.data-balloon="{{'label.activate' | translate}}" data-balloon-pos="up" type="button"
                        class="btn btn-default activate-icon-button"
                        *ngIf="model.status === contractMasterStatus.Inactive" (click)="onUpdateStatus(model, contractMasterStatus.Active)">
                        <fa-icon [icon]="faPowerOff"></fa-icon>
                    </button>
                </div>
            </div>
        </div>

        <ng-container *ngIf="isViewMode; then viewModeTemplate else AddOrEditTemplate"></ng-container>
    </ng-template>
</div>

<!-- Add/Edit mode -->
<ng-template #AddOrEditTemplate>
    <div class="col" *ngIf="!isViewMode && isInitDataLoaded">
        <form class="row" #mainForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="col-12 panel-group mt-0">
                <label class="panel-header">{{'label.contractDetail' | translate}}</label>

                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="contractKey">{{'label.contractKey' | translate}}</label>

                        <input type="text" class="form-control" name="contractKey" [(ngModel)]="model.carrierContractNo"
                            disabled />
                    </div>

                    <div class="col-md-6">
                        <label for="carrier"> {{ 'label.carrier' | translate}} </label>

                        <kendo-dropdownlist name="carrier" class="form-control" [data]="carriersFiltered"
                            [valuePrimitive]="true" [textField]="'name'" [valueField]="'carrierCode'"
                            [defaultItem]="defaultDropdownItem" (filterChange)="onFilterCarrier($event)"
                            [filterable]="true" [(ngModel)]="model.carrierCode">

                            <ng-template kendoDropDownListValueTemplate let-dataItem>
                                {{ dataItem?.name | translate }}
                            </ng-template>
                            <ng-template kendoDropDownListItemTemplate let-dataItem>
                                {{ dataItem?.name | translate }}
                            </ng-template>
                        </kendo-dropdownlist>
                    </div>
                </div>

                <div class="row form-group ">
                    <div class="col-md-6"
                        [class.force-invalid]="formErrors['contractNo'] || getFormControl('contractNo')?.errors?.isDuplicated">
                        <label for="contractNo" class="required">{{'label.contractNo' | translate}}</label>

                        <input type="text" class="form-control" name="contractNo" [(ngModel)]="model.realContractNo"
                            (input)="contractNoTypingEvent$.next($event.target.value)" required />

                        <div *ngIf="getFormControl('contractNo')?.errors?.required && getFormControl('contractNo')?.touched"
                            class="k-invalid-msg">
                            {{ 'validation.requiredField' | translate: {'fieldName': 'label.contractNo' | translate}
                            }}
                        </div>

                        <div *ngIf="getFormControl('contractNo')?.errors?.isDuplicated && getFormControl('contractNo')?.touched"
                            class="k-invalid-msg">
                            {{ 'validation.cannotBeDuplicated' | translate: {'fieldName': 'label.contractNo' |
                            translate} }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="contractType" class="required">{{'label.contractType' | translate}}</label>

                        <kendo-dropdownlist name="contractType" class="form-control" [data]="contractTypeDataSource"
                            (valueChange)="onChangeContracType($event)" [valuePrimitive]="true" [textField]="'name'"
                            [valueField]="'name'" required [defaultItem]="defaultContractTypeDropdownItem"
                            [(ngModel)]="model.contractType">

                            <ng-template kendoDropDownListValueTemplate let-dataItem>
                                {{ dataItem?.name | translate }}
                            </ng-template>
                            <ng-template kendoDropDownListItemTemplate let-dataItem>
                                {{ dataItem?.name | translate }}
                            </ng-template>
                        </kendo-dropdownlist>
                        <div *ngIf="getFormControl('contractType')?.errors?.required && getFormControl('contractType')?.touched"
                            class="k-invalid-msg">
                            {{ 'validation.requiredField' | translate: {'fieldName': 'label.contractType' | translate}
                            }}
                        </div>
                    </div>
                </div>

                <div class="row form-group ">
                    <div class="col-md-6">
                        <label for="contractHolder" class="required">{{'label.contractHolder' | translate}}</label>

                        <kendo-dropdownlist name="contractHolder" required class="form-control" [data]="orgFiltered"
                            [valuePrimitive]="true" [textField]="'name'" [valueField]="'id'" required
                            [defaultItem]="defaultDropdownItem" (filterChange)="onFilterOrg($event)" [filterable]="true"
                            [(ngModel)]="model.contractHolder">

                            <ng-template kendoDropDownListValueTemplate let-dataItem>
                                {{ dataItem?.name | translate }}
                            </ng-template>
                            <ng-template kendoDropDownListItemTemplate let-dataItem>
                                {{ dataItem?.name | translate }}
                            </ng-template>
                        </kendo-dropdownlist>

                        <div *ngIf="getFormControl('contractHolder')?.errors?.required && getFormControl('contractHolder')?.touched"
                            class="k-invalid-msg">
                            {{ 'validation.requiredField' | translate: {'fieldName': 'label.contractHolder' | translate}
                            }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="coloaderCode">{{'label.coloader' | translate}}</label>
                        <input type="text" class="form-control" name="coloaderCode" [(ngModel)]="model.coloaderCode" />
                    </div>
                </div>

                <div class="row form-group ">
                    <div class="col-md-6">
                        <label for="validFromDate" class="required">{{'label.validFrom' | translate}}</label>

                        <kendo-datepicker required name="validFromDate" [(ngModel)]="model.validFromDate"
                            (valueChange)="onChangeValidFromDate()" class="form-control">
                        </kendo-datepicker>

                        <div *ngIf="getFormControl('validFromDate')?.errors?.required && getFormControl('validFromDate')?.touched"
                            class="k-invalid-msg">
                            {{ 'validation.requiredField' | translate: {'fieldName': 'label.validFrom' | translate}
                            }}
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="validToDate" class="required">{{'label.validTo' | translate}}</label>

                        <kendo-datepicker required name="validToDate" [(ngModel)]="model.validToDate"
                            class="form-control" (valueChange)="onChangeValidToDate()">
                        </kendo-datepicker>

                        <div *ngIf="getFormControl('validToDate')?.errors?.required && getFormControl('validToDate')?.touched"
                            class="k-invalid-msg">
                            {{ 'validation.requiredField' | translate: {'fieldName': 'label.validTo' | translate}
                            }}
                        </div>

                        <div *ngIf="getFormControl('validToDate')?.errors?.notEarlierThan && getFormControl('validToDate')?.touched"
                            class="k-invalid-msg">
                            {{ 'validation.notEarlierThan' | translate: {'currentFieldName': 'label.validTo' | translate , 'fieldName':'label.validFrom' | translate} }}
                        </div>
                    </div>
                </div>

                <div class="row form-group ">
                    <div class="col-md-6">
                        <label for="customerContractType">{{'label.customerContractType' | translate}}</label>

                        <input type="text" class="form-control" name="customerContractType" [(ngModel)]="model.customerContractType" maxlength="512" />
                    </div>

                    <div class="col-md-6">
                        <label for="isVip">{{'label.isVip' | translate}}</label><br>

                        <kendo-switch name="isVip" [(ngModel)]="model.isVip" onLabel="Yes" offLabel="No"
                            [disabled]="isViewMode">
                        </kendo-switch>
                    </div>
                </div>
            </div>

            <div class="col-12 action-bar p-0">
                <button type="button" class="btn second-button" (click)="cancel()">{{'label.cancel' |
                    translate}}</button>
                <button type="submit" class="btn prim-button"
                    (click)="save()">{{'label.save' |
                    translate}}</button>
            </div>
        </form>
    </div>
</ng-template>

<!-- View mode -->
<ng-template #viewModeTemplate>
    <div class="col panel-group mt-0" *ngIf="isViewMode">
        <div class="row">
            <div class="col content-details">
                <div class="row">
                    <div class="col-4 text-label">{{'label.contractNo' | translate}}</div>
                    <div class="col-8 value-label">{{ model.realContractNo }}</div>
                </div>

                <div class="row">
                    <div class="col-4 text-label">{{'label.contractHolder' | translate}}</div>
                    <div class="col-8 value-label"> {{ model.organizationName }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-4 text-label">{{'label.validFrom' | translate}}</div>
                    <div class="col-8 value-label">{{ model.validFromDate | date: DATE_FORMAT }}</div>
                </div>

                <div class="row">
                    <div class="col-4 text-label">{{'label.validTo' | translate}}</div>
                    <div class="col-8 value-label">{{ model.validToDate | date: DATE_FORMAT }}</div>
                </div>
            </div>

            <div class="col content-details">
                <div class="row">
                    <div class="col-4 text-label">{{'label.carrier' | translate}}</div>
                    <div class="col-8 value-label">{{ model.carrierName | default: defaultValue }}</div>
                </div>

                <div class="row">
                    <div class="col-4 text-label">{{'label.contractType' | translate}}</div>
                    <div class="col-8 value-label">{{ model.contractType }}</div>
                </div>

                <div class="row">
                    <div class="col-4 text-label">{{'label.coloader' | translate}}</div>
                    <div class="col-8 value-label">{{ model.coloaderCode | default: defaultValue}}</div>
                </div>

                <div class="row">
                    <div class="col-4 text-label">{{'label.customerContractType' | translate}}</div>
                    <div class="col-8 value-label">{{ model.customerContractType | default: defaultValue}}</div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
