<form [formGroup]="filterForm" class="content-tabs position-relative" novalidate>
    <div class="row">
        <div class="col-4">
            <div class="form-group row">
                <label for="selectedCustomerId" class="col-4 form-label inline-label required">{{'label.customer' | translate}}</label>
                <div class="col-8">
                    <kendo-dropdownlist 
                                        formControlName="selectedCustomerId"
                                        [valuePrimitive]="true"
                                        [textField]="'text'"
                                        [valueField]="'value'"
                                        [data]="customerOptions"
                                        class="form-control"
                                        required
                                        [defaultItem]="defaultDropDownItem">
                        <ng-template kendoDropDownListValueTemplate let-dataItem>
                            {{ dataItem?.text | translate }}
                        </ng-template>
                        <ng-template kendoDropDownListItemTemplate let-dataItem>
                            {{ dataItem?.text | translate }}
                        </ng-template>
                    </kendo-dropdownlist>
                    
                    <p *ngIf="filterForm.controls['selectedCustomerId'].errors?.required && (filterForm.controls['selectedCustomerId']?.touched || filterForm.controls['selectedCustomerId']?.dirty)" class="k-invalid-msg">
                        {{ 'validation.requiredField' | translate: {'fieldName': 'label.customer' | translate} }}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
            <div class="form-group row">
                <label for="selectedSupplier" class="col-4 form-label inline-label">{{'label.supplier' | translate}}</label>
                <div class="col-8">
                    <input 
                        formControlName="selectedSupplier" 
                        type="text" 
                        class="form-control"/>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="form-group row">
                <label for="bookingNoFrom" class="col-4 form-label inline-label">{{'label.fulfillmentNo' | translate}}</label>
                <div class="col-8">
                    <input 
                        formControlName="bookingNoFrom" 
                        type="text" 
                        class="form-control"/>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
            <div class="form-group row">
                <label for="bookingNoTo" class="col-4 form-label inline-label">To</label>
                <div class="col-8">
                    <input 
                        formControlName="bookingNoTo" 
                        type="text" 
                        class="form-control"/>
                    <div *ngIf="filterForm.controls['bookingNoTo']?.errors && (filterForm.controls['bookingNoTo']?.dirty || filterForm.controls['bookingNoTo']?.touched)" class="k-invalid-msg">
                        <p *ngIf="filterForm.controls['bookingNoTo']?.errors?.invalidRangeInput">
                            {{ 'validation.bookingNoRangeInvalid' | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="form-group row">
                <label for="expectedHubArrivalDateFrom" class="col-4 form-label inline-label">{{ 'label.expectedHubArrivalDates' | translate }}</label>
                <div class="col-8">
                    <kendo-datepicker 
                        class="form-control" 
                        formControlName="expectedHubArrivalDateFrom">
                    </kendo-datepicker>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
            <div class="form-group row">
                <label for="expectedHubArrivalDateTo" class="col-4 form-label inline-label">To</label>
                <div class="col-8">
                    <kendo-datepicker 
                        class="form-control" 
                        formControlName="expectedHubArrivalDateTo">
                    </kendo-datepicker>

                    <div *ngIf="filterForm.controls['expectedHubArrivalDateTo']?.errors && (filterForm.controls['expectedHubArrivalDateTo']?.dirty || filterForm.controls['expectedHubArrivalDateTo']?.touched)" class="k-invalid-msg">
                        <p *ngIf="filterForm.controls['expectedHubArrivalDateTo']?.errors?.invalidRangeInput">
                            {{ 'validation.expectedHubArrivalDateRangeInvalid' | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3 text-right">
            <button type="button" class="btn header-button btn-color-orange"
                 
                (click)="onSearchWarehouseBookings()">
                <fa-icon [icon]="faSearch" class=""></fa-icon>  {{'label.search' | translate}}
                <ng-template *appSpinner="isSearchingWarehouseBookingConfirm"></ng-template>
            </button>

            <button type="button" class="btn header-button btn-color-grey" (click)="resetForm()">
                <fa-icon [icon]="faRedo" class=""></fa-icon> {{'label.reset' | translate}}
            </button>
        </div>
    </div>
</form>
