@import "../../../../styles/variables";

.load-plan-wrapper {

    .load-plan-grid {
        width: 100%;

        &-header {
            font-weight: bold;
            background-color: $color-white-dark-1;
            color: #000;
        }

        .load-plan-grid-action {
            width: 30px;
            position: relative;

            .child-icon {
                position: absolute;
                top: 50%;
                transform: translateY(-60%);
                left: 40%;
            }
        }

        &-row {
            width: 100%;

            .main-line {
                width: 100%;
                display: flex;
            }

            .subtotal-line {
                width: 100%;
                display: flex;
                font-weight: bold;
                color: $color-green-primary;
                .load-plan-grid-item {
                    width: 100%;
                    padding: 7px 0;
                    div {
                        padding-left: 12px;
                        box-sizing: border-box;
                    }
                    // Blank
                    div:nth-child(1) {
                        width: 22%;
                    }
                    // Subtotal
                    div:nth-child(2) {
                        width: 15%;
                    }
                    // Total loaded package
                    div:nth-child(3) {
                        width: 15%;
                    }
                    // Total loaded qty
                    div:nth-child(4) {
                        width: 15%;
                    }
                    // Total volume
                    div:nth-child(5) {
                        width: 15%;
                    }
                    // Total gross weight
                    div:nth-child(6) {
                        width: 18%;
                    }
                }
            }

            .load-plan-grid-item-image {
                min-width: 200px;
                .load-plan-container {
                    position: relative;
                    width: 140px;
                    height: 80px;
                    border: 1px solid $color-white-dark-2;
                    background-color: $color-white-dark-1;
                    .load-plan-container-icon {
                        height: 40px;
                        width: 80px;
                        background-image: url('../../../../assets/images/container-icon/small/container.png');
                        background-repeat: no-repeat;
                        display: inline-block;
                        text-align: center;
                        font-weight: bold;
                        font-size: 20px;
                        color: $color-grey-dark-3;
                    }
                    .load-button-icon {
                        position: absolute;
                        top: 22px;
                        right: -42px;
                        margin-left: 0;
                    }
                    .container-edit-icon {
                        cursor: pointer;
                        position: absolute;
                        top: 1px;
                        right: 5px;
                    }
                }
            }

            .load-plan-grid-header-item-group {
                width: 100%;
                display: flex;

                &:last-child {
                    border-bottom: none !important;
                }

                div {
                    padding-left: 12px;
                    box-sizing: border-box;
                }

                // Seq.
                div:nth-child(1) {
                    width: 7%;
                }
                // PO No.
                div:nth-child(2) {
                    width: 15%;
                }
                // Product No.
                div:nth-child(3) {
                    width: 15%;
                }
                // Loaded Package
                div:nth-child(4) {
                    width: 15%;
                }
                // Loaded Qty
                div:nth-child(5) {
                    width: 15%;
                }
                // Volume
                div:nth-child(6) {
                    width: 15%;
                }
                // Gross weight
                div:nth-child(7) {
                    width: 15%;
                }
                // Actions
                div:nth-child(8) {
                    width: 3%;
                }
            }
        }
        ::ng-deep .load-detail-sortable {
            width: 100%;
            &.disabled {
                div.load-detail-row-item {
                    cursor: default !important;
                } 
            }
            div.load-detail-row-item {
                width: 100%;
                display: flex;
                align-items: center;
                min-height: 47px;
                border-bottom: 1px solid $color-white-dark-2;
                
                ::ng-deep .form-control {
                    height: 32px !important;
                    span {
                        height: 32px;
                    }
                    .k-input {
                        height: 32px !important;
                    }
                }
    
                &.dragging {
                    border: 1px dashed $color-grey-dark-2 !important;
                    background-color: $color-blue-bright-1 !important;
                }
    
                > div {
                    padding-left: 12px;
                    box-sizing: border-box;
                }
    
                // Seq.
                > div:nth-child(1) {
                    width: 7%;
                }
                // PO No.
                > div:nth-child(2) {
                    width: 15%;
                }
                // Product No.
                > div:nth-child(3) {
                    width: 15%;
                }
                // Loaded Package
                > div:nth-child(4) {
                    width: 15%;
                }
                // Loaded Qty
                > div:nth-child(5) {
                    width: 15%;
                }
                // Volume
                > div:nth-child(6) {
                    width: 15%;
                }
                // Gross weight
                > div:nth-child(7) {
                    width: 15%;
                }
                // Actions
                > div:nth-child(8) {
                    width: 3%;
                }
            }
            
            > div:last-child {
                div.load-detail-row-item {
                    border-bottom: 0 !important;
                    &.dragging {
                        border: 1px dashed $color-grey-dark-2 !important;
                    }
                }
            }
        }
    }
}

.middle-header {
    display: flex;
    align-items: center;
}

.wrap-text {
    word-break: break-word;
}

.k-link {
    color: $theme-color !important;
}

::ng-deep .transparent-dropdown-btn {
    &.k-state-focused .k-button, .k-button{
        box-shadow: unset;
        border: transparent;
    }
}