<div class="load-plan-wrapper" *ngIf="isShowLoadPlan">
    <form #mainForm="ngForm">
        <div class="load-plan-grid">
            <div class="load-plan-grid-row load-plan-grid-header">
                <div class="main-line border border-bottom-0">
                    <div class="load-plan-grid-item-image col-1 border-right middle-header">
                        {{ "label.loads" | translate }}
                    </div>
                    <div class="load-plan-grid-header-item-group row ml-0 mr-0">
                        <div class="py-2 border-right middle-header" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_LOAD_DETAILS, 'sequence')">{{ "label.seq" | translate }}
                            <img class="ml-1" src="/assets/images/compliance/drag-icon.png">
                        </div>
                        <div class="py-2 border-right middle-header" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_LOAD_DETAILS, 'customerPONumber')">
                            {{ "label.poNo" | translate }}
                        </div>
                        <div class="py-2 border-right middle-header" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_LOAD_DETAILS, 'productCode')">
                            {{ "label.productNo" | translate }}
                        </div>
                        <div class="py-2 border-right middle-header" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_LOAD_DETAILS, 'unitQuantity')">
                            <label class='required' style="margin-bottom: unset;">
                                {{ "label.loadedQty" | translate }}
                            </label>
                        </div>
                        <div class="py-2 border-right middle-header" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_LOAD_DETAILS, 'packageQuantity')">
                            <label class='required' style="margin-bottom: unset;">
                                {{ "label.loadedPackage" | translate }}
                            </label>
                        </div>
                        <div class="py-2 border-right middle-header" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_LOAD_DETAILS, 'volume')">
                            <label class='required' style="margin-bottom: unset;">
                                {{ "label.volume" | translate }}
                            </label>
                        </div>
                        <div class="py-2 middle-header" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_LOAD_DETAILS, 'grossWeight')">
                            <label class='required' style="margin-bottom: unset;">
                                {{ "label.grossWeight" | translate }}
                            </label>
                        </div>
                        <div class="py-2 middle-header border-left" *ngIf="isEditable">
                        </div>
                    </div>
                </div>
            </div>
            <div class="load-plan-grid-row" *ngFor="let load of model.loads; let loadRowIndex = index; let l = count">
                <div class="main-line border-left border-right border-top" [class.border-bottom]="load.details?.length > 0 || loadRowIndex > 0 || l === 1">
                    <div class="load-plan-grid-item-image col-1 p-2 border-right text-center">
                        <div class="load-plan-container">
                            <div class="load-plan-container-icon p-1 mt-2">
                                <span class="equipment-type-name">
                                    {{ load.equipmentType }}
                                </span>
                            </div>
                            <div class="load-plan-container-number mt-1">
                                <a class="k-link" *ngIf="load.containerNumber; else loadReferenceNumber" (click)="viewContainerPopup(loadRowIndex)">
                                    {{load.containerNumber}}
                                </a>
                                <ng-template #loadReferenceNumber>
                                    {{load.loadReferenceNumber}}
                                </ng-template>
                            </div>
                            <button *ngIf="isEditable" (click)="onLoadBtnClick(load.id)" [attr.data-balloon]="'label.load' | translate" data-balloon-pos="up" type="button" class="btn grid-load-icon-button load-button-icon">
                                <fa-icon [icon]="faAngleRight"></fa-icon>
                            </button>
                            <fa-icon [icon]="faPencilAlt" class="container-edit-icon" [attr.data-balloon]="'label.updateContainerInfo' | translate" data-balloon-pos="up"
                                (click)="editContainerPopup(loadRowIndex)" *ngIf="!isViewMode && canUpdateContainer"></fa-icon>
                        </div>
                    </div>
                    <kendo-sortable #sortable
                                    [kendoSortableBinding]="load.details | orderBy: 'sequence'"
                                    [disabledIndexes]="disabledIndexes(loadRowIndex)"
                                    [animation]="load.details?.length < 50"                     
                                    class="load-detail-sortable"
                                    [class.disabled]="!isEditable"
                                    [itemStyle]="{ cursor: 'move', width:'100%' }"
                                    [emptyItemStyle]="{ margin: '20px', 'text-align': 'center'}"
                                    emptyText="No records available."
                                    (dragStart)="onDragStart($event, loadRowIndex)"
                                    (dragOver)="onDragOver($event, loadRowIndex)"
                                    (dragEnd)="onDragEnd($event)">
                        <ng-template let-dataItem="item" let-rowIndex="index">
                            <div class="load-detail-row-item" [class.dragging]="dataItem.dragging" draggable="false">
                                <div [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_LOAD_DETAILS, 'sequence')">
                                    {{dataItem.sequence}}
                                </div>
                                <div [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_LOAD_DETAILS, 'customerPONumber')">
                                    {{dataItem.customerPONumber}}
                                </div>
                                <div [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_LOAD_DETAILS, 'productCode')">
                                    {{dataItem.productCode}}
                                </div>
                                <div [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_LOAD_DETAILS, 'unitQuantity')">
                                    <kendo-numerictextbox
                                        [class.force-invalid]="getControlByName('unitQuantity_' + loadRowIndex + '_' + dataItem.originalIndex)?.errors"
                                        *ngIf="isEditable; else viewOnlyUnitQuantityTemplate"
                                        name="unitQuantity_{{loadRowIndex}}_{{rowIndex}}"
                                        required
                                        [min]="0"
                                        [decimals]="0"
                                        [spinners]="false"
                                        [format]="'n'"
                                        [autoCorrect]="true"
                                        [(ngModel)]="dataItem.unitQuantity"
                                        (valueChange)="onUnitQtyValueChange($event, dataItem.originalIndex, loadRowIndex)"
                                        class="form-control">
                                    </kendo-numerictextbox>
                                    <ng-template #viewOnlyUnitQuantityTemplate>
                                        {{ dataItem.unitQuantity | number }}
                                    </ng-template>
                                    <div *ngIf="getControlByName('unitQuantity_' + loadRowIndex + '_' + dataItem.originalIndex)?.errors" class="k-invalid-msg">
                                        <p *ngIf="getControlByName('unitQuantity_' + loadRowIndex + '_' + dataItem.originalIndex).errors.required">
                                            {{ 'validation.requiredField' | translate: {'fieldName': 'label.loadedQty' | translate} }}
                                        </p>
                                        <p *ngIf="getControlByName('unitQuantity_' + loadRowIndex + '_' + dataItem.originalIndex).errors.lessThanOrEqualZero">
                                            {{'validation.valueMustBeGreaterThanZero' | translate}}
                                        </p>
                                    </div>
                                </div>
                                <div [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_LOAD_DETAILS, 'packageQuantity')">
                                    <kendo-numerictextbox
                                        [class.force-invalid]="getControlByName('packageQuantity_' + loadRowIndex + '_' + dataItem.originalIndex)?.errors"
                                        *ngIf="isEditable; else viewOnlyPackageQuantityTemplate"
                                        name="packageQuantity_{{loadRowIndex}}_{{rowIndex}}"
                                        required
                                        [min]="0"
                                        [decimals]="0"
                                        [spinners]="false"
                                        [format]="'n'"
                                        [autoCorrect]="true"
                                        [(ngModel)]="dataItem.packageQuantity"
                                        (valueChange)="onPackageQtyValueChange($event, dataItem.originalIndex, loadRowIndex)"
                                        class="form-control">
                                    </kendo-numerictextbox>
                                    <ng-template #viewOnlyPackageQuantityTemplate>
                                        {{ dataItem.packageQuantity | number }}
                                    </ng-template>
                                    <div *ngIf="getControlByName('packageQuantity_' + loadRowIndex + '_' + dataItem.originalIndex)?.errors" class="k-invalid-msg">
                                        <p *ngIf="getControlByName('packageQuantity_' + loadRowIndex + '_' + dataItem.originalIndex).errors.required">
                                            {{ 'validation.requiredField' | translate: {'fieldName': 'label.loadedPackage' | translate} }}
                                        </p>
                                        <!-- Temporary comment for PSP-2733 -->
                                        <!-- <p *ngIf="getControlByName('packageQuantity_' + loadRowIndex + '_' + rowIndex).errors.greaterThanBookedQty">
                                            {{ 'validation.loadedPackageGreaterThanBookedQty' | translate: {'max': dataItem.bookedPackage} }}
                                        </p> -->
                                    </div>
                                </div>
                                <div [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_LOAD_DETAILS, 'volume')">
                                    <kendo-numerictextbox
                                        [class.force-invalid]="getControlByName('volume_' + loadRowIndex + '_' + dataItem.originalIndex)?.errors"
                                        *ngIf="isEditable; else viewOnlyVolumeTemplate"
                                        name="volume_{{loadRowIndex}}_{{rowIndex}}"
                                        required
                                        [min]="0"
                                        [decimals]="3"
                                        [spinners]="false"
                                        [format]="'n3'"
                                        [autoCorrect]="true"
                                        [(ngModel)]="dataItem.volume"
                                        (valueChange)="onVolumeValueChange($event, dataItem.originalIndex, loadRowIndex)"
                                        class="form-control">
                                    </kendo-numerictextbox>
                                    <ng-template #viewOnlyVolumeTemplate>
                                        {{dataItem.volume | number: '0.3-3'}}
                                    </ng-template>
                                    <div *ngIf="getControlByName('volume_' + loadRowIndex + '_' + dataItem.originalIndex)?.errors" class="k-invalid-msg">
                                        <p *ngIf="getControlByName('volume_' + loadRowIndex + '_' + dataItem.originalIndex).errors.required">
                                            {{ 'validation.requiredField' | translate: {'fieldName': 'label.volume' | translate} }}
                                        </p>
                                        <p *ngIf="getControlByName('volume_' + loadRowIndex + '_' + dataItem.originalIndex).errors.lessThanOrEqualZero">
                                            {{'validation.valueMustBeGreaterThanZero' | translate}}
                                        </p>
                                    </div>
                                </div>
                                <div [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_LOAD_DETAILS, 'grossWeight')">
                                    <kendo-numerictextbox
                                        [class.force-invalid]="getControlByName('grossWeight_' + loadRowIndex + '_' + dataItem.originalIndex)?.errors"
                                        *ngIf="isEditable; else viewOnlyGrossWeightTemplate"
                                        name="grossWeight_{{loadRowIndex}}_{{rowIndex}}"
                                        required
                                        [min]="0"
                                        [decimals]="2"
                                        [spinners]="false"
                                        [format]="'n2'"
                                        [autoCorrect]="true"
                                        [(ngModel)]="dataItem.grossWeight"
                                        (valueChange)="onGrossWeightValueChange($event, dataItem.originalIndex, loadRowIndex)"
                                        class="form-control">
                                    </kendo-numerictextbox>
                                    <ng-template #viewOnlyGrossWeightTemplate>
                                        {{dataItem.grossWeight | number: '0.2-2'}}
                                    </ng-template>
                                    <div *ngIf="getControlByName('grossWeight_' + loadRowIndex + '_' + dataItem.originalIndex)?.errors" class="k-invalid-msg">
                                        <p *ngIf="getControlByName('grossWeight_' + loadRowIndex + '_' + dataItem.originalIndex).errors.required">
                                            {{ 'validation.requiredField' | translate: {'fieldName': 'label.grossWeight' | translate} }}
                                        </p>
                                        <p *ngIf="getControlByName('grossWeight_' + loadRowIndex + '_' + dataItem.originalIndex).errors.lessThanOrEqualZero">
                                            {{'validation.valueMustBeGreaterThanZero' | translate}}
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <kendo-dropdownbutton
                                        [hidden]="!isEditable"
                                        [data]="getMoreActionMenu(dataItem)"
                                        (open)="setCurrentFocusingInfo(load.id, rowIndex)"
                                        textField="actionName"
                                        class="btn ml-0 transparent-dropdown-btn">
                                        
                                        <fa-icon [icon]="faEllipsisV" style="font-size: 15px;"></fa-icon>
                                    </kendo-dropdownbutton>
                                </div>
                            </div>
                        </ng-template>
                    </kendo-sortable>
                </div>
                <div class="subtotal-line" *ngIf="load.details && load.details.length > 0">
                    <div class="load-plan-grid-item-image py-2 pl-3 text-right">
                        Subtotal
                    </div>
                    <div class="load-plan-grid-item row ml-0 mr-0">
                        <div class="py-2 text-right"></div>
                        <div class="py-2 text-left" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_LOAD_DETAILS, 'productCode')"></div>
                        <div class="py-2 text-left" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_LOAD_DETAILS, 'unitQuantity')">
                            {{ load.subtotalUnitQuantity | number }}
                        </div>
                        <div class="py-2 text-left" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_LOAD_DETAILS, 'packageQuantity')">
                            {{ load.subtotalPackageQuantity | number }}
                        </div>
                        <div class="py-2 text-left" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_LOAD_DETAILS, 'volume')">
                            {{ load.subtotalVolume | number: '0.3-3' }}
                        </div>
                        <div class="py-2 text-left" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_LOAD_DETAILS, 'grossWeight')">
                            {{ load.subtotalGrossWeight | number: '0.2-2' }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<app-po-fulfillment-load-detail-form
    [loadDetailFormOpened]="loadDetailFormOpened"
    (closed)="onLoadDetailFormClosed()"
    (edited)="onLoadDetailItemEdited($event)"
    [model]="selectedLoadDetailForm"
    [isEditing]="true">
</app-po-fulfillment-load-detail-form>

<app-load-container-popup *ngIf="isShowContainerInfo && loadContainerFormOpened"
    [loadContainerFormOpened]="loadContainerFormOpened"
    [loadContainerFormMode]="loadContainerFormMode"
    (edit)="onLoadContainerEdited($event)"
    (close)="onLoadContainerFormClosed()"
    [model]="selectedLoad"
    [index]="selectedLoadIndex"
    [viewSettings]="model.viewSettings"
    [loadList]="model.loads">
</app-load-container-popup>

<app-load-cargo-popup *ngIf="loadCargoPopupOpened"
    [loadNumber]='selectedLoadNumber'
    [orders]="availablePOFFOrders"
    [popupOpened]="loadCargoPopupOpened"
    (close)="onLoadCargoPopupClosed()"
    (save)="onLoadCargoPopupSaved($event)">
</app-load-cargo-popup>