# Add any directories, files, or patterns you don't want to be tracked by version control

# Visual Studio configuration
**/.vs/
**/.vscode/

# Compiled output
**/bin/
**/obj/
**/wwwroot/lib
**/Properties/PublishProfiles/
#**/customconnectionstring*.json
Groove.SP/packages/
Groove.SP/Groove.SP.API/Logs/
Groove.CSFE/Groove.CSFE.CommonAPI/Logs/
Groove.CSFE/Groove.CSFE.IdentityServer/Logs/
groove-sp-full/packages/
Groove.CSFE/Groove.CSFE.Supplemental/Logs/
Groove.CSFE/Groove.CSFE.Supplemental/appsettings.Development.json

