<kendo-dialog [title]="title | translate" *ngIf="popupOpened" (close)="onFormClosed()"  novalidate [width]="1000" [height]="710" class="custom-header-dialog load-cargo-detail-popup max-screen-1280x768">
    <div class="row">
        <div class="col-5">
            <label class="group-col-header padding-left-3">{{'label.unloadedCargo' | translate}}</label>
            <p>
                {{ 'label.numberOfItemsAreSelected' | translate: {'selected': checkedKeys?.length, 'total': unloadedOrders.length} }}
            </p>
            <div class="tree-view-panel-group mt-3">
                <div class="tree-view-panel-header p-2">
                    <input kendoCheckBox type="checkbox" class="k-checkbox" [disabled]="treeViewDataSource.length <= 0" name="selectAllCargoItem" id="selectAllCargoItem" (change)="onCheckAllClicked($event)" [(ngModel)]="isCheckAll"/>
                    <label class="k-checkbox-label noselect check-all-label" for="selectAllCargoItem">
                        {{('label.itemNo' | translate) + ' - ' + ('label.descriptionOfGoods' | translate)}}
                    </label>
                </div>
                <div class="tree-view-container p-2">
                    <kendo-treeview
                        scrollable="virtual"
                        [nodes]="treeViewDataSource"
                        textField="text"
                        [hasChildren]="hasChildren"
                        [children]="fetchChildren"
                        [kendoTreeViewCheckable]="checkableSettings"
                        kendoTreeViewExpandable
                        [(checkedKeys)]="checkedKeys"
                        (checkedChange)="handleChecking($event)">

                        <ng-template kendoTreeViewNodeTemplate let-dataItem>
                            {{dataItem.text | translate}}
                        </ng-template>
                    </kendo-treeview>
                    <h4 *ngIf="treeViewDataSource.length <= 0" style="text-align: center; margin-top: 100px;"><span style="font-size: 26px;" class="k-icon k-i-warning"></span><br /><br />{{'label.noDataAvailable' | translate}}</h4>
                </div>
            </div>
        </div>
        <div class="col-1 text-center vertical-align-center">
            <div class="vertical-button-group">
                <button [attr.data-balloon]="'label.load' | translate" data-balloon-pos="left" type="button" class="btn edit-icon-button mb-2 ml-0"
                    (click)="onLoadBtnClicked($event)" [disabled]="checkedKeys.length <= 0">
                    <fa-icon [icon]="faAngleRight"></fa-icon>
                </button>
                <button [attr.data-balloon]="'tooltip.unloadAll' | translate" data-balloon-pos="left" type="button" class="btn edit-icon-button ml-0"
                    (click)="onUnloadAllBtnClicked($event)" [disabled]="loadedOrders.length <= 0 || checkedKeys.length > 0">
                    <fa-icon [icon]="faAngleDoubleLeft"></fa-icon>
                </button>
            </div>
        </div>
        <div class="col-6">
            <label class="group-col-header">{{'label.loadedCargo' | translate}} ({{loadedOrders.length}} <span style="text-transform: lowercase;">{{'label.items' | translate}}</span>)
            </label>
            <p><img class="mr-2" src="/assets/images/compliance/drag-icon.png">{{'label.clickAndDragItemToReorder' | translate}}</p>
            <div class="mt-3 loaded-cargo-list">
                <kendo-grid [data]="loadedOrders"
                    [rowClass]="rowCallback" class="custom-border-grid loaded-cargo-items-grid">

                    <kendo-grid-column [width]="13" title="{{'label.seq' | translate}}" width="65" class="order-drag-container" [headerClass]="'multiline-header'">
                        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                            <div class="order-text hover-drag">
                                <span>{{dataItem.sequence}}</span>
                            </div>
                        </ng-template>
                    </kendo-grid-column>

                    <kendo-grid-column [width]="70" field="id" title="{{('label.itemNo' | translate) + ' - ' + ('label.descriptionOfGoods' | translate)}}" [headerClass]="'multiline-header'">
                        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                            <div class="hover-drag">
                                {{(stringHelper.isNullOrEmpty(dataItem.productCode) ? '' : dataItem.productCode + ' - ') + dataItem.productName}}
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-command-column [width]="17" title="{{'label.action' | translate}}" class="col-action">
                        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                            <fa-icon [attr.data-balloon]="'tooltip.unload' | translate" data-balloon-pos="left" style="cursor: pointer;" class="text-danger" [icon]="faTimes" (click)="deleteLoadedOrder(rowIndex)"></fa-icon>
                        </ng-template>
                    </kendo-grid-command-column>
                </kendo-grid>
            </div>
        </div>
    </div>
    <kendo-dialog-actions>
        <button type="button" class="btn second-button dialog-button" (click)="onFormClosed()" #Cancel>{{'label.cancel' | translate}}</button>
        <button type="button" class="btn prim-button dialog-button" (click)="onSave()">{{'label.save' | translate}}</button>
    </kendo-dialog-actions>
</kendo-dialog>
