<div class="container-error">
    <h4 class="title">
        <span *ngIf="isSubmitMode">{{'label.thankYou' | translate}}!</span>
        <span *ngIf="isCloseMode">{{'msg.linkToSurveyIsNoLongerActive' | translate}}</span>
    </h4>
    <h5 class="description">
        <span *ngIf="isSubmitMode">{{'label.thankForSubmission' | translate}}</span>
        <span *ngIf="isCloseMode">{{'msg.sorryMissYouOnThisSurvey' | translate}}</span>   
    </h5>
    <button type="button" class="btn btn-default action-button" (click)="backToDashboard()">
        <i class="ei ei-arrow_left action-icon"></i>
        {{'label.dashboard' | translate}}
    </button>
</div>