<div class="consolidation-cargo-detail-list-container">
    <div class="col-sm text-right top-bar-container" *hasPermission="[AppPermissions.Shipment_ConsolidationDetail_Edit]" [hidden]="isEditing || !(isShowEditButton || isShowReloadButton || isShowLoadButton)">
        <button [hidden]="!isShowEditButton"
            attr.data-balloon="{{'label.edit' | translate}}"
            data-balloon-pos="left" type="button"
            class="btn edit-icon-button"
            (click)="_onEditClicked()">
            <fa-icon [icon]="faPencilAlt"></fa-icon>
        </button>
        <button type="button" class="btn header-button btn-color-orange" [hidden]="!isShowReloadButton"
            (click)="_onReloadClicked()">
            <fa-icon [icon]="faRedo"></fa-icon>
            {{'label.reload' | translate}}
        </button>
        <button type="button" class="btn header-button btn-color-primary" [hidden]="!isShowLoadButton"
            (click)="_onLoadClicked()">
            <fa-icon [icon]="faRedo"></fa-icon>
            {{'label.load' | translate}}
        </button>
    </div>
    <div class="top-bar-container" [hidden]="!isEditing">
        <p><img class="mr-2" src="/assets/images/compliance/drag-icon.png">{{'label.clickAndDragItemToReorder' | translate}}</p>
    </div>
    <form #mainForm="ngForm">
        <kendo-grid #grid="kendoGrid" [data]="gridData"
            [pageable]="true"
            [pageSize]="gridState.take"
            [skip]="gridState.skip"
            [sortable]="true"
            [sort]="gridState.sort"
            (pageChange)="gridPageChange($event)"
            (sortChange)="gridSortChange($event)"
            (dataStateChange)="gridStateChange($event)"
            class="custom-border-grid consolidation-cargo-detail-grid"
            [class.custom-edit-grid]="isEditing"
            [class.hiddenPagerWrap]="isEditing || !gridData.data || gridData.data.length == 0"
            [rowClass]="rowCallback">

            <kendo-grid-column [width]="5" field="sequence" title="{{'label.seq' | translate}}" [sortable]="true">
            </kendo-grid-column>

            <kendo-grid-column [width]="12" field="shipmentNo" title="{{'label.shipmentNo' | translate}}" [sortable]="true">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <a class="k-link link-code" target="_blank" routerLink="/shipments/{{dataItem.shipmentId}}" [title]="dataItem.shipmentNo" routerLinkActive="active">
                        {{dataItem.shipmentNo}}
                    </a>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column [width]="12" field="poNumber" title="{{'label.poNo' | translate}}" [sortable]="true">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <a class="k-link link-code" target="_blank" routerLink="/purchase-orders/{{dataItem.orderId}}" [title]="dataItem.poNumber" routerLinkActive="active">
                        {{dataItem.poNumber}}
                    </a>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column [width]="12" field="productCode" title="{{'label.itemNo' | translate}}" [sortable]="true">
            </kendo-grid-column>

            <kendo-grid-column [width]="14" field="cargoDescription" title="{{'label.cargoDescription' | translate}}" [filterable]="true" [sortable]="true">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.cargoDescription | showless: 100}} <a class="k-link" *ngIf="dataItem.cargoDescription?.length > 100" style="font-weight: normal;" (click)="seeMoreCargoDescription(dataItem.cargoDescription)">{{'label.seeMore' | translate | lowercase}}</a>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column [width]="10" field="unit" title="{{'label.unit' | translate}}" [sortable]="true">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <ng-container *ngIf="!isEditing">
                        {{dataItem.unit | number:'0.0'}} {{dataItem.unitUOM}}
                    </ng-container>
                    <ng-container *ngIf="isEditing">
                        <kendo-numerictextbox
                            [ngClass]="f['unit_' + rowIndex]?.errors ? 'force-invalid' : ''"
                            name="unit_{{rowIndex}}"
                            required
                            [decimals]="0"
                            [spinners]="false"
                            [format]="'n'"
                            [autoCorrect]="true"
                            [(ngModel)]="dataItem.unit"
                            (valueChange)="_onUnitValueChange($event, rowIndex)"
                            class="form-control">
                        </kendo-numerictextbox>
                        <div *ngIf="f['unit_' + rowIndex]?.errors" class="k-invalid-msg">
                            <!-- Required error msg -->
                            <p *ngIf="f['unit_' + rowIndex].errors.required">
                                {{ 'validation.requiredField' | translate: {'fieldName': 'label.unit' | translate} }}
                            </p>
                            <!-- Temporary comment for PSP-2733 -->

                            <!-- Inputted value is greater than remaining value -->
                            <!-- <p *ngIf="f['unit_' + rowIndex].errors.invalid">
                                {{ 'validation.maxValue' | translate: {'value': dataItem.balanceUnitQty} }}
                            </p> -->
                        </div>
                    </ng-container>

                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column [width]="10" field="package" title="{{'label.package' | translate}}" [sortable]="true">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <ng-container *ngIf="!isEditing">
                        {{dataItem.package | number:'0.0'}} {{dataItem.packageUOM}}
                    </ng-container>
                    <ng-container *ngIf="isEditing">
                        <kendo-numerictextbox
                            [ngClass]="f['package_' + rowIndex]?.errors ? 'force-invalid' : ''"
                            name="package_{{rowIndex}}"
                            required
                            [decimals]="0"
                            [spinners]="false"
                            [format]="'n'"
                            [autoCorrect]="true"
                            [(ngModel)]="dataItem.package"
                            (valueChange)="_onPackageValueChange($event, rowIndex)"
                            class="form-control">
                        </kendo-numerictextbox>
                        <div *ngIf="f['package_' + rowIndex]?.errors" class="k-invalid-msg">
                            <!-- Required error msg -->
                            <p *ngIf="f['package_' + rowIndex].errors.required">
                                {{ 'validation.requiredField' | translate: {'fieldName': 'label.package' | translate} }}
                            </p>
                            <!-- Temporary comment for PSP-2733 -->
                            <!-- Inputted value is greater than remaining value -->
                            <!-- <p *ngIf="f['package_' + rowIndex].errors.invalid">
                                {{ 'validation.maxValue' | translate: {'value': dataItem.balancePackageQty} }}
                            </p> -->
                        </div>
                    </ng-container>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column [width]="10" field="volume" title="{{'label.volume' | translate}}" [sortable]="true">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <ng-container *ngIf="!isEditing">
                        {{dataItem.volume | number:'0.3'}} {{dataItem.volumeUOM}}
                    </ng-container>
                    <ng-container *ngIf="isEditing">
                        <kendo-numerictextbox
                            [ngClass]="f['volume_' + rowIndex]?.errors ? 'force-invalid' : ''"
                            name="volume_{{rowIndex}}"
                            required
                            [decimals]="3"
                            [spinners]="false"
                            [format]="'n3'"
                            [autoCorrect]="true"
                            [(ngModel)]="dataItem.volume"
                            (valueChange)="_onVolumeValueChange($event, rowIndex)"
                            class="form-control">
                        </kendo-numerictextbox>
                        <div *ngIf="f['volume_' + rowIndex]?.errors" class="k-invalid-msg">
                            <!-- Required error msg -->
                            <p *ngIf="f['volume_' + rowIndex].errors.required">
                                {{ 'validation.requiredField' | translate: {'fieldName': 'label.volume' | translate} }}
                            </p>
                        </div>
                    </ng-container>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column [width]="10" field="grossWeight" title="{{'label.grossWeight' | translate}}" [sortable]="true">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <ng-container
                        *ngIf="!isEditing">
                        {{dataItem.grossWeight | number:'0.2'}} {{dataItem.grossWeightUOM}}
                    </ng-container>
                    <ng-container *ngIf="isEditing">
                        <kendo-numerictextbox
                            [ngClass]="f['grossWeight_' + rowIndex]?.errors ? 'force-invalid' : ''"
                            name="grossWeight_{{rowIndex}}"
                            required
                            [decimals]="2"
                            [spinners]="false"
                            [format]="'n2'"
                            [autoCorrect]="true"
                            [(ngModel)]="dataItem.grossWeight"
                            (valueChange)="_onGrossWeightValueChange($event, rowIndex)"
                            class="form-control">
                        </kendo-numerictextbox>
                        <div *ngIf="f['grossWeight_' + rowIndex]?.errors" class="k-invalid-msg">
                            <!-- Required error msg -->
                            <p *ngIf="f['grossWeight_' + rowIndex].errors.required">
                                {{ 'validation.requiredField' | translate: {'fieldName': 'label.grossWeight' | translate} }}
                            </p>
                        </div>
                    </ng-container>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-command-column *ngIf="isEditing" title="{{'label.action' | translate}}"
                [headerStyle]="{'text-align': 'center'}" [headerClass]="'multiline-header'"
                class="action-column-grid col-action" width="5">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                    <button attr.data-balloon="{{'tooltip.delete' | translate}}" data-balloon-pos="left" type="button"
                        class="btn ml-0 btn-default grid-remove-icon-button" (click)="_onDeleteLoadRow(rowIndex)">
                        <i class="ei ei-icon_minus-06"></i>
                    </button>
                </ng-template>
            </kendo-grid-command-column>
            <!-- Custom kendo pager -->
            <ng-template kendoPagerTemplate>
                <div class="k-pager-wrap k-pager-wrap__custom" *ngIf="!isEditing && gridData.data && gridData.data.length > 0">
                    <kendo-pager-prev-buttons></kendo-pager-prev-buttons>

                    <kendo-pager-input *ngIf="pagerType === 'input'"></kendo-pager-input>
                    <kendo-pager-numeric-buttons *ngIf="pagerType === 'numeric'" [buttonCount]="buttonCount"></kendo-pager-numeric-buttons>

                    <kendo-pager-next-buttons></kendo-pager-next-buttons>

                    <kendo-pager-info></kendo-pager-info>

                    <span class="k-pager-sizes k-label refresh-grid">
                        <div class="k-label">{{'label.showRows' | translate}}</div>
                        <kendo-dropdownlist [data]="pageSizes" [value]="gridState.take" (valueChange)="pageSizeChange($event)">
                        </kendo-dropdownlist>

                        <button attr.data-balloon="{{'tooltip.refresh' | translate}}" data-balloon-pos="up"
                                type="button"
                                class="k-pager-refresh k-link pull-right btn refresh-icon-button"
                                (click)="fetchGridData()">
                            <i class="ei ei-icon_refresh"></i>
                        </button>
                    </span>
                </div>
            </ng-template>
        </kendo-grid>
        <div *ngIf="isGridLoading" class="k-i-loading"></div>
    </form>

    <div *ngIf="isEditing" class="action-bar" style="padding-right: 0;">
        <button type="button" class="btn second-button" (click)="_onCancelClick()">{{'label.cancel' | translate}}</button>
        <button type="submit" class="btn prim-button submit-btn" (click)="_onSaveClicked()">{{'label.save' | translate}}</button>
    </div>
</div>

<app-load-cargo-detail-popup *ngIf="loadCargoDetailPopupOpened || reloadCargoDetailPopupOpened"
    [parentIntegration$]="parentIntegration$"
    [popupOpened]="loadCargoDetailPopupOpened || reloadCargoDetailPopupOpened"
    (close)="_onLoadCargoDetailPopupClosed()"
    (save)="_onLoadCargoDetailPopupSaved()"
    [consolidationId]="consolidationId">
</app-load-cargo-detail-popup>

<app-cargo-description-detail-popup *ngIf="openCargoDescriptionDetailPopup"
    [cargoDescription]="cargoDescriptionDetail"
    (close)="onCargoDescriptionDetailPopupClosed()">
</app-cargo-description-detail-popup>
