<form #mainForm="ngForm">
    <kendo-grid #grid="kendoGrid" [data]="emailNotifications" [scrollable]="'vertical'" [selectable]="false" class="custom-edit-grid">
        <kendo-grid-column title="#" [width]="70">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">{{rowIndex + 1}}</ng-template>
        </kendo-grid-column>
        <!-- Customer -->
        <kendo-grid-column field="customerId" title="{{'label.customer' | translate}}">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex" class="organization-code-dropdown">
                <kendo-dropdownlist name="customer_{{rowIndex}}" required
                    [disabled]="!dataItem.adding && !dataItem.editing"
                    [(ngModel)]="dataItem.customerId" [data]="filteredPrincipalDataSource"
                    [filterable]="true"
                    [valuePrimitive]="true"
                    [textField]="'text'"
                    [valueField]="'value'"
                    (filterChange)="onCustomerFilterChange($event, rowIndex)">
                </kendo-dropdownlist>
                <p *ngIf="getFormControl('customer_' + rowIndex)?.errors?.required && getFormControl('customer_' + rowIndex)?.touched" class="k-invalid-msg">
                    {{ 'validation.requiredField' | translate: {'fieldName': 'label.customer' | translate} }}
                </p>
            </ng-template>
        </kendo-grid-column>
        <!-- From Country -->
        <kendo-grid-column field="countryId" title="{{'label.fromCountry' | translate}}">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                <kendo-dropdownlist name="country_{{rowIndex}}"
                    [disabled]="!dataItem.adding && !dataItem.editing"
                    [(ngModel)]="dataItem.countryId"
                    [filterable]="true"
                    [data]="filteredCountryDataSource"
                    [valuePrimitive]="true"
                    [textField]="'label'" [valueField]="'value'"
                    [disabled]="isViewMode"
                    (filterChange)="onCountryFilterChange($event, rowIndex)"
                    (valueChange)="onCountryValueChange($event, rowIndex)"
                    [defaultItem]="defaultCountryItem">
                    <ng-template kendoDropDownListValueTemplate let-dataItem>
                        {{ dataItem?.label | translate }}
                    </ng-template>
                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                        {{ dataItem?.label | translate }}
                    </ng-template>
                </kendo-dropdownlist>
            </ng-template>
        </kendo-grid-column>
        <!-- From Port -->
        <kendo-grid-column field="port" title="{{'label.fromPort' | translate}}">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                <kendo-multiselect
                        name="port_{{rowIndex}}"
                        [disabled]="!dataItem.adding && !dataItem.editing"
                        [data]="dataItem.portLocations"
                        [textField]="'label'"
                        [valueField]="'description'"
                        [valuePrimitive]="true"
                        [(ngModel)]="dataItem.portSelectionIds"
                        [autoClose]="false"
                        [disabled]="isViewMode || dataItem.countryId === null"
                        class="form-control"
                        [filterable]="true"
                        (filterChange)="onPortFilterChange($event, rowIndex)"
                        [placeholder]="'label.any' | translate"
                        #port>
                        <ng-template kendoMultiSelectItemTemplate let-dataItem>
                            <input type="checkbox" class="k-checkbox"
                            [checked]="isPortAgentSelected(dataItem.description, rowIndex)">
                            <label class="k-checkbox-label">{{ dataItem?.label | translate }}</label>
                        </ng-template>
                        <ng-template kendoMultiSelectTagTemplate  let-dataItem>
                            {{ dataItem?.label | translate }}
                        </ng-template>
                    </kendo-multiselect>
            </ng-template>
        </kendo-grid-column>
        <!-- Notify Email Address -->
        <kendo-grid-column field="email" title="{{'label.notifyEmailAddress' | translate}}">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <textarea kendoTextArea
                            class="form-control textarea"
                            required
                            [readonly]="!dataItem.adding && !dataItem.editing"
                            name="email_{{rowIndex}}"
                            rows="4"
                            maxlength="255"
                            [(ngModel)]="dataItem.email"
                            (ngModelChange)="validateEmail($event, rowIndex)">
                    </textarea>

                    <p *ngIf="getFormControl('email_' + rowIndex)?.errors?.required && getFormControl('email_' + rowIndex)?.touched" class="k-invalid-msg">
                        {{ 'validation.requiredField' | translate: {'fieldName': 'label.notifyEmailAddress' | translate} }}
                    </p>
                    <p *ngIf="getFormControl('email_' + rowIndex)?.errors?.invalidEmail" class="k-invalid-msg">
                        {{ 'validation.fieldNameInvalid' | translate: {'fieldName': 'label.email' | translate} }}
                    </p>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column title="{{'label.action' | translate}}" [headerStyle]="{'text-align': 'center'}" class="action-column-grid col-action" width="100" *ngIf="editable">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                <button *ngIf="!dataItem.adding && !dataItem.editing" (click)="onEdit(rowIndex)" [disabled]="isAddMode || isEditMode" attr.data-balloon="{{'tooltip.edit' | translate}}" data-balloon-pos="left" type="button" class="ml-0 btn grid-edit-icon-button tooltip-action">
                    <fa-icon [icon]="faPencilAlt"></fa-icon>
                </button>
                <button *ngIf="!dataItem.adding && !dataItem.editing" (click)="onDelete(rowIndex)" [disabled]="isAddMode || isEditMode" attr.data-balloon="{{'tooltip.delete' | translate}}" data-balloon-pos="left" type="button" class="btn ml-0 btn-default grid-remove-icon-button">
                    <i class="ei ei-icon_minus-06"></i>
                </button>
                <button *ngIf="dataItem.adding || dataItem.editing" (click)="onSave(dataItem, rowIndex)" [disabled]="mainForm.invalid" attr.data-balloon="{{'label.save' | translate}}" data-balloon-pos="left" type="button"
                    class="btn btn-default grid-approve-icon-button">
                    <i class="ei ei-icon_check"></i>
                </button>
                <button *ngIf="dataItem.adding || dataItem.editing" (click)="onCancel(rowIndex)" attr.data-balloon="{{'label.cancel' | translate}}" data-balloon-pos="left" type="button"
                    class="btn ml-0 btn-default grid-remove-icon-button tooltip-action">
                    <fa-icon [icon]="faBan"></fa-icon>
                </button>
            </ng-template>
        </kendo-grid-command-column>
    </kendo-grid>
    <div class="margin-add-icon-button" *ngIf="editable">
        <button type="button" class="btn prim-button add-more-icon-button"
            attr.data-balloon="{{'label.addMore' | translate}}" data-balloon-pos="up"
            (click)="addBlank()"
            [disabled]="isAddMode || isEditMode"
            id="addMoreBtn">
            <i class="ei ei-icon_plus"></i>
        </button>
    </div>
</form>
