<div class="title-grid mt-0 clearfix">
    <button class="btn header-button add-activity-button float-right" type="button" *ngIf="canAddActivity"
        (click)="onAddActivityClick()">
        <div class="icon-circle">
            <fa-icon [icon]="faPlus"></fa-icon>
        </div>
        <span class="icon-circle-label">{{'label.addNew' | translate}}</span>
    </button>
</div>

<kendo-grid #grid="kendoGrid" [data]="activityList | orderBy:'-activityDate'" [scrollable]="'vertical'" [selectable]="false"
    class="custom-edit-grid" [sortable]="true" [sort]="[{field: 'activityDate', dir: 'desc'}]">
    <kendo-grid-column field="activityCode" title="{{'label.eventCode' | translate}}" *ngIf="!isHideEventCode"
        [headerClass]="'multiline-header'">
        <ng-template kendoGridCellTemplate let-dataItem>
            <a class="k-link" (click)="openActivityPopup(dataItem)">{{dataItem.activityCode}}</a>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="activityDescription" title="{{'label.activityDescription' | translate}}"
        [headerClass]="'multiline-header'">
    </kendo-grid-column>

    <kendo-grid-column field="activityDate" title="{{'label.activityDates' | translate}}" format="{0:{{DATE_FORMAT}}}"
        [headerClass]="'multiline-header'">
    </kendo-grid-column>

    <kendo-grid-column field="location" title="{{'label.location' | translate}}" [headerClass]="'multiline-header'">
    </kendo-grid-column>

    <kendo-grid-column field="remark" title="{{'label.remark' | translate}}" [headerClass]="'multiline-header'">
    </kendo-grid-column>

    <kendo-grid-column width="30" *ngIf='!disableAllEditButtons'>
        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <div *ngIf="canEditActivity(dataItem.createdBy)">
                <div kendoTooltip #tooltip="kendoTooltip" [tooltipTemplate]="actionMenuTooltip" filter="button"
                    showOn="click" position="left" offset="-20" showAfter="200">
                    <button #activityButton type="button" class="btn">
                        <fa-icon [icon]="faEllipsisV"></fa-icon>
                    </button>
                </div>

                <ng-template #actionMenuTooltip let-anchor>
                    <div class="row action-button"
                        (click)="onEditActivityClick(dataItem); tooltip.toggle(activityButton)">
                        <button type="button" class="btn">
                            <fa-icon [icon]="faPencilAlt" class="action-grid-icon">
                            </fa-icon>
                            <span class="action-grid-label">{{'label.edit' | translate}}</span>
                        </button>
                    </div>
                    <div class="row action-button"
                        (click)="onDeleteActivityClick(dataItem.id); tooltip.toggle(activityButton)">
                        <button type="button" class="btn">
                            <fa-icon [icon]="faTrashAlt" class="action-grid-icon"></fa-icon>
                            <span class="action-grid-label">{{'tooltip.delete' | translate}}</span>
                        </button>
                    </div>
                </ng-template>
            </div>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>

<app-activity-form [activityFormOpened]="activityFormOpened" [allEventOptions]="allEventOptions"
    [isHideEventCode]="true" [formMode]="activityFormMode" [model]="activityDetails" [heightPopup]="heightActivity"
    (add)="onActivityAdded($event)" (edit)="onActivityEdited($event)" (close)="onActivityFormClosed()">
</app-activity-form>
