
<fieldset class="border fieldset-container">
    <legend class="w-auto custom-legend">{{'label.shipmentInfo' | translate}}</legend>
    <div class="container-fluid">
        <div class="form-group row mt-2">
            <div class="col-lg-6">
                <label class="form-label">{{'label.routingOrderNo' | translate}}</label>
                <input class="form-control" name="{{tabPrefix}}routingOrderNo" [readonly]="isViewMode" [(ngModel)]="model.routingOrderNumber"/>
            </div>

            <div class="col-lg-6">
                <label class="form-label">{{'label.routingOrderDates' | translate}}</label>
                <kendo-datepicker name="{{tabPrefix}}routingOrderDate"
                    class="form-control"
                    [(ngModel)]="model.routingOrderDate"
                    [readonly]="isViewMode"
                    [ngClass]="{'read-only': isViewMode}">
                </kendo-datepicker>
            </div>
        </div>

        <div class="form-group row mt-2">
            <div class="col-lg-6">
                <label class="form-label">{{'label.numberOfLineItems' | translate}}</label>
                <kendo-numerictextbox
                    [disabled]="isViewMode"
                    name="{{tabPrefix}}noOfLineItems"
                    [min]="0"
                    [format]="'n0'"
                    class="form-control"
                    [step]="1"
                    [decimals]="0"
                    [autoCorrect]="true"
                    [(ngModel)]="model.numberOfLineItems">
                </kendo-numerictextbox>
            </div>

            <div class="col-lg-6">
                <label class="form-label">{{'label.lastDateForShipment' | translate}}</label>
                <kendo-datepicker name="{{tabPrefix}}lastDateForShipment"
                    class="form-control"
                    [(ngModel)]="model.lastShipmentDate"
                    [readonly]="isViewMode"
                    [ngClass]="{'read-only': isViewMode}">
                </kendo-datepicker>
            </div>
        </div>

        <div class="form-group row mt-2">
            <div class="col-lg-6">
                <label class="form-label">{{'label.modeOfTransport' | translate}}</label>
                <kendo-dropdownlist name="{{tabPrefix}}modeOfTransport"
                    [(ngModel)]="model.modeOfTransport"
                    class="form-control"
                    [data]="modeOfTransportOptions"
                    [valuePrimitive]="true"
                    [textField]="'label'"
                    [valueField]="'value'"
                    [disabled]="isViewMode">
                    <ng-template kendoDropDownListValueTemplate let-dataItem>
                        {{ dataItem?.label | translate }}
                    </ng-template>
                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                        {{ dataItem?.label | translate }}
                    </ng-template>
                </kendo-dropdownlist>
                <div *ngIf="formErrors[tabPrefix + 'modeOfTransport']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'modeOfTransport'] }}
                </div>
            </div>

            <div class="col-lg-6">
                <label class="form-label">{{'label.incoterm' | translate}}</label>
                <kendo-dropdownlist name="{{tabPrefix}}incoterm"
                    [defaultItem]="defaultDropDownItem"
                    [(ngModel)]="model.incoterm"
                    class="form-control"
                    [data]="incotermTypeOptions"
                    [valuePrimitive]="true"
                    [textField]="'label'"
                    [valueField]="'value'"
                    [disabled]="isViewMode">
                    <ng-template kendoDropDownListValueTemplate let-dataItem>
                        {{ dataItem?.label | translate }}
                    </ng-template>
                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                        {{ dataItem?.label | translate }}
                    </ng-template>
                </kendo-dropdownlist>
                <div *ngIf="formErrors[tabPrefix + 'incoterm']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'incoterm'] }}
                </div>
            </div>
        </div>
 
        <div class="form-group row">
            <div class="col-lg-6">
                <label class="form-label">{{'label.logisticsServiceType' | translate}}</label>
                <kendo-dropdownlist name="{{tabPrefix}}logisticsService"
                    [defaultItem]="defaultDropDownItem"
                    [(ngModel)]="model.logisticsService"
                    class="form-control"
                    [data]="logisticServiceTypeOptions"
                    [textField]="'label'"
                    [valueField]="'value'"
                    [valuePrimitive]="true"
                    [readonly]="isViewMode"
                    [ngClass]="{'read-only': isViewMode}">
                    <ng-template kendoDropDownListValueTemplate let-dataItem>
                        {{ dataItem?.label | translate }}
                    </ng-template>
                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                        {{ dataItem?.label | translate }}
                    </ng-template>
                </kendo-dropdownlist>
                <div *ngIf="formErrors[tabPrefix + 'logisticsService']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'logisticsService'] }}
                </div>
            </div>
            <div class="col-lg-6"
                [hidden]="model.modeOfTransport === ModeOfTransport.Air">
                <label class="form-label">{{'label.movementType' | translate}}</label>
                <kendo-dropdownlist name="{{tabPrefix}}movementType" 
                    [defaultItem]="defaultDropDownItem"
                    [(ngModel)]="model.movementType"
                    class="form-control"
                    [data]="movementTypeOptions"
                    [textField]="'label'"
                    [valueField]="'value'"
                    [valuePrimitive]="true"
                    [readonly]="isViewMode"
                    [ngClass]="{'read-only': isViewMode}"
                    [required]="model.modeOfTransport === ModeOfTransport.Sea">
                    <ng-template kendoDropDownListValueTemplate let-dataItem>
                        {{ dataItem?.label | translate }}
                    </ng-template>
                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                        {{ dataItem?.label | translate }}
                    </ng-template>
                </kendo-dropdownlist>
                <div *ngIf="formErrors[tabPrefix + 'movementType']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'movementType'] }}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-6">
                <label class="form-label">{{literalLabels.shipFrom | translate}}</label>
                <kendo-autocomplete name="{{tabPrefix}}shipFromName"
                    [valueField]="'label'"
                    [readonly]="isViewMode"
                    [(ngModel)]="model.shipFromName"
                    [data]="locationOptions"
                    [filterable]="true"
                    [placeholder]="'e.g. ' + ('label.locationName' | translate)"
                    class="form-control"
                    [ngClass]="{'read-only': isViewMode, 'force-invalid': (formErrors[tabPrefix + 'shipFromName_custom'] || formErrors[tabPrefix + 'shipFromName'])}">
                </kendo-autocomplete>
                <div *ngIf="formErrors[tabPrefix + 'shipFromName']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'shipFromName'] }}
                </div>
                <div *ngIf="formErrors[tabPrefix + 'shipFromName_custom']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'shipFromName_custom'] }}
                </div>
            </div>

            <div class="col-lg-6">
                <label class="form-label">{{literalLabels.shipTo | translate}}</label>
                <kendo-autocomplete name="{{tabPrefix}}shipToName"
                    [valueField]="'label'"
                    [readonly]="isViewMode"
                    [(ngModel)]="model.shipToName"
                    [data]="locationOptions"
                    [filterable]="true"
                    [placeholder]="'e.g. ' + ('label.locationName' | translate)"
                    class="form-control"
                    [ngClass]="{'read-only': isViewMode, 'force-invalid': (formErrors[tabPrefix + 'shipToName_custom'] || formErrors[tabPrefix + 'shipToName'])}">
                </kendo-autocomplete>
                <div *ngIf="formErrors[tabPrefix + 'shipToName']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'shipToName'] }}
                </div>
                <div *ngIf="formErrors[tabPrefix + 'shipToName_custom']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'shipToName_custom'] }}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-6">
                <label class="form-label">{{'label.earliestShipDates' | translate}}</label>
                <kendo-datepicker
                    name="{{tabPrefix}}earliestShipDate"
                    class="form-control"
                    [(ngModel)]="model.earliestShipDate"
                    [readonly]="isViewMode"
                    [ngClass]="{'read-only': isViewMode}">
                </kendo-datepicker>
            </div>

            <div class="col-lg-6">
                <label class="form-label">{{'label.latestShipDates' | translate}}</label>
                <kendo-datepicker name="{{tabPrefix}}latestShipDate"
                    class="form-control"
                    [(ngModel)]="model.latestShipDate"
                    [readonly]="isViewMode"
                    [ngClass]="{'read-only': isViewMode}">
                </kendo-datepicker>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-lg-6">
                <label class="form-label">{{'label.expectedShipDates' | translate}}</label>
                <kendo-datepicker
                    name="{{tabPrefix}}expectedShipDate"
                    class="form-control"
                    [(ngModel)]="model.expectedShipDate"
                    [readonly]="isViewMode"
                    [ngClass]="{'read-only': isViewMode, 'force-invalid': formErrors[tabPrefix + 'expectedShipDate' + 'notEarlierThan']  ||  formErrors[tabPrefix + 'expectedShipDate' + 'notLaterThan'] || formErrors[tabPrefix + 'expectedShipDate' + 'invalid']}">
                </kendo-datepicker>
                <div *ngIf="formErrors[tabPrefix + 'expectedShipDate']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'expectedShipDate'] }}
                </div>
                <div *ngIf="formErrors[tabPrefix + 'expectedShipDate' + 'notEarlierThan'] " class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'expectedShipDate' + 'notEarlierThan'] }}
                </div>

                <div *ngIf="formErrors[tabPrefix + 'expectedShipDate' + 'notLaterThan'] " class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'expectedShipDate' + 'notLaterThan'] }}
                </div>

                <div *ngIf="formErrors[tabPrefix + 'expectedShipDate' + 'invalid'] " class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'expectedShipDate' + 'invalid'] }}
                </div>
            </div>

            <div class="col-lg-6">
                <label class="form-label">{{'label.expectedDeliveryDates' | translate}}</label>
                <kendo-datepicker
                    name="{{tabPrefix}}expectedDeliveryDate"
                    class="form-control"
                    [(ngModel)]="model.expectedDeliveryDate"
                    [readonly]="isViewMode"
                    [ngClass]="{'read-only': isViewMode, 'force-invalid': formErrors[tabPrefix + 'expectedDeliveryDate' + 'notEarlierThan'] || formErrors[tabPrefix + 'expectedDeliveryDate' + 'invalid'] }">
                </kendo-datepicker>
                <div *ngIf="formErrors[tabPrefix + 'expectedDeliveryDate' +'notEarlierThan']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'expectedDeliveryDate' + 'notEarlierThan'] }}
                </div>
                <div *ngIf="formErrors[tabPrefix + 'expectedDeliveryDate' + 'invalid']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'expectedDeliveryDate' + 'invalid'] }}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-6">
                <label class="form-label">{{'label.bookingCargoReadyDates' | translate}}</label>
                <kendo-datepicker
                    name="{{tabPrefix}}cargoReadyDate"
                    class="form-control"
                    [(ngModel)]="model.cargoReadyDate"
                    [readonly]="isViewMode"
                    [ngClass]="{'read-only': isViewMode , 'force-invalid': formErrors[tabPrefix + 'cargoReadyDate_custom']  }">
                </kendo-datepicker>
                <div *ngIf="formErrors[tabPrefix + 'cargoReadyDate_custom']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'cargoReadyDate_custom'] }}
                </div>
                <div *ngIf="formErrors[tabPrefix + 'cargoReadyDate']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'cargoReadyDate'] }}
                </div>
            </div>

            <div class="col-lg-6">
                <label class="form-label">{{'label.carrier' | translate}}</label>
                <kendo-autocomplete
                    name="{{tabPrefix}}carrier"
                    [data]="carrierOptions"
                    [valueField]="'name'"
                    [readonly]="isViewMode"
                    [(ngModel)]="selectedCarrierName"
                    [filterable]="true"
                    (filterChange)="onFilterCarrier($event)"
                    [placeholder]="'e.g. Carrier Name'"
                    class="form-control" [ngClass]="{'read-only': isViewMode, 'force-invalid': formErrors[tabPrefix + 'carrier_custom']}">
                </kendo-autocomplete>
                <div *ngIf="formErrors[tabPrefix + 'carrier_custom']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'carrier_custom'] }}
                </div>
            </div>
        </div>

        <div class="form-group row" [hidden]="model.modeOfTransport === ModeOfTransport.Air">
            <div class="col-lg-6">
                <label class="form-label">{{'label.vesselName' | translate}}</label>
                <kendo-autocomplete
                    name="{{tabPrefix}}vesselName"
                    [data]="vesselsFiltered"
                    [valueField]="'value'"
                    [readonly]="isViewMode"
                    [(ngModel)]="model.vesselName"
                    [filterable]="true"
                    [virtual]="true"
                    [placeholder]="'e.g. Vessel Name'"
                    class="form-control"
                    [ngClass]="{'read-only': isViewMode, 'force-invalid': formErrors[tabPrefix + 'vesselName']}">
                </kendo-autocomplete>
                <div *ngIf="formErrors[tabPrefix + 'vesselName']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'vesselName'] }}
                </div>
            </div>

            <div class="col-lg-6">
                <label class="form-label">{{'label.voyageNo' | translate}}</label>
                <input class="form-control" name="voyageNo" type="text" [(ngModel)]="model.voyageNo" [readonly]="isViewMode" [ngClass]="{'read-only': isViewMode}"/>
            </div>
        </div>
    </div>
</fieldset>

<fieldset class="border fieldset-container mt-4">
    <legend class="w-auto custom-legend">{{'label.additionalInformation' | translate}}</legend>
    <div class="container-fluid">
        <app-routing-order-additional-info [model]="model" [readonly]="isViewMode" [tabPrefix]="tabPrefix"></app-routing-order-additional-info>
    </div>
</fieldset>

<fieldset class="border fieldset-container mt-4">
    <legend class="w-auto custom-legend">{{'label.invoiceInformation' | translate}}</legend>
    <div class="invoices-container">
        <app-routing-order-invoice [invoices]="model.invoices"></app-routing-order-invoice>
    </div>
</fieldset>