<kendo-dialog [title]="popupTitle | translate | titlecase" (close)="closePopup()" class="two-step-import-data-dialog custom-header-dialog" [width]="widthPopup" [height]="heightPopup">
    <form #mainForm="ngForm">
        <div [ngClass]="!isSelectingFile ? 'import-container' : 'import-upload-image'">
            <div [hidden]="!isSelectingFile" (dragover)="isDropEnteredFile=true;" (dragleave)="isDropEnteredFile=false;">
                <kendo-upload [restrictions]="importFileExtensionRestrictions"
                                [withCredentials]="false"
                                [multiple]="false"
                                [autoUpload]="false"
                                [saveUrl]="uploadValidateUrl"
                                (select)="selectEventHandler($event)"
                                (success)="uploadSuccessHandler($event)"
                                (error)="uploadErrorHandler($event)"
                                (upload)="uploadEventHandler($event)">
                </kendo-upload>
                <div class="choose-file">
                    <label class="file-msg drop-file-msg" [hidden]="isDropEnteredFile">{{'label.dropFileHereToUpload' | translate}}</label>
                    <label class="file-msg choose-file-msg" [hidden]="isDropEnteredFile">{{'label.or' | translate | lowercase}} <a class="browse-file" (click)="onSelectFile()">{{'label.browse' | translate | lowercase}}</a> {{'label.toChooseAFileMax1000Rows' | translate | lowercase}}</label>
                </div>
            </div>

            <div [hidden]="isSelectingFile">
                <div class="import-file-container" [ngClass]="{'active': isValidating, 'success': importDataProcessStatus == ImportDataProgressStatus.Success, 'failed': importDataProcessStatus == ImportDataProgressStatus.Failed || isFileExtensionForbidden, 'warning': importDataProcessStatus == ImportDataProgressStatus.Aborted || importDataProcessStatus == ImportDataProgressStatus.Warning}">
                    <div class="k-icon" [class]="getFileIcon()"></div>
                    <div class="import-process-container">
                        <label class="my-1 file-name">{{ fileName }}</label>
                        <progress-bar [hidden]="isSelectedFile" value="{{completedProgress}}" max="{{overallProgress}}" [title]="progressTitle" class="progress-striped"></progress-bar>
                        <span class="k-icon icon-remove-item" (click)="initPopup()" [hidden]="!isSelectedFile"></span>
                        <label class="my-1 status-progress" [hidden]="isSelectingFile || isSelectedFile">{{'label.status' | translate}}: {{statusDescription}}</label>
                        <label class="my-1 d-block" [hidden]="!isFileExtensionForbidden">{{'validation.fileTypeInvalid' | translate}}</label>
                    </div>
                </div>
            </div>

            <div class="limit-item-upload" [hidden]="isShowLogTableDetails">
                <label>{{popupNote}}</label>
            </div>

            <div class="log-details-container" [hidden]="!isShowLogTableDetails">
                <div class="col-sm-12 mb-2">
                    <span class="download-error-list" (click)="downloadErrors()"><fa-icon [icon]="faDownload"></fa-icon>Error List</span>
                </div>
                <div class="col-sm-12">
                    <kendo-grid [data]="gridData"
                                [pageSize]="state.take"
                                [skip]="state.skip"
                                [sort]="state.sort"
                                [sortable]="true"
                                [pageable]="true"
                                (dataStateChange)="dataStateChange($event)"
                                class="custom-border-grid">
                        <kendo-grid-column  width="50">
                            <ng-template kendoGridHeaderTemplate>
                                <div class="mb-1"> {{ 'label.no' | translate }}.</div>
                            </ng-template>

                            <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                                {{rowIndex + 1}}
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="column" title="{{ 'label.column' | translate }}" width="190">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                {{translateLabel(dataItem.column)}}
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="row" title="{{ 'label.row' | translate }}" format="{0:n}" width="80"></kendo-grid-column>
                        <kendo-grid-column field="errorMsg" title="{{ 'label.error' | translate }}">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                {{translateLabel(dataItem.errorMsg)}}
                            </ng-template>
                        </kendo-grid-column>
                    </kendo-grid>
                </div>
            </div>
        </div>
    </form>

    <kendo-dialog-actions [hidden]="isSelectingFile">
        <!-- Cancel if not import yet; otherwise, Close -->
        <button type="button" class="btn second-button dialog-button" (click)="closePopup()" [disabled]="!isSelectedFile && !isDone">{{ (isDone ? 'label.close': 'label.cancel') | translate}}</button>
        <!-- Re-import if importation is not success; otherwise, Validate/Import -->
        <button type="button" class="btn prim-button dialog-button" (click)="isDoneNotSuccess ? initPopup() : (isDoneSuccess ? importData() : validateData())" [disabled]="isSelectingFile || isFileExtensionForbidden || isValidating">{{(isDoneNotSuccess ? 'label.reImport' : (!isDoneSuccess ? 'label.validate' : 'label.import')) | translate}}</button>
    </kendo-dialog-actions>
</kendo-dialog>
