@import "../../../../../styles/variables";

.fieldset-container {
    padding: 0 12px 2px 12px;
    overflow-x: auto;
}

.custom-legend {
    font-weight: normal;
    color: $theme-color;
    font-size: 13pt;
    margin-bottom: 0px;
}

.apply-container {
    min-width: 1513px;
}

::ng-deep {
    .custom-po-grid {
        min-width: 1513px;
        .k-grid-table {
            td {
                padding: 8px 12px !important;
            }
        }
    }

    .confirm-hub-date-container {
        ::placeholder {
            color: $color-grey-dark-3 !important;
        }
    }

    .custom-required a::after {
        content: " *";
        color: red;
    }
    .custom-required::after {
        content: " *";
        color: red;
    }
}
