<div class="content__header">
    <div class="container-fluid">
        <div class="row header-group">
            <label class="list-header">{{'label.listOfRoutingOrders' | translate}}</label>
            <span class="k-i-loading k-icon loading" *ngIf="service.gridLoading"></span>
            <div class="col-sm text-right">
                <button type="button" class="btn header-button export-button btn-color-orange" (click)="export()">
                    <fa-icon [icon]="faFileDownload" class=""></fa-icon>
                    {{'label.export' | translate}}
                </button>
            </div>
        </div>
        <div class="row" >
            <kendo-grid #grid="kendoGrid"
                [data]="view | async"
                [filterable]="true"
                [filter]="service.state.filter"
                [pageable]="true"
                [pageSize]="service.state.take"
                [skip]="service.state.skip"
                [sortable]="true"
                [sort]="service.state.sort"
                (dataStateChange)="gridStateChange($event)"
                (pageChange)="service.pageChange($event)"
                (sortChange)="service.sortChange($event)"
                class="custom-border-grid">

                <kendo-grid-column field="routingOrderNumber" title="{{'label.routingOrderNo' | translate}}" [filterable]="true" [sortable]="true" [width]="10">
                    <ng-template *hasPermission="[appPermissions.RoutingOrder_Detail]" kendoGridCellTemplate let-dataItem>
                        <a class="k-link link-code" [title]="dataItem.routingOrderNumber" routerLinkActive="active" routerLink="/routing-orders/view/{{dataItem.id}}">{{dataItem.routingOrderNumber}}</a>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="routingOrderDate" title="{{'label.routingOrderDates' | translate}}" filter="date" format="{0:{{DATE_FORMAT}}}" [filterable]="true" [sortable]="true" [width]="11"></kendo-grid-column>
                <kendo-grid-column field="shipperCompany" title="{{'label.shipper' | translate}}" [filterable]="true" [sortable]="true" [width]="12"></kendo-grid-column>
                <kendo-grid-column field="consigneeCompany" title="{{'label.consignee' | translate}}" [filterable]="true" [sortable]="true" [width]="12"></kendo-grid-column>
                <kendo-grid-column field="incotermName" title="{{'label.incoterms' | translate}}" [sortable]="true" width="7">
                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                        <span>{{dataItem.incotermName | translate}}</span>
                    </ng-template>
                    <ng-template kendoGridFilterCellTemplate let-filter="filter">
                        <app-drop-down-list-filter [filter]="filter"
                                                    fieldName="incoterm"
                                                    [data]="service.incotermType"
                                                    textField="text"
                                                    valueField="value">
                        </app-drop-down-list-filter>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="shipFromName" title="{{'label.shipFrom' | translate}}" [filterable]="true" [sortable]="true" [width]="10"></kendo-grid-column>
                <kendo-grid-column field="shipToName" title="{{'label.shipTo' | translate}}" [filterable]="true" [sortable]="true" [width]="10"></kendo-grid-column>
                <kendo-grid-column field="cargoReadyDate" title="{{'label.bookingCargoReadyDates' | translate}}" filter="date" format="{0:{{DATE_FORMAT}}}" [filterable]="true" [sortable]="true" [width]="11"></kendo-grid-column>
                <kendo-grid-column field="statusName" title="{{'label.status' | translate}}" [sortable]="true" width="7">
                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                        <span [className]="dataItem.status == routingOrderStatus.Active ? 'active-status' : 'inactive-status'">{{dataItem.statusName | translate}}</span>
                    </ng-template>
                    <ng-template kendoGridFilterCellTemplate let-filter="filter">
                        <app-drop-down-list-filter [filter]="filter"
                                                    fieldName="status"
                                                    [data]="service.routingOrderStatus"
                                                    textField="text"
                                                    valueField="value">
                        </app-drop-down-list-filter>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="stageName" title="{{'label.stage' | translate}}" [sortable]="true" [width]="10">
                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                        <span>{{dataItem.stageName | translate}}</span>
                    </ng-template>

                    <ng-template kendoGridFilterCellTemplate let-filter>
                        <kendo-multiselect
                        class="stage-selection"
                        kendoMultiSelectSummaryTag
                        [valueField]="'value'"
                        [textField]="'label'"
                        [autoClose]="false"
                        [(ngModel)]="stageFilterModel"
                        (valueChange)="stageChanged$.next($event)"
                        [data]="service.routingOrderStageType">

                        <ng-template kendoMultiSelectItemTemplate let-dataItem>
                            <input type="checkbox" class="k-checkbox" [checked]="isItemSelected(dataItem)">
                            <label class="k-checkbox-label">{{ dataItem?.text | translate}}</label>
                        </ng-template>
                        
                        <ng-template kendoMultiSelectTagTemplate let-dataItem>
                            {{ dataItem.text | translate}}
                        </ng-template>

                        <ng-template kendoMultiSelectGroupTagTemplate let-dataItems>
                            {{ (dataItems.length > 1 ? 'label.item_sSelected' : 'label.itemSelected') | translate : {'count': dataItems.length} }}
                        </ng-template>
                    </kendo-multiselect>
                    </ng-template>
                    
                </kendo-grid-column>

                <ng-template kendoPagerTemplate>
                    <app-custom-grid-pager [service]="service" (pageSizeChanged)="gridPageSizeChange($event)"></app-custom-grid-pager>
                </ng-template>
            </kendo-grid>
        </div>
    </div>
</div>

<kendo-excelexport
    *ngIf="isCanExport"
    [data]="rods"
    fileName="RoutingOrders.xlsx"
    #excelexport>

    <kendo-excelexport-column width="" field="routingOrderNumber" title="{{'label.routingOrderNo' | translate}}"></kendo-excelexport-column>
    <kendo-excelexport-column width="120" field="routingOrderDate" title="{{'label.routingOrderDates' | translate}}"></kendo-excelexport-column>
    <kendo-excelexport-column width="170" field="shipperCompany" title="{{'label.shipper' | translate}}"></kendo-excelexport-column>
    <kendo-excelexport-column width="170" field="consigneeCompany" title="{{'label.consignee' | translate}}"></kendo-excelexport-column>
    <kendo-excelexport-column width="" field="incotermName" title="{{'label.incoterms' | translate}}"></kendo-excelexport-column>
    <kendo-excelexport-column width="" field="shipFromName" title="{{'label.shipFrom' | translate}}"></kendo-excelexport-column>
    <kendo-excelexport-column width="" field="shipToName" title="{{'label.shipTo' | translate}}"></kendo-excelexport-column>
    <kendo-excelexport-column width="120" field="cargoReadyDate" title="{{'label.bookingCargoReadyDates' | translate}}"></kendo-excelexport-column>
    <kendo-excelexport-column width="" field="statusName" title="{{'label.status' | translate}}"></kendo-excelexport-column>
    <kendo-excelexport-column width="" field="stageName" title="{{'label.stage' | translate}}"></kendo-excelexport-column>

</kendo-excelexport>