.button-bar {
    text-align: center;
    margin-top: 25px;
}

.panel-header {
    font-size: 24px;
}

.header-container {
    text-align: center;
    margin-top: 20px;
}

.policy-dialog ::ng-deep .k-multiselect-wrap .k-searchbar .k-input {
    padding-top: 0 !important;
}
