<ng-template #addressTooltipTemplate let-anchor>
    <span class="address-tooltip">{{anchor.nativeElement.getAttribute('data-tooltip')}}</span>
</ng-template>
<div class="bulk-fulfillment-contact-container">
    <div class="form-group row">
        <div class="col-lg-6" [hidden]="isViewMode && formHelper.isHiddenColumn(viewSettings, viewSettingModuleIdType.BULKBOOKING_DETAIL,'isShipperPickup')">
            <div class="form-group">
                <label class="form-label">{{'label.isShipperPickup' | translate}}</label>
                <div class="radio-wrapper" #anchor>
                    <input id="isShipperPickup_yes"
                            type="radio"
                            class="k-radio"
                            name="isShipperPickup_yes"
                            [disabled]="isContactTabEditable"
                            [value]="true"
                            [(ngModel)]="isShipperPickup"
                            (ngModelChange)="isRequirePickupValueChanged($event)"/>
                    <label class="k-radio-label" for="isShipperPickup_yes">{{'label.yes' | translate}}</label>
                    <input id="isShipperPickup_no"
                            type="radio"
                            class="k-radio"
                            name="isShipperPickup_no"
                            [disabled]="isContactTabEditable"
                            [value]="false"
                            [(ngModel)]="isShipperPickup"
                            (ngModelChange)="isRequirePickupValueChanged($event)"/>
                    <label class="k-radio-label" for="isShipperPickup_no">{{'label.no' | translate}}</label>
                </div>
            </div>
        </div>
        <div class="col-lg-6" [hidden]="isViewMode && formHelper.isHiddenColumn(viewSettings, viewSettingModuleIdType.BULKBOOKING_DETAIL,'isNotifyPartyAsConsignee')">
            <div class="form-group">
                <label class="form-label">{{'label.isNotifyPartyAsConsignee' | translate}}</label>
                <div class="radio-wrapper" #anchor>
                    <input id="isNotifyPartyAsConsignee_yes"
                            type="radio"
                            class="k-radio"
                            name="isNotifyPartyAsConsignee_yes"
                            [disabled]="isContactTabEditable"
                            [value]="true"
                            [(ngModel)]="isNotifyPartyAsConsignee"
                            (ngModelChange)="syncNotifyPartyWithConsignee($event)"/>
                    <label class="k-radio-label" for="isNotifyPartyAsConsignee_yes">{{'label.yes' | translate}}</label>
                    <input id="isNotifyPartyAsConsignee_no"
                            type="radio"
                            class="k-radio"
                            name="isNotifyPartyAsConsignee_no"
                            [disabled]="isContactTabEditable"
                            [value]="false"
                            [(ngModel)]="isNotifyPartyAsConsignee"
                            (ngModelChange)="syncNotifyPartyWithConsignee($event)"/>
                    <label class="k-radio-label" for="isNotifyPartyAsConsignee_no">{{'label.no' | translate}}</label>
                </div>
            </div>
        </div>
    </div>
    <kendo-grid #grid="kendoGrid" [rowClass]="rowCallback" [data]="contactList" [scrollable]="'vertical'" [selectable]="false" class="custom-edit-grid">
    
        <!-- Organization role -->
        <kendo-grid-column field="organizationRole" [hidden]="isViewMode && formHelper.isHiddenColumn(viewSettings, viewSettingModuleIdType.BULKBOOKING_DETAIL_CONTACTS,'organizationRole')" title="{{'label.organizationRole' | translate}}" >
            <ng-template *ngIf="!isContactTabEditable" kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex"
                class="organization-code-dropdown">
                <span *ngIf="!canUpdateOrgRole(rowIndex); else organizationRoleDropdown">
                    {{dataItem.organizationRole}}
                </span>
                <ng-template #organizationRoleDropdown>
                    <kendo-dropdownlist name="{{tabPrefix}}organizationRole_{{rowIndex}}" required
                        (valueChange)="roleValueChange($event, rowIndex)"
                        [(ngModel)]="dataItem.organizationRole" [data]="dataItem.organizationRoleOptions"
                        (open)="onRoleOptionsOpen(rowIndex)"
                        [valuePrimitive]="true" [textField]="'name'" [valueField]="'name'">
                    </kendo-dropdownlist>
                    
                </ng-template>
                <div *ngIf="formErrors[tabPrefix + 'organizationRole_' + rowIndex]" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'organizationRole_' + rowIndex] }}
                </div>
            </ng-template>
        </kendo-grid-column>
    
        <!-- Company column -->
        <kendo-grid-column field="companyName" [hidden]="isViewMode && formHelper.isHiddenColumn(viewSettings, viewSettingModuleIdType.BULKBOOKING_DETAIL_CONTACTS,'companyName')">
            <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                <label class="required" style="margin-bottom: unset;">{{'label.companyName' | translate}}</label>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                <span *ngIf="!canUpdateCompanyName(rowIndex) || isContactTabEditable; else companyNameControl">
                    {{dataItem.companyName | default: defaultValue}}
                </span>

                <ng-template #companyNameControl>
                    <ng-container *ngIf="!isAllowInputContact(rowIndex) && !currentUser.isInternal">
                        <div [ngClass]="formErrors[tabPrefix + 'companyName_' + rowIndex + '_maxLength']  ? 'force-invalid' : ''">
                            <kendo-autocomplete *ngIf="!stringHelper.caseIgnoredCompare(dataItem.organizationRole, organizationNameRole.OriginAgent); else companyNameDropdown"
                                [required]="!saveAsDraft  || dataItem.isManualInput === true"
                                name="{{tabPrefix}}companyName_{{rowIndex}}"
                                (valueChange)="contactValueChange($event, rowIndex)"
                                (focusout)="onFocusOutCompany(dataItem.companyName,rowIndex)"
                                (filterChange)="contactAutoCompleteFilterChange($event, rowIndex)"
                                [valueField]="'name'"
                                [disabled]="isDisableCompanyName(dataItem.organizationRole)"
                                [(ngModel)]="dataItem.companyName"
                                [data]="getContactOptions(rowIndex)"
                                [filterable]="true"
                                [placeholder]="'label.egOrganizationName' | translate">
                            </kendo-autocomplete>
                        </div>

                        <ng-template #companyNameDropdown>
                            <div [ngClass]="formErrors[tabPrefix + 'companyName_' + rowIndex + '_maxLength']  ? 'force-invalid' : ''">
                                <kendo-dropdownlist
                                    [required]="!saveAsDraft  || dataItem.isManualInput === true"
                                    name="{{tabPrefix}}companyName_{{rowIndex}}"
                                    [filterable]="true"
                                    [textField]="'name'"
                                    [valueField]="'id'"
                                    (filterChange)="contactDropdownFilterChange($event, rowIndex)"
                                    (open)="contactDropdownOpen($event, rowIndex)"
                                    (valueChange)="contactValueChange($event, rowIndex)"
                                    [data]="getContactOptionsByRole(dataItem.organizationRole)"
                                    [valuePrimitive]="true"
                                    [(ngModel)]="dataItem.organizationId"
                                    class="form-control"
                                >
                                </kendo-dropdownlist>
                            </div>
                        </ng-template>
                    </ng-container>

                    <ng-container *ngIf="!isAllowInputContact(rowIndex) && currentUser.isInternal">
                        <div [ngClass]="formErrors[tabPrefix + 'companyName_' + rowIndex + '_maxLength']  ? 'force-invalid' : ''">
                            <kendo-autocomplete *ngIf="!stringHelper.caseIgnoredCompare(dataItem.organizationRole, organizationNameRole.OriginAgent) && !stringHelper.caseIgnoredCompare(dataItem.organizationRole, organizationNameRole.Shipper)"
                                [required]="!saveAsDraft  || dataItem.isManualInput === true"
                                name="{{tabPrefix}}companyName_{{rowIndex}}"
                                (valueChange)="contactValueChange($event, rowIndex)"
                                (focusout)="onFocusOutCompany(dataItem.companyName,rowIndex)"
                                (filterChange)="contactAutoCompleteFilterChange($event, rowIndex)"
                                [valueField]="'name'"
                                [(ngModel)]="dataItem.companyName"
                                [data]="getContactOptions(rowIndex)"
                                [filterable]="true"
                                [placeholder]="'e.g. ' + ('label.organizationName' | translate)">
                            </kendo-autocomplete>

                                <kendo-dropdownlist
                                    *ngIf="stringHelper.caseIgnoredCompare(dataItem.organizationRole, organizationNameRole.Shipper)"
                                    [required]="!saveAsDraft  || dataItem.isManualInput === true"
                                    name="{{tabPrefix}}companyName_{{rowIndex}}"
                                    [filterable]="true"
                                    [textField]="'name'"
                                    [valueField]="'id'"
                                    (filterChange)="contactAutoCompleteFilterChange($event, rowIndex)"
                                    (valueChange)="contactValueChange($event, rowIndex)"
                                    [data]="getContactOptions(rowIndex)"
                                    [valuePrimitive]="true"
                                    [(ngModel)]="dataItem.organizationId"
                                    class="form-control"
                                >
                                </kendo-dropdownlist>
                        </div>

                            <div *ngIf="stringHelper.caseIgnoredCompare(dataItem.organizationRole, organizationNameRole.OriginAgent)" [ngClass]="formErrors[tabPrefix + 'companyName_' + rowIndex + '_maxLength']  ? 'force-invalid' : ''">
                                <kendo-dropdownlist
                                    [required]="!saveAsDraft  || dataItem.isManualInput === true"
                                    name="{{tabPrefix}}companyName_{{rowIndex}}"
                                    [filterable]="true"
                                    [textField]="'name'"
                                    [valueField]="'id'"
                                    (filterChange)="contactDropdownFilterChange($event, rowIndex)"
                                    (open)="contactDropdownOpen($event, rowIndex)"
                                    (valueChange)="contactValueChange($event, rowIndex)"
                                    [data]="getContactOptionsByRole(dataItem.organizationRole)"
                                    [valuePrimitive]="true"
                                    [(ngModel)]="dataItem.organizationId"
                                    class="form-control"
                                >
                                </kendo-dropdownlist>
                            </div>
                    </ng-container>

                    <div [ngClass]="formErrors[tabPrefix + 'companyName_' + rowIndex + '_maxLength']  ? 'force-invalid' : ''">
                        <input kendoTextBox
                            *ngIf="isAllowInputContact(rowIndex)"
                            name="{{tabPrefix}}companyName_{{rowIndex}}"
                            (input)="validateCompany(dataItem.companyName,rowIndex)"
                            [required]="dataItem.organizationRole !== organizationNameRole.Pickup && (!saveAsDraft  || dataItem.isManualInput === true)"
                            type="text"
                            class="form-control"
                            [(ngModel)]="dataItem.companyName"
                            [disabled]="isContactTabEditable"/>
                    </div>
                </ng-template>

                <div *ngIf="formErrors[tabPrefix + 'companyName_' + rowIndex + '_theSameName']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'companyName_' + rowIndex + '_theSameName'] }}
                </div>

                <div *ngIf="formErrors[tabPrefix + 'companyName_' + rowIndex + '_maxLength']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'companyName_' + rowIndex + '_maxLength'] }}
                </div>

                <div *ngIf="formErrors[tabPrefix + 'companyName_' + rowIndex]" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'companyName_' + rowIndex] }}
                </div>
            </ng-template>
        </kendo-grid-column>

        <!-- Address -->
        <kendo-grid-column field="address" [hidden]="isViewMode && formHelper.isHiddenColumn(viewSettings, viewSettingModuleIdType.BULKBOOKING_DETAIL_CONTACTS,'address')" [class]="{'multiple-lines-text': true}">

            <ng-template kendoGridHeaderTemplate>
                <label class="required" style="margin-bottom: unset;">{{'label.address' | translate}}</label>
                    <span class="ml-1" kendoTooltip [tooltipTemplate]="addressTooltipTemplate" filter="fa-icon" position="right">
                        <fa-icon class="icon-address-tooltip" attr.data-tooltip="{{'label.tooltipAddressLine' | translate}}" data-balloon-pos="right" [icon]="faInfoCircle" [styles]="{'color': '#0A89D6'}"></fa-icon>
                    </span>
            </ng-template>

            <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                <span *ngIf="!canUpdateAddress(rowIndex) || isContactTabEditable; else addressControl" title="{{dataItem.address}}">{{dataItem.address | default: defaultValue}}</span>
                <ng-template #addressControl>
                    <div [ngClass]="formErrors[tabPrefix + 'address_' + rowIndex + '_custom'] ? 'force-invalid' : ''">
                        <textarea kendoTextArea style="overflow-x:auto; height: 110px !important;"
                            id="{{tabPrefix}}address_{{rowIndex}}"
                            name="{{tabPrefix}}address_{{rowIndex}}"
                            type="text"
                            [required]="dataItem.organizationRole !== organizationNameRole.BillingParty && (!saveAsDraft || dataItem.isManualInput === true)"
                            class="form-control"
                            [(ngModel)]="dataItem.address"
                            [disabled]="isContactTabEditable"
                            (ngModelChange)="addressValueKeyUp$.next(rowIndex)"
                            (valueChange)="addressValueChange($event, rowIndex)"
                            (focusout)="validateAddressInput(rowIndex)">
                        </textarea>
                    </div>
                </ng-template>
                <div *ngIf="formErrors[tabPrefix + 'address_' + rowIndex]" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'address_' + rowIndex] }}
                </div>
                <div *ngIf="formErrors[tabPrefix + 'address_' + rowIndex + '_custom']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'address_' + rowIndex + '_custom'] }}
                </div>
            </ng-template>
        </kendo-grid-column>
    
        <!-- Contact name -->
        <kendo-grid-column field="contactName" [hidden]="isViewMode && formHelper.isHiddenColumn(viewSettings, viewSettingModuleIdType.BULKBOOKING_DETAIL_CONTACTS,'contactName')">
            <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                <label class="required" style="margin-bottom: unset;">{{'label.contactName' | translate}}</label>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                <span *ngIf="!canUpdateContactName(rowIndex) || isContactTabEditable; else contactNameControl" title="{{dataItem.contactName}}">{{dataItem.contactName | default: defaultValue}}</span>
                <ng-template #contactNameControl>
                    <div [ngClass]="formErrors[tabPrefix + 'contactName_' + rowIndex + '_custom'] ? 'force-invalid' : ''">
                        <input kendoTextBox
                            name="{{tabPrefix}}contactName_{{rowIndex}}"
                            type="text"
                            class="form-control"
                            [(ngModel)]="dataItem.contactName"
                            [disabled]="isContactTabEditable"
                            (ngModelChange)="contactNameValueKeyUp$.next(rowIndex)"
                            (focusout)="validateContactNameInput(rowIndex)"
                            [required]="dataItem.organizationRole !== organizationNameRole.BillingParty && dataItem.organizationRole !== organizationNameRole.Pickup && (!saveAsDraft || dataItem.isManualInput === true)"
                        />
                    </div>
                </ng-template>
                <div *ngIf="formErrors[tabPrefix + 'contactName_' + rowIndex]" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'contactName_' + rowIndex] }}
                </div>
                <div *ngIf="formErrors[tabPrefix + 'contactName_' + rowIndex + '_custom']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'contactName_' + rowIndex + '_custom'] }}
                </div>
            </ng-template>
        </kendo-grid-column>
    
        <!-- Contact number -->
        <kendo-grid-column field="contactNumber" [hidden]="isViewMode && formHelper.isHiddenColumn(viewSettings, viewSettingModuleIdType.BULKBOOKING_DETAIL_CONTACTS,'contactNumber')" title="{{'label.contactNumber' | translate}}">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                <span *ngIf="!canUpdateContactNumber(rowIndex) || isContactTabEditable; else contactNumberControl" title="{{dataItem.contactNumber}}">{{dataItem.contactNumber | default: defaultValue}}</span>
                <ng-template #contactNumberControl>
                    <div [ngClass]="formErrors[tabPrefix + 'contactNumber_' + rowIndex + '_maxLength'] ? 'force-invalid' : ''">
                        <input kendoTextBox
                        (input)="validateContactNumber(dataItem.contactNumber,rowIndex)"
                        (focusout)="validateContactNumber(dataItem.contactNumber,rowIndex)"
                        name="{{tabPrefix}}contactNumber_{{rowIndex}}"
                        type="text"
                        class="form-control"
                        [(ngModel)]="dataItem.contactNumber"
                        [disabled]="isContactTabEditable"
                    />
                    </div> 
                </ng-template>
                <div *ngIf="formErrors[tabPrefix + 'contactNumber_' + rowIndex + '_maxLength']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'contactNumber_' + rowIndex + '_maxLength']  }}
                </div>

                <div *ngIf="formErrors[tabPrefix + 'contactNumber_' + rowIndex]" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'contactNumber_' + rowIndex] }}
                </div>
            </ng-template>
        </kendo-grid-column>
    
        <!-- Contact email -->
        <kendo-grid-column field="contactEmail" [hidden]="isViewMode && formHelper.isHiddenColumn(viewSettings, viewSettingModuleIdType.BULKBOOKING_DETAIL_CONTACTS,'contactEmail')" class="organization-email">
            <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                <label class="required" style="margin-bottom: unset;">{{'label.contactEmail' | translate}}</label>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                <a *ngIf="!canUpdateContactEmail(rowIndex) || isContactTabEditable; else contactEmailControl" title="{{dataItem.contactEmail}}">{{dataItem.contactEmail | default: defaultValue}}</a>
                <ng-template #contactEmailControl>
                    <div [ngClass]="formErrors[tabPrefix + 'contactEmail_' + rowIndex + '_custom'] || formErrors[tabPrefix + 'contactEmail_' + rowIndex + '_maxLength'] ? 'force-invalid' : ''">
                        <input kendoTextBox
                            (input)="validateContactEmail(dataItem.contactEmail,rowIndex)"
                            (focusout)="validateContactEmail(dataItem.contactEmail,rowIndex)"
                            name="{{tabPrefix}}contactEmail_{{rowIndex}}"
                            type="text"
                            class="form-control"
                            [(ngModel)]="dataItem.contactEmail"
                            [disabled]="isContactTabEditable"
                            [required]="dataItem.organizationRole !== organizationNameRole.BillingParty && dataItem.organizationRole !== organizationNameRole.Pickup && (!saveAsDraft || dataItem.isManualInput === true)"
                            (ngModelChange)="validateMultiEmailAddresses($event, tabPrefix + 'contactEmail_' + rowIndex)"
                        />
                    </div>
                </ng-template>
                <div *ngIf="formErrors[tabPrefix + 'contactEmail_' + rowIndex + '_maxLength']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'contactEmail_' + rowIndex + '_maxLength']  }}
                </div>
                <div *ngIf="formErrors[tabPrefix + 'contactEmail_' + rowIndex]" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'contactEmail_' + rowIndex] }}
                </div>
                <div *ngIf="formErrors[tabPrefix + 'contactEmail_' + rowIndex + '_custom']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'contactEmail_' + rowIndex + '_custom']  }}
                </div>
            </ng-template>
        </kendo-grid-column>
        
        <!-- Contact WeChat ID/WhatsApp -->
        <kendo-grid-column field="weChatOrWhatsApp" [hidden]="isViewMode && formHelper.isHiddenColumn(viewSettings, viewSettingModuleIdType.BULKBOOKING_DETAIL_CONTACTS,'weChatOrWhatsApp')" title="{{'label.weChatOrWhatsApp' | translate}}">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                <span *ngIf="isContactTabEditable; else weChatOrWhatsAppControl" title="{{dataItem.weChatOrWhatsApp}}">{{dataItem.weChatOrWhatsApp | default: defaultValue}}</span>
                <ng-template #weChatOrWhatsAppControl>
                        <input kendoTextBox
                            name="{{tabPrefix}}weChatOrWhatsApp_{{rowIndex}}"
                            type="text"
                            [(ngModel)]="dataItem.weChatOrWhatsApp"
                            [disabled]="isContactTabEditable"
                    />
                </ng-template>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-command-column *ngIf="!isContactTabEditable" title="{{'label.action' | translate}}" [headerStyle]="{'text-align': 'center'}"
            class="action-column-grid col-action" width="75">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                <button *ngIf="isShowDeleteBtn(rowIndex)" attr.data-balloon="{{'tooltip.delete' | translate}}"
                    data-balloon-pos="left" type="button" class="btn ml-0 btn-default grid-remove-icon-button"
                    (click)="onDeleteContact(rowIndex)">
                    <i class="ei ei-icon_minus-06"></i>
                </button>
            </ng-template>
        </kendo-grid-command-column>
    </kendo-grid>
    <div class="margin-add-icon-button" *ngIf="!isContactTabEditable">
        <button type="button" class="btn prim-button add-more-icon-button"
            attr.data-balloon="{{'label.addMore' | translate}}" data-balloon-pos="up" (click)="addBlankContact()"
            id="addMoreBtn">
            <i class="ei ei-icon_plus"></i>
        </button>
    </div>
</div>
