//------------milestone-----------------//
.milestone-item .icon::before{
    width: 60px;
    height: 70px;
    display: block;
}

.milestone-item .icon {
    display: inline-block;
}

.milestone-content {
    display: flex;
    justify-content: center;
    background: url('/assets/images/milestone/sea.png') repeat-x 0 30px;
}

.milestone-content .milestone-item {
    text-align: center;
    position: relative;
    width: calc(100% / 6);
}

.milestone-title {
    font-size: 14px;
    font-weight: normal;
    color: #666666;
    margin-top: 5px;
}

.milestone-datetime {
    font-size: 14px;
    color: #666666;
    margin-top: 10px;
}

.active .milestone-title {
    color: #333333;
    font-weight: bold;
}

//----------icons shipment milestone-----------//

//n-shipment
.n-shipment::before {
    content: '';
    background: url('/assets/images/milestone/shipment-milestone.png') no-repeat -10px -500px;
}
.active .n-shipment::before {
    background: url('/assets/images/milestone/shipment-milestone.png') no-repeat -10px -1920px;
}
.active.current .n-shipment::before {
    background: url('/assets/images/milestone/shipment-milestone.png') no-repeat -10px -1200px;
}
//n-checkout
.n-checkout::before {
    content: '';
    background: url('/assets/images/milestone/shipment-milestone.png') no-repeat -10px -150px;
}
.active .n-checkout::before {
    background: url('/assets/images/milestone/shipment-milestone.png') no-repeat -10px -1470px;
}
.active.current .n-checkout::before {
    background: url('/assets/images/milestone/shipment-milestone.png') no-repeat -10px -750px;
}
//n-checkin
.n-checkin::before {
    content: '';
    background: url('/assets/images/milestone/shipment-milestone.png') no-repeat -10px -80px;
}
.active .n-checkin::before {
    background: url('/assets/images/milestone/shipment-milestone.png') no-repeat -10px -1380px;
}
.active.current .n-checkin::before {
    background: url('/assets/images/milestone/shipment-milestone.png') no-repeat -10px -660px;
}
//n-departure
.n-departure::before {
    content: '';
    background: url('/assets/images/milestone/shipment-milestone.png') no-repeat -10px -220px;
}
.active .n-departure::before {
    background: url('/assets/images/milestone/shipment-milestone.png') no-repeat -10px -1560px;
}
.active.current .n-departure::before {
    background: url('/assets/images/milestone/shipment-milestone.png') no-repeat -10px -840px;
}
//n-arrival
.n-arrival::before {
    content: '';
    background: url('/assets/images/milestone/shipment-milestone.png') no-repeat -10px -10px;
}
.active .n-arrival::before {
    background: url('/assets/images/milestone/shipment-milestone.png') no-repeat -10px -1290px;
}
.active.current .n-arrival::before {
    background: url('/assets/images/milestone/shipment-milestone.png') no-repeat -10px -570px;
}
//n-in-transit
.n-in-transit::before {
    content: '';
    background: url('/assets/images/milestone/shipment-milestone.png') no-repeat -10px -430px;
}
.active .n-in-transit::before {
    background: url('/assets/images/milestone/shipment-milestone.png') no-repeat -10px -1740px;
}
.active.current .n-in-transit::before {
    background: url('/assets/images/milestone/shipment-milestone.png') no-repeat -10px -930px;
}
//n-handover-consignee
.n-handover-consignee::before {
    content: '';
    background: url('/assets/images/milestone/shipment-milestone.png') no-repeat -10px -290px;
}
.active .n-handover-consignee::before {
    background: url('/assets/images/milestone/shipment-milestone.png') no-repeat -10px -1650px;
}
.active.current .n-handover-consignee::before {
    background: url('/assets/images/milestone/shipment-milestone.png') no-repeat -10px -1110px;
}
//n-handover-shipper
.n-handover-shipper::before {
    content: '';
    background: url('/assets/images/milestone/shipment-milestone.png') no-repeat  -10px -360px;
}
.active .n-handover-shipper::before {
    background: url('/assets/images/milestone/shipment-milestone.png') no-repeat -10px -1830px;
}
.active.current .n-handover-shipper::before {
    background: url('/assets/images/milestone/shipment-milestone.png') no-repeat -10px -1020px;
}

//----------icons container milestone-----------//
//n-empty-pickup
.n-empty-pickup::before {
    content: '';
    background: url('/assets/images/milestone/conatiner-milestone.png') no-repeat -10px -10px;
}
.active .n-empty-pickup::before {
    background: url('/assets/images/milestone/conatiner-milestone.png') no-repeat -10px -1290px;;
}
.active.current .n-empty-pickup::before {
    background: url('/assets/images/milestone/conatiner-milestone.png') no-repeat -10px -570px;
}
//n-empty-return
.n-empty-return::before {
    content: '';
    background: url('/assets/images/milestone/conatiner-milestone.png') no-repeat -10px -80px;
}
.active .n-empty-return::before {
    background: url('/assets/images/milestone/conatiner-milestone.png') no-repeat -10px -1380px;
}
.active.current .n-empty-return::before {
    background: url('/assets/images/milestone/conatiner-milestone.png') no-repeat -10px -660px;
}
//n-gate-in
.n-gate-in::before {
    content: '';
    background: url('/assets/images/milestone/conatiner-milestone.png') no-repeat -10px -150px;
}
.active .n-gate-in::before {
    background: url('/assets/images/milestone/conatiner-milestone.png') no-repeat -10px -1470px;
}
.active.current .n-gate-in::before {
    background: url('/assets/images/milestone/conatiner-milestone.png') no-repeat -10px -750px;
}
//n-gate-out
.n-gate-out::before {
    content: '';
    background: url('/assets/images/milestone/conatiner-milestone.png') no-repeat -10px -220px;
}
.active .n-gate-out::before {
    background: url('/assets/images/milestone/conatiner-milestone.png') no-repeat -10px -1560px;
}
.active.current .n-gate-out::before {
    background: url('/assets/images/milestone/conatiner-milestone.png') no-repeat -10px -840px;
}
//n-port-arrival
.n-port-arrival::before {
    content: '';
    background: url('/assets/images/milestone/conatiner-milestone.png') no-repeat -10px -290px;
}
.active .n-port-arrival::before {
    background: url('/assets/images/milestone/conatiner-milestone.png') no-repeat -10px -1650px;
}
.active.current .n-port-arrival::before {
    background: url('/assets/images/milestone/conatiner-milestone.png') no-repeat -10px -930px;
}
//n-port-departure
.n-port-departure::before {
    content: '';
    background: url('/assets/images/milestone/conatiner-milestone.png') no-repeat -10px -360px;
}
.active .n-port-departure::before {
    background: url('/assets/images/milestone/conatiner-milestone.png') no-repeat -10px -1740px;
}
.active.current .n-port-departure::before {
    background: url('/assets/images/milestone/conatiner-milestone.png') no-repeat -10px -1020px;
}
//n-vessel-load
.n-vessel-load::before {
    content: '';
    background: url('/assets/images/milestone/conatiner-milestone.png') no-repeat -10px -430px;
}
.active .n-vessel-load::before {
    background: url('/assets/images/milestone/conatiner-milestone.png') no-repeat -10px -1830px;
}
.active.current .n-vessel-load::before {
    background: url('/assets/images/milestone/conatiner-milestone.png') no-repeat -10px -1110px;
}
//n-vessel-unload
.n-vessel-unload::before {
    content: '';
    background: url('/assets/images/milestone/conatiner-milestone.png') no-repeat -10px -500px;
}
.active .n-vessel-unload::before {
    background: url('/assets/images/milestone/conatiner-milestone.png') no-repeat -10px -1920px;
}
.active.current .n-vessel-unload::before {
    background: url('/assets/images/milestone/conatiner-milestone.png') no-repeat -10px -1200px;
}

//n-cruise-shipment
.n-cruise-au::before {
    content: '';
    background: url('/assets/images/milestone/po_stages_sprites.png') no-repeat -10px -220px;
}

.active .n-cruise-au::before {
    background: url('/assets/images/milestone/po_stages_sprites.png') no-repeat -10px -700px;
}

.active.current .n-cruise-au::before {
    background: url('/assets/images/milestone/po_stages_sprites.png') no-repeat -10px -1240px;
}

.n-cruise-arrived::before {
    content: '';
    background: url('/assets/images/milestone/po_fulfillment_stages_sprites.png') no-repeat -10px -220px;
}

.active .n-cruise-arrived::before {
    background: url('/assets/images/milestone/po_fulfillment_stages_sprites.png') no-repeat -10px -630px;
}

.active.current .n-cruise-arrived::before {
    background: url('/assets/images/milestone/po_fulfillment_stages_sprites.png') no-repeat -10px -1170px;
}

.n-cruise-road-shipped::before {
    content: '';
    background: url('/assets/images/milestone/shipment-milestone.png') no-repeat -10px -80px;
}

.active .n-cruise-road-shipped::before {
    background: url('/assets/images/milestone/shipment-milestone.png') no-repeat -10px -1380px;
}

.active.current .n-cruise-road-shipped::before {
    background: url('/assets/images/milestone/shipment-milestone.png') no-repeat -10px -660px;
}