@import '../../../../styles/variables';

//------------milestone-----------------//
.milestone-item .icon::before {
    width: 60px;
    height: 70px;
    display: block;
}

.milestone-item .icon {
    display: inline-block;
}

.milestone-content {
    display: flex;
    justify-content: center;
    background: url('/assets/images/milestone/sea.png') repeat-x 0 30px;
}

.milestone-content .milestone-item {
    text-align: center;
    position: relative;
    width: calc(100% / 5);
}

.milestone-title {
    font-size: 14px;
    font-weight: normal;
    color: #666666;
    margin-top: 5px;
}

.milestone-item {
    padding-left: 19px;
    padding-right: 19px;
}

.milestone-datetime {
    font-size: 14px;
    color: #666666;
    margin-top: 10px;
}

.active .milestone-title {
    color: #333333;
    font-weight: bold;
}

//n-released
.n-released::before {
    content: '';
    background: url('/assets/images/milestone/po_stages_sprites.png') no-repeat -10px -150px;
}

.active .n-released::before {
    background: url('/assets/images/milestone/po_stages_sprites.png') no-repeat -10px -610px;
}

.current .n-released::before {
    background: url('/assets/images/milestone/po_stages_sprites.png') no-repeat -10px -1150px;
}

//n-forwarderBookingRequest
.n-forwarderBookingRequest::before {
    content: '';
    background: url('/assets/images/milestone/po_stages_sprites.png') no-repeat -10px -290px;
}

.active .n-forwarderBookingRequest::before {
    background: url('/assets/images/milestone/po_stages_sprites.png') no-repeat -10px -790px;
}

.current .n-forwarderBookingRequest::before {
    background: url('/assets/images/milestone/po_stages_sprites.png') no-repeat -10px -1330px;
}

//n-forwarderBookingConfirmed
.n-forwarderBookingConfirmed::before {
    content: '';
    background: url('/assets/images/milestone/po_stages_sprites.png') no-repeat -10px -220px;
}

.active .n-forwarderBookingConfirmed::before {
    background: url('/assets/images/milestone/po_stages_sprites.png') no-repeat -10px -700px;
}

.current .n-forwarderBookingConfirmed::before {
    background: url('/assets/images/milestone/po_stages_sprites.png') no-repeat -10px -1240px;
}

//n-shipmentDispatch
.n-shipmentDispatch::before {
    content: '';
    background: url('/assets/images/milestone/po_fulfillment_stages_sprites.png') no-repeat -10px -220px;
}

.active .n-shipmentDispatch::before {
    background: url('/assets/images/milestone/po_fulfillment_stages_sprites.png') no-repeat -10px -630px;
}

.current .n-shipmentDispatch::before {
    background: url('/assets/images/milestone/po_fulfillment_stages_sprites.png') no-repeat -10px -1170px;
}

//n-completed
.n-closed::before {
    content: '';
    background: url('/assets/images/milestone/po_stages_sprites.png') no-repeat -10px -360px;
}

.active .n-closed::before {
    background: url('/assets/images/milestone/po_stages_sprites.png') no-repeat -10px -880px;
}

.current .n-closed::before {
    background: url('/assets/images/milestone/po_stages_sprites.png') no-repeat -10px -1420px;
}

.activity-wrapper {
    .date-filter {
        height: 36px;
        padding-right: 15px;

        ::ng-deep .k-dateinput-wrap {
            .k-input {
                height: unset;
            }
        }
    }

    .form-inline-control.filter-by-control {
        >.form-label {
            width: 20%;
        }

        >.form-control {
            width: 40%;
        }
    }

    .form-inline-control.filter-date-control {
        >.form-label {
            width: 26%;
        }

        >.form-control {
            width: 37%;
        }
    }

    .sort-button {
        border-radius: 5px;
        background-color: $theme-color-blank;
        border: 1px solid #E1E1E1;
        font-size: 14px;
        color: #666666;
        padding: 10px 18px;
    }

    .no-record-msg {
        position: absolute;
        width: 180px;
        left: 50%;
        transform: translateX(-50%);

        &-bell {
            font-size: 25px;
        }
    }

    .activity-list {
        width: 100%;

        .date-group {
            padding-left: 50px;
            padding-top: 35px;
            position: relative;

            &:first-child {
                padding-top: 0;
            }

            &::after {
                content: '';
                position: absolute;
                z-index: 0;
                top: 0;
                bottom: 0;
                left: 297px;
                border-left: 2px dashed #E1E1E1;
            }

            .date-title {
                background-color: #ECF4EB;
                color: #3CB43C;
                font-size: 14px;
                font-weight: bold;
                text-align: center;
                width: 110px;
                height: 34px;
                padding: 6px 9px;
                margin-left: 195px;
                position: relative;
                z-index: 1;
            }

            .activity-item {
                padding-top: 20px;
                display: flex;
                align-items: center;

                .added-circle {
                    width: 16px;
                    height: 16px;
                    background-color: white;
                    border: 1px solid $color-grey-dark-2;
                    position: relative;
                    z-index: 1;
                }

                .milestone {
                    display: flex;
                    align-items: center;
                    padding-left: 10px;
                    background-color: #C7EAFF;
                    width: 220px;
                    height: 37px;
                    font-weight: bold;
                    color: #333333;
                    text-transform: uppercase;
                }

                .added-info {
                    margin-left: 20px;
                    margin-right: 20px;
                    z-index: 1;
                }

                .activity-info {
                    width: 600px;
                    background-color: #F8F8F8;
                    margin-top: 10px;
                    padding: 10px 20px;
                    position: relative;

                    &.milestone-event {
                        background-color: #C7EAFF;
                    }

                    .activity-code {
                        font-weight: bold;
                        color: #333333;
                    }

                    .remark {
                        font-weight: bold;
                        color: #333333;
                        word-break: break-all;
                    }

                    .activity-location {
                        margin-top: 10px;
                        margin-bottom: 10px;
                        font-style: italic;
                    }

                    .activity-btn-container {
                        position: absolute;
                        top: 4px;
                        right: 6px;
                    }
                }
            }
        }
    }

    .load-more {
        height: 50px;
        padding-top: 25px;
    }

    .btn-load-more {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        a {
            font-size: 14px;
            color: $theme-color;
            cursor: pointer;
        }
    }

    .clear_activity_filter_btn {
        cursor: pointer;
        margin-left: 5px;
        text-decoration: underline;
        color: $color-blue-primary;
    }

    .un_clickable__number {
        font-weight: bold;
        color: $color-grey-dark-3;
    }
}

.content-tabs {
    margin-top: 25px;
}

.btn-delegation {
    padding-right: 8px;

    .icon-delegation {
        font-weight: bold;
        font-size: 22px;
        left: -8px;
        position: relative;
    }

    .text-delegation {
        position: relative;
        top: -5px;
    }
}

.icon-fulfillment {
    margin-right: 5px;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.tab-container {
    padding-right: 15px;
    padding-left: 15px;
}

.k-link {
    color: #007bff;
}


.header-group {
    background-color: $theme-background-color;
    width: 100%;
    z-index: 2;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sticky-navigation {
    border-color: 1px solid #009FFF;
    width: 100%;
    background-color: $theme-background-color;
    border-bottom: $theme-color-darker 1px solid;
    z-index: 2;
}

.button-group {
    .k-button {
        padding: 0.375rem 1.75rem;
        box-sizing: border-box;
        border-width: 0px;
        border-style: solid;
        line-height: 1.5rem;

        color: $color-grey-dark-3;
        background-color: $theme-background-color;
        background-image: none;
        border: $color-white-dark-2 1px solid;
        border-radius: 5px 5px 0 0;
        font-weight: bold;
        height: 35px;

        &:active,
        &:focus {
            box-shadow: none;
        }

        &:hover {
            color: $theme-color;
        }

        &.current {
            border-color: $theme-color-darker;
            color: $color-white-primary;
            background-color: $theme-color;
        }
    }
}

.hidden-content {
    display: none;
}