<div class="k-pager-wrap k-pager-wrap__custom" *ngIf="alwayShowPager || (service.serviceData && service.serviceData.length > 0)">
    <kendo-pager-prev-buttons *ngIf="previousNext"></kendo-pager-prev-buttons>

    <kendo-pager-input *ngIf="pagerType === 'input'"></kendo-pager-input>
    <kendo-pager-numeric-buttons *ngIf="pagerType === 'numeric'" [buttonCount]="buttonCount"></kendo-pager-numeric-buttons>

    <kendo-pager-next-buttons *ngIf="previousNext"></kendo-pager-next-buttons>

    <kendo-pager-info *ngIf="info"></kendo-pager-info>

    <span class="k-pager-sizes k-label refresh-grid">
        <div class="k-label">{{'label.showRows' | translate}}</div>
        <kendo-dropdownlist [data]="pageSizes" [value]="service.state.take" (valueChange)="pageSizeChange($event)">
        </kendo-dropdownlist>

        <button attr.data-balloon="{{'tooltip.refresh' | translate}}" data-balloon-pos="up"
                type="button" 
                class="k-pager-refresh k-link pull-right btn refresh-icon-button"
                *ngIf="refresh" 
                (click)="service.query(service.state)">
            <i class="ei ei-icon_refresh"></i>
        </button>
    </span>
</div>
