@import '../../../../styles/variables';

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.number-title {
    font-size: 2em;
    font-weight: bold;
    color: $color-blue-primary;
}

.chart-group {
    margin-bottom: 30px;
}

.chart-container {
    border: 1px solid #eee;
    padding: 20px;
    position: relative;
    background-color: white;
}

.card {
    .card-title {
        font-size: 1.1em;
        font-weight: bold;
        color: $color-blue-primary;
    }
}