<div class="content__header">
    <div class="container-fluid">
        <div class="typing_loader" *ngIf="!isInitDataLoaded"></div>

        <div class="row" *ngIf="isInitDataLoaded">
            <div class="col panel-group">
                <label class="list-header">{{surveyName}}</label>

                <form class="" [formGroup]="answerForm">
                    <div class="question-container" *ngFor="let question of questionsModel; let questionIndex = index">
                            <label class="question-text">{{questionIndex + 1 + '. ' + question.content}}</label>
                            <div [ngSwitch]="question.type" class="answer-container">
                                <div *ngSwitchCase="SurveyQuestionType.SingleAnswer">
                                    <div class="radio-container">
                                        <div *ngFor="let option of question.options; let optionIndex = index" class="mt-2">
                                            <input 
                                                    id="q{{questionIndex}}-radio{{optionIndex}}"
                                                    type="radio"
                                                    class="k-radio"
                                                    name="q{{questionIndex}}-radio"
                                                    formControlName="q{{questionIndex}}-radio"
                                                    (change)="onChangeSingleAnswer(option)"
                                                    value="q{{questionIndex}}-radio-opt{{optionIndex}}--{{option.content}}"
                                                /> 
                                            <label class="k-radio-label" for="q{{questionIndex}}-radio{{optionIndex}}">{{option.content}}</label>
                                        </div>

                                        <div *ngIf="question.isIncludeOpenEndedText" class="mt-1">
                                            <input 
                                                id="q{{questionIndex}}-radio"
                                                type="radio"
                                                class="k-radio"
                                                name="q{{questionIndex}}-radio"
                                                formControlName="q{{questionIndex}}-radio"
                                                
                                                value="q{{questionIndex}}-radio-0"
                                            /> 
                                            <label class="k-radio-label opt-input" style="width: 50%" for="q{{questionIndex}}-radio">
                                                <input 
                                                    type="text" placeholder="{{'label.other' | translate}}" 
                                                    (focus)="onFocusIncludeOpenEndedText()" 
                                                    class="form-control include-text" 
                                                    name="q{{questionIndex}}-radio-input" 
                                                    formControlName="q{{questionIndex}}-radio-input" 
                                                    >
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div *ngSwitchCase="SurveyQuestionType.MultiAnswers">
                                    <div *ngFor="let option of question.options; let optionIndex = index" class="mt-2">
                                        <input 
                                            type="checkbox" class="k-checkbox" 
                                            id="q{{questionIndex}}-checkbox{{optionIndex}}" 
                                            name="q{{questionIndex}}-checkbox{{optionIndex}}" 
                                            formControlName="q{{questionIndex}}-checkbox{{optionIndex}}" 
                                            value="q{{questionIndex}}-checkbox{{optionIndex}}-{{option.content}}"
                                            /> 

                                        <label class="k-checkbox-label" for="q{{questionIndex}}-checkbox{{optionIndex}}">{{option.content}}</label>
                                    </div>

                                    <div *ngIf="question.isIncludeOpenEndedText" class="mt-2">
                                        <input 
                                            type="text" placeholder="{{'label.other' | translate}}" 
                                            class="form-control col-6 include-text" 
                                            name="q{{questionIndex}}-checkbox-input" 
                                            formControlName="q{{questionIndex}}-checkbox-input" 
                                            >
                                    </div>
                                </div>

                                <div *ngSwitchCase="SurveyQuestionType.OpenEnded">
                                    <input 
                                        type="text" 
                                        placeholder="{{question.placeHolderText}}" class="form-control col-6"
                                        name="q{{questionIndex}}-openEnded-input" 
                                        formControlName="q{{questionIndex}}-openEnded-input"
                                        > 
                                </div>

                                <div *ngSwitchCase="SurveyQuestionType.RatingScale" style="padding-left: 20px; width: fit-content;">
                                    <div class="star-container" >
                                        <div class="star-content" *ngFor="let star of question.starRatingArray; let i = index; first as isFirst; last as isLast">
                                                <fa-icon [ngClass]="(isFirst) ? '' : 'ml-27'" [icon]="star.type" [styles]="{'color':'#FFC107 '}" (click)="onClickStar(questionIndex, question.starRatingArray, i)"></fa-icon>
                                        </div>
                                    </div>
                                    <div class="star-label-container">
                                        <div class="low-star-label"> {{question.lowValueLabel}} </div>
                                        <div class="high-star-label"> {{question.highValueLabel}} </div>
                                    </div>
                                    
                                </div>
                                

                                <div *ngSwitchCase="SurveyQuestionType.OpenEndedWithMultiLines">
                                    <textarea 
                                        rows="6" placeholder="{{question.placeHolderText}}" 
                                        kendoTextArea  
                                        name="q{{questionIndex}}-openEnded-textarea"  
                                        formControlName="q{{questionIndex}}-openEnded-textarea"  
                                        class="form-control col-6"></textarea>
                                </div>
                            </div>
                    </div>

                    <div class="col-12 action-bar p-0">
                        <button *ngIf="isPreviewMode" type="button" class="btn second-button" (click)="onCancel()">{{'label.cancel' | translate}}</button>
                        <button *ngIf="isPreviewMode" type="submit" class="btn prim-button" (click)="onPublish()">{{'label.publish' | translate}}</button>
                        <button *ngIf="isSubmitMode" type="submit" class="btn prim-button" (click)="onSubmit()">{{'label.submit' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>