<div class="content__header">
    <div class="container-fluid">
        <div class="row header-group" *ngIf="isInitDataLoaded">
            <div class="col-sm">
                <button attr.data-balloon="{{'tooltip.backToList' | translate}}" data-balloon-pos="up" type="button"
                    class="btn btn-default back-button" (click)="backList()">
                    <i class="ei ei-arrow_left"></i>
                </button>
                <label class="form-header">{{'label.article' | translate}} #{{model.itemNo}}</label>
                <app-status-label *ngIf="model.statusName" [status]="model.statusName" [statusName]="model.statusName"
                        [statusEnum]="articleMasterStatus">
                </app-status-label>
            </div>
        </div>
        <div class="typing_loader" *ngIf="!isInitDataLoaded"></div>
        <form class="row" #mainForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="isInitDataLoaded">
            <div class="col-12 panel-group remove-padding-first-panel">
                <label class="panel-header">{{'label.articleDetail' | translate}}</label>

                <div class="form-group" *ngIf="isViewMode">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.itemNo' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.itemNo}}</label></b>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.description' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.itemDesc | default: defaultValue}}</label></b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.categoryCode' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.categoryCode | default: defaultValue}}</label></b>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.cartonType' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.cartonType | default: defaultValue}}</label></b>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.unitWeight' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.unitWeight | number: '0.3-3' | default: defaultValue}}</label></b>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.innerGrossWeight' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.innerGrossWeight | number: '0.3-3' | default: defaultValue}}</label></b>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.outerGrossWeight' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.outerGrossWeight | number: '0.3-3' | default: defaultValue}}</label></b>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.innerQuantity' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.innerQuantity | number: '0.0-0' | default: defaultValue}}</label></b>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.outerQuantity' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.outerQuantity | number: '0.0-0' | default: defaultValue}}</label></b>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.itemPrice' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.itemPrice | number: '0.3-3' | default: defaultValue}}</label></b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.customer' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.companyName | default: defaultValue}}</label></b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.seller' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.seller | default: defaultValue}}</label></b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.barcode' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.barcode | default: defaultValue}}</label></b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.itemDxWxH' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.itemDepth | number: '0.3-3' | default: defaultValue}} x {{model.itemWidth | number: '0.3-3' | default: defaultValue}} x {{model.itemHeight | number: '0.3-3' | default: defaultValue}}</label></b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.innerDxWxH' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.innerDepth | number: '0.3-3' | default: defaultValue}} x {{model.innerWidth | number: '0.3-3' | default: defaultValue}} x {{model.innerHeight | number: '0.3-3' | default: defaultValue}}</label></b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.outerDxWxH' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.outerDepth | number: '0.3-3' | default: defaultValue}} x {{model.outerWidth | number: '0.3-3' | default: defaultValue}} x {{model.outerHeight | number: '0.3-3' | default: defaultValue}}</label></b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.style' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.styleNo | default: defaultValue}} - {{model.styleName | default: defaultValue}}</label></b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.colour' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.colourCode | default: defaultValue}} - {{model.colourName | default: defaultValue}}</label></b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.size' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.size | default: defaultValue}}</label></b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>