<kendo-dialog title="{{'label.integrationLogDetail'| translate}}" *ngIf="isShowPopup" (close)="close()" class="integration-log-detail custom-header-dialog" [width]="850" [height]="710">
  <div class="container">
    <div class="wrapper-form">
      <div class="row">
        <div class="col-sm-6">
            <div class="row mb-2">
                <div class="col-sm-4">
                    <strong>ID</strong>
                </div>
                <div class="col-sm-6 mb-2">
                    {{model.id}}
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4">
                    <strong [textContent]="'label.profile'| translate"></strong>
                </div>
                <div class="col-sm-6">
                    {{model.profile}}
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row mb-2">
                <div class="col-sm-5">
                    <strong [textContent]="'label.status'| translate"></strong>
                </div>
                <div class="col-sm-7">
                    <label [className]="model.status == integrationLogStatus.Succeed ? 'active-status' : 'inactive-status'">
                        {{model.statusName | translate}}
                    </label>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-5">
                    <strong [textContent]="'label.postingDates'| translate"></strong>
                </div>
                <div class="col-sm-7">
                    {{model.postingDate | date: DATE_FORMAT}}
                </div>
            </div>
        </div>

      </div>
      <br>
      <div class="row">
        <form class="col-md-12">
            <div class="form-group mb-3">
                <label><strong [textContent]="'label.apiName'| translate"></strong></label>
                <textarea class="form-control note-textarea" readonly="readonly">{{model.apiName}}</textarea>
            </div>
            <div class="form-group mb-3">
                <label><strong [textContent]="'label.apiMessage'| translate"></strong></label>
                <button clipboard [clipboardText]="model.apiMessage" type="button" class="btn btn-link copy-btn" [disabled]="!!!model.apiMessage">
                    <span class="k-icon k-i-copy"></span>
                    <span [textContent]="'label.copy' | translate"></span>
                </button>
                <textarea class="form-control note-textarea" readonly="readonly">{{model.apiMessage}}</textarea>
            </div>

            <div class="form-group mb-3">
                <label><strong [textContent]="'label.ediMessageType'| translate"></strong></label>
                <textarea class="form-control note-textarea" readonly="readonly">{{model.ediMessageType}}</textarea>
            </div>
            <div class="form-group mb-3">
                <label><strong [textContent]="'label.ediMessageReference'| translate"></strong></label>
                <button clipboard [clipboardText]="model.ediMessageReference" type="button" class="btn btn-link copy-btn" [disabled]="!!!model.ediMessageReference">
                    <span class="k-icon k-i-copy"></span>
                    <span [textContent]="'label.copy' | translate"></span>
                </button>
                <textarea class="form-control note-textarea" readonly="readonly">{{model.ediMessageReference}}</textarea>
            </div>
            <div class="form-group mb-3">
                <label><strong [textContent]="'label.remark'| translate"></strong></label>
                <textarea class="form-control note-textarea" readonly="readonly">{{model.remark}}</textarea>
            </div>
            <div class="form-group">
                <label><strong [textContent]="'label.response'| translate"></strong></label>
                <button clipboard [clipboardText]="model.response" type="button" class="btn btn-link copy-btn" [disabled]="!!!model.response">
                    <span class="k-icon k-i-copy"></span>
                    <span [textContent]="'label.copy' | translate"></span>
                </button>
                <div class="json-preview" [innerHtml]="model.responseJsonPreview"></div>
            </div>
        </form>

      </div>
    </div>
  </div>
</kendo-dialog>
