<div class="content__header">
    <div class="typing_loader" *ngIf="!isInitDataLoaded"></div>
    <div class="container-fluid">
        <div class="row header-group" *ngIf="isInitDataLoaded">
            <div class="col-sm">
                <label class="form-header">{{'label.shipment' | translate}} #{{ model.shipmentNo }}</label>
            </div>
        </div>

        <app-milestone #milestone [data] [type]="milestoneType.ShipmentFreight" [isInitDataLoaded]="isInitDataLoaded"></app-milestone>

        <div class="col-12 panel-group" *ngIf="isInitDataLoaded">
            <label class="panel-header">{{'label.shipmentDetail' | translate}}</label>
            <div class="row">
                <div class="col content-details">
                    <div class="row">
                        <div class="col-5 small-text-label">{{'label.shipmentNo' | translate}}</div>
                        <div class="col-7 value-label">{{ model?.shipmentNo }}</div>
                    </div>

                    <div class="row">
                        <div class="col-5 small-text-label">{{'label.billOfLadingNo' | translate}}</div>
                        <div class="col-7 value-label">
                            <ng-container *ngFor="let billOfLadingNo of model?.billOfLadingNos; let last = last">
                                <a routerLink="/quick-track/bill-of-ladings/{{billOfLadingNo}}" routerLinkActive="active"
                                    target="_blank">{{ billOfLadingNo }}</a>{{ !last ? ", " : ""}}
                            </ng-container>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5 small-text-label">{{'label.modeOfTransport' | translate}}</div>
                        <div class="col-7 value-label">{{ model?.modeOfTransport }}</div>
                    </div>

                    <div class="row">
                        <div class="col-5 small-text-label">{{'label.serviceType' | translate}}</div>
                        <div class="col-7 value-label">{{ model?.serviceType }}</div>
                    </div>

                    <div class="row">
                        <div class="col-5 small-text-label">{{'label.totalGrossWeight' | translate}}</div>
                        <div class="col-7 value-label">{{ model?.totalGrossWeight | number:'0.2' }} {{ model.totalGrossWeightUOM }}</div>
                    </div>

                    <div class="row">
                        <div class="col-5 small-text-label">{{'label.totalNetWeight' | translate}}</div>
                        <div class="col-7 value-label">{{ model?.totalNetWeight | number:'0.2' }} {{ model.totalNetWeightUOM }}</div>
                    </div>
                </div>

                <div class="col content-details">
                    <div class="row location">
                        <div class="col-5 text-label">{{'label.shipFrom' | translate}}</div>
                        <div class="col-7 value-label">{{ model?.shipFrom }}</div>
                    </div>

                    <div class="row">
                        <div class="col-5 small-text-label">{{'label.shipTo' | translate}}</div>
                        <div class="col-7 value-label">{{ model?.shipTo }}</div>
                    </div>

                    <div class="row">
                        <div class="col-5 small-text-label">{{'label.etdDates' | translate}}</div>
                        <div class="col-7 value-label">{{ model?.shipFromETDDate | date: DATE_FORMAT}}</div>
                    </div>

                    <div class="row">
                        <div class="col-5 small-text-label">{{'label.etaDates' | translate}}</div>
                        <div class="col-7 value-label">{{ model?.shipToETADate | date: DATE_FORMAT}}</div>
                    </div>

                    <div class="row">
                        <div class="col-5 small-text-label">{{'label.movement' | translate}}</div>
                        <div class="col-7 value-label">{{ model?.movement }}</div>
                    </div>

                    <div class="row">
                        <div class="col-5 small-text-label">{{'label.incoterm' | translate}}</div>
                        <div class="col-7 value-label">{{ model?.incoterm }}</div>
                    </div>

                    <div class="row">
                        <div class="col-5 small-text-label">{{'label.totalPackage' | translate}}</div>
                        <div class="col-7 value-label">{{ model?.totalPackage | number:'0.2' }} {{ model.totalPackageUOM }}</div>
                    </div>

                    <div class="row">
                        <div class="col-5 small-text-label">{{'label.totalVolume' | translate}}</div>
                        <div class="col-7 value-label">{{ model?.totalVolume | number:'0.3' }} {{ model.totalVolumeUOM }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 panel-group" *ngIf="isInitDataLoaded">
            <label class="panel-header">{{'label.shipmentActivity' | translate}}</label>
            <kendo-grid #grid="kendoGrid" [data]="model.activities" [scrollable]="'vertical'">
                <kendo-grid-column field="activityCode" title="{{'label.activityCode' | translate}}">
                </kendo-grid-column>

                <kendo-grid-column field="activityDescription" title="{{'label.description' | translate}}">
                </kendo-grid-column>

                <kendo-grid-column field="activityDate" format="{0:{{DATE_FORMAT}}}" title="{{'label.dates' | translate}}">
                </kendo-grid-column>

                <kendo-grid-column field="location" title="{{'label.location' | translate}}">
                </kendo-grid-column>

                <kendo-grid-column field="remark" title="{{'label.remark' | translate}}">
                </kendo-grid-column>
            </kendo-grid>
        </div>
    </div>
</div>
