<kendo-dialog title="{{'label.bookingValidationLogDetail'| translate}}" *ngIf="isShowPopup" (close)="close()" class="booking-validation-log-detail custom-header-dialog" [width]="1000">
  <div class="container">
    <div class="wrapper-form">
      <div class="row">
        <div class="col-sm-6">
            <div class="row mb-2">
                <div class="col-sm-4">
                    <strong>ID</strong>
                </div>
                <div class="col-sm-6 mb-2">
                    {{model?.id}}
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4">
                    <strong [textContent]="'label.customer'| translate"></strong>
                </div>
                <div class="col-sm-6">
                    {{model?.customer}}
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4">
                    <strong [textContent]="'label.submittedBy'| translate"></strong>
                </div>
                <div class="col-sm-6">
                    <a class="blue-link">{{model?.submittedBy}}</a>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4">
                    <strong [textContent]="'label.policyID'| translate"></strong>
                </div>
                <div class="col-sm-6">
                    {{model?.policyID}}
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4">
                    <strong [textContent]="'label.actionType'| translate"></strong>
                </div>
                <div class="col-sm-6">
                    {{model?.actionType | translate}}
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-4">
                    <strong [textContent]="'label.failReason'| translate"></strong>
                </div>
                <div class="col-sm-6">
                    {{model?.activityRemark}}
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row mb-2">
                <div class="col-sm-5">
                    <strong [textContent]="'label.poFulfillment'| translate"></strong>
                </div>
                <div class="col-sm-7">
                    <a class="k-link" routerLink="/po-fulfillments/view/{{model.poFulfillmentId}}" [queryParams]="{formType: formModeType.View}" routerLinkActive="active">{{model?.poFulfillmentNumber}}</a>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-5">
                    <strong [textContent]="'label.supplier'| translate"></strong>
                </div>
                <div class="col-sm-7">
                    {{model?.supplier}}
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-sm-5">
                    <strong [textContent]="'label.submissionDatetimes'| translate"></strong>
                </div>
                <div class="col-sm-7">
                    {{model?.submissionDate | date: DATE_HOUR_FORMAT}}
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-5">
                    <strong [textContent]="'label.actionDatetimes'| translate"></strong>
                </div>
                <div class="col-sm-7">
                    {{model?.actionDatetime | date: DATE_FORMAT}}
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-5">
                    <strong [textContent]="'label.actionActivity'| translate"></strong>
                </div>
                <div class="col-sm-7">
                    {{model?.actionActivity}}
                </div>
            </div>
        </div>

      </div>
      <br>
      <div class="row">
        <form class="col-md-12">
            <div class="form-group mb-3">
                <label><strong [textContent]="'label.fulfillmentJSON'| translate"></strong></label>
                <button clipboard [clipboardText]="model.fulfillmentJSON" type="button" class="btn btn-link copy-btn" [disabled]="!!!model.fulfillmentJSON">
                    <span class="k-icon k-i-copy"></span>
                    <span [textContent]="'label.copy' | translate"></span>
                </button>
                <textarea class="form-control" rows="4" readonly="readonly">{{model.fulfillmentJSON}}</textarea>
            </div>

            <div class="form-group mb-3">
                <label><strong [textContent]="'label.policyJSON'| translate"></strong></label>
                <button clipboard [clipboardText]="model.policyJSON" type="button" class="btn btn-link copy-btn" [disabled]="!!!model.policyJSON">
                    <span class="k-icon k-i-copy"></span>
                    <span [textContent]="'label.copy' | translate"></span>
                </button>
                <textarea class="form-control" rows="4" readonly="readonly">{{model.policyJSON}}</textarea>
            </div>
        </form>

      </div>
    </div>
  </div>
</kendo-dialog>
