@import '../../../../styles/variables';

.booking-validation-log-detail .copy-btn{
    position: absolute;
    right: 15px;
}

.blue-link {
    color: $theme-color !important;
}
.form-control {
    height: auto !important;
}
