<kendo-dropdownlist [data]="data"
                    (valueChange)="onChange($event)"
                    [defaultItem]="defaultItem"
                    [value]="selectedValue"
                    [valuePrimitive]="true"
                    [textField]="textField"
                    [valueField]="valueField">
    <ng-template kendoDropDownListValueTemplate let-dataItem>
        {{dataItem?.text | translate }}
    </ng-template>
    <ng-template kendoDropDownListItemTemplate let-dataItem>
        {{ dataItem?.text | translate }}
    </ng-template>
</kendo-dropdownlist>