@import '../../../../src/styles/variables';

.categorized_po__wrapper {
    background-color: $color-white-primary;
    
    .header__wrapper {
        padding: 20px;
        
        .header_title {
            font-size: 16px;
            height: 35px;
            display: inline;
        }
    }
    .menu__wrapper {
        position: relative;
    }
    ul.categorized_type__list {
        width: 100%;
        padding: 0 20px 20px 20px;
        list-style: none;
        
        > li.categorized_type__item {
            width: 20%;
            display: inline-flex;
            justify-content: center;

            div.category_title {
                width: fit-content;
                text-align: center;
                cursor: pointer;
                

                .category_icon ::ng-deep {
                    .svg-inline--fa {
                        margin-bottom: 3px;
                        font-size: 2.2em;
                        color: $color-blue-primary;
                    }
                }
            }

            &.active {
                border-bottom: 3px solid $color-blue-primary-darker;

                .category_icon ::ng-deep{
                    .svg-inline--fa {
                        color: $color-blue-primary-darker !important;
                    }
                }
            }
        }
    }

    ::ng-deep .popup-context {
        position: absolute;
        left: unset !important;
        top: unset !important;
        box-shadow: none;
        width: 100%;
        border: 1px solid #eee;
        
        
        .k-popup {
            padding: 30px 40px;
            border: 0;
            box-shadow: none;
            border: 0;
        }

        .recent_list__container {
            .recent_list__title {
                margin-bottom: 7px;
            }
            ul {
                list-style: none;
                li {
                    padding: 3px 0;
                }
            }
        }

        .category_list__container {
            padding: 0 10px;

            .search__wrapper {
                width: 30%;
                border-radius: 1em;
                line-height: 2.45;
                position: relative;
                height: 34px;
                padding: 0 14px;

                .k-icon {
                    position: absolute;
                    right: 14px;
                    margin: -8px 0 0;
                    line-height: 0;
                    opacity: 0.8;
                }
                
                .k-i-loading {
                    position: absolute;
                    right: -14px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            .categories {
                ul {
                    list-style: none;
                    li {
                        padding: 3px 0;
                    }
                }
                h5.no_record_found {
                    text-align: center;
                    color: $color-white-dark-3;
                    .k-icon {
                        font-size: 1.2em;
                    }
                }
            }

            

            .pagination__wrapper {
                text-align: right;
                margin-top: 10px;
                app-pager {
                    display: inline-block;
                }
            }
        }

        ul.po_status__category {
            list-style: none;
            text-align: center;
            > li {
                margin-right: 80px;
                display: inline-block;
                width: fit-content;
                text-align: center;
                ::ng-deep .ng-fa-icon {
                    
                    font-size: 2.2em;
                    .svg-inline--fa {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

.active_status__style {
    color: $color-green-primary;
}
.cancel_status__style {
    color: $color-red-primary;
}
.r_separate__line {
    border-right: 1px solid $color-white-primary-darker;
}
.link {
    color: $color-blue-primary;
    cursor: pointer;
}


.milestone-content {
    display: flex;
    justify-content: center;
    background: url('/assets/images/milestone/sea.png') repeat-x 0 30px;
}

.milestone-content .milestone-item {
    text-align: center;
    position: relative;
    width: calc(100% / 5);
}

.milestone-item .icon::before{
    width: 60px;
    height: 70px;
    display: block;
}

.milestone-item .icon {
    display: inline-block;
}

.milestone-title {
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
}

//n-released
.n-released::before {
    content: '';
    background: url('/assets/images/milestone/po_stages_sprites.png') no-repeat -4px -150px;
}

//n-forwarderBookingRequest
.n-forwarderBookingRequest::before {
    content: '';
    background: url('/assets/images/milestone/po_stages_sprites.png') no-repeat -5px -290px;
}

//n-forwarderBookingConfirmed
.n-forwarderBookingConfirmed::before {
    content: '';
    background: url('/assets/images/milestone/po_stages_sprites.png') no-repeat -10px -220px;
}

//n-shipmentDispatch
.n-shipmentDispatch::before {
    content: '';
    background: url('/assets/images/milestone/po_fulfillment_stages_sprites.png') no-repeat -10px -220px;
}

//n-completed
.n-closed::before {
    content: '';
    background: url('/assets/images/milestone/po_stages_sprites.png') no-repeat -6px -360px;
}