<div class="content__header">
    <div class="container-fluid survey_form__container">
        <div class="header-group" *ngIf="isInitDataLoaded">
            <div class="row">
                <div class="col-sm-6 d-flex align-items-center">
                    <button attr.data-balloon="{{'tooltip.backToList' | translate}}" data-balloon-pos="up" type="button"
                        class="btn btn-default back-button" (click)="backToList()">
                        <i class="ei ei-arrow_left"></i>
                    </button>
                    <label class="form-header" style="margin-left: 15px;">{{ (isAddMode ? 'label.addNewSurvey' : 'label.surveyDetail') | translate}}</label>
                    <app-status-label *ngIf="!isAddMode" [status]="model.status" [statusName]="model.statusName | translate" [statusEnum]="surveyStatus"></app-status-label>
                </div>
                <div class="col-sm-6 text-right button-container">
                    <button [attr.data-balloon]="'label.preview' | translate" [disabled]="!validateMandatoryFields()" data-balloon-pos="down" type="button" class="btn preview-icon-button" *hasPermission="[appPermissions.Organization_SurveyDetail]"
                        [hidden]="isHiddenPreview"
                        (click)="onPreview()"
                        name="previewBtn" id="previewBtn" routerLink="">
                        <fa-icon [icon]="faFileAlt"></fa-icon>
                    </button>
                    <button [attr.data-balloon]="'label.viewReport' | translate" [hidden]="!isViewMode || model.status < surveyStatus.Published" data-balloon-pos="down" type="button" class="btn preview-icon-button" *hasPermission="[appPermissions.Organization_SurveyDetail]"
                        name="viewReportBtn" id="viewReportBtn" routerLink="/surveys/{{model.id}}/report">
                        <fa-icon [icon]="faChartBar"></fa-icon>
                    </button>
                    <button [attr.data-balloon]="'label.closeSurvey' | translate" [hidden]="!isViewMode || model.status !== surveyStatus.Published" data-balloon-pos="down" type="button" class="btn close-icon-button" *hasPermission="[appPermissions.Organization_SurveyDetail_Edit]"
                        name="viewReportBtn" id="viewReportBtn" (click)="closeSurvey()">
                        <fa-icon [icon]="faPowerOff"></fa-icon>
                    </button>
                    <button [attr.data-balloon]="'label.edit' | translate" [hidden]="!isViewMode || model.status > surveyStatus.Draft" data-balloon-pos="down" type="button" class="btn edit-icon-button" *hasPermission="[appPermissions.Organization_SurveyDetail_Edit]"
                        name="editBtn" id="editBtn" (click)="editSurvey()">
                        <fa-icon [icon]="faPencilAlt"></fa-icon>
                    </button>
                </div>
            </div>
            <div class="row text-muted create-title" *ngIf="!isAddMode">
                <span>{{'label.createdOn' | translate}}</span>
                <span class="font-weight-bold pl-1">{{ model?.createdDate | date: DATE_FORMAT }}</span>
                <span *ngIf="model?.createdBy">
                    <span class="mx-2">
                        <img src="/assets/images/dote-icon.png" />
                    </span>
                    {{'label.owner' | translate}}: <span class="font-weight-bold pl-1">{{ model?.createdBy }}</span>
                    <ng-container *ngIf="model.status === surveyStatus.Published">
                        <span class="mx-2">
                            <img src="/assets/images/dote-icon.png" />
                        </span>
                        {{'label.publishedOn' | translate}}: <span class="font-weight-bold pl-1">{{ model?.publishedDate | date: DATE_FORMAT }}</span>
                    </ng-container>
                    <ng-container *ngIf="model.status === surveyStatus.Closed">
                        <span class="mx-2">
                            <img src="/assets/images/dote-icon.png" />
                        </span>
                        {{'label.closedOn' | translate}}: <span class="font-weight-bold pl-1">{{ model?.closedDate | date: DATE_FORMAT }}</span>
                    </ng-container>
                </span>
            </div>
        </div>
        <div class="typing_loader" *ngIf="!isInitDataLoaded"></div>
        <form #mainForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="isInitDataLoaded">
            <div class="panel-group remove-padding-first-panel">
                <label class="panel-header">{{'label.general' | translate}}</label>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-label required">{{'label.surveyName' | translate}}</label>
                            <div [class.force-invalid]="formErrors.surveyName">
                                <input class="form-control" name="surveyName" type="text" required [(ngModel)]="model.name" [readonly]="isViewMode" [ngClass]="{'read-only': isViewMode}"/>
                            </div>
                            
                            <div *ngIf="formErrors['surveyName']" class="k-invalid-msg">
                                {{ formErrors.surveyName }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">{{'label.description' | translate}}</label>
                            <textarea kendoTextArea rows="3" name="description" [(ngModel)]="model.description" class="form-control note-textarea"
                                [readonly]="isViewMode"
                                maxlength="500"
                                [ngClass]="{'read-only': isViewMode}">
                            </textarea>
                        </div>
                    </div>

                    <!-- Participants -->
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-label required">{{'label.participants' | translate}}</label>
                            <div class="radio-wrapper" #anchor>
                                <input id="participantType_userRole"
                                        type="radio"
                                        class="k-radio"
                                        name="participantType_userRole"
                                        [disabled]="isViewMode"
                                        [value]="participantType.UserRole"
                                        [(ngModel)]="model.participantType"
                                        (ngModelChange)="_clearParticipantFormErrors();"/>
                                <label class="k-radio-label" for="participantType_userRole" style="margin-right: 14%;">{{'label.userRole' | translate}}</label>

                                <input id="participantType_organization"
                                        type="radio"
                                        class="k-radio"
                                        name="participantType_organization"
                                        [disabled]="isViewMode"
                                        [value]="participantType.Organization"
                                        [(ngModel)]="model.participantType"
                                        (ngModelChange)="_clearParticipantFormErrors();"/>
                                <label class="k-radio-label" for="participantType_organization" style="margin-right: 14%;">{{'label.organization' | translate}}</label>

                                <input id="participantType_specifiedUser"
                                        type="radio"
                                        class="k-radio"
                                        name="participantType_specifiedUser"
                                        [disabled]="isViewMode"
                                        [value]="participantType.SpecifiedUser"
                                        [(ngModel)]="model.participantType"
                                        (ngModelChange)="_clearParticipantFormErrors();"/>
                                <label class="k-radio-label" for="participantType_specifiedUser" style="margin-right: 14%;">{{'label.specifiedUser' | translate}}</label>
                            </div>
                        </div>

                        <div class="form-group" *ngIf="model.participantType === participantType.UserRole">
                            <kendo-dropdownlist
                                name="userRole"
                                [required]="applyValidateRequiredField"
                                [(ngModel)]="model.userRole"
                                class="form-control"
                                [data]="userRoleOptions"
                                [valuePrimitive]="true"
                                [textField]="'label'"
                                [valueField]="'value'"
                                [readonly]="isViewMode"
                                [ngClass]="{'read-only': isViewMode}">
                                <ng-template kendoDropDownListValueTemplate let-dataItem>
                                    {{ dataItem?.label | translate }}
                                </ng-template>
                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                    {{ dataItem?.label | translate }}
                                </ng-template>
                            </kendo-dropdownlist>
                            <div *ngIf="formErrors['userRole']" class="k-invalid-msg">
                                {{ formErrors.userRole }}
                            </div>
                        </div>

                        <div class="participant_org__setup" *ngIf="model.participantType === participantType.Organization">
                            <div class="form-group">
                                <label class="form-label">{{'label.organizationType' | translate}}</label>
                                <div class="row">
                                    <div class="col">
                                        <kendo-dropdownlist
                                            name="organizationType"
                                            [(ngModel)]="model.organizationType"
                                            class="form-control"
                                            [data]="orgTypeOptions"
                                            (valueChange)="orgTypeChange($event)"
                                            [valuePrimitive]="true"
                                            [textField]="'label'"
                                            [valueField]="'value'"
                                            [readonly]="isViewMode"
                                            [ngClass]="{'read-only': isViewMode}">
                                            <ng-template kendoDropDownListValueTemplate let-dataItem>
                                                {{ dataItem?.label | translate }}
                                            </ng-template>
                                            <ng-template kendoDropDownListItemTemplate let-dataItem>
                                                {{ dataItem?.label | translate }}
                                            </ng-template>
                                        </kendo-dropdownlist>
                                    </div>
                                    <div class="col">
                                        <kendo-multiselect
                                            #orgSelections
                                            kendoMultiSelectSummaryTag
                                            name="orgSelections"
                                            [required]="applyValidateRequiredField"
                                            [data]="orgOptions$ | async"
                                            [textField]="'label'"
                                            [valueField]="'value'"
                                            [valuePrimitive]="true"
                                            [placeholder]="'label.selectOrganization' | translate"
                                            [(ngModel)]="selectedOrgIds"
                                            [autoClose]="false"
                                            [loading]="onFetchingOrgOptions"
                                            [disabled]="isViewMode"
                                            class="form-control"
                                            [filterable]="true"
                                            (filterChange)="onOrgSelectionsFilter($event)">
                                            <ng-template kendoMultiSelectItemTemplate let-dataItem>
                                                <input type="checkbox" class="k-checkbox"
                                                [checked]="selectedOrgIds.includes(dataItem.value)">
                                                <label class="k-checkbox-label">{{ dataItem?.label | translate }}</label>
                                            </ng-template>
                                            <ng-template kendoMultiSelectGroupTagTemplate let-dataItems>
                                                <span class="k-icon k-i-caret-alt-down"></span>
                                                {{'label.organizationsSelected' | translate: {'length': selectedOrgIds.length} }}
                                            </ng-template>
                                        </kendo-multiselect>
                                        <div *ngIf="formErrors['orgSelections']" class="k-invalid-msg">
                                            {{ formErrors.orgSelections }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">{{'label.sendToUserEmail' | translate}}</label>
                                <div class="row">
                                    <div class="col">
                                        <kendo-dropdownlist
                                            name="sendToUserType"
                                            [required]="model.organizationType !== organizationType.Agent && applyValidateRequiredField"
                                            [(ngModel)]="model.sendToUser"
                                            class="form-control"
                                            [data]="sendToUserTypeOptions"
                                            [valuePrimitive]="true"
                                            [textField]="'label'"
                                            [valueField]="'value'"
                                            [readonly]="isViewMode || (model.organizationType !== organizationType.General && model.organizationType !== organizationType.Principal)"
                                            [ngClass]="{'read-only': isViewMode}">
                                            <ng-template kendoDropDownListValueTemplate let-dataItem>
                                                {{ dataItem?.label | translate }}
                                            </ng-template>
                                            <ng-template kendoDropDownListItemTemplate let-dataItem>
                                                {{ dataItem?.label | translate }}
                                            </ng-template>
                                        </kendo-dropdownlist>
                                        <div *ngIf="formErrors['sendToUserType']" class="k-invalid-msg">
                                            {{ formErrors.sendToUserType }}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group align-control-center">
                                            <div class="switch-btn-container">
                                                <kendo-switch
                                                    name="isAllowExternalUpdate"
                                                    class="switch-btn mr-1"
                                                    [(ngModel)]="model.isIncludeAffiliate"
                                                    [onLabel]="'\r'"
                                                    [offLabel]="'\r'"
                                                    [disabled]="isViewMode">
                                                </kendo-switch>
                                                {{'label.includeAffiliateOrganizations' | translate}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <div class="form-group" *ngIf="model.participantType === participantType.SpecifiedUser">
                            <kendo-multiselect
                                #specifiedUserSelect
                                kendoMultiSelectSummaryTag
                                name="specifiedUserSelect"
                                [placeholder]="'label.searchAndSelectEmail' | translate"
                                [required]="applyValidateRequiredField"
                                [data]="filteredUserOptions"
                                [textField]="'text'"
                                [valueField]="'text'"
                                [valuePrimitive]="true"
                                [(ngModel)]="selectedUsers"
                                [autoClose]="false"
                                [loading]="onFetchingUserOptions"
                                [disabled]="isViewMode"
                                class="form-control"
                                [filterable]="true"
                                (filterChange)="userSearchTermKeyUp$.next($event)"
                                (open)="onUserSelectionsOpen()">
                                <ng-template kendoMultiSelectItemTemplate let-dataItem>
                                    <input type="checkbox" class="k-checkbox"
                                    [checked]="selectedUsers.includes(dataItem.text)">
                                    <label class="k-checkbox-label">{{ dataItem?.text | translate }}</label>
                                </ng-template>
                                <ng-template kendoMultiSelectGroupTagTemplate let-dataItems>
                                    <span class="k-icon k-i-caret-alt-down"></span>
                                    {{'label.usersSelected' | translate: {'length': selectedUsers.length} }}
                                </ng-template>
                            </kendo-multiselect>
                            <div *ngIf="formErrors['specifiedUser']" class="k-invalid-msg">
                                {{ formErrors.specifiedUser }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-group">
                <div class="row">
                    <div class="col-6">
                        <label class="panel-header fs-14">{{'label.questions' | translate}}</label>
                    </div>
                    <div class="col-6" *hasPermission="[appPermissions.Organization_SurveyDetail_Edit]" [hidden]="isViewMode">
                        <div class="text-right top-bar-container">
                            <button class="btn header-button add-new-button" type="button" (click)="addQuestion($event)">
                                <div class="icon-circle">
                                    <fa-icon [icon]="faPlus"></fa-icon>
                                </div>
                                <span class="icon-circle-label">{{'label.addNew' | translate}}</span>
                            </button>
                        </div>
                    </div>
                </div>
                <kendo-grid #grid="kendoGrid" [data]="model.questions" [scrollable]="'vertical'" [selectable]="false" class="custom-edit-grid question-grid" [class.draggable]='canDragDropQuestion' [rowClass]="rowCallback">
                    <kendo-grid-column field="sequence" [filterable]="true" [sortable]="true" width="6">
                        <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                            {{'label.seq' | translate}} <img *ngIf="canDragDropQuestion" class="ml-1" src="/assets/images/compliance/drag-icon.png">
                        </ng-template>
                    </kendo-grid-column>
                    <!-- Question -->
                    <kendo-grid-column title="{{'label.question' | translate}}" width="54">
                        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                            <a class="k-link link-code" (click)="isViewMode ? viewQuestion(dataItem) : editQuestion(dataItem)">
                                {{dataItem.content}}
                            </a>
                        </ng-template>
                    </kendo-grid-column>
                    <!-- Question Type -->
                    <kendo-grid-column field="typeName" title="{{'label.questionType' | translate}}" width="30">
                        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                            {{dataItem.typeName | translate}}
                        </ng-template>
                    </kendo-grid-column>
                    <!-- Actions -->
                    <kendo-grid-command-column *hasPermission="[appPermissions.Organization_SurveyDetail_Edit]" [hidden]="isViewMode" title="{{'label.action' | translate}}" class="col-action" width="10">
                        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                            <button attr.data-balloon="{{'tooltip.edit' | translate}}" data-balloon-pos="left" type="button" class="ml-0 btn grid-edit-icon-button tooltip-action" (click)="editQuestion(dataItem)">
                                <fa-icon [icon]="faPencilAlt"></fa-icon>
                            </button>
                            <button attr.data-balloon="{{'tooltip.delete' | translate}}" data-balloon-pos="left" type="button"
                                class="btn ml-0 btn-default grid-remove-icon-button"
                                (click)="deleteQuestion(rowIndex)">
                                <i class="ei ei-icon_minus-06"></i>
                            </button>
                        </ng-template>
                    </kendo-grid-command-column>
                </kendo-grid>
            </div>

            <!-- This is save/cancel buttons -->
            <div class="col-12 action-bar mt-3" *ngIf="!isViewMode">
                <button type="button" class="btn second-button" (click)="cancel()" [disabled]="isSubmitting">{{'label.cancel' | translate}}</button>
                <button type="submit" class="btn prim-button" [disabled]="isSubmitting">{{(!isReloadMode ? 'label.save' : 'label.submit') | translate}}
                    <ng-template *appSpinner="isSubmitting"></ng-template>
                </button>
            </div>
        </form>
    </div>
</div>

<app-survey-question-dialog [model]="questionFromModel" [isFormOpen]="openQuestionForm" [formMode]="questionFormMode"
    (close)="onQuestionFormClose($event)" (save)="onQuestionFormSave($event)">
</app-survey-question-dialog>