<div class="content__header">
    <div class="container-fluid">
        <div class="row header-group" *ngIf="isInitDataLoaded">
            <div class="col-sm">
                <button attr.data-balloon="{{'tooltip.backToList' | translate}}" data-balloon-pos="up" type="button"
                    class="btn btn-default back-button" (click)="backList()">
                    <i class="ei ei-arrow_left"></i>
                </button>
                <label class="form-header">{{literalLabels.masterBill | translate}}
                    #{{model.masterBillOfLadingNo}}</label>
            </div>
            <div class="col-sm-5 text-right" *ngIf="!isEditMode">
                <button attr.data-balloon="{{'label.edit' | translate}}" data-balloon-pos="up" type="button"
                    *hasPermission="[AppPermissions.BillOfLading_MasterBLDetail_Edit]" class="btn edit-icon-button"
                    (click)="onBtnEditMasterBLClick()">
                    <fa-icon [icon]="faPencilAlt"></fa-icon>
                </button>
            </div>
        </div>
        <ng-container *ngIf="!isEditMode">
            <div class="typing_loader" *ngIf="!isInitDataLoaded"></div>
            <div class="row" *ngIf="isInitDataLoaded">
                <div class="col-12 panel-group remove-padding-first-panel">
                    <label class="panel-header">{{literalLabels.masterBillDetail | translate}}</label>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label class="info-label">{{literalLabels.masterBillNo | translate}}</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <b><label>{{model.masterBillOfLadingNo}}</label></b>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label class="info-label">{{'label.contractNo' | translate}}</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <b><label>{{model?.contractMaster?.realContractNo | default: defaultValue}}</label></b>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label class="info-label">{{'label.contractType' | translate}}</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <b><label>{{model?.contractMaster?.contractType | default: defaultValue}}</label></b>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label class="info-label">{{'label.placeOfIssue' | translate}}</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <b><label>{{model.placeOfIssue | default: defaultValue }}</label></b>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label class="info-label">{{'label.carrier' | translate}}</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <b><label>{{model.carrierName | default: defaultValue}}</label></b>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label class="info-label">{{'label.onBoardDates' | translate}}</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <b><label>{{model.onBoardDate | date: DATE_FORMAT | default:
                                                    defaultValue}}</label></b>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label class="info-label">{{'label.issueDates' | translate}}</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <b><label>{{model.issueDate | date: DATE_FORMAT | default:
                                                    defaultValue}}</label></b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="content-tabs mt-5 position-relative padding-tab-strip">
                    <kendo-tabstrip>
                        <!-- Hide HouseBL tab if it is direct master bol -->
                        <kendo-tabstrip-tab title="{{literalLabels.houseBill | translate}}" *ngIf="model.isDirectMaster === false" [selected]="model.isDirectMaster === false || stringHelper.caseIgnoredCompare(model.modeOfTransport, modeOfTransportType.Air)">
                            <ng-template kendoTabContent>
                                <div class="col-sm text-right top-bar-container" *ngIf="!stringHelper.caseIgnoredCompare(model.modeOfTransport, modeOfTransportType.Air)">
                                    <button class="btn header-button" type="button"
                                        *hasPermission="[AppPermissions.BillOfLading_MasterBLDetail_Edit]"
                                        (click)="onBtnAddHouseBLClick()">
                                        <div class="icon-circle">
                                            <fa-icon [icon]="faPlus"></fa-icon>
                                        </div>
                                        <span class="icon-circle-label">{{'label.addHouseBL' | translate}}</span>
                                    </button>
                                </div>

                                <kendo-grid #grid="kendoGrid" [data]="billOfLadingList" [scrollable]="'vertical'">

                                    <kendo-grid-column field="billOfLadingNo" title="{{literalLabels.houseBillNo | translate}}"
                                        class="organization-email">
                                        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                                            <a class="k-link" routerLink="/bill-of-ladings/{{dataItem.id}}"
                                                routerLinkActive="active"
                                                target="_blank">{{dataItem.billOfLadingNo}}</a>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column field="shipper" title="{{'label.shipper' | translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="consignee" title="{{'label.consignee' | translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="notifyParty" title="{{'label.notifyParty' | translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="originAgent" title="{{'label.originAgent' | translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="destinationAgent"
                                        title="{{'label.destinationAgent' | translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="nominationPrincipal"
                                        title="{{'label.principal' | translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column class="col-action" width="90px"
                                        *hasPermission="[AppPermissions.BillOfLading_MasterBLDetail_Edit]"
                                        title="{{'label.action' | translate}}" [headerClass]="'multiline-header'">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            <button attr.data-balloon="{{'tooltip.delete' | translate}}"
                                                *ngIf="!stringHelper.caseIgnoredCompare(model.modeOfTransport, modeOfTransportType.Air)"
                                                data-balloon-pos="left" type="button"
                                                class="btn ml-0 btn-default grid-remove-icon-button"
                                                (click)="onBtnRemoveHouseBLClick(dataItem)">
                                                <i class="ei ei-icon_minus-06"></i>
                                            </button>
                                        </ng-template>
                                    </kendo-grid-column>
                                </kendo-grid>
                            </ng-template>
                        </kendo-tabstrip-tab>

                        <kendo-tabstrip-tab title="{{'label.container' | translate}}" [selected]="model.isDirectMaster === true" *ngIf="!stringHelper.caseIgnoredCompare(model.modeOfTransport, modeOfTransportType.Air)">
                            <ng-template kendoTabContent>
                                <kendo-grid #grid="kendoGrid" [data]="containerList" [scrollable]="'vertical'">

                                    <kendo-grid-column field="containerNo" title="{{'label.containerNo' | translate}}">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            <ng-container *ngIf="!dataItem.isConfirmed else clickableContainerNumberTemplate">
                                                {{dataItem.containerNo}}
                                            </ng-container>
                                            <ng-template #clickableContainerNumberTemplate>
                                                <a class="k-link" routerLink="/containers/{{dataItem.id}}" routerLinkActive="active" target="_blank">{{dataItem.containerNo}}</a>
                                            </ng-template>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column field="containerTypeName"
                                        title="{{'label.containerType' | translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="sealNo" title="{{'label.sealNo' | translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="totalGrossWeight"
                                        title="{{'label.grossWeight' | translate}}">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            {{dataItem.totalGrossWeight | number:'0.2' }}
                                            {{dataItem.totalGrossWeightUOM}}
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column field="totalNetWeight" title="{{'label.netWeight' | translate}}">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            {{dataItem.totalNetWeight | number:'0.2' }} {{dataItem.totalNetWeightUOM}}
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column field="totalVolume" title="{{'label.volume' | translate}}">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            {{dataItem.totalVolume | number:'0.3' }} {{dataItem.totalVolumeUOM}}
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column field="latestActivity"
                                        title="{{'label.latestActivity' | translate}}">
                                    </kendo-grid-column>
                                </kendo-grid>
                            </ng-template>
                        </kendo-tabstrip-tab>

                        <kendo-tabstrip-tab title="{{'label.shipment' | translate}}">
                            <ng-template kendoTabContent>
                                <kendo-grid #grid="kendoGrid" [data]="shipmentList">

                                    <kendo-grid-column field="shipmentNo" title="{{'label.shipmentNo' | translate}}">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            <a class="k-link" routerLink="/shipments/{{dataItem.id}}"
                                                routerLinkActive="active" target="_blank">{{dataItem.shipmentNo}}</a>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column field="shipper" title="{{'label.shipper' | translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="consignee" title="{{'label.consignee' | translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="totalPackage"
                                        title="{{'label.totalPackage' | translate}}">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            {{dataItem.totalPackage | number:'0.2' }} {{dataItem.totalPackageUOM}}
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column field="totalVolume" title="{{'label.totalVolume' | translate}}">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            {{dataItem.totalVolume | number:'0.3' }} {{dataItem.totalVolumeUOM}}
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column field="shipFromETDDate"
                                        title="{{'label.etdDates' | translate}}" format="{0:{{DATE_FORMAT}}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="latestMilestone"
                                        title="{{'label.latestMilestone' | translate}}">
                                    </kendo-grid-column>
                                </kendo-grid>
                            </ng-template>
                        </kendo-tabstrip-tab>

                        <kendo-tabstrip-tab title="{{'label.contact' | translate}}">
                            <ng-template kendoTabContent>
                                <kendo-grid #grid="kendoGrid" [data]="contactList | contactSequence">
                                    <kendo-grid-column field="organizationRole"
                                        title="{{'label.organizationRole' | translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="companyName" title="{{'label.company' | translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="address" title="{{'label.address' | translate}}">
                                        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                                            <div [innerHTML]="dataItem.address | linebreak"></div>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column field="contactName" title="{{'label.contactName' | translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="contactNumber"
                                        title="{{'label.contactNumber' | translate}}">
                                    </kendo-grid-column>
                                    <kendo-grid-column field="contactEmail" title="{{'label.contactEmail' | translate}}"
                                        class="organization-email">
                                        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                                            <a breakLine title="{{dataItem.contactEmail}}">{{dataItem.contactEmail}}</a>
                                        </ng-template>
                                    </kendo-grid-column>
                                </kendo-grid>
                            </ng-template>
                        </kendo-tabstrip-tab>

                        <kendo-tabstrip-tab title="{{'label.attachment' | translate}}">
                            <ng-template kendoTabContent>
                                <div class="col-sm text-right top-bar-container">
                                    <button type="button" class="btn header-button upload-button"
                                        (click)="uploadAttachment()">
                                        <div class="icon-circle">
                                            <fa-icon [icon]="faCloudUploadAlt"></fa-icon>
                                        </div>
                                        <span class="icon-circle-label">{{'label.upload' | translate}}</span>
                                    </button>

                                    <button type="button" class="btn header-button download-button"
                                        (click)="downloadAttachments()" [disabled]="selectedAttachments.length == 0">
                                        <fa-icon [icon]="faCloudDownloadAlt"></fa-icon>
                                        {{'label.download' | translate}}
                                    </button>

                                    <button type="button" class="btn header-button upload-button"
                                        [disabled]="selectedAttachments.length == 0" data-toggle="modal"
                                        data-target="#shareFileModal">
                                        <div class="icon-circle">
                                            <fa-icon [icon]="faShare"></fa-icon>
                                        </div>
                                        <span class="icon-circle-label">{{'label.share' | translate}}</span>
                                    </button>
                                </div>

                                <kendo-grid #grid="kendoGrid" [data]="attachments" [scrollable]="'vertical'"
                                    [kendoGridSelectBy]="selectAttachment" [selectedKeys]="selectedAttachments"
                                    [selectable]="{enabled: true, checkboxOnly: true }">
                                    <kendo-grid-checkbox-column showSelectAll="true" [width]="50">
                                    </kendo-grid-checkbox-column>

                                    <kendo-grid-column field="documentLevel"
                                        title="{{'label.documentLevel' | translate}}">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            {{getDocumentLevelText(dataItem.documentLevel)}}
                                        </ng-template>
                                    </kendo-grid-column>

                                    <kendo-grid-column field="attachmentType"
                                        title="{{'label.documentType' | translate}}">
                                    </kendo-grid-column>

                                    <kendo-grid-column field="fileName" title="{{'label.file' | translate}}">
                                        <ng-template kendoGridCellTemplate let-dataItem>
                                            <a class="k-link" target="_blank"
                                                (click)="downloadFile(dataItem.id, dataItem.fileName)">{{dataItem.fileName}}</a>
                                        </ng-template>
                                    </kendo-grid-column>

                                    <kendo-grid-column field="referenceNo" title="{{'label.referenceNo' | translate}}">
                                    </kendo-grid-column>

                                    <kendo-grid-column field="uploadedBy" title="{{'label.uploadedBy' | translate}}">
                                        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                                            <a title="{{dataItem.uploadedBy}}">{{dataItem.uploadedBy}}</a>
                                        </ng-template>
                                    </kendo-grid-column>

                                    <kendo-grid-column field="uploadedDate"
                                        title="{{'label.uploadedDates' | translate}}">
                                        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                                            {{dataItem.uploadedDateTime | convertUTCDateToLocalDate | date : "MM/dd/yyyy hh:mm' 'a"}}
                                        </ng-template>
                                    </kendo-grid-column>

                                    <kendo-grid-column width="30">
                                        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                                            <div
                                                *ngIf="(currentUser.isInternal || dataItem.uploadedBy === currentUser.username) && dataItem.documentLevel === documentLevel.MasterBill">
                                                <div kendoTooltip #tooltip="kendoTooltip"
                                                    [tooltipTemplate]="actionMenuTooltip" filter="button" showOn="click"
                                                    position="left" offset="-20" showAfter="200">
                                                    <button #attachmentButton type="button" class="btn">
                                                        <fa-icon [icon]="faEllipsisV"></fa-icon>
                                                    </button>
                                                </div>

                                                <ng-template #actionMenuTooltip let-anchor>
                                                    <div class="row action-button"
                                                        (click)="editAttachment(dataItem.id); tooltip.toggle(attachmentButton)">
                                                        <button type="button" class="btn">
                                                            <fa-icon [icon]="faPencilAlt" class="action-grid-icon">
                                                            </fa-icon>
                                                            <span class="action-grid-label">{{'label.edit' |
                                                                translate}}</span>
                                                        </button>
                                                    </div>
                                                    <div class="row action-button"
                                                        (click)="deleteAttachment(dataItem.id); tooltip.toggle(attachmentButton)">
                                                        <button type="button" class="btn">
                                                            <fa-icon [icon]="faTrashAlt" class="action-grid-icon">
                                                            </fa-icon>
                                                            <span class="action-grid-label">{{'tooltip.delete' |
                                                                translate}}</span>
                                                        </button>
                                                    </div>
                                                </ng-template>
                                            </div>
                                        </ng-template>
                                    </kendo-grid-column>
                                </kendo-grid>
                            </ng-template>
                        </kendo-tabstrip-tab>
                    </kendo-tabstrip>

                    <app-share-file-dialog [fileList]="selectedAttachments"></app-share-file-dialog>
                    <app-attachment-upload-popup [formMode]="attachmentFormMode" [formOpened]="importFormOpened"
                        (close)="importFormOpened = false;" (add)="attachmentAddHandler($event)"
                        (edit)="attachmentEditHandler($event)" [model]="attachmentModel"></app-attachment-upload-popup>
                </div>
            </div>

        </ng-container>


        <!-- Form for edit mode -->
        <ng-container *ngIf="isEditMode">
            <form class="row" #mainForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="isInitDataLoaded">
                <div class="col-12 panel-group remove-padding-first-panel">
                    <label class="panel-header">{{literalLabels.masterBillDetail | translate}}</label>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="masterBillOfLadingNo" class="required">{{literalLabels.masterBillNo | translate}}</label>
                                <input required
                                    type="text"
                                    class="form-control"
                                    name="masterBillOfLadingNo"
                                    [(ngModel)]="model.masterBillOfLadingNo"
                                    [disabled]="stringHelper.caseIgnoredCompare(model.modeOfTransport, modeOfTransportType.Air)" />
                                <div *ngIf="formErrors['masterBillOfLadingNo']" class="k-invalid-msg">{{formErrors.masterBillOfLadingNo}}</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="carrierName" class="required">{{'label.carrier' | translate}}</label>
                                <kendo-dropdownlist name="carrierName" class="form-control" [required]="true"
                                    [data]="carrierNameDataSource" [(ngModel)]="model.carrierName">
                                    <ng-template kendoDropDownListValueTemplate let-dataItem>
                                        {{ dataItem | translate }}
                                    </ng-template>
                                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                                        {{ dataItem | translate }}
                                    </ng-template>
                                </kendo-dropdownlist>
                                <div *ngIf="formErrors['carrierName']" class="k-invalid-msg">{{formErrors.carrierName}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" [class.force-invalid]="formErrors.carrierContractNo">
                                <label for="carrierContractNo" class="required">{{'label.contractNo' | translate}}</label>
                                <kendo-combobox name="carrierContractNo" class="form-control"
                                    #carrierContractNoComboBox
                                    [data]="carrierContractNoDataSource"
                                    [(ngModel)]="model.carrierContractNo"
                                    [valuePrimitive]="true"
                                    [filterable]="true"
                                    [textField]="'text'"
                                    [valueField]="'value'"
                                    (filterChange)="carrierContractNoKeyUp$.next($event)"
                                    [loading]="isCarrierContractNoLoading"
                                    [virtual]="true"
                                    [placeholder]="defaultValue"
                                    required>
                                    <ng-template kendoComboBoxItemTemplate let-dataItem>
                                        {{ dataItem.text }}
                                    </ng-template>
                                    <ng-template kendoAutoCompleteNoDataTemplate>
                                        <h4><span class="k-icon k-i-warning"></span><br /><br />{{'kendo.autocomplete.noDataText' | translate}}</h4>
                                    </ng-template>
                                </kendo-combobox>
                                <div *ngIf="formErrors['carrierContractNo']" class="k-invalid-msg">{{formErrors.carrierContractNo}}</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" [class.force-invalid]="formErrors.onBoardDate">
                                    <label for="onBoardDate" class="required">{{'label.onBoardDates' | translate}}</label>
                                    <kendo-datepicker name="onBoardDate" class="form-control" [required]="true" (valueChange)="onBoardDateValueChanged($event)" [(ngModel)]="model.onBoardDate">
                                    </kendo-datepicker>
                                    <div *ngIf="formErrors['onBoardDate']" class="k-invalid-msg">{{formErrors.onBoardDate}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="placeOfIssue" class="required">{{'label.placeOfIssue' | translate}}</label>
                                <kendo-autocomplete name="placeOfIssue" (filterChange)="placeOfIssueFilterChange($event)"
                                    [(ngModel)]="model.placeOfIssue" [data]="locationDataSource" required
                                    [filterable]="true" [placeholder]="'label.location' | translate" class="form-control">
                                </kendo-autocomplete>
                                <div *ngIf="formErrors['placeOfIssue']" class="k-invalid-msg">{{formErrors.placeOfIssue}}</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" [class.force-invalid]="formErrors.issueDate">
                                <label for="issueDate" class="required">{{'label.issueDates' | translate}}</label>
                                <kendo-datepicker name="issueDate" class="form-control" (valueChange)="onIssueDateValueChanged($event)" [required]="true" [(ngModel)]="model.issueDate">
                                </kendo-datepicker>
                                <div *ngIf="formErrors['issueDate']" class="k-invalid-msg">{{formErrors.issueDate}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 action-bar p-0" *ngIf="isEditMode">
                    <button type="button" class="btn second-button"
                        (click)="onBtnCancellingMasterBLEditClick()">{{'label.cancel' | translate}}</button>
                    <button type="submit" class="btn prim-button" (click)="onBtnSavingMasterBLClick()">{{'label.save' |
                        translate}}</button>
                </div>
            </form>
        </ng-container>
    </div>
</div>

<app-master-bl-add-bl-popup [inputMetaData]="houseBLPopupMetaData" (close)="onHouseBLPopupClosed($event)">
</app-master-bl-add-bl-popup>
