<kendo-dialog [title]="(ifEditMode ? 'label.editItem' : 'label.addNewItem') | translate" *ngIf="itemFormOpened" (close)="onFormClosed()" novalidate [width]="850" [height]="710" class="custom-header-dialog bulk-fulfillment-item-form-dialog max-screen-1280x768" [ngClass]="{'view-maximum': ifEditMode}">
    <form #mainForm="ngForm">
        <div class="container pb-0" style="max-height: 536; overflow: auto;">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-label">{{'label.poNo' | translate}}</label>
                        <input name="PONumber" type="text" class="form-control" [(ngModel)]="model.customerPONumber"/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-label">{{'label.itemNo' | translate}}</label>
                        <ng-container *ngIf="!currentUser?.isInternal; else textInputControl">
                            <kendo-autocomplete
                                class="form-control"
                                name="productCode"
                                (valueChange)="onProductCodeValueChange($event)"
                                (filterChange)="onProductCodeFilterChange($event)"
                                [valueField]="'name'"
                                [(ngModel)]="model.productCode"
                                [data]="productCodeOptions"
                                [filterable]="true">
                            </kendo-autocomplete>
                        </ng-container>
                        <ng-template #textInputControl>
                            <input name="productCode" type="text" class="form-control" [(ngModel)]="model.productCode"/>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" [class.force-invalid]="formErrors['descriptionOfGoods']">
                        <label class="form-label required">{{'label.descriptionOfGoods' | translate}}</label>
                        <input name="descriptionOfGoods" type="text" required class="form-control" [(ngModel)]="model.productName" />
                        <div *ngIf="formErrors['descriptionOfGoods']" class="k-invalid-msg">{{ formErrors["descriptionOfGoods"] }}</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-label">{{'label.chineseDescription' | translate}}</label>
                        <input name="chineseDescription" type="text" class="form-control" [(ngModel)]="model.chineseDescription"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-label required">{{'label.bookedQty' | translate}}</label>
                        <kendo-numerictextbox
                            #fulfillmentUnitQtyElement
                            required
                            name="fulfillmentUnitQty"
                            class="form-control"
                            [(ngModel)]="model.fulfillmentUnitQty"
                            [format]="'n0'"
                            [decimals]="0"
                            [min]='0'
                            appGreaterThan='0'
                            [autoCorrect]='true'
                            (ngModelChange)="onFulfillmentUnitQtyChanged()">
                        </kendo-numerictextbox>
                        <div *ngIf="formErrors['fulfillmentUnitQty']" class="k-invalid-msg">{{ formErrors['fulfillmentUnitQty'] }}</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-label required">{{'label.uom' | translate}}</label>
                        <kendo-dropdownlist name="unitUOM"
                                        required
                                        [valuePrimitive]="true"
                                        [textField]="'label'"
                                        [valueField]="'value'"
                                        [(ngModel)]="model.unitUOM"
                                        [data]="unitUOMTypeOptions"
                                        class="form-control">
                            <ng-template kendoDropDownListValueTemplate let-dataItem>
                                {{ dataItem?.label | translate }}
                            </ng-template>
                            <ng-template kendoDropDownListItemTemplate let-dataItem>
                                {{ dataItem?.label | translate }}
                            </ng-template>
                        </kendo-dropdownlist>
                        <div *ngIf="formErrors['unitUOM']" class="k-invalid-msg">{{ formErrors['unitUOM'] }}</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-label" [class.required]="isRequireBookedPackage">{{'label.bookedPackage' | translate}}</label>
                        <span class="float-right" kendoTooltip [tooltipTemplate]="warningTooltipTemplate" filter="fa-icon" position="top" *ngIf="isAutoCalculationMode">
                            &nbsp;<fa-icon class="color-warning" attr.data-tooltip="{{'label.hoverBookedPackageIconHint' | translate}}" [icon]="faInfoCircle"></fa-icon>
                        </span>
                        <kendo-numerictextbox
                            #bookedPackageElement
                            name="bookedPackage"
                            class="form-control"
                            [(ngModel)]="model.bookedPackage"
                            [autoCorrect]="true"
                            [format]="'n0'"
                            [decimals]="0"
                            (ngModelChange)="onBookedPackageChanged()"
                            [required]="isRequireBookedPackage"
                            [min]="0"
                            [appGreaterThan]="isRequireBookedPackage ? 0 : ''"
                            >
                        </kendo-numerictextbox>
                        <div *ngIf="formErrors['bookedPackage']" class="k-invalid-msg">{{ formErrors['bookedPackage'] }}</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-label required">{{'label.packageUOM' | translate}}</label>
                        <kendo-dropdownlist name="packageUOM"
                                        required
                                        [valuePrimitive]="true"
                                        [textField]="'label'"
                                        [valueField]="'value'"
                                        [(ngModel)]="model.packageUOM"
                                        [data]="packageUOMTypeOptions"
                                        class="form-control">
                            <ng-template kendoDropDownListValueTemplate let-dataItem>
                                {{ dataItem?.label | translate }}
                            </ng-template>
                            <ng-template kendoDropDownListItemTemplate let-dataItem>
                                {{ dataItem?.label | translate }}
                            </ng-template>
                        </kendo-dropdownlist>
                        <div *ngIf="formErrors['packageUOM']" class="k-invalid-msg">{{ formErrors['packageUOM'] }}</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-label required">{{'label.grossWeightKGS' | translate}}</label>
                        <span class="float-right" kendoTooltip [tooltipTemplate]="warningTooltipTemplate" filter="fa-icon" position="top" *ngIf="isAutoCalculationMode">
                            &nbsp;<fa-icon class="color-warning" attr.data-tooltip="{{'label.hoverGrossWeightIconHint' | translate}}" [icon]="faInfoCircle"></fa-icon>
                        </span>
                        <kendo-numerictextbox
                            #grossWeightElement
                            name="grossWeight"
                            class="form-control"
                            [(ngModel)]="model.grossWeight"
                            [autoCorrect]="true"
                            [decimals]="2"
                            [min]="0"
                            required
                            appGreaterThan='0'
                            (ngModelChange)="onValidateNetWeightKGS()">
                        </kendo-numerictextbox>
                        <div *ngIf="formErrors['grossWeight']" class="k-invalid-msg">{{ formErrors['grossWeight'] }}</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-label">{{'label.netWeightKGS' | translate}}</label>
                        <kendo-numerictextbox
                            #netWeightElement
                            name="netWeight"
                            class="form-control"
                            [(ngModel)]="model.netWeight"
                            [autoCorrect]="true"
                            [decimals]="2"
                            [min]="0"
                            (ngModelChange)="onValidateNetWeightKGS()">
                        </kendo-numerictextbox>
                        <div *ngIf="formErrors['netWeight']" class="k-invalid-msg">{{ formErrors['netWeight'] }}</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-label required">{{'label.volumeCBM' | translate}}</label>
                        <span class="float-right" kendoTooltip [tooltipTemplate]="warningTooltipTemplate" filter="fa-icon" position="top" *ngIf="isAutoCalculationMode">
                            &nbsp;<fa-icon class="color-warning" attr.data-tooltip="{{'label.hoverVolumeIconHint' | translate}}" [icon]="faInfoCircle"></fa-icon>
                        </span>
                        <kendo-numerictextbox
                            #volumeCBMElement
                            name="volumeCBM"
                            class="form-control"
                            [(ngModel)]="model.volume"
                            [autoCorrect]="true"
                            [decimals]="3"
                            [format]="'n3'"
                            [min]="0"
                            required
                            appGreaterThan='0'
                            >
                        </kendo-numerictextbox>
                        <div *ngIf="formErrors['volumeCBM']" class="k-invalid-msg">{{ formErrors['volumeCBM'] }}</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-label">{{'label.countryOfOrigin' | translate}}</label>
                        <kendo-dropdownlist
                                        name="countryOfOrigin"
                                        [valuePrimitive]="true"
                                        [textField]="'label'"
                                        [valueField]="'description'"
                                        [(ngModel)]="model.countryCodeOfOrigin"
                                        [data]="countryOptions"
                                        class="form-control">
                            <ng-template kendoDropDownListValueTemplate let-dataItem>
                                {{ dataItem?.label | translate }}
                            </ng-template>
                            <ng-template kendoDropDownListItemTemplate let-dataItem>
                                {{ dataItem?.label | translate }}
                            </ng-template>
                        </kendo-dropdownlist>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-label">{{'label.hsCode' | translate}}</label>
                        <div [class.force-invalid]="formErrors['hsCode']">
                            <input name="hsCode"
                                type="text"
                                class="form-control"
                                [(ngModel)]="model.hsCode"
                                (ngModelChange)="onHsCodeValueChanged()"/>
                        </div>
                        <div *ngIf="formErrors['hsCode']" class="k-invalid-msg">{{ formErrors['hsCode'] | translate }}</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-label">{{'label.commodity' | translate}}</label>
                        <kendo-dropdownlist
                                        name="commodity"
                                        [valuePrimitive]="true"
                                        [textField]="'label'"
                                        [valueField]="'value'"
                                        [(ngModel)]="model.commodity"
                                        [data]="commodityOptions"
                                        class="form-control">
                            <ng-template kendoDropDownListValueTemplate let-dataItem>
                                {{ dataItem?.label | translate }}
                            </ng-template>
                            <ng-template kendoDropDownListItemTemplate let-dataItem>
                                {{ dataItem?.label | translate }}
                            </ng-template>
                        </kendo-dropdownlist>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group mb-0 pb-0">
                        <label class="form-label">{{'label.shippingMarks' | translate}}</label>
                        <textarea
                        kendoTextArea
                        name="shippingMarks"
                        [(ngModel)]="model.shippingMarks"
                        class="form-control note-textarea"
                        [disabled]="isViewMode"
                        [rows] = "3">
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <kendo-dialog-actions>
        <button type="button" class="btn second-button dialog-button" (click)="onFormClosed()" #Cancel>{{'label.cancel' | translate}}</button>
        <button type="button" class="btn prim-button dialog-button"  (click)="onSave()">{{(ifEditMode ? 'label.save' : 'label.add') | translate}}</button>
    </kendo-dialog-actions>
</kendo-dialog>
