<div class="row">
    <div class="col-6">
        <label class="panel-header fs-14">{{'label.attachment' | translate}}</label>
    </div>
    <div class="col-6">
        <div class="text-right top-bar-container">
            <button type="button" class="btn header-button upload-button" (click)="uploadAttachment()" *ngIf="!isViewMode">
                <div class="icon-circle">
                    <fa-icon [icon]="faCloudUploadAlt"></fa-icon>
                </div>
                <span class="icon-circle-label">{{'label.upload' | translate}}</span>
            </button>
        
            <button type="button" class="btn header-button download-button" (click)="downloadAttachments()"
                [disabled]="!isViewMode || selectedAttachments.length == 0">
                <fa-icon [icon]="faCloudDownloadAlt"></fa-icon>
                {{'label.download' | translate}}
            </button>
        
            <button type="button" class="btn header-button upload-button"
                [disabled]="!isViewMode || selectedAttachments.length == 0" data-toggle="modal" data-target="#shareFileModal">
                <div class="icon-circle">
                    <fa-icon [icon]="faShare"></fa-icon>
                </div>
                <span class="icon-circle-label">{{'label.share' | translate}}</span>
            </button>
        </div>
    </div>
</div>
<div *ngIf="errorMessages.requireMSDSFile" class="k-invalid-msg mb-2">
    {{errorMessages.requireMSDSFile | translate}}
</div>
<kendo-grid #grid="kendoGrid" [data]="bookingModel?.attachments" [scrollable]="'vertical'"
    [selectable]="{enabled: true, checkboxOnly: true }" [kendoGridSelectBy]="selectAttachment"
    [selectedKeys]="selectedAttachments">
    <kendo-grid-checkbox-column showSelectAll="true" [width]="50" *ngIf="isViewMode"></kendo-grid-checkbox-column>

    <kendo-grid-column field="documentLevel" title="{{'label.documentLevel' | translate}}">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{getDocumentLevelText(dataItem.documentLevel)}}
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="attachmentType" title="{{'label.documentType' | translate}}">
    </kendo-grid-column>

    <kendo-grid-column field="fileName" title="{{'label.fileName' | translate}}">
        <ng-template kendoGridCellTemplate let-dataItem>
            <a class="k-link" target="_blank"
                (click)="downloadFile(dataItem.id, dataItem.fileName)">{{dataItem.fileName}}</a>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="referenceNo" title="{{'label.referenceNo' | translate}}">
    </kendo-grid-column>

    <kendo-grid-column field="uploadedBy" title="{{'label.uploadedBy' | translate}}">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <a title="{{dataItem.uploadedBy}}">{{dataItem.uploadedBy}}</a>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="uploadedDateTime" title="{{'label.uploadedDates' | translate}}">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            {{dataItem.uploadedDateTime | convertUTCDateToLocalDate | date : "MM/dd/yyyy hh:mm' 'a" }}
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column width="30" *ngIf="!isViewMode">
        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <div *ngIf="dataItem.uploadedBy !== 'System' && dataItem.documentLevel === DocumentLevel.POFulfillment">
                <div kendoTooltip #tooltip="kendoTooltip" [tooltipTemplate]="actionMenuTooltip" filter="button"
                    showOn="click" position="left" offset="-20" showAfter="200">
                    <button #attachmentButton type="button" class="btn">
                        <fa-icon [icon]="faEllipsisV"></fa-icon>
                    </button>
                </div>

                <ng-template #actionMenuTooltip let-anchor>
                    <div class="row action-button" (click)="editAttachment(dataItem); tooltip.toggle(attachmentButton)">
                        <button type="button" class="btn">
                            <fa-icon [icon]="faPencilAlt" class="action-grid-icon"></fa-icon>
                            <span class="action-grid-label">{{'label.edit' | translate}}</span>
                        </button>
                    </div>
                    <div class="row action-button"
                        (click)="attachmentDeletedHandler(dataItem); tooltip.toggle(attachmentButton)">
                        <button type="button" class="btn">
                            <fa-icon [icon]="faTrashAlt" class="action-grid-icon"></fa-icon>
                            <span class="action-grid-label">{{'tooltip.delete' | translate}}</span>
                        </button>
                    </div>
                </ng-template>
            </div>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>

<app-attachment-upload-popup [formMode]="attachmentFormMode" [formOpened]="attachmentUploadPopupOpened"
    (close)="attachmentClosedHandler()" (add)="attachmentAddedHandler($event)" (edit)="attachmentEditedHandler($event)"
    [model]="attachmentModel">
</app-attachment-upload-popup>

<app-share-file-dialog [fileList]="selectedAttachments"></app-share-file-dialog>