@model Groove.SP.Application.Users.ViewModels.UserProfileViewModel
@{
    Layout = "_EmailLayout.cshtml";
}

<p>Hi @Model.OPContactName,</p>
<p>The new account request for @Model.CompanyName has been created.</p>
<br />

<p>Therefore, the account opening process is being put on hold. Please check with the relevant team/business unit for their permission to grant access to this customer.</p>
<p>Should such permission be given, the account can be activated on the Shipment Portal.</p>
<br />
<p>Regards,</p>
<p>Shipment Portal Team.</p>

