@model Groove.SP.Application.Users.ViewModels.AccountCreationEmailTemplateViewModel
@{
    Layout = "_EmailLayout.cshtml";
}

<p>Dear,</p>
<p>You have been created an account in Shipment Portal system. Please access <a href="@Model.SigninLink">here</a> to sign-in into our system to perform your shipments.</p>
<br />
<p>Regards,</p>
<p>Shipment Portal Team.</p>