@model Groove.SP.Application.BulkFulfillment.ViewModels.ConsigneeOrganizationEmailTemplateViewModel
@{
    Layout = "_EmailLayout.cshtml";
}

<p>Hi Administrator,</p>
<br />
<p>A booking has been created with a new consignee organization @Model.CompanyName</p>
<p>Please find the attached to check with the relevant team/business unit for this organization’s information to import to the Shipment Portal with the ediSON Company Code.</p>
<br />
<p>Regards,</p>
<p>Shipment Portal Team.</p>