@model Groove.SP.Application.WarehouseFulfillment.ViewModels.WarehouseApprovalFormViewModel
@{
    Layout = "_EmailLayout.cshtml";
}
<p>Dear @Model.WarehouseName</p>
<p>@Model.CustomerName has approved a supplier booking, please login CS PO Portal to confirm delivery schedule.</p>
