@import '../../../../../styles/variables';

.info-label {
    margin-left: 10px;
}

.info-icon {
    width: 26px;
    height: 26px;
    border-radius: 20px;
    padding-top: 3px;
    text-align: center;
}

.info-role-icon {
    @extend .info-icon;
    background-color: $color-blue-light;
    color: $theme-color;
}

.info-date-icon {
    @extend .info-icon;
    background-color: #FFF1E6;
    color: #FF7200;
}

.role-description {
    background-color: #F6FAFB;
    height: 86px !important;
}

.blur-circle {
    width: 26px;
    height: 26px;
    border-radius: 20px;
    vertical-align: middle;
    display: inline-block;
}

.heart-circle {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    margin: 8px;
}

// active
.active-blur {
    @extend .blur-circle;
    background-color: #EAF8F2;
}

.active-heart {
    @extend .heart-circle;
    background-color: #0BB573;
}

// inactive
.inactive-blur {
    @extend .blur-circle;
    background-color: rgb(237, 240, 243);
}

.inactive-heart {
    @extend .heart-circle;
    background-color: #666666;
}

.remove-padding-bottom {
    padding-bottom: 0px;
}

.role-form {

// treeview control
    ::ng-deep {

        .k-treeview {

            margin-left: -15px;

            .k-i-expand, .k-i-collapse {
                margin-top: -4px;
                font-weight: normal !important;
            }

            .k-i-collapse:before {
                content: "\e121";
                color: #666666;
            }

            .k-i-expand:before {
                content: "\e11e";
                color: #666666;
            }

            .k-in {
                padding: 10px;

                &:hover, &.k-state-hover{
                    background-color: white;
                }

                &.k-state-focused {
                    box-shadow: none;
                }
            }

            // upper case title
            ul li span:not([data-treeindex*='_']) {
                font-weight: bold;
                text-transform: uppercase;
                color: #666666;
            }

            // hr
            ul li {

                &:last-child{
                    border-bottom: 0px !important;
                }

                &:not([data-treeindex*='_']){
                    border-bottom: 1px solid $color-white-dark-2;
                    padding: 20px 16px !important;
                }

            }

            // align
            .k-item .k-treeview-item {
                margin-left: 15px;
            }

            .k-in {
                top: -2px;
            }

        }
        .k-checkbox:indeterminate+.k-checkbox-label::after {
            background-color: $theme-color;
        }

        .k-checkbox-label, .k-radio-label {
            &::before, &::after
            {
                font-size: 11px;
            }
        }

    }
}
