
    <div class="content__header">
        <div class="container-fluid">
            <div class="row header-group" *ngIf="isInitDataLoaded">
                <div class="col-sm">
                    <button attr.data-balloon="{{'tooltip.backToList' | translate}}"
                            data-balloon-pos="up"
                            type="button"
                            class="btn btn-default back-button"
                            (click)="backList()">
                        <i class="ei ei-arrow_left"></i>
                    </button>
                    <label class="form-header">{{'label.role' | translate}} #{{model.id}}</label>
                    <app-status-label [status]="model.status" [statusName]="model.statusName | translate" [statusEnum]="roleStatus">
                    </app-status-label>
                </div>
            </div>

            <div class="typing_loader" *ngIf="!isInitDataLoaded"></div>
            <form class="row role-form" #mainForm="ngForm" novalidate (ngSubmit)="onSubmit()" *ngIf="isInitDataLoaded">
                <div class="col-12 panel-group remove-padding-first-panel">
                    <label class="panel-header">{{'label.generalInfo' | translate}}</label>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="info-role-icon">
                                            <i class="ei ei-icon_cog"></i>
                                        </label>
                                        <label class="info-label">{{'label.role' | translate}}</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <b><label>{{model.name}}</label></b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div [ngClass]="!model.status ? 'inactive-blur' : 'active-blur'">
                                            <div [ngClass]="!model.status ? 'inactive-heart' : 'active-heart'"></div>
                                        </div>
                                        <label class="info-label">{{'label.status' | translate}}</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <b><label>{{model.statusName | translate}}</label></b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="info-date-icon">
                                            <i class="ei ei-icon_calendar"></i>
                                        </label>
                                        <label class="info-label">{{'label.updatedDates' | translate}}</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <b><label>{{model.updatedDate | date: DATE_FORMAT}}</label></b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{'label.description' | translate}}</label>
                                <textarea
                                    #roleDescriptionElement
                                    kendoTextArea
                                    name="roleDescription"
                                    class="form-control role-description"
                                    [(ngModel)]="model.description"
                                    maxlength="500">
                                </textarea>
                                <div *ngIf="formErrors['roleDescription']" class="k-invalid-msg">
                                    {{ formErrors.roleDescription }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 panel-group">
                    <label class="panel-header remove-padding-bottom">{{'label.permission' | translate}}</label>
                    <div class="col-sm-12">
                        <kendo-treeview
                            [nodes]="permissionList"
                            textField="text"
                            [hasChildren]="hasChildren"
                            [children]="fetchChildren"
                            [kendoTreeViewCheckable]="checkableSettings"
                            kendoTreeViewExpandable
                            [(checkedKeys)]="checkedKeys"
                            [(expandedKeys)]="expandedKeys"
                            (checkedChange)="handleChecking($event)">

                            <ng-template kendoTreeViewNodeTemplate let-dataItem>
                                {{dataItem.text | translate}}
                            </ng-template>
                        </kendo-treeview>
                    </div>
                </div>

                <div class="col-12 text-right p-0">
                    <button type="submit" class="btn prim-button" (click)="saveRole()">{{'label.save' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
