<kendo-dialog [title]="'label.itemDetail' | translate" *ngIf="itemDetailDialogOpened" (close)="onFormClosed()"
    novalidate [width]="900" class="custom-header-dialog">
    <div class="container">
        <div class="wrapper-form">
            <div class="row">
                <div class="col content-details">
                    <div class="row">
                        <div class="col-6 text-label">{{'label.poNo' | translate}}</div>
                        <div class="col-6 value-label">{{ model.poNo | default: defaultValue }}</div>
                    </div>
                </div>
                <div class="col content-details">
                    <div class="row">
                        <div class="col-6 text-label">{{'label.itemNo' | translate}}</div>
                        <div class="col-6 value-label">{{ model.itemNo | default: defaultValue }}</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col content-details">
                    <div class="row">
                        <div class="col-6 text-label">{{'label.descriptionOfGoods' | translate}}</div>
                        <div class="col-6 value-label">{{ model.descriptionOfGoods | default: defaultValue }}</div>
                    </div>
                </div>
                <div class="col content-details">
                    <div class="row">
                        <div class="col-6 text-label">{{'label.chineseDescription' | translate}}</div>
                        <div class="col-6 value-label">{{ model.chineseDescription | default: defaultValue }}</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col content-details">
                    <div class="row">
                        <div class="col-6 text-label">{{'label.bookedQty' | translate}}</div>
                        <div class="col-6 value-label">{{ model.fulfillmentUnitQty | number: '0.0-0' | default: defaultValue }}</div>
                    </div>
                </div>
                <div class="col content-details">
                    <div class="row">
                        <div class="col-6 text-label">{{'label.uom' | translate}}</div>
                        <div class="col-6 value-label">{{ unitUOM }}</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col content-details">
                    <div class="row">
                        <div class="col-6 text-label">{{'label.bookedPackage' | translate}}</div>
                        <div class="col-6 value-label">{{model.bookedPackage | number: '0.0-0' | default: defaultValue }}</div>
                    </div>
                </div>
                <div class="col content-details">
                    <div class="row">
                        <div class="col-6 text-label">{{'label.packageUOM' | translate}}</div>
                        <div class="col-6 value-label">{{ packageUOM }}</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col content-details">
                    <div class="row">
                        <div class="col-6 text-label">{{'label.grossWeightKGS' | translate}}</div>
                        <div class="col-6 value-label">{{ model.grossWeight | number:'0.2' | default: defaultValue }}</div>
                    </div>
                </div>
                <div class="col content-details">
                    <div class="row">
                        <div class="col-6 text-label">{{'label.netWeightKGS' | translate}}</div>
                        <div class="col-6 value-label">{{ model.netWeight | number:'0.2' | default: defaultValue }}</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col content-details">
                    <div class="row">
                        <div class="col-6 text-label">{{'label.volumeCBM' | translate}}</div>
                        <div class="col-6 value-label">{{ model.volume | number:'0.3' | default: defaultValue }}</div>
                    </div>
                </div>
                <div class="col content-details">
                    <div class="row">
                        <div class="col-6 text-label">{{'label.countryOfOrigin' | translate}}</div>
                        <div class="col-6 value-label">{{ model.countryNameOfOrigin | default: defaultValue }}</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col content-details">
                    <div class="row">
                        <div class="col-6 text-label">{{'label.hsCode' | translate}}</div>
                        <div class="col-6 value-label">{{ model.hsCode | default: defaultValue }}</div>
                    </div>
                </div>
                <div class="col content-details">
                    <div class="row">
                        <div class="col-6 text-label">{{'label.commodity' | translate}}</div>
                        <div class="col-6 value-label">{{ model.commodity | default: defaultValue }}</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col content-details">
                    <div class="row">
                        <div class="col-3 text-label">{{'label.shippingMarks' | translate}}</div>
                        <div class="col-9 value-label">{{ model.shippingMarks | default: defaultValue }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <kendo-dialog-actions>
        <button type="button" class="btn second-button dialog-button" (click)="onFormClosed()"
            #Cancel>{{'label.close' | translate}}</button>
    </kendo-dialog-actions>
</kendo-dialog>