<div class="content__header">
    <div class="container-fluid">
        <div class="row header-group" *ngIf="isInitDataLoaded">
            <div class="col-sm">
                <button attr.data-balloon="{{'tooltip.backToList' | translate}}" data-balloon-pos="up" type="button"
                    class="btn btn-default back-button" (click)="backList()">
                    <i class="ei ei-arrow_left"></i>
                </button>

                <span *ngIf="!isAddMode">
                    <label class="form-header">{{'label.task' | translate}} #{{isAddMode ? '' : model.name}}</label>
                </span>
                <label *ngIf="isAddMode" class="form-header">{{'label.addNewTask' | translate}}</label>

                <app-status-label *ngIf="!isAddMode" [status]="model.status" [statusName]="(model.status  === schedulingStatus.Active ? 'label.active' : 'label.inactive') | translate"
                    [statusEnum]="schedulingStatus">
                </app-status-label>
            </div>
            <div class="col-sm text-right">
                <button attr.data-balloon="{{'label.edit' | translate}}" data-balloon-pos="up" type="button"
                    class="btn edit-icon-button" *ngIf="hasEditPermission && isViewMode"
                    (click)="onEditBtnClick()">
                    <fa-icon [icon]="faPencilAlt"></fa-icon>
                </button>
                <button attr.data-balloon="{{'label.execute' | translate}}" data-balloon-pos="up" type="button"
                    class="btn edit-icon-button btn-color-green" *ngIf="isViewMode && model.status === schedulingStatus.Active"
                    (click)="onExecuteBtnClick()"
                    style="padding-left: 5px;">
                    <fa-icon [icon]="faPlay"></fa-icon>
                </button>
                <button attr.data-balloon="{{'label.deactivate' | translate}}" data-balloon-pos="up" type="button"
                    class="btn suspend-icon-button"
                    *ngIf="hasEditPermission && isViewMode && model.status === schedulingStatus.Active"
                    (click)="onDeactivateBtnClick()">
                    <fa-icon [icon]="faPowerOff"></fa-icon>
                </button>
                <button attr.data-balloon="{{'label.activate' | translate}}" data-balloon-pos="up" type="button"
                    class="btn btn-default activate-icon-button"
                    *ngIf="hasEditPermission && isViewMode && model.status === schedulingStatus.Inactive"
                    (click)="onActivateBtnClick()">
                    <fa-icon [icon]="faPowerOff"></fa-icon>
                </button>
                <button attr.data-balloon="{{'label.delete' | translate}}" data-balloon-pos="up" type="button"
                    class="btn suspend-icon-button"
                    *ngIf="hasEditPermission && isViewMode"
                    (click)="onDeleteBtnClick()">
                    <fa-icon [icon]="faMinus"></fa-icon>
                </button>
            </div>
        </div>
        <div class="typing_loader" *ngIf="!isInitDataLoaded"></div>
        <form class="row" #mainForm="ngForm" novalidate *ngIf="isInitDataLoaded">
            <div class="col-12 panel-group remove-padding-first-panel">
                <label class="panel-header">{{'label.general' | translate}}</label>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" [class.force-invalid]="formErrors['name']">
                                <label class="form-label required">{{'label.name' | translate}}</label>
                                <input #name name="name" required type="text" class="form-control" maxlength="512"
                                    [disabled]="isViewMode" [(ngModel)]="model.name"/>
                                <div *ngIf="formErrors['name']" class="k-invalid-msg">
                                    {{ formErrors.name }}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group" [class.force-invalid]="formErrors['report']">
                                <label class="form-label required">{{'label.report' | translate}}</label>
                                <kendo-dropdownlist #documentFormat name="report" [data]="reportOptionsDataSource"
                                    [defaultItem]="defaultReportOptionItem" [disabled]="isViewMode || isEditMode"
                                    [(ngModel)]="model.csPortalReportId" [valuePrimitive]="true" [textField]="'reportName'"
                                    [valueField]="'id'" class="form-control" required
                                    (valueChange)="onReportValueChange($event)"
                                    >
                                    <ng-template kendoDropDownListValueTemplate let-dataItem>
                                        {{ dataItem.reportName | translate }}
                                    </ng-template>
                                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                                        {{ dataItem.reportName | translate }}
                                    </ng-template>
                                </kendo-dropdownlist>
                                <div *ngIf="formErrors['report']" class="k-invalid-msg">
                                    {{ formErrors.report }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" [class.force-invalid]="formErrors['documentFormat']">
                                <label class="form-label required">{{'label.documentType' | translate}}</label>
                                <kendo-dropdownlist #documentFormat name="documentFormat" [data]="documentTypes"
                                    [disabled]="isViewMode"
                                    [(ngModel)]="model.documentFormat" [valuePrimitive]="true" [textField]="'label'"
                                    [valueField]="'value'" class="form-control" required>
                                    <ng-template kendoDropDownListValueTemplate let-dataItem>
                                        {{ dataItem?.label | translate }}
                                    </ng-template>
                                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                                        {{ dataItem?.label | translate }}
                                    </ng-template>
                                </kendo-dropdownlist>
                                <div *ngIf="formErrors['documentFormat']" class="k-invalid-msg">
                                    {{ formErrors.documentFormat }}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group" [class.force-invalid]="formErrors['startDate']">
                                <label class="form-label required">{{'label.start' | translate}}</label>
                                <kendo-datetimepicker name="startDate" class="form-control" required [disabled]="isViewMode"
                                    [(ngModel)]="model.startDate">
                                    <kendo-datetimepicker-messages today="{{'kendo.datimepicker.today' | translate}}"
                                        toggle="{{'kendo.datimepicker.toogle' | translate}}"
                                        dateTab="{{'kendo.datimepicker.dateTab' | translate}}"
                                        dateTabLabel="{{'kendo.datimepicker.dateTabLabel' | translate}}"
                                        timeTab="{{'kendo.datimepicker.timeTab' | translate}}"
                                        timeTabLabel="{{'kendo.datimepicker.timeTabLabel' | translate}}"
                                        now="{{'kendo.datimepicker.now' | translate}}"
                                        nowLabel="{{'kendo.datimepicker.nowLabel' | translate}}"
                                        accept="{{'kendo.datimepicker.accept' | translate}}"
                                        acceptLabel="{{'kendo.datimepicker.acceptLabel' | translate}}"
                                        cancel="{{'kendo.datimepicker.cancel' | translate}}"
                                        cancelLabel="{{'kendo.datimepicker.cancelLabel' | translate}}">
                                    </kendo-datetimepicker-messages>
                                </kendo-datetimepicker>
                                <div *ngIf="formErrors['startDate']" class="k-invalid-msg">
                                    {{ formErrors.startDate }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 panel-group">
                <label class="panel-header">{{'label.recurrence' | translate}}</label>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <div class="form-group recurrence-rule"[class.disabled]="isViewMode" >
                                <div class="recurrence-over-lay"></div>
                                <kendo-recurrence-editor #recurrenceRule name="recurrenceRule"
                                    [(ngModel)]="model.recurrenceRule"
                                    ></kendo-recurrence-editor>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 panel-group">
                <label class="panel-header">{{'label.filteringCriteria' | translate}}  <span class="k-i-loading k-icon loading" *ngIf="isUpdatingReportFiltering"></span></label>
                <div class="row" [formGroup]="reportFilteringFormGroup">
                    <div *ngFor="let formField of reportFilteringFormFields" [hidden]="formField.isHidden" id="{{formField.name}}" [class.force-invalid]="formErrors[formField.name]" [ngClass]="formField.name === 'selectedColumns' ? 'col-12 mb-3' : 'col-lg-3 col-md-4 col-sm-6 mb-3'" >
                        <ng-container *ngIf="formField">
                            <label class="form-label" *ngIf="formField.type !== 'System.Boolean'" [ngClass]="{'required': !formField.allowNull}"> {{ formField.text}}</label>
                            <button type="button" *ngIf="formField.id === 'selectedColumns' && !isViewMode"
                                (click)="onColumnOptionsBtnClick($event)"
                                class="btn header-button btn-color-primary ml-2">
                                {{'label.columnOptions' | translate}}
                            </button>
                            <div *ngIf="formField.id === 'selectedColumns'; else basicControlTemplate" class="selected-column-container" [class.mt-2]="!isViewMode">
                                <kendo-grid #grid="kendoGrid" class="custom-border-grid list-of-selected-columns">

                                    <kendo-grid-column *ngFor="let column of selectedColumns" [sortable]="column.sortable" [field]="column.field"
                                        [title]="column.title | translate" [class]="column.class" [width]="column.width"
                                        [format]="column.format" [filter]="column.filter">
                                    </kendo-grid-column>

                                </kendo-grid>
                            </div>
                            <ng-template #basicControlTemplate>
                                <div [ngSwitch]="formField.type">
                                    <input *ngSwitchDefault id="{{formField.id}}" class="form-control"
                                        type="{{ formField.type }}" [ngModel]="formField.value"
                                        [required]="!formField.allowNull" formControlName="{{formField.name}}"
                                        (ngModelChange)="onReportFilteringValueChange($event, formField.name)" [attr.disabled]="isViewMode? '' : null"/>
                                    <kendo-datepicker id="{{formField.id}}" *ngSwitchCase="'System.DateTime'" class="form-control"
                                        format="MM/dd/yyyy" [ngModel]="formField.value" formControlName="{{formField.name}}"
                                        (ngModelChange)="onReportFilteringValueChange($event, formField.name)" [disabled]="isViewMode">
                                    </kendo-datepicker>
                                    <div *ngSwitchCase="'System.String'">
                                        <ng-container *ngIf="(formField.availableValues) else freeTextBox">
                                            <ng-container *ngIf="(formField.multivalue) else singleSelect">
                                                <kendo-multiselect id="{{formField.id}}" [autoClose]="false"
                                                    [data]="formField.filteredAvailableValues" [ngModel]="formField.value"
                                                    [textField]="'name'" [valueField]="'value'" [autoClose]="false"
                                                    [filterable]="true" class="form-control"
                                                    formControlName="{{formField.name}}"
                                                    (ngModelChange)="onReportFilteringValueChange($event, formField.name)"
                                                    (filterChange)="onReportFilteringFilterChange($event, formField.name)" [disabled]="isViewMode">
                                                    <ng-template kendoMultiSelectItemTemplate let-dataItem>
                                                        <label>{{ dataItem?.name | translate }}</label>
                                                    </ng-template>
                                                    <ng-template kendoMultiSelectTagTemplate let-dataItem>
                                                        {{ dataItem?.name | translate }}
                                                    </ng-template>
                                                </kendo-multiselect>
                                            </ng-container>
                                            <ng-template #singleSelect>
                                                <kendo-dropdownlist id="{{formField.id}}" [data]="formField.filteredAvailableValues"
                                                    [defaultItem]="defaultSelectOption"
                                                    [ngModel]="formField.value" [textField]="'name'" [valueField]="'value'"
                                                    [valuePrimitive]="true" class="form-control"
                                                    formControlName="{{formField.name}}"
                                                    [filterable]="true"
                                                    (ngModelChange)="onReportFilteringValueChange($event, formField.name)"
                                                    (filterChange)="onReportFilteringFilterChange($event, formField.name)" [disabled]="isViewMode || formField.isDisabled">
                                                </kendo-dropdownlist>
                                            </ng-template>
                                        </ng-container>
                                        <ng-template #freeTextBox>
                                            <input id="{{formField.id}}" class="form-control" type="{{ formField.type }}"
                                                value="{{ formField.value }}" [required]="!formField.allowNull"
                                                formControlName="{{formField.name}}"
                                                (ngModelChange)="onReportFilteringValueChange($event, formField.name)" [attr.disabled]="isViewMode? '' : null"/>
                                        </ng-template>
                                    </div>
                                    <div *ngSwitchCase="'System.Int64'">
                                        <ng-container *ngIf="(formField.availableValues) else freeTextBox">
                                            <ng-container *ngIf="(formField.multivalue) else singleSelect">
                                                <kendo-multiselect id="{{formField.id}}" [autoClose]="false"
                                                    [data]="formField.availableValues" [ngModel]="formField.value"
                                                    [textField]="'name'" [valueField]="'value'" [autoClose]="false"
                                                    [filterable]="true" class="form-control"
                                                    formControlName="{{formField.name}}"
                                                    [filterable]="true"
                                                    (ngModelChange)="onReportFilteringValueChange($event, formField.name)"
                                                    (filterChange)="onReportFilteringFilterChange($event, formField.name)" [disabled]="isViewMode">
                                                    <ng-template kendoMultiSelectItemTemplate let-dataItem>
                                                        <label>{{ dataItem?.name | translate }}</label>
                                                    </ng-template>
                                                    <ng-template kendoMultiSelectTagTemplate let-dataItem>
                                                        {{ dataItem?.name | translate }}
                                                    </ng-template>
                                                </kendo-multiselect>
                                            </ng-container>
                                            <ng-template #singleSelect>
                                                <kendo-dropdownlist id="{{formField.id}}" [data]="formField.filteredAvailableValues"
                                                    [defaultItem]="defaultSelectOption"
                                                    [ngModel]="formField.value" [textField]="'name'" [valueField]="'value'"
                                                    [valuePrimitive]="true" class="form-control"
                                                    formControlName="{{formField.name}}"
                                                    [filterable]="true"
                                                    (ngModelChange)="onReportFilteringValueChange($event, formField.name)"
                                                    (filterChange)="onReportFilteringFilterChange($event, formField.name)" [disabled]="isViewMode || (formField.name === 'selectedCustomerId' && currentUser?.role?.id === Roles.Principal)">
                                                </kendo-dropdownlist>
                                            </ng-template>
                                        </ng-container>
                                        <ng-template #freeTextBox>
                                            <input *ngSwitchCase="'System.Int64'" id="{{formField.id}}" class="form-control"
                                                type="number" [ngModel]="formField.value" [required]="!formField.allowNull"
                                                formControlName="{{formField.name}}"
                                                (ngModelChange)="onReportFilteringValueChange($event, formField.name)" [attr.disabled]="isViewMode? '' : null"/>
                                        </ng-template>
                                    </div>
                                    <div *ngSwitchCase="'System.Boolean'">
                                        <ng-container *ngIf="formField.allowNull">
                                            <input type="checkbox" class="k-checkbox" [ngModel]="formField.value" name={{formField.name}} formControlName={{formField.name}}  [attr.disabled]="isViewMode? '' : null" [checked]="formField.value"/>
                                        <label class="k-checkbox-label" (click)="onChangeCheckBox(formField.name)">{{formField.text}}</label>
                                        </ng-container>
                                    </div>
                
                                </div>
                            </ng-template>

                            <div *ngIf="formErrors[formField.name]" class="k-invalid-msg">
                                {{ formErrors[formField.name] }}
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div class="col-12 panel-group">
                <label class="panel-header">{{'label.subscribers' | translate}}</label>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <kendo-grid #grid="kendoGrid" [data]="model.subscribers" [scrollable]="'vertical'" [selectable]="false">
                                    <kendo-grid-column field="email" title="{{'label.email' | translate}}">
                                        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                                            <ng-container *ngIf="!dataItem.isAddLine"><span class="multiple-lines-text">{{breakLineEmailSubscribers(dataItem.email)}}</span></ng-container>
                                            <div [class.force-invalid]="!dataItem.isValid">
                                                <input *ngIf="dataItem.isAddLine"
                                                        name="email{{rowIndex}}"
                                                        class="form-control"
                                                        required
                                                        [ngModel]="dataItem.email"
                                                        (ngModelChange)="checkEmailValid($event, rowIndex)"/>
                                                <div *ngIf="!dataItem.isValid" class="k-invalid-msg">
                                                    {{ dataItem.validationMessage }}
                                                </div>
                                            </div>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-command-column title="{{'label.action' | translate}}"
                                        [headerStyle]="{'text-align': 'center'}"
                                        class="action-column-grid col-action"
                                        width="150" *ngIf="isViewMode">
                                        <ng-template kendoGridCellTemplate let-dataItem="dataItem"
                                            let-rowIndex="rowIndex">
                                            <button attr.data-balloon="{{'tooltip.delete' | translate}}"
                                                data-balloon-pos="left" type="button"
                                                class="btn ml-0 btn-default grid-remove-icon-button"
                                                (click)="onRemoveEmailBtnClick(dataItem, rowIndex)">
                                                <i class="ei ei-icon_minus-06"></i>
                                            </button>
                                            <button attr.data-balloon="{{'tooltip.approve' | translate}}"
                                                data-balloon-pos="left" type="button"
                                                class="btn btn-default grid-approve-icon-button"
                                                *ngIf="dataItem.isAddLine"
                                                (click)="onAddEmailBtnClick(dataItem, rowIndex)" [disabled]="!dataItem.isValid">
                                                <i class="ei ei-icon_check"></i>
                                            </button>
                                        </ng-template>
                                    </kendo-grid-command-column>
                                </kendo-grid>
                                <div class="margin-add-icon-button">
                                    <button id="addMoreBtn" type="button" class="btn prim-button add-more-icon-button"
                                        attr.data-balloon="{{'label.addMore' | translate}}" data-balloon-pos="up"
                                        (click)="onAddNewEmailRowBtnClick()"
                                        [disabled]="isNewEmailAdding"
                                        *ngIf="isViewMode">
                                        <i class="ei ei-icon_plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 panel-group" *ngIf="isViewMode">
                <label class="panel-header">{{'label.activities' | translate}}</label>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <kendo-grid #grid="kendoGrid" [data]="model.activities" [scrollable]="'vertical'" [selectable]="false">
                                    <kendo-grid-column field="dateCreated" title="{{'label.executedOn' | translate}}">
                                        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                                            {{dataItem?.dateCreated | date: DATE_HOUR_FORMAT}}
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column field="documentName" title="{{'label.document' | translate}}">
                                        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                                            <a (click)="downloadTelerikDocument(dataItem)" style="cursor:pointer;">{{dataItem?.documentName}}</a>
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-column field="succeed" title="{{'label.status' | translate}}">
                                        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                                            {{(dataItem?.error === "" ? 'label.successful' : 'label.failed') | translate}}
                                        </ng-template>
                                    </kendo-grid-column>
                                    <kendo-grid-command-column title="{{'label.action' | translate}}"
                                        [headerStyle]="{'text-align': 'center'}"
                                        class="action-column-grid col-action"
                                        width="150" *ngIf="isViewMode">
                                        <ng-template kendoGridCellTemplate let-dataItem="dataItem"
                                            let-rowIndex="rowIndex">
                                            <button attr.data-balloon="{{'tooltip.delete' | translate}}"
                                                data-balloon-pos="left" type="button"
                                                class="btn ml-0 btn-default grid-remove-icon-button"
                                                (click)="onRemoveActivityBtnClick(dataItem, rowIndex)">
                                                <i class="ei ei-icon_minus-06"></i>
                                            </button>
                                        </ng-template>
                                    </kendo-grid-command-column>
                                </kendo-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 action-bar">
                <button type="button" class="btn second-button" *ngIf="!isViewMode" (click)="onCancelBtnClick()">{{'label.cancel' | translate}}</button>
                <button type="submit" class="btn prim-button submit-btn" (click)="onSaveBtnClick()" *ngIf="!isViewMode" [disabled]="!isReadyForSubmit || isUpdatingReportFiltering">{{'label.save' | translate}}
                    <ng-template *appSpinner="!isReadyForSubmit"></ng-template>
                </button>
            </div>
        </form>
    </div>
</div>

<app-column-options-dialog *ngIf="columnOptionsDialogOpened"
    [columns]='columnOptionsDataSource'
    [popupOpened]="columnOptionsDialogOpened"
    (close)="onColumnOptionsDialogClosed()"
    (save)="onColumnOptionsDialogSaved($event)">
</app-column-options-dialog>
