<kendo-grid #croItemKendoGrid="kendoGrid" [data]="model | orderBy:'poLine'" [scrollable]="'vertical'" [selectable]="true" class="cro-item-list">
    <kendo-grid-column width="150px" field="poLine" title="{{'label.lineOrder' | translate}}" [headerClass]="'multiline-header'">
    </kendo-grid-column>

    <kendo-grid-column field="itemName" title="{{'label.itemName' | translate}}" [headerClass]="'multiline-header'">
    </kendo-grid-column>

    <kendo-grid-column field="latestDialog" title="{{'label.latestDialog' | translate}}" [headerClass]="'multiline-header'">
    </kendo-grid-column>

    <kendo-grid-column title="{{'label.shipmentNo' | translate}}" [headerClass]="'multiline-header'">
        <ng-template kendoGridCellTemplate let-dataItem>
            <a class="k-link" [title]="dataItem.shipment?.shipmentNo" routerLinkActive="active"
            routerLink="/shipments/{{dataItem.shipment?.id}}" target="_blank" *ngIf="dataItem.shipment">
                {{dataItem.shipment?.shipmentNo}}
            </a>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column class="col-action" width="130px" *hasPermission="[AppPermissions.CruiseOrder_Detail_Edit]" title="{{'label.action' | translate}}" [headerClass]="'multiline-header'">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span attr.data-balloon="{{'tooltip.moreActions' | translate }}" data-balloon-pos="left">
                <kendo-dropdownbutton [data]="getMoreActionMenu(dataItem)" (open)="setCurrentFocusingItem(dataItem)" textField="actionName" class="btn grid-copy-icon-button circle-button ml-0" >
                    <fa-icon [icon]="faBars"></fa-icon>
                </kendo-dropdownbutton>
            </span>

            <button attr.data-balloon="{{'label.add' | translate}} {{'label.dialog' | translate | lowercase }}" data-balloon-pos="left" type="button" class="btn grid-add-icon-button" (click)="onAddNoteClicked(dataItem)">
                <fa-icon [icon]="faCommentDots"></fa-icon>
            </button>

        </ng-template>
    </kendo-grid-column>

    <ng-template kendoGridDetailTemplate let-dataItem let-rowIndex="rowIndex">
        <section>
            <div class="tab-wrapper tab-custom-style">
                <kendo-tabstrip>
                    <kendo-tabstrip-tab [title]="'label.details' | translate" [selected]="true">
                      <ng-template kendoTabContent>
                        <app-cruise-order-item-detail
                            [(loadingGrids)]='loadingGrids'
                            [rowIndex]='rowIndex'
                            [(model)]="dataItem">
                        </app-cruise-order-item-detail>
                      </ng-template>
                    </kendo-tabstrip-tab>
                    <kendo-tabstrip-tab [title]="'label.warehouse' | translate">
                      <ng-template kendoTabContent *loadOnDemand>
                        <app-cruise-order-item-warehouse
                            [(loadingGrids)]='loadingGrids'
                            [rowIndex]='rowIndex'
                            [cruiseOrderItemId]="dataItem.id"
                            >
                        </app-cruise-order-item-warehouse>
                      </ng-template>
                    </kendo-tabstrip-tab>
                    <kendo-tabstrip-tab [title]="'label.dialog' | translate">
                        <ng-template kendoTabContent *loadOnDemand>
                            <app-cruise-order-item-note-list
                                [(loadingGrids)]='loadingGrids'
                                [rowIndex]='rowIndex'
                                [itemId]="dataItem.id"
                                [line]="dataItem.poLine"
                                [currentUser]="currentUser"
                                (editNoteEvent)="onEditNoteClicked($event)"
                                (removeNoteEvent)="onDeleteNoteClicked($event)">
                            </app-cruise-order-item-note-list>
                        </ng-template>
                    </kendo-tabstrip-tab>
                </kendo-tabstrip>
                <div *ngIf="loadingGrids[rowIndex]" class="k-i-loading"></div>
            </div>
        </section>
    </ng-template>
</kendo-grid>
<app-cruise-order-item-detail-popup
    [data]="itemDetailModel"
    [itemOptions]="itemOptions"
    [itemDetailPopupOpened]="itemDetailPopupOpened"
    (close)="itemDetailPopupClosedHandler($event)">
</app-cruise-order-item-detail-popup>

<app-cruise-order-item-copy-popup
    [model]="itemDetailModel"
    [itemOptions]="itemOptions"
    [itemCopyPopupOpened]="itemCopyPopupOpened"
    (close)="itemCopyPopupClosedHandler($event)">
</app-cruise-order-item-copy-popup>

<app-cruise-order-item-note-popup
    [popupOpened]="isOpenNotePopup"
    [model]="noteDetail"
    [itemOptions]="itemOptions"
    (close)="onNotePopupClosed()"
    [isAddMode]="isAddNote"
    (add)="onNoteAdded($event)"
    (edit)="onNoteEdited($event)">
</app-cruise-order-item-note-popup>
