<kendo-dialog [title]="(ifEditMode ? 'label.editCustomerPO' : 'label.addCustomerPO') | translate" *ngIf="customerFormOpened" (close)="onFormClosed()" novalidate [width]="850" [height]="710" class="custom-header-dialog po-fulfillment-customer-po-popup max-screen-1280x768" [ngClass]="{'view-maximum': ifEditMode}">
    <form #mainForm="ngForm">
        <ng-template #warningTooltipTemplate let-anchor>
            <span class="tooltip-warning">{{anchor.nativeElement.getAttribute('data-tooltip')}}</span>
        </ng-template>
        <div class="container">
            <div class="form-group mb-0">
                <div class="row">
                    <div class="col-sm-5 hidden-in-view-maximum">
                        <label class="group-col-header">{{'label.selectCustomerProduct' | translate}}
                            <span class="k-i-loading k-icon loading" *ngIf="treeViewPagination.loadingData"></span>
                        </label>

                        <div class="drop-column-container">
                            <div class="filter-container">
                                <kendo-dropdownlist name="filterProductOption"
                                        [valuePrimitive]="true"
                                        [textField]="'label'"
                                        [valueField]="'value'"
                                        [(ngModel)]="searchBy"
                                        [data]="searchByOptions"
                                        (ngModelChange)="_fetchPOsDataSource(false)"
                                        class="form-control">
                                    <ng-template kendoDropDownListValueTemplate let-dataItem>
                                        {{ dataItem?.label | translate }}
                                    </ng-template>
                                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                                        {{ dataItem?.label | translate }}
                                    </ng-template>
                                </kendo-dropdownlist>
                            </div>

                            <div class="filter-container">
                                <input name="complianceName" type="text" class="form-control"
                                    placeholder="{{'label.enterValueToFilter' | translate}}"
                                    #searchTermInput
                                    (ngModelChange)="searchTermKeyup$.next(searchTermInput.value)"
                                    [(ngModel)]="searchTerm"/>
                            </div>

                            <kendo-treeview
                                [nodes]="treeData"
                                textField="text"
                                [hasChildren]="hasChildren"
                                [children]="fetchChildren"
                                kendoTreeViewExpandable
                                [(expandedKeys)]="expandedKeys"
                                childrenField="items">
                                <ng-template kendoTreeViewNodeTemplate let-dataItem>

                                    <!-- parent item -->
                                    <span *ngIf="dataItem.items" class="node-item node-item-parent">
                                        <span class="item-text">{{dataItem.text}}</span>
                                    </span>

                                    <!-- child item -->
                                    <div *ngIf="!dataItem.items && !dataItem.isSelected && dataItem.isShown" class="node-item node-item-child" draggable="true"
                                        (mousedown)="clickItem(dataItem.purchaseOrderId, dataItem.poLineItemId)" (dragstart)="onDragStart($event)" (dragend)="onDragEnd($event)">
                                        <div class="drag-item-container" >
                                            <span class="child-icon">
                                                <fa-icon [icon]="faEllipsisV"></fa-icon>
                                                <fa-icon [icon]="faEllipsisV"></fa-icon>
                                            </span>
                                            <span class="item-text">{{dataItem.text}} - ({{dataItem.balanceUnitQty}})</span>
                                        </div>
                                    </div>

                                    <!-- child item disabled-->
                                    <div *ngIf="!dataItem.items && dataItem.isSelected" class="node-item node-item-child selected">
                                        <div class="drag-item-container">
                                            <span class="child-icon">
                                                <fa-icon [icon]="faEllipsisV"></fa-icon>
                                                <fa-icon [icon]="faEllipsisV"></fa-icon>
                                            </span>
                                            <span class="item-text">{{dataItem.text}} - ({{dataItem.balanceUnitQty}})</span>
                                        </div>
                                    </div>

                                </ng-template>
                            </kendo-treeview>
                            <div (click)="loadMorePO()" class="load-more-text" *ngIf="treeViewPagination.loadedRecordCount < treeViewPagination.maximumRecordCount">
                                <span>{{ 'msg.loadMoreItem_s' | translate }}</span>
                            </div>
                        </div>

                    </div>
                    <div class="col">
                        <div class="hidden-in-view-maximum">
                            <label class="group-col-header " >{{'label.inputRequiredInformation' | translate}}</label>

                            <div class="drop-container" (dragover)="allowDrop($event)" (drop)="onDrop($event)" *ngIf="!isSelectedDrag">
                                <img src="/assets/images/po-fulfillment/drag-empty.png" class="drop-image" />
                                <span class="drop-text"><i>{{'label.dragAndDrop' | translate}}</i></span>
                            </div>
                        </div>

                        <div *ngIf="!isSelectedDrag" class="k-invalid-msg">
                            {{'validation.requiredThisField' | translate}}
                        </div>

                        <div *ngIf="isSelectedDrag" class="customer-po-container">
                            <div class="close-button-container hidden-in-view-maximum" (click)="closeSelect()">
                                <span class="k-icon close-button"></span>
                                <img src="/assets/images/import-popup/icon-close-popup.png" class="close-image" />
                            </div>

                            <div class="form-group pb-0">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label">{{'label.customerPO' | translate}}</label>
                                            <input name="customerPO" type="text" class="form-control"
                                                [disabled]="true" [(ngModel)]="model.customerPONumber" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label required">{{'label.productCode' | translate}}</label>
                                            <input name="productCode" type="text" class="form-control" required
                                            [disabled]="productVerificationSetting.productCodeVerification === verificationSetting.AsPerPO" [(ngModel)]="model.productCode"/>
                                            <div *ngIf="formErrors['productCode']" class="k-invalid-msg">{{ formErrors['productCode'] }}</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <!-- Insert here -->
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label">{{'label.descriptionOfGoods' | translate}}</label>
                                            <input name="descriptionOfGoods" type="text" class="form-control"
                                                [disabled]="true" [(ngModel)]="model.descriptionOfGoods" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label">{{'label.chineseDescription' | translate}}</label>
                                            <input name="chineseDescription" type="text" class="form-control"
                                                [(ngModel)]="model.chineseDescription"/>
                                            <div *ngIf="formErrors['productCode']" class="k-invalid-msg">{{ formErrors["chineseDescription"] }}</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label">{{'label.orderedQty' | translate}}</label>
                                                <kendo-numerictextbox
                                                    [spinners]="false"
                                                    [format]="'n0'"
                                                    [decimals]="0"
                                                    name="orderedUnitQty" type="text" class="form-control"
                                                    [disabled]="true" [(ngModel)]="model.orderedUnitQty" >
                                                </kendo-numerictextbox>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label">{{'label.balanceQty' | translate}}</label>
                                            <input name="balanceUnitQty" type="text" class="form-control"
                                            [disabled]="true" [(ngModel)]="model.balanceUnitQty" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label required">{{'label.bookedQty' | translate}}</label>
                                            <span kendoTooltip [tooltipTemplate]="warningTooltipTemplate" filter="label" position="top">
                                                <input type="checkbox" class="k-checkbox"
                                                    [(ngModel)]="isAutoCalculationMode" [ngModelOptions]="{standalone: true}">
                                                <label attr.data-tooltip="{{'label.hoverBookedPackageCheckboxHint' | translate}}" class="k-checkbox-label"
                                                    (click)="onCalculationModeChanged($event)">
                                                </label>
                                            </span>
                                            <kendo-numerictextbox
                                                #fulfillmentUnitQtyElement
                                                name="fulfillmentUnitQty"
                                                class="form-control"
                                                [(ngModel)]="model.fulfillmentUnitQty"
                                                [format]="'n0'"
                                                [decimals]="0"
                                                [min]='0'
                                                [autoCorrect]='true'
                                                (ngModelChange)="onFulfillmentUnitQtyChanged()"
                                                required
                                                appGreaterThan='0'>
                                            </kendo-numerictextbox>
                                            <div *ngIf="formErrors['fulfillmentUnitQty']" class="k-invalid-msg">{{ formErrors['fulfillmentUnitQty'] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" [class.required]="isRequireBookedPackage">{{'label.bookedPackage' | translate}}</label>
                                            <span class="float-right" kendoTooltip [tooltipTemplate]="warningTooltipTemplate" filter="fa-icon" position="top" *ngIf="isAutoCalculationMode">
                                                &nbsp;<fa-icon class="color-warning" attr.data-tooltip="{{'label.hoverBookedPackageIconHint' | translate}}" [icon]="faInfoCircle"></fa-icon>
                                            </span>
                                            <kendo-numerictextbox
                                                #bookedPackageElement
                                                name="bookedPackage"
                                                class="form-control"
                                                [(ngModel)]="model.bookedPackage"
                                                [autoCorrect]="true"
                                                [format]="'n0'"
                                                [decimals]="0"
                                                (ngModelChange)="onBookedPackageChanged()"
                                                [required]="isRequireBookedPackage"
                                                [min]="0"
                                                [appGreaterThan]="isRequireBookedPackage ? 0 : ''"
                                                >
                                            </kendo-numerictextbox>
                                            <div *ngIf="formErrors['bookedPackage']" class="k-invalid-msg">{{ formErrors['bookedPackage'] }}</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label">{{'label.innerQuantity' | translate}}</label>
                                                <kendo-numerictextbox
                                                    [spinners]="false"
                                                    [format]="'n0'"
                                                    [decimals]="0"
                                                    name="innerQuantity" type="text" class="form-control"
                                                    [disabled]="true" [(ngModel)]="model.innerQuantity">
                                                </kendo-numerictextbox>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label">{{'label.outerQuantity' | translate}}</label>
                                            <kendo-numerictextbox
                                                [spinners]="false"
                                                [format]="'n0'"
                                                [decimals]="0"
                                                name="outerQuantity" type="text" class="form-control"
                                                [disabled]="true" [(ngModel)]="model.outerQuantity" >
                                            </kendo-numerictextbox>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label">{{'label.unitUOM' | translate}}</label>
                                            <kendo-dropdownlist name="unitUOM"
                                                            [disabled]="true"
                                                            [valuePrimitive]="true"
                                                            [textField]="'label'"
                                                            [valueField]="'value'"
                                                            [(ngModel)]="model.unitUOM"
                                                            [data]="unitUOMTypeOptions"
                                                            class="form-control">
                                                <ng-template kendoDropDownListValueTemplate let-dataItem>
                                                    {{ dataItem?.label | translate }}
                                                </ng-template>
                                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                                    {{ dataItem?.label | translate }}
                                                </ng-template>
                                            </kendo-dropdownlist>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" [class.required]="isRequirePackageUOM">{{'label.packageUOM' | translate}}</label>
                                            <kendo-dropdownlist name="packageUOM"
                                                            [required]="isRequirePackageUOM"
                                                            [valuePrimitive]="true"
                                                            [textField]="'label'"
                                                            [valueField]="'value'"
                                                            [(ngModel)]="model.packageUOM"
                                                            [data]="packageUOMTypeOptions"
                                                            class="form-control"
                                                            (ngModelChange)="onPackageUOMValueChanged()">
                                                <ng-template kendoDropDownListValueTemplate let-dataItem>
                                                    {{ dataItem?.label | translate }}
                                                </ng-template>
                                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                                    {{ dataItem?.label | translate }}
                                                </ng-template>
                                            </kendo-dropdownlist>
                                            <div *ngIf="formErrors['packageUOM'] && isRequirePackageUOM" class="k-invalid-msg">{{ formErrors['packageUOM'] }}</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" [class.required]="this.productVerificationSetting.isRequireGrossWeight">{{'label.grossWeightKGS' | translate}}</label>
                                            <span class="float-right" kendoTooltip [tooltipTemplate]="warningTooltipTemplate" filter="fa-icon" position="top" *ngIf="isAutoCalculationMode">
                                                &nbsp;<fa-icon class="color-warning" attr.data-tooltip="{{'label.hoverGrossWeightIconHint' | translate}}" [icon]="faInfoCircle"></fa-icon>
                                            </span>
                                            <kendo-numerictextbox
                                                #grossWeightElement
                                                name="grossWeight"
                                                class="form-control"
                                                [(ngModel)]="model.grossWeight"
                                                (ngModelChange)="onValidateNetWeightKGS()"
                                                [autoCorrect]="true"
                                                [decimals]="2"
                                                [min]="0"
                                                [required]="this.productVerificationSetting.isRequireGrossWeight"
                                                appGreaterThan='0'>
                                            </kendo-numerictextbox>
                                            <div *ngIf="formErrors['grossWeight']" class="k-invalid-msg">{{ formErrors['grossWeight'] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label">{{'label.netWeightKGS' | translate}}</label>
                                            <kendo-numerictextbox
                                                #netWeightElement
                                                name="netWeight"
                                                class="form-control"
                                                [(ngModel)]="model.netWeight"
                                                (ngModelChange)="onValidateNetWeightKGS()"
                                                [autoCorrect]="true"
                                                [decimals]="2"
                                                [min]="0"
                                                >
                                            </kendo-numerictextbox>
                                            <div *ngIf="formErrors['netWeight']" class="k-invalid-msg">{{ formErrors['netWeight'] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" [class.required]="this.productVerificationSetting.isRequireVolume">{{'label.volumeCBM' | translate}}</label>
                                            <span class="float-right" kendoTooltip [tooltipTemplate]="warningTooltipTemplate" filter="fa-icon" position="top" *ngIf="isAutoCalculationMode">
                                                &nbsp;<fa-icon class="color-warning" attr.data-tooltip="{{'label.hoverVolumeIconHint' | translate}}" [icon]="faInfoCircle"></fa-icon>
                                            </span>
                                            <kendo-numerictextbox
                                                #volumeCBMElement
                                                name="volumeCBM"
                                                class="form-control"
                                                [(ngModel)]="model.volume"
                                                [autoCorrect]="true"
                                                [decimals]="3"
                                                [format]="'n3'"
                                                [min]="0"
                                                [required]="this.productVerificationSetting.isRequireVolume"
                                                appGreaterThan='0'
                                                >
                                            </kendo-numerictextbox>
                                            <div *ngIf="formErrors['volumeCBM']" class="k-invalid-msg">{{ formErrors['volumeCBM'] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label">{{'label.countryOfOrigin' | translate}}</label>
                                            <input name="countryOfOrigin" type="text" class="form-control"
                                            [(ngModel)]="model.countryCodeOfOrigin" [disabled]="true" *ngIf="productVerificationSetting.countryOfOriginVerification === verificationSetting.AsPerPO" />

                                            <kendo-dropdownlist
                                                *ngIf="(productVerificationSetting.countryOfOriginVerification === verificationSetting.ManualInput ||
                                                productVerificationSetting.countryOfOriginVerification === verificationSetting.AsPerPOAllowOverride)"
                                                            name="countryOfOriginVerification"
                                                            [valuePrimitive]="true"
                                                            [textField]="'label'"
                                                            [valueField]="'description'"
                                                            [(ngModel)]="model.countryCodeOfOrigin"
                                                            [data]="countryOptions"
                                                            class="form-control">
                                                <ng-template kendoDropDownListValueTemplate let-dataItem>
                                                    {{ dataItem?.label | translate }}
                                                </ng-template>
                                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                                    {{ dataItem?.label | translate }}
                                                </ng-template>
                                            </kendo-dropdownlist>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" [class.required]="isRequireHsCode">{{'label.hsCode' | translate}}</label>
                                            <div [class.force-invalid]="formErrors['hsCode']">
                                                <input name="hsCode"
                                                    type="text"
                                                    [required]="isRequireHsCode"
                                                    class="form-control"
                                                    [(ngModel)]="model.hsCode"
                                                    [disabled]="productVerificationSetting.hsCodeVerification === verificationSetting.AsPerPO"
                                                    (ngModelChange)="onHsCodeValueChanged()"/>
                                            </div>
                                            <div *ngIf="formErrors['hsCode']" class="k-invalid-msg">{{ formErrors['hsCode'] | translate }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label">{{'label.commodity' | translate}}</label>
                                            <input name="commodity" type="text" class="form-control"
                                                [(ngModel)]="model.commodity" [disabled]="true" *ngIf="productVerificationSetting.commodityVerification === verificationSetting.AsPerPO" />

                                            <kendo-dropdownlist
                                                *ngIf="(productVerificationSetting.commodityVerification === verificationSetting.ManualInput ||
                                                productVerificationSetting.commodityVerification === verificationSetting.AsPerPOAllowOverride)"
                                                            name="commodityVerification"
                                                            [valuePrimitive]="true"
                                                            [textField]="'label'"
                                                            [valueField]="'value'"
                                                            [(ngModel)]="model.commodity"
                                                            [data]="commodityOptions"
                                                            class="form-control">
                                                <ng-template kendoDropDownListValueTemplate let-dataItem>
                                                    {{ dataItem?.label | translate }}
                                                </ng-template>
                                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                                    {{ dataItem?.label | translate }}
                                                </ng-template>
                                            </kendo-dropdownlist>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group mb-0 pb-0">
                                            <label class="form-label">{{'label.shippingMarks' | translate}}</label>
                                            <textarea
                                            kendoTextArea
                                            name="shippingMarks"
                                            [(ngModel)]="model.shippingMarks"
                                            class="form-control note-textarea"
                                            [disabled]="isViewMode"
                                            [rows] = "2">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <kendo-dialog-actions>
        <button type="button" class="btn second-button dialog-button" (click)="onFormClosed()" #Cancel>{{'label.cancel' | translate}}</button>
        <button type="button" class="btn prim-button dialog-button" (click)="onSave()">{{(ifEditMode ? 'label.save' : 'label.add') | translate}}</button>
    </kendo-dialog-actions>
</kendo-dialog>
