<div class="text-right top-bar-container float-right" *ngIf="isEditable">
    <!-- bulk edit buttons start 14/9/23 /CR/ -->
    <button type="button" class="btn header-button small-button" (click)="clickBulkEdit(model.orders)"
        *ngIf="!bulkEditPO">
        <span class="icon-circle-label">Bulk Edit</span>
    </button>
    <button type="button" class="btn header-button small-button" (click)="cancelBulkEdit(model.orders)"
        *ngIf="bulkEditPO">
        <span class="icon-circle-label">Cancel Bulk Edit</span>
    </button>
    <button type="button" class="btn header-button small-button" (click)="bulkEditDataStore(model.orders)"
        *ngIf="bulkEditPO">
        <span class="icon-circle-label">Save Bulk Edit</span>
    </button>
    <!-- bulk edit buttons end 14/9/23 -->
    <button type="button" class="btn header-button small-button" (click)="addCustomerPO()"
        [disabled]="isDisableAddCustomerPO || editMode">
        <div class="icon-circle">
            <fa-icon [icon]="faPlus"></fa-icon>
        </div>
        <span class="icon-circle-label">{{'label.addCustomerPO' | translate}}</span>
    </button>
</div>
<div class="clearfix"></div>
<kendo-grid [data]="model.orders | poFulfillmentCustomerOrder" [rowClass]="rowCallback" [scrollable]="'vertical'">

    <kendo-grid-column field="customerPONumber" title="{{'label.customerPO' | translate}}" class="organization-email"
    [headerClass]="'multiline-header'"
    [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_CUSTOMER_POS, 'customerPONumber')">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <span *ngIf="dataItem.purchaseOrderId === 0; else customerPOLink">{{dataItem.customerPONumber}}</span>
        <ng-template #customerPOLink><a class="k-link" routerLinkActive="active" target="_blank"
                routerLink="/purchase-orders/{{dataItem.purchaseOrderId}}">{{dataItem.customerPONumber}}</a></ng-template>
    </ng-template>
</kendo-grid-column>
<!-- <kendo-grid-column field="productCode"
                    title="{{'label.productCode' | translate}}"
                    class="organization-email"
                    [headerClass]="'multiline-header'"
                    [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_CUSTOMER_POS, 'productCode')">
    <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
        <a class="k-link" routerLinkActive="active" (click)="openCustomerDetailPopup(dataItem)">{{dataItem.productCode}}</a>
    </ng-template>
</kendo-grid-column> -->

<kendo-grid-column field="productCode" class="organization-email"
    [headerClass]="'multiline-header'"
    [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_CUSTOMER_POS, 'productCode')">
    <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
        <label class="required" style="margin-bottom: unset;">{{'label.productCode' | translate}}</label>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
        <a *ngIf="!editMode" class="k-link" routerLinkActive="active"
            (click)="openCustomerDetailPopup(dataItem)">{{dataItem.productCode}}</a>
        <!-- input type set so after clicking we can edit 12/9/23 -->
        <p *ngIf="editMode; else cancelEdit">
            <input name="productCode" type="text" [(ngModel)]="dataItem.productCode"
                [ngModelOptions]="{standalone: true}" class="form-control"
                [disabled]="productVerificationSetting.productCodeVerification === verificationSetting.AsPerPO"
                required />
        </p>
        <div *ngIf="productCodeErrors[rowIndex]" class="k-invalid-msg" style="font-size: 13px;">
            {{productCodeErrors[rowIndex]}}
        </div>
    </ng-template>
</kendo-grid-column>
<kendo-grid-column field="orderedUnitQty" title="{{'label.orderedQty' | translate}}"
    [headerClass]="'multiline-header'"
    [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_CUSTOMER_POS, 'orderedUnitQty')">
    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        {{dataItem.orderedUnitQty | number:0}}
    </ng-template>
</kendo-grid-column>
<!-- <kendo-grid-column field="fulfillmentUnitQty"
                    title="{{'label.bookedQty' | translate}}"
                    [headerClass]="'multiline-header'"
                    [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_CUSTOMER_POS, 'fulfillmentUnitQty')">
    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        {{dataItem.fulfillmentUnitQty | number:0}}
    </ng-template>
</kendo-grid-column> -->

<kendo-grid-column field="fulfillmentUnitQty"
    [headerClass]="'multiline-header'"
    [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_CUSTOMER_POS, 'fulfillmentUnitQty')">
    <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
        <label class="required" style="margin-bottom: unset;">{{'label.bookedQty' | translate}}</label>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
        <p *ngIf="!editMode">{{dataItem.fulfillmentUnitQty | number:0}}</p>
        <!-- input type set so after clicking we can edit 12/9/23 -->
        <p *ngIf="editMode; else cancelEdit">
            <kendo-numerictextbox #fulfillmentUnitQtyElement name="fulfillmentUnitQty" class="form-control"
                [(ngModel)]="dataItem.fulfillmentUnitQty" [format]="'n0'" [decimals]="0" [min]='0'
                [autoCorrect]='true' required appGreaterThan='0' [ngModelOptions]="{standalone: true}">
            </kendo-numerictextbox>
        </p>
        <div *ngIf="fulfillmentUnitQtyErrors[rowIndex]" class="k-invalid-msg" style="font-size: 13px;">
            {{fulfillmentUnitQtyErrors[rowIndex]}}
        </div>
    </ng-template>
</kendo-grid-column>
<kendo-grid-column field="balanceUnitQty" title="{{'label.balanceQty' | translate}}"
    [headerClass]="'multiline-header'"
    [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_CUSTOMER_POS, 'balanceUnitQty')">
    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        {{dataItem.balanceUnitQty | number:0}}
    </ng-template>
</kendo-grid-column>
<!-- <kendo-grid-column field="bookedPackage"
                    title="{{'label.bookedPackage' | translate}}"
                    [headerClass]="'multiline-header'"
                    [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_CUSTOMER_POS, 'bookedPackage')">
    <ng-template #infoTooltipTemplate let-anchor>
        <span class="tooltip-warning">{{ anchor.nativeElement.getAttribute('data-tooltip') }}</span>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        <span class="icon-top" [class.text-danger]="dataItem.isShowBookedPackageWarning">
            {{dataItem.bookedPackage | number:0}}
            <span *ngIf="dataItem.isShowBookedPackageWarning"
            kendoTooltip [tooltipTemplate]="infoTooltipTemplate" filter="fa-icon" position="top"
                class="icon-info">
                <fa-icon attr.data-tooltip="{{'label.hoverBookedPackageIconWarning' | translate}}"
                [icon]="faInfoCircle" [styles]="{'color': '#FF8A00'}"></fa-icon>
            </span>
        </span>
    </ng-template>
</kendo-grid-column> -->

<kendo-grid-column field="bookedPackage"
    [headerClass]="'multiline-header'"
    [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_CUSTOMER_POS, 'bookedPackage')">
    <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
        <label [ngClass]="!allowMixedCarton ? 'required' : ''" style="margin-bottom: unset;">{{'label.bookedPackage' | translate}}</label>
    </ng-template>
    <ng-template #infoTooltipTemplate let-anchor>
        <span class="tooltip-warning">{{ anchor.nativeElement.getAttribute('data-tooltip') }}</span>

    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
        <span class="icon-top" [class.text-danger]="dataItem.isShowBookedPackageWarning">
            <!-- input type set so after clicking we can edit 12/9/23 -->
            <p *ngIf="!editMode">{{dataItem.bookedPackage | number:0}}</p>
            <p *ngIf="editMode; else cancelEdit">
                <kendo-numerictextbox #bookedPackageElement name="bookedPackage" class="form-control"
                    [(ngModel)]="dataItem.bookedPackage" [autoCorrect]="true" [format]="'n0'" [decimals]="0"
                    [required]="!allowMixedCarton" [min]="0" [appGreaterThan]="!allowMixedCarton ? 0 : ''"
                    [ngModelOptions]="{standalone: true}">
                </kendo-numerictextbox>
            </p>
            <div *ngIf="bookedPackageErrors[rowIndex]" class="k-invalid-msg" style="font-size: 13px;">
                {{bookedPackageErrors[rowIndex]}}
            </div>
        </span>
    </ng-template>
</kendo-grid-column>
<!-- 12/9/23 adding column for UOM -->
<kendo-grid-column field="UOM" [headerClass]="'multiline-header'"
    [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_CUSTOMER_POS, 'packageUOM')">
    <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
        <label [ngClass]="isRequirePackageUOM ? 'required' : ''" style="margin-bottom: unset;">{{'label.packageUOM' | translate}}</label>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
        <!-- input type set so after clicking we can edit 12/9/23 -->
        <p *ngIf="!editMode"> {{dataItem.packageUOM}}</p>
        <p *ngIf="editMode; else cancelEdit">
            <kendo-dropdownlist name="packageUOM" [required]="isRequirePackageUOM" [valuePrimitive]="true"
                [textField]="'label'" [valueField]="'value'" [(ngModel)]="dataItem.packageUOM"
                [data]="packageUOMTypeOptions" class="form-control" [ngModelOptions]="{standalone: true}">
                <ng-template kendoDropDownListValueTemplate let-dataItem>
                    {{ dataItem?.label | translate }}
                </ng-template>
                <ng-template kendoDropDownListItemTemplate let-dataItem>
                    {{ dataItem?.label | translate }}
                </ng-template>
            </kendo-dropdownlist>
        </p>
        <div *ngIf="packageUOMErrors[rowIndex]" class="k-invalid-msg" style="font-size: 13px;">
            {{packageUOMErrors[rowIndex]}}
        </div>
    </ng-template>
</kendo-grid-column>
<!-- 12/9/23 adding column for UOM -->

<kendo-grid-column field="volume" [headerClass]="'multiline-header'"
    [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_CUSTOMER_POS, 'volume')">
    <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
        <label [ngClass]="this.productVerificationSetting.isRequireVolume ? 'required' : ''" style="margin-bottom: unset;">{{'label.volumeCBM' | translate}}</label>
    </ng-template>
    <!-- no tooltip for volume 15/9/2023 -->
    <!-- <ng-template #infoTooltipTemplate let-anchor>
        <span class="tooltip-warning">{{ anchor.nativeElement.getAttribute('data-tooltip') }}</span>
         </ng-template> -->
    <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
        <!-- <span class="icon-top" [class.text-danger]="dataItem.volume"> -->
        <!-- input type set so after clicking we can edit 15/9/23 -->
        <p *ngIf="!editMode">{{dataItem.volume | number:'0.3-3'}}</p>
        <p *ngIf="editMode; else cancelEdit">
            <kendo-numerictextbox #volume name="volume" class="form-control" [(ngModel)]="dataItem.volume"
                [autoCorrect]="true" [ngModelOptions]="{standalone: true}"[decimals]="3" [format]="'n3'" [min]="0"
                [required]="this.productVerificationSetting.isRequireVolume">
            </kendo-numerictextbox>
        </p>
        <div *ngIf="volumeErrors[rowIndex]" class="k-invalid-msg" style="font-size: 13px;">
            {{volumeErrors[rowIndex]}}
        </div>
        <!-- </span> -->
    </ng-template>
</kendo-grid-column>
<kendo-grid-column field="grossWeight"
    [headerClass]="'multiline-header'"
    [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_CUSTOMER_POS, 'grossWeight')">
    <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
        <label [ngClass]="this.productVerificationSetting.isRequireGrossWeight ? 'required' : ''" style="margin-bottom: unset;">{{'label.grossWeightKGS' | translate}}</label>
    </ng-template>
    <!-- no tooltip for volume 15/9/2023 -->
    <!-- <ng-template #infoTooltipTemplate let-anchor>
        <span class="tooltip-warning">{{ anchor.nativeElement.getAttribute('data-tooltip') }}</span>
         </ng-template> -->
    <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
        <!-- <span class="icon-top" [class.text-danger]="dataItem.volume"> -->
        <!-- input type set so after clicking we can edit 15/9/23 -->
        <p *ngIf="!editMode">{{dataItem.grossWeight | number:'0.2-2'}}</p>
        <p *ngIf="editMode; else cancelEdit">
            <kendo-numerictextbox #grossWeight name="grossWeight" class="form-control"
                [(ngModel)]="dataItem.grossWeight" [autoCorrect]="true"
                [decimals]="2" [min]="0" [ngModelOptions]="{standalone: true}"
                [required]="this.productVerificationSetting.isRequireGrossWeight">
            </kendo-numerictextbox>
        </p>
        <div *ngIf="grossWeightErrors[rowIndex]" class="k-invalid-msg" style="font-size: 13px;">
            {{grossWeightErrors[rowIndex]}}
        </div>
        <!-- </span> -->
    </ng-template>
</kendo-grid-column>
<kendo-grid-column field="hsCode" [headerClass]="'multiline-header'"
    [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_CUSTOMER_POS, 'hsCode')">
    <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
        <label [ngClass]="isRequireHsCode ? 'required' : ''" style="margin-bottom: unset;">{{'label.hsCode' | translate}}</label>
    </ng-template>
    <!-- no tooltip for volume 15/9/2023 -->
    <!-- <ng-template #infoTooltipTemplate let-anchor>
        <span class="tooltip-warning">{{ anchor.nativeElement.getAttribute('data-tooltip') }}</span>
         </ng-template> -->
    <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
        <!-- <span class="icon-top" [class.text-danger]="dataItem.volume"> -->
        <!-- input type set so after clicking we can edit 15/9/23 -->
        <p *ngIf="!editMode">{{dataItem.hsCode}}</p>
        <p *ngIf="editMode; else cancelEdit">
            <input name="hsCode" type="text" [required]="isRequireHsCode" class="form-control"
            [(ngModel)]="dataItem.hsCode" [ngModelOptions]="{standalone: true}"
            [disabled]="productVerificationSetting.hsCodeVerification === verificationSetting.AsPerPO"
            (ngModelChange)="validateInputForHsCode($event, rowIndex);"/>
            </p>
        <div *ngIf="errors[rowIndex]" class="k-invalid-msg">
            {{errors[rowIndex]}}
        </div>
        <div *ngIf="hsCodeErrors[rowIndex]" class="k-invalid-msg" style="font-size: 13px;">
            {{hsCodeErrors[rowIndex]}}
        </div>
        <!-- </span> -->
    </ng-template>
</kendo-grid-column>
<kendo-grid-column field="status" title="{{'label.status' | translate}}" width="109px"
    [headerClass]="'multiline-header'"
    [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_CUSTOMER_POS, 'status')">
    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        <span
            [className]="dataItem.status == POFulfillmentOrderStatus.Active ? 'active-status' : 'inactive-status'">
            {{labelFromEnum(POFulfillmentOrderStatusOptions, dataItem.status) | translate}}
        </span>
    </ng-template>
    <ng-template kendoGridFilterCellTemplate let-filter="filter">
        <app-drop-down-list-filter [filter]="filter" fieldName="status" [data]="POFulfillmentOrderStatusOptions"
            textField="label" valueField="value">
        </app-drop-down-list-filter>
    </ng-template>
</kendo-grid-column>

<kendo-grid-column *ngIf="isEditable" title="{{'label.action' | translate}}" width="100px"
    headerClass="action-header" class="action-column-grid col-action" [headerClass]="'multiline-header'">
    <ng-template kendoGridCellTemplate let-dataItem>
        <!-- 13/9/23 action button disabled on  bulk edit click -->
        <button [disabled]="editMode" attr.data-balloon="{{'tooltip.edit' | translate}}"
            *ngIf="dataItem.purchaseOrderId !== 0" data-balloon-pos="left" type="button"
            class="ml-0 btn grid-edit-icon-button tooltip-action"
            (click)="editCustomerPO(dataItem.purchaseOrderId, dataItem.poLineItemId)">
            <fa-icon [icon]="faPencilAlt"></fa-icon>
        </button>
        <button [disabled]="editMode" attr.data-balloon="{{'tooltip.delete' | translate}}" data-balloon-pos="left"
            type="button" class="btn grid-remove-icon-button tooltip-action"
            (click)="onDeleteCustomerPO(dataItem.purchaseOrderId, dataItem.poLineItemId)">
            <i class="ei ei-icon_minus-06"></i>
        </button>
    </ng-template>
</kendo-grid-column>
</kendo-grid>
<app-po-customer-form [poType]="poType" [formMode]="customerFormMode" [model]="customerPOModel" [parentModel]="model"
    [customerFormOpened]="customerFormOpened" [currentSelectedIndex]="currentSelectedIndex"
    [(isSelectedDrag)]="isSelectedDrag" [isRequireHsCode]="isRequireHsCode" [isRequirePackageUOM]="isRequirePackageUOM"
    [isRequireBookedPackage]="!allowMixedCarton" [currentUser]="currentUser" (close)="customerFormClosedHandler()"
    (add)="customerAddHandler($event)" (edit)="customerEditHandler($event)">
</app-po-customer-form>
<app-po-fulfillment-customer-detail-popup [model]="customerDetailModel" [viewSettings]="model.viewSettings"
    [customerDetailPopupOpened]="customerDetailPopupOpened" (close)="customerDetailPopupClosedHandler()">
</app-po-fulfillment-customer-detail-popup>