<fieldset class="border fieldset-container">
    <legend class="w-auto custom-legend">{{'label.shipment' | translate}}</legend>
    <div class="container-fluid mb-2">
        <kendo-grid #grid="kendoGrid" [data]="shipmentList" [scrollable]="'vertical'" [selectable]="false"
            class="custom-edit-grid">

            <kendo-grid-column field="shipmentNo"
                                title="{{'label.shipmentNo' | translate}}"
                                [headerClass]="'multiline-header'"
                                [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_SHIPMENT, 'shipmentNo')">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <a *ngIf="isCanClickShipmentNo;else shipmentNoText" class="k-link" [title]="dataItem.shipmentNo" routerLinkActive="active"
                        routerLink="/shipments/{{dataItem.id}}" target="_blank">{{dataItem.shipmentNo}}</a>
                    <ng-template #shipmentNoText>{{dataItem.shipmentNo}}</ng-template>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="shipFrom"
                                title="{{'label.portOfLoading' | translate}}"
                                [headerClass]="'multiline-header'"
                                [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_SHIPMENT, 'shipFrom')">
            </kendo-grid-column>

            <kendo-grid-column field="shipFromETDDate"
                                title="{{'label.expectedShipDates' | translate}}"
                                filter="date"
                                format="{0:{{DATE_FORMAT}}}"
                                [filterable]="true"
                                [sortable]="true"
                                [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_SHIPMENT, 'shipFromETDDate')">
            </kendo-grid-column>

            <kendo-grid-column field="shipTo"
                                title="{{'label.portOfDischarge' | translate}}"
                                [headerClass]="'multiline-header'"
                                [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_SHIPMENT, 'shipTo')">
            </kendo-grid-column>

            <kendo-grid-column field="shipToETADate"
                                title="{{'label.expectedDeliveryDates' | translate}}"
                                filter="date"
                                format="{0:{{DATE_FORMAT}}}"
                                [filterable]="true"
                                [sortable]="true"
                                [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL_SHIPMENT, 'shipToETADate')">
            </kendo-grid-column>
        </kendo-grid>
    </div>
</fieldset>