
<kendo-dialog [title]="formTitle" *ngIf="isOpenDialog" (close)="onFormClosed()" [width]="824" class="custom-header-dialog">
    <form #mainForm="ngForm">
        <div class="row form-group">
            <div class="col">
                <label for="activityCode" class="required">{{'label.eventCode' | translate}}</label>
                <input type="text" class="form-control" required name="activityCode" maxlength="10"
                (input)="eventCodeTypingEvent$.next($event.target.value)"
                 [(ngModel)]="model.activityCode" required [disabled]="formMode === FormMode.Edit">

                <div *ngIf="getFormControl('activityCode')?.errors?.required && getFormControl('activityCode')?.touched" class="k-invalid-msg">
                 {{ 'validation.requiredField' | translate: {'fieldName': 'label.eventCode' | translate} }}
                </div>

                <div *ngIf="getFormControl('activityCode')?.errors?.isAlreadyExists && getFormControl('activityCode')?.touched" class="k-invalid-msg">
                    {{ 'validation.alreadyExists' | translate: {'fieldName': 'label.eventCode' | translate} }}
                   </div>
            </div>

            <div class="col">
                    <label for="activityType" class="required">{{'label.eventType' | translate}}</label>
                    <kendo-dropdownlist
                        name="activityType"
                        required
                        class="form-control"
                        [data]="eventTypeDataSource"
                        [disabled]="formMode === FormMode.Edit"
                        [valuePrimitive]="true"
                        [textField]="'text'"
                        [valueField]="'value'"
                        [defaultItem]="defaultEventTypeDropDownItem"
                        [(ngModel)]="model.activityTypeCode">

                        <ng-template kendoDropDownListValueTemplate let-dataItem>
                            {{ dataItem?.text | translate }}
                        </ng-template>

                        <ng-template kendoDropDownListItemTemplate let-dataItem>
                            {{ dataItem?.text | translate }}
                        </ng-template>
                    </kendo-dropdownlist>

                    <div *ngIf="getFormControl('activityType')?.errors?.required && getFormControl('activityType')?.touched" class="k-invalid-msg">
                        {{ 'validation.requiredField' | translate: {'fieldName': 'label.eventType' | translate} }}
                    </div>
            </div>
        </div>

        
        <div class="row form-group">
            <div class="col">
                <label for="activityDescription" class="required">{{'label.eventDescription' | translate}}</label>
                <input type="text" class="form-control" name="activityDescription" maxlength="512"
                    required [(ngModel)]="model.activityDescription" >

                <div *ngIf="getFormControl('activityDescription')?.errors?.required && getFormControl('activityDescription')?.touched" class="k-invalid-msg">
                    {{ 'validation.requiredField' | translate: {'fieldName': 'label.eventDescription' | translate} }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label class="required">{{'label.eventOrder' | translate}}</label>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-6">
                <div class="form-check form-group">
                    <input 
                        type="radio" class="form-check-input custom-radio-input" name="selectedEventCode" 
                        id="eventCodeBefore" [value]="eventOrderType.Before" [(ngModel)]="model.eventOrderType">
                    <label for="eventCodeBefore" class="form-check-label custom-radio-label">{{'label.before' | translate}}</label>
                </div>

                <div >
                    <kendo-dropdownlist
                        name="beforeEvent"
                        required
                        class="form-control"
                        [data]="eventCodeDataSource"
                        [valuePrimitive]="true"
                        [textField]="'text'"
                        [valueField]="'value'"
                        [disabled]="model.eventOrderType === eventOrderType.After"
                        [defaultItem]="defaultEventTypeDropDownItem"
                        (valueChange)="onEventOrderChange($event)"
                        [(ngModel)]="model.beforeEvent">

                        <ng-template kendoDropDownListValueTemplate let-dataItem>
                            {{ dataItem?.text | translate }}
                        </ng-template>
                        <ng-template kendoDropDownListItemTemplate let-dataItem>
                            {{ dataItem?.text | translate }}
                        </ng-template>
                    </kendo-dropdownlist>

                    <div *ngIf="getFormControl('beforeEvent')?.errors?.required && getFormControl('beforeEvent')?.touched" class="k-invalid-msg">
                        {{ 'validation.requiredField' | translate: {'fieldName': 'label.eventOrder' | translate} }}
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="form-check form-group">
                    <input 
                        type="radio" class="form-check-input custom-radio-input" name="selectedEventCode" 
                        id="eventCodeAfter" [value]="eventOrderType.After" [(ngModel)]="model.eventOrderType">
                    <label for="eventCodeAfter" class="form-check-label custom-radio-label">{{'label.after' | translate}}</label>
                </div>

                <div>
                    <kendo-dropdownlist
                        name="afterEvent"
                        required
                        class="form-control"
                        [data]="eventCodeDataSource"
                        [valuePrimitive]="true"
                        [textField]="'text'"
                        [valueField]="'value'"
                        [disabled]="model.eventOrderType === eventOrderType.Before"
                        [defaultItem]="defaultEventTypeDropDownItem"
                        [(ngModel)]="model.afterEvent"
                        (valueChange)="onEventOrderChange($event)">

                        <ng-template kendoDropDownListValueTemplate let-dataItem>
                            {{ dataItem?.text | translate }}
                        </ng-template>
                        <ng-template kendoDropDownListItemTemplate let-dataItem>
                            {{ dataItem?.text | translate }}
                        </ng-template>
                    </kendo-dropdownlist>

                    <div *ngIf="getFormControl('afterEvent')?.errors?.required && getFormControl('afterEvent')?.touched" class="k-invalid-msg">
                        {{ 'validation.requiredField' | translate: {'fieldName': 'label.eventOrder' | translate} }}
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input custom-checkbox-input" name="locationRequired" id="locationRequired" [(ngModel)]="model.locationRequired">
                    <label for="locationRequired" class="form-check-label custom-checkbox-label" >{{'label.locationRequired' | translate}}?</label>
                </div>
            
            </div>
            
            <div class="col">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input custom-checkbox-input" name="remarkRequired" id="remarkRequired" [(ngModel)]="model.remarkRequired">
                    <label for="remarkRequired" class="form-check-label custom-checkbox-label">{{'label.remarkRequired' | translate}}?</label>
                </div>
            </div>
        </div>
    </form>

    <kendo-dialog-actions>
        <button type="button" class="btn second-button dialog-button" (click)="onFormClosed()">{{'label.cancel' | translate}}</button>
        <button type="button" class="btn prim-button dialog-button" (click)="onSave()">{{'label.save'  | translate}}</button>
    </kendo-dialog-actions>
</kendo-dialog>
