@import '../../../styles/variables';

$height-drap-drop-zones: 370px;

.button-bar {
    text-align: center;
    margin-top: 25px;
}

.panel-header {
    font-size: 24px;
}

.header-container {
    text-align: center;
    margin-top: 20px;
}

.group-col-header {
    font-weight: bold;
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.drop-column-container {
    height: $height-drap-drop-zones - 62;
    overflow-y: auto;
    padding-left: 3px;
}

.drag-result-container {
    height: $height-drap-drop-zones;
    border: 2px dotted #E1E1E1;
    overflow-y: auto;
}

.drag-result-content {
    height: $height-drap-drop-zones - 10;
    padding: 15px;
}

// treeview control
.drop-column-container ::ng-deep {
    padding-right: 10px;
    .k-treeview .k-i-collapse:before {
        content: "\e121";
        color: white;
        border: 1px solid #EBEBEB;
        height: 24px;
        width: 24px;
        padding: 4px;
        background-color: $theme-color;
    }

    .k-treeview .k-i-expand:before {
        content: "\e11e";
        color: #666666;
        border: 1px solid #EBEBEB;
        height: 24px;
        width: 24px;
        padding: 4px;
    }

    .k-treeview .k-in {
        padding: 10px;
    }

    .k-checkbox:indeterminate+.k-checkbox-label::after {
        background-color: $theme-color;
    }

    .k-checkbox-label::before, .k-checkbox-label::after, .k-radio-label::before, .k-radio-label::after {
        font-size: 11px;
    }

    .k-treeview .k-in:hover, .k-treeview .k-in.k-state-hover {
        background-color: white;
    }

    .k-treeview .k-in.k-state-focused {
        box-shadow: none;
    }

    .k-treeview .k-i-expand, .k-treeview .k-i-collapse {
        margin-top: -4px;
        font-weight: normal !important;
    }

    kendo-treeview ul li:last-child{
        border-bottom: 0px !important;
    }

    // align
    .k-item .k-treeview-item {
        left: -15px;
        padding-left: 46px;
        position: relative;
    }

    .k-treeview .k-in {
        top: -2px;
        left: 15px;
        padding: 0px;
    }

    // child item align
    kendo-treeview ul li span {
        left: -38px !important;
    }

    // upper case title
    kendo-treeview ul li span:not([data-treeindex*='_']) {
        text-transform: uppercase;
        color: black;
        left: 17px !important;

        .normal-text {
            text-transform: none;
        }

    }

    .k-treeview {
        overflow: hidden;
    }
}

.child-icon {
    font-size: 12px !important;
    color: #838393;
}

.parent-text {
    position: relative;
    top: 2px;
    text-transform: uppercase;
}

.child-text {
    position: relative;
    top: 2px;
    margin-left: 4px;
}

.normal-text {
    text-transform: none;
}

.parent-item-container {
    height: 20px;
    cursor: pointer;
    width: 285px;
    height: 40px;
    padding-top: 6px;
    margin-top: 2px;
    &:active {
        box-shadow: -4px 3px 10px NaNpx rgba(64,64,64,0.3);
        border: 1px solid $theme-color;
        background-color: $theme-color-blank;
    }
}

.drag-item-container {
    padding-left: 11px;
}

.filter-container {
    padding-bottom: 15px;
    padding-right: 10px;
}

.padding-left-3 {
    padding-left: 3px;
}

.drop-image {
    top: calc(50% - 23px);
    left: calc(50% - 53px);
    position: relative;
}

.drop-text {
    top: 54%;
    left: 10.5%;
    position: relative;
}

.po-remove {
    cursor: pointer;
    padding: 5px 8px;
    .child-icon {
        color: red;
        font-size: 15px !important;
    }
}

.loading {
   height: inherit;
}
