<div class="content__header">
    <div class="container-fluid">
        <div class="row header-group">
            <label class="list-header">{{'label.listOfSurvey' | translate}}</label>
            <span class="k-i-loading k-icon loading" *ngIf="service.gridLoading"></span>

            <div class="col-sm text-right" *ngIf="isAddNewSurvey">
                <button class="btn header-button add-new-button" type="button" (click)="onAddNewSurvey()">
                    <div class="icon-circle">
                        <fa-icon [icon]="faPlus"></fa-icon>
                    </div>
                    <span class="icon-circle-label">{{'label.addNew' | translate}}</span>
                </button>
            </div>
        </div>

        <div class="row">
            <kendo-grid #grid="kendoGrid" [data]="view | async" [filterable]="true" [filter]="service.state.filter"
                [pageable]="true" [pageSize]="service.state.take" [skip]="service.state.skip" [sortable]="true" [sort]="service.state.sort"
                (dataStateChange)="gridStateChange($event)" (pageChange)="service.pageChange($event)" (sortChange)="service.sortChange($event)"
                class="custom-border-grid" >

                <kendo-grid-column field="name" title="{{'label.survey' | translate}}">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <a *ngIf="isCanClickSurveyName; else surveyNameText" class="k-link" routerLink="view/{{dataItem.id}}" routerLinkActive="active">{{dataItem.name}}</a>

                        <ng-template #surveyNameText>{{dataItem.name}}</ng-template>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="participants" title="{{'label.participants' | translate}}">
                </kendo-grid-column>

                <kendo-grid-column field="createdDate" title="{{'label.createdDates' | translate}}"  filter="date" width="190px" format="{0:{{DATE_FORMAT}}}" >
                </kendo-grid-column>

                <kendo-grid-column field="createdBy" title="{{'label.createdBy' | translate}}" width="300px">
                </kendo-grid-column>

                <kendo-grid-column field="publishedDate" title="{{'label.publishedDate' | translate}}"  filter="date" width="190px" format="{0:{{DATE_FORMAT}}}" >
                </kendo-grid-column>

                <kendo-grid-column field="statusName" title="{{'label.status' | translate}}" [sortable]="true" width="125">
                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                        <span> {{dataItem.statusName | translate}}</span>
                    </ng-template>
                    <ng-template kendoGridFilterCellTemplate let-filter="filter">
                        <app-drop-down-list-filter [filter]="filter"
                                                    fieldName="status"
                                                    [data]="service.surveyStatus"
                                                    textField="text"
                                                    valueField="value">
                        </app-drop-down-list-filter>
                    </ng-template>
                </kendo-grid-column>

                <ng-template kendoPagerTemplate>
                    <app-custom-grid-pager [service]="service" (pageSizeChanged)="gridPageSizeChange($event)"></app-custom-grid-pager>
                </ng-template>
            </kendo-grid>
        </div>
    </div>
</div>
