<kendo-dialog [title]="title | translate" *ngIf="activityFormOpened" (close)="onFormClosed()" novalidate [width]="824" [height]="560" class="custom-header-dialog">
    <div class="container">
        <form #mainForm="ngForm">
            <div>
                <h5 class="title-grid mt-0">{{'label.activityDetail' | translate}}</h5>
                <hr class="colored"/>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="sequence" class="required">{{'label.eventCode' | translate}}</label>
                        <kendo-dropdownlist name="eventName"
                                            [data]="filteredEventOptions"
                                            [defaultItem]="defaultDropDownEvent"
                                            [disabled]="isViewModeLocal"
                                            [(ngModel)]="model.eventName"
                                            [valuePrimitive]="true"
                                            [valueField]="'eventName'"
                                            [textField]="'eventName'"
                                            (valueChange)="onEventChange($event)"
                                            (filterChange)="eventFilterChange($event)"
                                            [filterable]="true"
                                            class="form-control"
                                            required>
                            <ng-template kendoDropDownListValueTemplate let-dataItem>
                                {{ dataItem.eventName | translate }}
                            </ng-template>   
                            <ng-template kendoDropDownListItemTemplate let-dataItem>
                                {{ dataItem.eventName | translate }}
                            </ng-template>
                        </kendo-dropdownlist>
                        <div *ngIf="formErrors['eventName']" class="k-invalid-msg">
                            {{formErrors.eventName}}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="activityDate" class="required">{{'label.activityDates' | translate}}</label>
                        <kendo-datepicker name="activityDate" class="form-control" required [disabled]="isViewModeLocal"
                            [(ngModel)]="model.activityDate">
                        </kendo-datepicker>
                        <div *ngIf="formErrors['activityDate']" class="k-invalid-msg">
                            {{formErrors.activityDate}}
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="activityType">{{'label.activityType' | translate}}</label>
                        <input type="text" class="form-control" name="activityType" [disabled]="true"
                            [(ngModel)]="model.activityTypeDescription" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="shipFrom">{{'label.location' | translate}}</label>
                        <kendo-autocomplete name="location" (filterChange)="locationFilterChange($event)"
                            [valueField]="'locationDescription'" [(ngModel)]="model.location" [data]="filteredLocationOptions"
                            [filterable]="true" [placeholder]="'Location'" class="form-control" [disabled]="isViewModeLocal">
                        </kendo-autocomplete>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="activityDate">{{'label.remark' | translate}}</label>
                        <textarea
                            rows="4"
                            #remark
                            kendoTextArea
                            name="remark"
                            [(ngModel)]="model.remark"
                            class="form-control note-textarea"
                            [disabled]="isViewModeLocal">
                        </textarea>
                    </div>
                </div>
            </div>

            <div class="second-group" *ngIf="isExceptionEventType(model.activityType)">
                <h5 class="title-grid mt-0">{{'label.exceptionManagement' | translate}}</h5>
                <hr class="colored"/>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="form-label">{{'label.resolve' | translate}}</label>
                        <div>
                            <kendo-switch name="resolved" [(ngModel)]="model.resolved" [onLabel]="'Yes'" [offLabel]="'No'"
                            [readonly]="isViewModeLocal" (valueChange)="onResolveDateChange()">
                            </kendo-switch>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="resolutionDate" [ngClass]="model.resolved ? 'required' : ''">{{'label.resolveDates' | translate}}</label>
                        <kendo-datepicker name="resolutionDate" class="form-control" [required]="model.resolved" [disabled]="isViewModeLocal"
                            [(ngModel)]="model.resolutionDate">
                        </kendo-datepicker>
                        <div *ngIf="formErrors['resolutionDate']" class="k-invalid-msg">
                            {{formErrors.resolutionDate}}
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="resolution" [ngClass]="model.resolved ? 'required' : ''">{{'label.resolution' | translate}}</label>
                        <textarea
                            rows="4"
                            #remark
                            kendoTextArea
                            name="resolution"
                            [(ngModel)]="model.resolution"
                            class="form-control note-textarea"
                            [disabled]="isViewModeLocal"
                            [required]="model.resolved">
                        </textarea>
                        <div *ngIf="formErrors['resolution']" class="k-invalid-msg">
                            {{formErrors.resolution}}
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <kendo-dialog-actions>
        <button type="button" class="btn second-button dialog-button" (click)="onFormClosed()"
            #Cancel>{{(isViewModeLocal ? 'label.close' : 'label.cancel') | translate}}</button>
        <button type="submit" class="btn prim-button dialog-button" *ngIf="isAddModeLocal" (click)="onAddClick()"
            [disabled]="!mainForm.valid">{{'label.save' | translate}}</button>
        <button type="submit" class="btn prim-button dialog-button" *ngIf="isEditModeLocal" (click)="onEditClick()"
            [disabled]="!mainForm.valid">{{'label.save' | translate}}</button>
    </kendo-dialog-actions>
</kendo-dialog>
