<div class="content__header">
    <div class="container-fluid" *ngIf="isInitDataLoaded">
        <div class="row header-group">
            <div class="col-sm-7 pl-0">
                <button attr.data-balloon="{{'tooltip.backToList' | translate}}" data-balloon-pos="up" type="button" class="btn btn-default back-button"
                    (click)="backList()">
                    <i class="ei ei-arrow_left"></i>
                </button>
                <label class="form-header">{{'label.shipment' | translate}} #{{ model.shipmentNo }}</label>
                <app-status-label [status]="standardizationShipmentStatus" [statusName]="model.status" [statusEnum]="shipmentStatus">
                </app-status-label>
                <span class="rejected_arrow_box" *ngIf="model && model.isException">Exception</span>
            </div>
            <div class="col-sm-5 text-right pr-0">

            </div>
        </div>

        <form class="row" #mainForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="col-12 panel-group remove-padding-first-panel">
                <label class="panel-header">{{'label.shipmentDetail' | translate}}</label>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="carrierContractNo">{{'label.contractNo' | translate}}</label>
                            <kendo-combobox name="carrierContractNo" class="form-control"
                                #carrierContractNoComboBox
                                [data]="carrierContractNoDataSource"
                                [(ngModel)]="model.carrierContractNo"
                                [valuePrimitive]="true"
                                [filterable]="true"
                                [textField]="'text'"
                                [valueField]="'value'"
                                (filterChange)="carrierContractNoKeyUp$.next($event)"
                                (valueChange)="onCarrierContractNoValueChange($event)"
                                [loading]="isCarrierContractNoLoading"
                                [virtual]="true"
                                [disabled]="isMaterBLAssignedToShipment"
                                [placeholder]="defaultValue"
                                >
                                <ng-template kendoComboBoxItemTemplate let-dataItem>
                                    {{ dataItem.text }}
                                </ng-template>
                                <ng-template kendoAutoCompleteNoDataTemplate>
                                    <h4><span class="k-icon k-i-warning"></span><br /><br />{{'kendo.autocomplete.noDataText' | translate}}</h4>
                                </ng-template>
                            </kendo-combobox>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="carrierContractNo">{{'label.contractType' | translate}}</label>
                            <input disabled type="text" class="form-control" name="contractType" [(ngModel)]="model.carrierContractType"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6" *ngIf="!stringHelper.caseIgnoredCompare(model.modeOfTransport, modeOfTransportType.Air)">
                        <div class="form-group">
                            <label for="movement" class="required">{{'label.movement' | translate}}</label>
                            <kendo-dropdownlist name="movement"
                                required
                                [(ngModel)]="model.movement"
                                class="form-control"
                                [data]="movementTypeDataSource"
                                [valuePrimitive]="true"
                                [textField]="'label'"
                                [valueField]="'value'">
                                <ng-template kendoDropDownListValueTemplate let-dataItem>
                                    {{ dataItem?.label | translate }}
                                </ng-template>
                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                    {{ dataItem?.label | translate }}
                                </ng-template>
                            </kendo-dropdownlist>
                            <div *ngIf="formErrors['movement']" class="k-invalid-msg">
                                {{ formErrors['movement'] }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="agentReferenceNo">{{'label.agentReferenceNo' | translate}}</label>
                            <input type="text" class="form-control" name="agentReferenceNo" [(ngModel)]="model.agentReferenceNo"/>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="canEditCIInfo">
                    <div class="col-md-6">
                        <label for="ciNo">{{'label.commercialInvoiceNo' | translate}}</label>
                        <input type="text" class="form-control" name="ciNo" [(ngModel)]="model.commercialInvoiceNo" (focusout)="validateCINoInput()"/>
                        <div *ngIf="formErrors['ciNo']" class="k-invalid-msg">
                            {{ formErrors['ciNo'] }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="invoiceDate">{{'label.invoiceDates' | translate}}</label>
                        <kendo-datepicker name="invoiceDate" class="form-control"
                            [(ngModel)]="model.invoiceDate">
                        </kendo-datepicker>
                    </div>
                </div>
            </div>
            <div class="col-12 action-bar p-0">
                <button type="button" class="btn second-button"
                    (click)="onBtnCancellingShipmentEditClick()">{{'label.cancel' | translate}}</button>
                <button type="submit" class="btn prim-button" (click)="onBtnSavingShipmentClick()">{{'label.save' |
                    translate}}</button>
            </div>
        </form>

    </div>
</div>

