<div class="wrapper">
    <div class="clearfix">
        <main id="main-section" class="main-section" tabindex="-1" role="main">
            <header class="row header fixed-top">
    
                <div class="header-items">
                    <form (ngSubmit)="onValueSubmit()" #quickTrackForm="ngForm">
                        <div class="column search-wrapper" tabindex="-1" role="presentation">
                            <div class="quicktrack-no k-textbox k-space-right">
                                <input  id="quickTrackNumber" 
                                        name="quickTrackNumber" 
                                        type="text" 
                                        [(ngModel)]="quickTrackNumber" 
                                        placeholder="{{'label.quickTrackValue' | translate}}"
                                        autocomplete="off">
                                <a class="k-icon" (click)="onValueSubmit()">
                                    <span class="bg-search_icon"></span>
                                </a>
                    
                            </div>
                            <div class="shipment-no k-textbox k-space-right">
                                <kendo-dropdownlist name="searchType"
                                                    [data]="listItems" 
                                                    [textField]="'text'" 
                                                    [valueField]="'value'" 
                                                    [valuePrimitive]="true"
                                                    [(ngModel)]="searchType"
                                                    [popupSettings]="{width: 150}">
                                    <ng-template kendoDropDownListValueTemplate let-dataItem>
                                        {{dataItem?.text | translate }}
                                    </ng-template>
                                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                                        {{dataItem?.text | translate }}
                                    </ng-template>
                                </kendo-dropdownlist>
                            </div>
                        </div>
                    </form>
                </div>
            </header>
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </main>
    </div>
</div>