@import '../../../../styles/variables';

.master-dialog-grid.k-grid  ::ng-deep {
    td {
        overflow: visible;
        span[kendotooltip]{
            color: $theme-color;
        }
    }
    th.k-header {
        padding: 12px 12px !important;
        .k-link {
            padding: 8px 12px !important;
        }
    }
    .amount-remaining {
        color: $theme-color;
        cursor: pointer;
    }
}
