<ng-template #masterDialogTooltipTemplate let-anchor>
    <span>{{anchor.nativeElement.getAttribute('data-tooltip')}}</span>
</ng-template>
<div class="content__header">
    <div class="container-fluid">

        <div class="row header-group">
            <label class="list-header">{{'label.listOfMasterDialog' | translate}}</label>
            <span class="k-i-loading k-icon loading" *ngIf="service.gridLoading"></span>
            <div class="col-sm text-right">
                <button *hasPermission="[AppPermissions.MasterDialog_List_Add]" type="button" class="btn header-button add-new-button" (click)="onAddBtnClicked()">
                    <div class="icon-circle">
                        <fa-icon [icon]="faPlus"></fa-icon>
                    </div>
                    <span class="icon-circle-label">{{'label.addNew' | translate}}</span>
                </button>
            </div>
        </div>

        <div class="row">
            <kendo-grid #grid="kendoGrid" [data]="view | async" [filterable]="true" [filter]="service.state.filter"
                [pageable]="true" [pageSize]="service.state.take" [skip]="service.state.skip" [sortable]="true"
                [sort]="service.state.sort" (dataStateChange)="gridStateChange($event)"
                (pageChange)="service.pageChange($event)" (sortChange)="service.sortChange($event)"
                class="custom-border-grid master-dialog-grid">

                <kendo-grid-column *ngFor="let column of columns" [sortable]="column.sortable" [field]="column.field"
                    [title]="column.title | translate" [class]="column.class" [width]="column.width"
                    [format]="column.format" [filter]="column.filter">

                    <!-- Category dropdown -->
                    <ng-template kendoGridFilterCellTemplate let-filter *ngIf="column.field === 'category'">
                        <app-drop-down-list-filter [filter]="filter" fieldName="category" [data]="service.masterDialogCategory"
                            textField="text" valueField="value">
                        </app-drop-down-list-filter>
                    </ng-template>

                    <!-- Display on dropdown -->
                    <ng-template kendoGridFilterCellTemplate let-filter *ngIf="column.field === 'displayOn'">
                        <app-drop-down-list-filter [filter]="filter" fieldName="displayOn" [data]="service.displayOnType"
                            textField="text" valueField="value">
                        </app-drop-down-list-filter>
                    </ng-template>

                    <!-- Filter criteria dropdown -->
                    <ng-template kendoGridFilterCellTemplate let-filter *ngIf="column.field === 'filterCriteria'">
                        <app-drop-down-list-filter [filter]="filter" fieldName="filterCriteria" [data]="service.filterCriteriaType"
                            textField="text" valueField="value">
                        </app-drop-down-list-filter>
                    </ng-template>

                    <!-- Filter criteria dropdown -->
                    <ng-template kendoGridFilterCellTemplate let-filter *ngIf="column.field === 'filterCriteria'">
                        <app-drop-down-list-filter [filter]="filter" fieldName="filterCriteria" [data]="service.filterCriteriaType"
                            textField="text" valueField="value">
                        </app-drop-down-list-filter>
                    </ng-template>

                    <!-- Filter value -->
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex" *ngIf="column.field === 'filterValue'">
                        <ng-container *ngFor="let value of toArrayByComma(dataItem.filterValue); index as i; let l = count; let last = last">
                            <p *ngIf="i < 3">{{value}}{{!last && i < 3 ? "," : ""}}
                                <span *ngIf="l > 3 && i === 2 && !dataItem.isShowAllFilterValue" kendoTooltip filter="span" [tooltipTemplate]="shipmentNumberTooltip" position="top">
                                    <span class="amount-remaining" (click)="showAllFilterValue(dataItem)">+{{l - 3}}</span>
                                    <ng-template #shipmentNumberTooltip let-anchor>
                                        <ng-container *ngFor="let value of toArrayByComma(dataItem.filterValue) | slice: 3; let last = last">
                                            {{value}}{{ !last ? ", " : ""}}
                                            <br *ngIf="!last"/>
                                        </ng-container>
                                    </ng-template>
                                </span>
                            </p>
                            <p *ngIf="i >= 3 && dataItem.isShowAllFilterValue">{{value}}{{!last && i >= 3 && dataItem.isShowAllFilterValue ? ", " : ""}}</p>
                        </ng-container>
                    </ng-template>

                    <!-- Message -->
                    <ng-template kendoGridCellTemplate let-dataItem *ngIf="column.field === 'message'">
                        <span kendoTooltip filter="a" [tooltipTemplate]="masterDialogTooltipTemplate" position="top">
                            <a attr.data-tooltip="{{dataItem.message}}" class="k-link" style="font-weight: normal;" routerLink="/master-dialogs/view/{{dataItem.id}}" routerLinkActive="active">
                                {{dataItem.message | showless : 200}}
                            </a>
                        </span>
                    </ng-template>

                    <!-- Action -->
                    <ng-template kendoGridCellTemplate let-dataItem *ngIf="column.field === 'action'" class="col-action">
                        <div *hasPermission="[AppPermissions.MasterDialog_List_Edit]">
                            <button
                                    attr.data-balloon="{{'tooltip.delete' | translate}}"
                                    data-balloon-pos="left"
                                    type="button"
                                    class="btn ml-0 btn-default grid-remove-icon-button"
                                    (click)="onDeleteBtnClicked(dataItem.id)">
                                <i class="ei ei-icon_minus-06"></i>
                            </button>
                        </div>
                    </ng-template>
                    <ng-template kendoGridFilterCellTemplate let-filter *ngIf="column.field === 'action'"></ng-template>
                </kendo-grid-column>
                <ng-template kendoPagerTemplate>
                    <app-custom-grid-pager [service]="service" (pageSizeChanged)="gridPageSizeChange($event)">
                    </app-custom-grid-pager>
                </ng-template>
            </kendo-grid>
        </div>
    </div>
</div>
