@import "../../../../styles/variables";
.load-cargo-detail-popup {
    .load-icon {
        margin-right: 0 !important;
        margin-left: 8px;
    }
    .unload-icon {
        margin-right: 6px;
    }
    .tree-view-container {
        height: 424px;
        overflow-y: auto;
    }
    .group-col-header {
        font-weight: bold;
        color: $color-grey-dark-3;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    .tree-view-panel-group {
        background-color: $theme-color-blank;
        border-color: $color-white-dark-2;
        border-width: thin;
        border-style: solid;
        .tree-view-panel-header {
            border-color: $color-white-dark-2;
            border-bottom-width: thin;
            border-style: solid;
            background-color: $color-white-dark-1;
        }
    }
    table.loaded-cargo-list-header {
        tr {
            color: $color-grey-dark-3;
            background: #F4F7F6;
            border-bottom: 1px solid $color-white-dark-2;
            > th {
                padding: 8px 12px;
            }
            > th:nth-child(1) {
                width: 10%;
                border-right: 1px solid $color-white-dark-2;
            }
            > th:nth-child(2) {
                width: 80%;
                border-right: 1px solid $color-white-dark-2;
            }
            > th:nth-child(3) {
                width: 10%;
            }
        }
    }
    ::ng-deep .cargo-list-sortable {
        width: 100%;
        div.cargo-row-item {
            width: 100%;
            display: flex;
            align-items: center;
            min-height: 47px;
            border-bottom: 1px solid $color-white-dark-2;
            
            > div:last-child {
                border-bottom: none !important;
            }

            &.dragging {
                border: 1px dashed $color-grey-dark-2;
                background-color: $color-blue-bright-1 !important;
            }

            > div {
                padding-left: 12px;
                box-sizing: border-box;
            }

            // Seq.
            > div:nth-child(1) {
                width: 10%;
            }
            // PO No - Product No.
            > div:nth-child(2) {
                width: 80%;
            }
            // Actions
            > div:nth-child(3) {
                width: 10%;
            }
        }
    }
    ::ng-deep {
        .k-dialog .k-content {
            padding: 25px 40px;
        }
        .loaded-cargo-list {
            height: 462px;
            overflow-y: auto;
            border: 1px solid $color-white-dark-2;
        }
        
        .k-treeview {
    
            .k-in {
                padding: 6px;
    
                &:hover, &.k-state-hover{
                    background-color: $theme-color-blank;
                }
    
                &.k-state-focused {
                    box-shadow: none;
                }
            }
    
            // upper case title
            ul li span:not([data-treeindex*='_']) {
                font-weight: bold;
                text-transform: uppercase;
                color: $color-grey-dark-2;
            }
    
            // align
            .k-item .k-treeview-item {
                margin-left: 15px;
            }
    
            .k-in {
                top: -2px;
            }
    
            ul li.k-state-disabled {
                background-color: unset !important;
                .k-checkbox:checked + .k-checkbox-label::before {
                    opacity: 0.5;
                }
            }
    
        }
    
        .k-checkbox-label{
            &::before, &::after
            {
                font-size: 11px;
            }
        }
        .k-checkbox:checked:focus+.k-checkbox-label::before {
            border-color: $theme-color;
            box-shadow: unset;
        }
        .k-checkbox:focus+.k-checkbox-label::before {
            border-width: 0;
        }
        .check-all-label {
            font-size: inherit;
            font-weight: bold;
        }
    }
}