<div class="content__header">
    <div class="container-fluid">
        <div class="row header-group" *ngIf="isInitDataLoaded">
            <div class="col-sm">
                <button *ngIf="!isViewByOwnerUserOrg" attr.data-balloon="{{'tooltip.backToList' | translate}}" data-balloon-pos="up"
                        type="button" class="btn btn-default back-button" (click)="backList()">
                    <i class="ei ei-arrow_left"></i>
                </button>

                <span *ngIf="!isAddMode">
                    <label class="form-header" *ngIf="!isViewByOwnerUserOrg">{{'label.organization' | translate}} #{{isAddMode ? '' : model.code}}</label>
                    <label class="form-header form-header-owner" *ngIf="isViewByOwnerUserOrg">{{'label.myOrganization' | translate}} #{{model.code}}</label>
                </span>
                <label *ngIf="isAddMode" class="form-header">{{'label.addNewOrganization' | translate}}</label>

                <app-status-label [status]="model.status" [statusName]="model.statusName | translate" [statusEnum]="organizationStatus">
                </app-status-label>
            </div>
            <div class="col-sm text-right">
                <button type="button" class="btn header-button small-button" (click)="assignPO()" *ngIf="model.organizationType === organizationType.General && !isViewByOwnerUserOrg && isViewMode">
                    <div class="icon-circle">
                        <fa-icon [icon]="faPlus"></fa-icon>
                    </div>
                    <span class="icon-circle-label">{{'label.assignPO' | translate}}</span>
                </button>
                <button attr.data-balloon="{{'label.edit' | translate}}" data-balloon-pos="up" type="button" class="btn edit-icon-button" *ngIf="canEditInfor && isViewMode" (click)="editOrganization()">
                    <fa-icon [icon]="faPencilAlt"></fa-icon>
                </button>
                <button attr.data-balloon="{{'label.inactive' | translate}}" data-balloon-pos="up" type="button" class="btn suspend-icon-button" *ngIf="!isViewByOwnerUserOrg && isViewMode && model.status == organizationStatus.Active" (click)="suspendOrganization()">
                    <fa-icon [icon]="faPowerOff"></fa-icon>
                </button>
                <button attr.data-balloon="{{'label.active' | translate}}" data-balloon-pos="up" type="button" class="btn btn-default activate-icon-button" *ngIf="!isViewByOwnerUserOrg && isViewMode && model.status == organizationStatus.Inactive" (click)="activeOrganization()">
                    <fa-icon [icon]="faPowerOff"></fa-icon>
                </button>
            </div>
        </div>
        <div class="typing_loader" *ngIf="!isInitDataLoaded"></div>
        <form class="row" #mainForm="ngForm" novalidate (ngSubmit)="onSubmit()" *ngIf="isInitDataLoaded">
            <div class="col-12 panel-group remove-padding-first-panel">
                <label class="panel-header">{{'label.organizationDetail' | translate}}</label>

                <!-- <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="organization-code-group">
                                <img #anchor src="assets/images/organization-code.png" height="50" width="50" alt="">
                                <label class="organization-code-profile col-sm-9">{{model.code}}</label>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div *ngIf="isAddMode">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">{{'label.organizationType' | translate}}</label>
                                    <kendo-dropdownlist #organizationTypeElement
                                        name="organizationType"
                                        [disabled]="!isAddMode"
                                        [valuePrimitive]="true"
                                        [textField]="'text'"
                                        [valueField]="'value'"
                                        [data]="organizationTypeList"
                                        [(ngModel)]="model.organizationType"
                                        class="form-control"
                                        (valueChange)="onOrganizationTypeChange()"
                                        >
                                        <ng-template kendoDropDownListValueTemplate let-dataItem>
                                            {{ dataItem?.text | translate }}
                                        </ng-template>
                                        <ng-template kendoDropDownListItemTemplate let-dataItem>
                                            {{ dataItem?.text | translate }}
                                        </ng-template>
                                    </kendo-dropdownlist>
                                    <div *ngIf="formErrors['organizationType']" class="k-invalid-msg">
                                        {{ formErrors.organizationType }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label required">{{'label.organizationCode' | translate}}</label>
                                    <input #organizationCodeElement
                                            name="organizationCode"
                                            type="text"
                                            (keyup)="onTypingOrganizationCode($event)"
                                            [required]="!(model.organizationType === organizationType.General)"
                                            class="form-control"
                                            [disabled]="model.organizationType === organizationType.General"
                                            [(ngModel)]="model.code"/>
                                            <div *ngIf="formErrors['organizationCode']" class="k-invalid-msg">
                                                {{ formErrors.organizationCode | translate}}
                                            </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label required">{{'label.organizationName' | translate}}</label>
                                    <input  #organizationNameElement
                                            name="organizationName"
                                            required
                                            type="text"
                                            class="form-control"
                                            maxlength="250"
                                            [disabled]="isViewMode || !canEditInfor"
                                            [(ngModel)]="model.name" />
                                    <div *ngIf="formErrors['organizationName']" class="k-invalid-msg">
                                        {{ formErrors.organizationName }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="!isAddMode">
                    <input #organizationCodeElement
                        name="organizationCode"
                        type="text"
                        hidden
                        [(ngModel)]="model.code"/>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label required">{{'label.organizationName' | translate}}</label>
                                    <input  #organizationNameElement
                                            name="organizationName"
                                            required
                                            type="text"
                                            class="form-control"
                                            maxlength="250"
                                            [disabled]="isViewMode || !canEditInfor"
                                            [(ngModel)]="model.name" />
                                    <div *ngIf="formErrors['organizationName']" class="k-invalid-msg">
                                        {{ formErrors.organizationName }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">{{'label.organizationType' | translate}}</label>
                                    <kendo-dropdownlist #organizationTypeElement
                                        name="organizationType"
                                        [disabled]="!isAddMode"
                                        [valuePrimitive]="true"
                                        [textField]="'text'"
                                        [valueField]="'value'"
                                        [data]="organizationTypeList"
                                        [(ngModel)]="model.organizationType"
                                        class="form-control"
                                        (valueChange)="onOrganizationTypeChange()"
                                        >
                                        <ng-template kendoDropDownListValueTemplate let-dataItem>
                                            {{ dataItem?.text | translate }}
                                        </ng-template>
                                        <ng-template kendoDropDownListItemTemplate let-dataItem>
                                            {{ dataItem?.text | translate }}
                                        </ng-template>
                                 </kendo-dropdownlist>
                                 <div *ngIf="formErrors['organizationType']" class="k-invalid-msg">
                                    {{ formErrors.organizationType }}
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{'label.address' | translate}}</label>
                                <input type ="text"
                                    #organizationAddressElement
                                    kendoTextBox
                                    name="organizationAddress"
                                    class="form-control"
                                    [(ngModel)]="model.address"
                                    [disabled]="isViewMode || !canEditInfor"
                                    maxlength="500"/>
                                <div *ngIf="formErrors['organizationAddress']" class="k-invalid-msg">
                                    {{ formErrors.organizationAddress }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="form-label required">{{'label.country' | translate}}</label>
                                    <kendo-dropdownlist #organizationCountryIdElement
                                                        name="organizationCountryId"
                                                        [data]="countryFilter"
                                                        [defaultItem]="defaultDropDownItem"
                                                        [disabled]="isViewMode || !canEditInfor"
                                                        [(ngModel)]="countryId"
                                                        [valuePrimitive]="true"
                                                        [textField]="'label'"
                                                        [valueField]="'value'"
                                                        (valueChange)="onCountryValueChanged($event)"
                                                        (filterChange)="onCountryFilterChanged($event)"
                                                        [filterable]="true"
                                                        class="form-control"
                                                        required>
                                        <ng-template kendoDropDownListValueTemplate let-dataItem>
                                            {{ dataItem.label | translate }}
                                        </ng-template>
                                        <ng-template kendoDropDownListItemTemplate let-dataItem>
                                            {{ dataItem.label | translate }}
                                        </ng-template>
                                    </kendo-dropdownlist>
                                    <div *ngIf="formErrors['organizationCountryId']" class="k-invalid-msg">
                                        {{ formErrors.organizationCountryId }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{'label.addressLine2' | translate}}</label>
                                <input type="text"
                                    #organizationAddressLine2Element
                                    kendoTextBox
                                    name="organizationAddressLine2"
                                    class="form-control"
                                    [(ngModel)]="model.addressLine2"
                                    [disabled]="isViewMode || !canEditInfor"
                                    maxlength="50"/>
                                <div *ngIf="formErrors['organizationAddressLine2']" class="k-invalid-msg">
                                    {{ formErrors.organizationAddressLine2 }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label required">{{'label.city' | translate}}</label>
                                <kendo-autocomplete #cityAutoComplete
                                    required
                                    name="organizationCityId"
                                    (valueChange)="cityValueChange($event)"
                                    (filterChange)="cityFilterChange($event)"
                                    [valueField]="'label'"
                                    [disabled]="isViewMode || countryId == null || !canEditInfor"
                                    [loading]="cityLoading"
                                    [data]="cityFilter"
                                    [filterable]="true"
                                    [(ngModel)]="model.locationName"
                                    [placeholder]="'placeholder.egThing' | translate: {thing: ('label.locationName' | translate)}"
                                    class="form-control">
                                </kendo-autocomplete>
                                <div *ngIf="formErrors['organizationCityId']" class="k-invalid-msg">
                                    {{ formErrors.organizationCityId }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{'label.addressLine3' | translate}}</label>
                                <input type="text"
                                    #organizationAddressLine3Element
                                    kendoTextBox
                                    name="organizationAddressLine3"
                                    class="form-control"
                                    [(ngModel)]="model.addressLine3"
                                    [disabled]="isViewMode || !canEditInfor"
                                    maxlength="50"/>
                                <div *ngIf="formErrors['organizationAddressLine3']" class="k-invalid-msg">
                                    {{ formErrors.organizationAddressLine3 }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label required">{{'label.contactName' | translate}}</label>
                                <input  #organizationContactNameElement
                                        required
                                        type="text"
                                        name="organizationContactName"
                                        class="form-control"
                                        maxlength="256"
                                        [disabled]="isViewMode || !canEditInfor"
                                        [(ngModel)]="model.contactName" />
                                <div *ngIf="formErrors['organizationContactName']" class="k-invalid-msg">
                                    {{ formErrors.organizationContactName }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{'label.addressLine4' | translate}}</label>
                                <input type="text"
                                    #organizationAddressLine4Element
                                    kendoTextBox
                                    name="organizationAddressLine4"
                                    class="form-control"
                                    [(ngModel)]="model.addressLine4"
                                    [disabled]="isViewMode || !canEditInfor"
                                    maxlength="50"/>
                                <div *ngIf="formErrors['organizationAddressLine4']" class="k-invalid-msg">
                                    {{ formErrors.organizationAddressLine4 }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{'label.contactEmail' | translate}}</label>
                                <input  #organizationContactEmailElement
                                        type="text"
                                        name="organizationContactEmail"
                                        class="form-control"
                                        maxlength="128"
                                        [disabled]="isViewMode || !canEditInfor"
                                        [(ngModel)]="model.contactEmail" />
                                <div *ngIf="formErrors['organizationContactEmail']" class="k-invalid-msg">
                                    {{ formErrors.organizationContactEmail }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{'label.websiteDomain' | translate}}</label>
                                <input  #websiteDomainElement
                                        type="text"
                                        name="websiteDomain"
                                        class="form-control"
                                        [disabled]="isViewMode || !canEditInfor"
                                        [(ngModel)]="model.websiteDomain" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{'label.contactNumber' | translate}}</label>
                                <input  #organizationContactNumberElement
                                        type="text"
                                        name="organizationContactNumber"
                                        class="form-control"
                                        (input)="onTypingPhoneNumber($event.target.value)"
                                        [disabled]="isViewMode || !canEditInfor"
                                        [(ngModel)]="model.contactNumber" />
                                <div *ngIf="formErrors['organizationContactNumber']" class="k-invalid-msg">
                                    {{ 'validation.maxLengthInput' | translate: {'maxValue': maxLengthInput} }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{'label.ediSONInstance' | translate}}</label>
                                <input  #organizationEdisonInstanceIdElement
                                        type="text"
                                        name="organizationEdisonInstanceId"
                                        class="form-control"
                                        [disabled]="isViewMode || !currentUser.isInternal"
                                        [(ngModel)]="model.edisonInstanceId" />
                                <div *ngIf="formErrors['organizationEdisonInstanceId']" class="k-invalid-msg">
                                    {{ formErrors.organizationEdisonInstanceId }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{'label.ediSONCompanyCode' | translate}}</label>
                                <input  #organizationEdisonCompanyCodeIdElement
                                        type="text"
                                        name="organizationEdisonCompanyCodeId"
                                        class="form-control"
                                        [disabled]="isViewMode || !currentUser.isInternal"
                                        [(ngModel)]="model.edisonCompanyCodeId" />
                                <div *ngIf="formErrors['organizationEdisonCompanyCodeId']" class="k-invalid-msg">
                                    {{ formErrors.organizationEdisonCompanyCodeId }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{'label.customerPrefix' | translate}}</label>
                                <input  #customerPrefixElement
                                        type="text"
                                        name="customerPrefix"
                                        class="form-control"
                                        [disabled]="isViewMode || !currentUser.isInternal"
                                        [(ngModel)]="model.customerPrefix"
                                        oninput="this.value = this.value.toUpperCase()"
                                        maxlength="5"
                                        minlength="5"
                                        pattern="^[A-Z0-9]{5}$"
                                        autocomplete="off"
                                        (keyup)="customerPrefixValueChange($event)"
                                        />
                                <div *ngIf="mainForm.form.get('customerPrefix')?.errors?.minlength || mainForm.form.get('customerPrefix')?.errors?.pattern" class="k-invalid-msg">
                                    {{ formErrors.customerPrefix }}
                                </div>
                                <div *ngIf="mainForm.form.get('customerPrefix')?.errors && mainForm.form.get('customerPrefix')?.errors.customerPrefixTaken" class="k-invalid-msg">
                                    {{'label.customerPrefixExists' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" *ngIf="model.organizationType === organizationType.Agent || model.organizationType === organizationType.General; else weChatOrWhatsAppTemplate">
                                <ng-container *ngIf="model.organizationType === organizationType.Agent">
                                    <label class="form-label">{{'label.agentType' | translate}}</label>
                                    <kendo-dropdownlist #agentTypeElement
                                        name="agentType"
                                        [disabled]="isViewMode || !canEditInfor"
                                        [valuePrimitive]="true"
                                        [textField]="'text'"
                                        [valueField]="'value'"
                                        [data]="agentTypeList"
                                        [(ngModel)]="model.agentType"
                                        class="form-control">
                                        <ng-template kendoDropDownListValueTemplate let-dataItem>
                                            {{ dataItem?.text | translate }}
                                        </ng-template>
                                        <ng-template kendoDropDownListItemTemplate let-dataItem>
                                            {{ dataItem?.text | translate }}
                                        </ng-template>
                                    </kendo-dropdownlist>
                                    <div *ngIf="formErrors['agentType']" class="k-invalid-msg">
                                        {{ formErrors.agentType }}
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="model.organizationType === organizationType.General">
                                    <label class="form-label">{{'label.generateSOFormFileType' | translate}}</label>
                                    <kendo-dropdownlist #generateSOFormFileTypeElement
                                        name="generateSOFormFileType"
                                        [disabled]="isViewMode || !canEditInfor"
                                        [valuePrimitive]="true"
                                        [textField]="'text'"
                                        [valueField]="'value'"
                                        [data]="soFormGenerationFileTypeList"
                                        [(ngModel)]="model.soFormGenerationFileType"
                                        class="form-control">
                                        <ng-template kendoDropDownListValueTemplate let-dataItem>
                                            {{ dataItem?.text | translate }}
                                        </ng-template>
                                        <ng-template kendoDropDownListItemTemplate let-dataItem>
                                            {{ dataItem?.text | translate }}
                                        </ng-template>
                                    </kendo-dropdownlist>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-label">{{'label.taxpayerId' | translate}}</label>
                            <input  #taxpayerId
                                    type="text"
                                    name="taxpayerId"
                                    class="form-control"
                                    [disabled]="isViewMode"
                                    maxlength="50"
                                    [(ngModel)]="model.taxpayerId"
                                    />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <ng-container *ngIf="model.organizationType !== organizationType.Agent && model.organizationType !== organizationType.General; else weChatOrWhatsAppTemplate"></ng-container>
                        <ng-container *ngIf="model.organizationType === organizationType.Agent || model.organizationType === organizationType.General; else companyLogoTemplate"></ng-container>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6">
                        <ng-container *ngIf="model.organizationType !== organizationType.Agent && model.organizationType !== organizationType.General; else companyLogoTemplate"></ng-container>
                    </div>
                </div>
                <ng-template #companyLogoTemplate>
                    <div class="form-group">
                        <label class="form-label">{{'label.companyLogo' | translate}}</label>
                        <kendo-upload
                            [disabled]="isViewMode"
                            (select)="onSelect($event)"
                            (remove)="onRemoveSelectedFile($event)"
                            [autoUpload]="false"
                            [multiple]="false"
                            [restrictions]="myRestrictions">
                            <kendo-upload-messages select="Select image..."></kendo-upload-messages>
                        </kendo-upload>
                        <img class="company-logo-img noselect" *ngIf="selectedFile || model.organizationLogo" [src]="selectedFile ? selectedFile.src : model.organizationLogo"/>
                        <ng-container *ngIf="isEditMode">
                            <fa-icon [icon]="faEye" class="eye-icon" *ngIf="!isLogoPreviewMode && (selectedFile || this.model.organizationLogo)" attr.data-balloon="{{'tooltip.preview' | translate}}" data-balloon-pos="up" (click)="onToggleLogoPreviewMode()"></fa-icon>
                            <fa-icon [icon]="faEyeSlash" class="eye-slash-icon" *ngIf="isLogoPreviewMode && (selectedFile || this.model.organizationLogo)" attr.data-balloon="{{'tooltip.unpreview' | translate}}" data-balloon-pos="up" (click)="onToggleLogoPreviewMode()"></fa-icon>
                            <fa-icon [icon]="faTrash" class="trash-icon" *ngIf="!selectedFile && this.model.organizationLogo" attr.data-balloon="{{'tooltip.delete' | translate}}" data-balloon-pos="up" (click)="onRemoveLogo()"></fa-icon>
                        </ng-container>
                    </div>
                </ng-template>
                <ng-template #weChatOrWhatsAppTemplate>
                    <div class="form-group">
                        <label class="form-label">{{'label.companyWeChatIDOrWhatsApp' | translate}}</label>
                        <input  #weChatOrWhatsApp
                                type="text"
                                name="weChatOrWhatsApp"
                                class="form-control"
                                [disabled]="isViewMode"
                                maxlength="32"
                                [(ngModel)]="model.weChatOrWhatsApp"
                                />
                    </div>
                </ng-template>
            </div>

            <ng-container *ngIf="isViewMode">
                <div class="col-12 panel-group">
                    <label class="panel-header">{{'label.affiliateOrganization' | translate}}</label>
                    <div class="panel-header float-right ml-4" *ngIf="this.currentUser.isInternal && isViewMode && model.status !== organizationStatus.Pending">
                        <button class="btn header-button add-new-button" type="button" (click)="addAffiliateFormOpened = true">
                            <div class="icon-circle">
                                <fa-icon [icon]="faPlus"></fa-icon>
                            </div>
                            <span class="icon-circle-label">{{'label.addNew' | translate}}</span>
                        </button>
                    </div>
                    <label class="panel-header float-right" *ngIf="model.parentOrgCode && currentUser.isInternal" style="margin-top: 6px">
                        {{'label.parentOrganization' | translate}}:
                        <a routerLink="/organizations/view/{{getParentId()}}" class="panel-header" target="_blank"
                            attr.data-balloon="{{model.parentOrgName}}" data-balloon-pos="up">
                            {{ model.parentOrgCode }}
                        </a>
                    </label>
                    <kendo-grid #grid="kendoGrid"
                        [data]="affiliateList"
                        [scrollable]="'vertical'"
                        [selectable]="false">

                        <kendo-grid-column field="code" title="{{'label.organizationCode' | translate}}" [class.link-code]="currentUser.isInternal">
                            <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex" class="organization-code-dropdown">
                                <a class="k-link" routerLinkActive="active" *ngIf="currentUser.isInternal" target="_blank" routerLink="/organizations/view/{{dataItem.id}}">{{dataItem.code}}</a>
                                <ng-container *ngIf="!currentUser.isInternal">{{dataItem.code}}</ng-container>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="name" title="{{'label.name' | translate}}">
                        </kendo-grid-column>
                        <kendo-grid-column field="organizationTypeName" title="{{'label.type' | translate}}">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                {{dataItem.organizationTypeName | translate}}
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="location.country.name" title="{{'label.country' | translate}}">
                        </kendo-grid-column>
                        <kendo-grid-column field="contactName" title="{{'label.contactName' | translate}}">
                        </kendo-grid-column>
                        <kendo-grid-column field="contactEmail" title="{{'label.contactEmail' | translate}}" class="organization-email">
                            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                                <a title="{{dataItem.contactEmail}}">{{dataItem.contactEmail}}</a>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="statusName" title="{{'label.status' | translate}}" [sortable]="true" width="85">
                            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                                <span [className]="dataItem.status == organizationStatus.Active ? 'active-status' : 'inactive-status'">{{dataItem.statusName | translate}}</span>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-command-column title="{{'label.action' | translate}}" [headerStyle]="{'text-align': 'center'}" class="action-column-grid col-action" width="75" *ngIf="isViewMode && this.currentUser.isInternal && model.status !== organizationStatus.Pending">
                            <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                                <button attr.data-balloon="{{'tooltip.delete' | translate}}" data-balloon-pos="left" type="button" class="btn ml-0 btn-default grid-remove-icon-button" *ngIf="canEditInfor" (click)="removeAffiliate(dataItem, rowIndex)">
                                    <i class="ei ei-icon_minus-06"></i>
                                </button>
                            </ng-template>
                        </kendo-grid-command-column>
                    </kendo-grid>
                </div>

                <app-customer-relationship
                    *ngIf="checkToShowCustomerRelationship"
                    [customerList]="customerList"
                    [isViewMode]="isViewMode"
                    [supplierOrg]="model"
                    [canEditInfor]="canEditInfor && model.status !== organizationStatus.Pending && this.currentUser.role.id !== roles.Shipper"
                    [isAdmin]="currentUser.isInternal || isViewByOwnerAdminOrg"
                    [organizationCodeOptions]="customerOrganizationCodeOptions"
                    (onUserAction)="submitCustomerRelationshipUserAction($event)"
                >
                </app-customer-relationship>

                <app-supplier-relationship-list
                    *ngIf="checkToShowSupplierRelationship"
                    [affiliateList]="affiliateList"
                    [isViewMode]="isViewMode"
                    [customerOrg]="model"
                    [isAdmin]="currentUser.isInternal || isViewByOwnerAdminOrg"
                    [canEditInfor]="canEditInfor && model.status !== organizationStatus.Pending"
                    (add)="onSupplierRelationshipAdded($event)">
                </app-supplier-relationship-list>

                <div class="col-12 panel-group" *ngIf="model.organizationType === organizationType.Agent">
                    <label class="panel-header">{{'label.emailNotifications' | translate}}</label>
                    <app-email-notification
                        [emailNotifications]="model.emailNotifications"
                        [organizationId]="model.id"
                        [editable]="isViewMode && this.currentUser.isInternal && model.status !== organizationStatus.Pending">
                    </app-email-notification>
                </div>

                <div class="col-12 panel-group">
                    <div class="title-grid clearfix">
                        <h5 class="panel-header float-left">{{'label.user' | translate}}</h5>
                        <button class="btn header-button add-new-button float-right" type="button"
                            (click)="onAddUserClick()" *ngIf="canEditInfor && isViewMode && model.status !== organizationStatus.Pending">
                            <div class="icon-circle">
                                <fa-icon [icon]="faPlus"></fa-icon>
                            </div>
                            <span class="icon-circle-label">{{'label.addNew' | translate}}</span>
                        </button>
                    </div>

                    <kendo-grid #grid="kendoGrid"
                        [data]="userList"
                        [scrollable]="'vertical'">

                        <kendo-grid-column field="email" title="{{'label.email' | translate}}" class="organization-email">
                            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                                <a routerLink="/users/{{dataItem.id}}" target="_blank" title="{{dataItem.email}}" *ngIf="currentUser.isInternal" routerLinkActive="active">{{dataItem.email}}</a>
                                <a *ngIf="!currentUser.isInternal" title="{{dataItem.email}}">{{dataItem.email}}</a>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="role.name" width="130" title="{{'label.userRole' | translate}}">
                        </kendo-grid-column>
                        <kendo-grid-column field="name" title="{{'label.name' | translate}}">
                        </kendo-grid-column>
                        <kendo-grid-column field="phone" title="{{'label.phone' | translate}}">
                            <ng-template kendoGridCellTemplate let-dataItem="dataItem">{{dataItem.phone}}</ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="statusName" title="{{'label.status' | translate}}" width="90px">
                            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                                <span [ngClass]="{
                                    'active-status': dataItem.status == userStatus.Active,
                                    'pending-status': dataItem.status == userStatus.WaitForConfirm || dataItem.status == userStatus.Pending,
                                    'inactive-status': dataItem.status == userStatus.Inactive
                                }">
                                    {{dataItem.statusName | translate}}
                                </span>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="isAdmin" title="{{'label.isAdmin' | translate}}" width="88px" *ngIf="isViewMode && canEditInfor && model.status !== organizationStatus.Pending">
                            <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                                <kendo-switch name="isAdmin_{{rowIndex}}" [(ngModel)]="dataItem.isAdmin" [onLabel]="'Yes'" [offLabel]="'No'"
                                    [readonly]="!canEditInfor" (valueChange)="onAdminChange(dataItem)">
                                </kendo-switch>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-command-column title="{{'label.action' | translate}}" [headerStyle]="{'text-align': 'center'}" class="action-column-grid col-action" width="75" *ngIf="isViewMode && canEditInfor && model.status !== organizationStatus.Pending">
                            <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                                <button attr.data-balloon="{{'tooltip.delete' | translate}}"
                                        data-balloon-pos="left" type="button"
                                        class="btn ml-0 btn-default grid-remove-icon-button"
                                        *ngIf="dataItem.status == userStatus.WaitForConfirm"
                                        (click)="deleteUser(dataItem, rowIndex)"
                                        [disabled]="isAffiliateAdding">
                                    <i class="ei ei-icon_minus-06"></i>
                                </button>
                                <button attr.data-balloon="{{'label.deactivate' | translate}}"
                                        data-balloon-pos="left"
                                        type="button"
                                        class="btn grid-suspend-icon-button"
                                        *ngIf="dataItem.status == userStatus.Active"
                                        (click)="deactivateUser(dataItem)">
                                    <fa-icon [icon]="faPowerOff"></fa-icon>
                                </button>
                                <button attr.data-balloon="{{'label.activate' | translate}}"
                                        data-balloon-pos="left"
                                        type="button"
                                        class="btn btn-default grid-activate-icon-button"
                                        *ngIf="dataItem.status == userStatus.Inactive"
                                        (click)="activateUser(dataItem)">
                                    <fa-icon [icon]="faPowerOff"></fa-icon>
                                </button>
                            </ng-template>
                        </kendo-grid-command-column>
                    </kendo-grid>
                    <app-add-user-form [addUserFormOpened]="addUserFormOpened"
                        (add)="onUserAdded($event)"
                        (close)="onUserFormClosed()"
                        [model]="userModel"
                        [organizationType]="model.organizationType">
                    </app-add-user-form>
                </div>

                <app-warehouse-assignment *ngIf="model.organizationType === organizationType.Principal"
                    [customerId]="model.id"
                    [isEditable]="currentUser.isInternal && isViewMode">
                </app-warehouse-assignment>
            </ng-container>


            <div class="col-12 text-right p-0">
                <button type="button" class="btn second-button" *ngIf="canEditInfor && isEditMode || isAddMode" (click)="cancelEditOrganization()">{{'label.cancel' | translate}}</button>
                <button type="submit" class="btn prim-button" *ngIf="canEditInfor && isEditMode || isAddMode" (click)="saveOrganization()">{{'label.save' | translate}}</button>
            </div>
        </form>
    </div>
</div>

<app-assign-pos-form
    [popupOpened]="assignPOsPopupArgs.assignPOsPopupOpened"
    (popupClosing)="assignPOsPopupClosedHandler($event)"
    [popupTitle]="'label.organization'"
    [customerId]="assignPOsPopupArgs.customerId"
    [supplierId]="assignPOsPopupArgs.supplierId"
    [hintText]="assignPOsPopupArgs.hintText">
</app-assign-pos-form>

<app-add-affiliate-form *ngIf="addAffiliateFormOpened"
    [formOpen]="addAffiliateFormOpened"
    [organizationId]="model.id"
    [affiliateList]="affiliateList"
    (onSelect)="selectAffiliateHandler($event)"
    (onClose)="addAffiliateFormClosedHandler($event)">
</app-add-affiliate-form>
