<div class="col-12 panel-group">
    <div class="col-sm text-right top-bar-container" *ngIf="!isViewMode && isEditable">
        <button type="button" class="btn header-button small-button" (click)="onAddCargoDetailClick()">
            <div class="icon-circle">
                <fa-icon [icon]="faPlus"></fa-icon>
            </div>
            <span class="icon-circle-label">{{'label.addCargoDetail' | translate}}</span>
        </button>
    </div>
    <kendo-grid [data]="model" [scrollable]="'vertical'">

        <kendo-grid-column title="{{'label.lineOrder' | translate}}" [headerClass]="'multiline-header'">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                <a class="k-link" (click)="onViewItemClick(dataItem.lineOrder)"
                >{{ dataItem.lineOrder }}</a>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="loadReferenceNumber" title="{{'label.loadRefNo' | translate}}" [headerClass]="'multiline-header'">
        </kendo-grid-column>
        <kendo-grid-column field="packageDescription"  title="{{'label.packageDescription' | translate}}" [headerClass]="'multiline-header'">
        </kendo-grid-column>
        <kendo-grid-column field="packageQuantity" title="{{'label.packageQty' | translate}}" [headerClass]="'multiline-header'">
        </kendo-grid-column>
        <kendo-grid-column field="packageUOM" title="{{'label.packageUOM' | translate}}" [headerClass]="'multiline-header'">
        </kendo-grid-column>
        <kendo-grid-column field="unitQuantity" title="{{'label.totalUnitQty' | translate}}" [headerClass]="'multiline-header'">
        </kendo-grid-column>
        <kendo-grid-column field="volume" title="{{'label.volume' | translate}} (CBM)" [headerClass]="'multiline-header'">
        </kendo-grid-column>
        <kendo-grid-column field="netWeight" title="{{'label.netWeight' | translate}} (KGS)" [headerClass]="'multiline-header'">
        </kendo-grid-column>

        <kendo-grid-column width="30" *ngIf="!isViewMode && isEditable">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                <div kendoTooltip #tooltip="kendoTooltip" [tooltipTemplate]="actionMenuTooltip" filter="button"
                    showOn="click" position="left" offset="-20" showAfter="200">
                    <button #first type="button" class="btn" (click)="tooltip.show(first)">
                        <fa-icon [icon]="faEllipsisV"></fa-icon>
                    </button>
                </div>

                <ng-template #actionMenuTooltip let-anchor>
                    <div class="row action-button" (click)="onEditItemClick(dataItem.lineOrder); tooltip.toggle(first)">
                        <button type="button" class="btn" >
                            <fa-icon [icon]="faPencilAlt" class="action-grid-icon"></fa-icon>
                            <span class="action-grid-label">{{'label.edit' | translate}}</span>
                        </button>
                    </div>
                    <div class="row action-button" (click)="onDeleteItemClick(dataItem.lineOrder); tooltip.toggle(first)">
                        <button type="button" class="btn" >
                            <fa-icon [icon]="faTrashAlt" class="action-grid-icon"></fa-icon>
                            <span class="action-grid-label">{{'tooltip.delete' | translate}}</span>
                        </button>
                    </div>
                </ng-template>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>

<app-po-fulfillment-cargo-detail-form
    [cargoDetailFormOpened]="cargoDetailFormOpened"
    (close)="onCargoDetailFormClosed()"
    (add)="onCargoDetailFormAdded($event)"
    (edit)="onCargoDetailFormEdited($event)"
    [model]="cargoDetailItem"
    [loadReferenceNumberOptions]="loadOptions"
    [isEditing]="isEditing"
    [isViewing]="isViewing"></app-po-fulfillment-cargo-detail-form>
