
    <div class="content__header">
        <div class="container-fluid">
            <div class="row header-group" *ngIf="isInitDataLoaded">
                <div class="col-sm">
                    <button attr.data-balloon="{{'tooltip.backToList' | translate}}"
                            data-balloon-pos="up"
                            type="button"
                            class="btn btn-default back-button"
                            (click)="backList()">
                        <i class="ei ei-arrow_left"></i>
                    </button>
                    <label class="form-header">{{'label.user' | translate}} #{{model.accountNumber}}</label>

                    <app-status-label [status]="model.status" [statusName]="model.statusName | translate" [statusEnum]="userStatus">
                    </app-status-label>
                </div>
                <div class="col-sm text-right">
                    <button
                        *ngIf="isShowResendActivationEmailButton"
                        attr.data-balloon="{{'tooltip.resendActivationEmail' | translate}}"
                        data-balloon-pos="up" type="button"
                        class="btn resend-activation-email-icon-button"
                        (click)="onResendActivationEmail()">
                        <fa-icon [icon]="faPaperPlane"></fa-icon>
                    </button>

                    <button
                        *ngIf="isShowDeleteButton"
                        attr.data-balloon="{{'tooltip.delete' | translate}}"
                        data-balloon-pos="up" type="button"
                        class="btn suspend-icon-button"
                        (click)="onDeleteUser()">
                        <i class="ei ei-icon_minus-06"></i>
                    </button>

                    <button
                        attr.data-balloon="{{'label.save' | translate}}"
                        data-balloon-pos="up"
                        type="button"
                        class="btn activate-icon-button"
                        (click)="saveUser()"
                        [hidden]="!isUserHasEditPermission">
                        <fa-icon [icon]="faSave"></fa-icon>
                    </button>
                    <button attr.data-balloon="{{'label.inactive' | translate}}"
                            data-balloon-pos="up"
                            type="button"
                            class="btn suspend-icon-button"
                            *ngIf="model.status === userStatus.Active"
                            (click)="changeUserStatusConfirm(userStatus.Inactive)">
                        <fa-icon [icon]="faPowerOff"></fa-icon>
                    </button>
                    <button attr.data-balloon="{{'label.active' | translate}}"
                            data-balloon-pos="up"
                            type="button"
                            class="btn btn-default activate-icon-button"
                            *ngIf="model.status === userStatus.Inactive"
                            (click)="changeUserStatusConfirm(userStatus.Active)"
                            [disabled]="!model.isInternal && (model.organizationStatus == null || model.organizationStatus == organizationStatus.Inactive)">
                        <fa-icon [icon]="faPowerOff"></fa-icon>
                    </button>
                </div>
            </div>

            <div class="typing_loader" *ngIf="!isInitDataLoaded"></div>
            <form class="row" #mainForm="ngForm" novalidate (ngSubmit)="onSubmit()" *ngIf="isInitDataLoaded">
                <div class="col-12 panel-group remove-padding-first-panel">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row profile-group">
                                <div>
                                    <img src="{{model.profilePicture ? model.profilePicture : defaultImageUrl}}" width="100" height="100" class="profile-avatar" />
                                </div>
                                <div class="profile-info-group">
                                    <label class="profile-name">{{nameString}}</label>
                                    <div>
                                        <fa-icon [icon]="faEnvelope" class="profile-email-icon"></fa-icon>
                                        <label class="profile-email">{{model.email}}</label>
                                    </div>
                                    <label class="k-invalid-msg organization-inactive-msg"
                                            *ngIf="model.organizationStatus != null && model.organizationStatus == organizationStatus.Inactive">
                                        {{'msg.organizationInactive' | translate:{organizationName: model.organizationName} }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="colored"/>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{'label.email' | translate}}</label>
                                <input name="email"
                                        required
                                        type="text"
                                        class="form-control"
                                        maxlength="64"
                                        [disabled]="true"
                                        [(ngModel)]="model.email" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label required">{{'label.role' | translate}}</label>
                                <kendo-dropdownlist name="roleId"
                                        [data]="roleOptions"
                                        [(ngModel)]="model.role.id"
                                        [valuePrimitive]="true"
                                        [defaultItem]="defaultDropDownRole"
                                        [textField]="'name'"
                                        (valueChange)="roleValueChange($event)"
                                        [valueField]="'id'"
                                        class="form-control"
                                        [disabled]="!isUserHasEditPermission"
                                        required>
                                    <ng-template kendoDropDownListValueTemplate let-dataItem>
                                        {{ dataItem.name | translate }}
                                    </ng-template>
                                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                                        {{ dataItem.name | translate }}
                                    </ng-template>
                                </kendo-dropdownlist>
                                <div *ngIf="formErrors['roleId']" class="k-invalid-msg">
                                    {{ formErrors.roleId }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="form-label required">{{'label.name' | translate}}</label>
                                    <input name="name"
                                            required
                                            type="text"
                                            class="form-control"
                                            [disabled]="!isUserHasEditPermission"
                                            [(ngModel)]="model.name" />
                                    <div *ngIf="formErrors['name']" class="k-invalid-msg">
                                        {{ formErrors.name }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{'label.phone' | translate}}</label>
                                <input name="phone"
                                        type="text"
                                        class="form-control"
                                        [disabled]="!isUserHasEditPermission"
                                        [(ngModel)]="model.phone"
                                        (input)="onTypingPhone($event.target.value)" />
                                <div *ngIf="formErrors['phone']" class="k-invalid-msg">
                                    {{ formErrors.phone }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{'label.country' | translate}}</label>
                                <kendo-dropdownlist name="countryId"
                                                    [data]="countryFilter"
                                                    [defaultItem]="defaultDropDownItem"
                                                    [valuePrimitive]="true"
                                                    [textField]="'label'"
                                                    [valueField]="'value'"
                                                    [(ngModel)]="model.countryId"
                                                    (filterChange)="onCountryFilterChanged($event)"
                                                    [filterable]="true"
                                                    [disabled]="!isUserHasEditPermission"
                                                    class="form-control">
                                    <ng-template kendoDropDownListValueTemplate let-dataItem>
                                        {{ dataItem.label | translate }}
                                    </ng-template>
                                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                                        {{ dataItem.label | translate }}
                                    </ng-template>
                                </kendo-dropdownlist>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{'label.department' | translate}}</label>
                                <input name="department"
                                        type="text"
                                        class="form-control"
                                        maxlength="128"
                                        [disabled]="!isUserHasEditPermission"
                                        [(ngModel)]="model.department" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label required">{{'label.organizationName' | translate}}</label>

                                <a *ngIf="model.organizationId != null && !model.isInternal"
                                    attr.data-balloon="{{'label.organization' | translate}}" data-balloon-pos="up"
                                    routerLink="/organizations/view/{{model.organizationId}}" target="_blank" class="link-icon-button organization-link-button">
                                    <fa-icon [icon]="faLink"></fa-icon>
                                </a>

                                <kendo-autocomplete #organizationAutoComplete name="organizationId" [data]="organizationOptions" [valueField]="'label'"
                                    [placeholder]="'label.select' | translate" [filterable]="true" (filterChange)="organizationFilterChange($event)"
                                    [(ngModel)]="model.organizationCodeName" (valueChange)="organizationValueChange($event)" class="form-control"
                                    [disabled]="!isUserHasEditPermission"
                                    required *ngIf="!model.isInternal">
                                </kendo-autocomplete>
                                <div *ngIf="formErrors['organizationId']" class="k-invalid-msg">
                                    {{ formErrors.organizationId }}
                                </div>

                                <input name="organizationName"
                                        type="text"
                                        class="form-control"
                                        [disabled]="true"
                                        [value]="model.organizationName"
                                        *ngIf="model.isInternal"/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{'label.organizationType' | translate}}</label>
                                <input  name="organizationTypeName"
                                        type="text"
                                        class="form-control"
                                        [disabled]="true"
                                        [value]="organizationTypeName | translate"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label [ngClass]="!model.isInternal ? 'form-label required' : 'form-label'">{{'label.companyName' | translate}}</label>
                                <input name="companyName"
                                        type="text"
                                        class="form-control"
                                        [(ngModel)]="model.companyName"
                                        [disabled]="!isUserHasEditPermission"
                                        [required]="!model.isInternal"/>
                                <div *ngIf="!model.isInternal && formErrors['companyName']" class="k-invalid-msg">
                                    {{ formErrors.companyName }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{'label.title' | translate}}</label>
                                <input name="title"
                                        type="text"
                                        class="form-control"
                                        maxlength="128"
                                        [disabled]="!isUserHasEditPermission"
                                        [(ngModel)]="model.title" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{'label.identityType' | translate}}</label>
                                <input name="identityType"
                                        type="text"
                                        class="form-control"
                                        [disabled]="true"
                                        [value]="model.identityType" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label">{{'label.identityTenant' | translate}}</label>
                                <input name="identityTenant"
                                        type="text"
                                        class="form-control"
                                        [disabled]="true"
                                        [value]="model.identityTenant" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="row" *ngIf="isInitDataLoaded">
                <div class="panel-group col-12">
                    <div class="row">
                        <label class="col-sm-6 panel-header">{{'label.historicalSignIn' | translate}}:
                            <span class="k-i-loading k-icon loading" *ngIf="this.isGridLoading"></span>
                            <span *ngIf="!this.isGridLoading">{{ gridData.totalRowCount | number:"0.0-0"}} {{'label.times' | translate | lowercase}}</span>
                        </label>
                        <label class="col-sm-6 text-right form-label last-sign-in-color">{{'label.lastSignIn' | translate}} | {{model.lastSignInDate | date: DATE_FORMAT}}
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label>{{'label.timeZoneOfGrid' | translate}} <b>{{'label.localTimeZone' | translate | lowercase}}</b>.</label>
                        </div>
                        <div class="col-12">
                            <kendo-grid #grid="kendoGrid" [data]="gridData"
                                [filterable]="true"
                                [filter]="gridState.filter"
                                [pageable]="true"
                                [pageSize]="gridState.take"
                                [skip]="gridState.skip"
                                [sortable]="true"
                                [sort]="gridState.sort"
                                (pageChange)="gridPageChange($event)"
                                (sortChange)="gridSortChange($event)"
                                (dataStateChange)="gridStateChange($event)"
                                class="custom-border-grid"
                                >
                                <kendo-grid-column [width]="200" field="operatingSystem" title="{{'label.os' | translate}}" [filterable]="true" [sortable]="true">
                                </kendo-grid-column>

                                <kendo-grid-column [width]="200" field="browser" title="{{'label.browser' | translate}}" [filterable]="true" [sortable]="true">
                                </kendo-grid-column>

                                <kendo-grid-column [width]="200" field="screenSize" title="{{'label.screenSize' | translate}}" [filterable]="true" [sortable]="true">
                                </kendo-grid-column>

                                <kendo-grid-column [width]="200" field="feature" title="{{'label.feature' | translate}}" [filterable]="true" [sortable]="true">
                                </kendo-grid-column>

                                <kendo-grid-column [width]="" field="accessDateTime" title="{{'label.dateTime' | translate}}" [filterable]="true" [sortable]="true" filter="date" format="{0:{{DATE_FORMAT}}}">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        {{ dataItem.accessDateTime | date: DATE_HOUR_FORMAT }}
                                    </ng-template>
                                </kendo-grid-column>
                            </kendo-grid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
