@import '../../../../../styles/variables';

.last-sign-in-align {
    padding-top: 95px;
}

.organization-link-button {
    color: $theme-color;
}

.organization-inactive-msg {
    position: absolute;
}

.last-sign-in-color {
    color: $color-grey-bright-1;
}
