.survey-question-dialog {
    .answer_item__container {
        display: flex;
        align-items: center;
        align-content: space-between;
        margin-top: 10px;

        .answer_seq {
            width: 7%;
        }
        .answer_input {
            width: 80%;
        }
        .answer_input.read-only {
            width: 93%;
        }
        .answer_action__container {
            width: 13%;
            text-align: right;
        }

        // &:first-child{
        //     margin-top: 0 !important;
        // }
    }

    .switch-btn-container {
        .switch-btn {
            font-size: 7px;
        }
    }

    .removed_row {
        display: none;
    }
}