<div class="content__header">
    <div class="container-fluid">

        <div class="row header-group">
            <label class="list-header">{{'label.listOfWarehouseLocations' | translate}}</label>
            <span class="k-i-loading k-icon loading" *ngIf="service.gridLoading"></span>
            <div class="col-sm text-right">
                <button
                    *hasPermission="[AppPermissions.Organization_WarehouseLocation_Detail_Add]"
                    routerLink="/warehouse-locations/add/0"
                    type="button"
                    class="btn header-button add-new-button">
                    <div class="icon-circle">
                        <fa-icon [icon]="faPlus"></fa-icon>
                    </div>
                    <span class="icon-circle-label">{{'label.addNew' | translate}}</span>
                </button>
            </div>
        </div>

        <div class="row">
            <kendo-grid
                #grid="kendoGrid" [data]="view | async" [filterable]="true" [filter]="service.state.filter"
                [pageable]="true" [pageSize]="service.state.take" [skip]="service.state.skip" [sortable]="true"
                [sort]="service.state.sort" (dataStateChange)="gridStateChange($event)"
                (pageChange)="service.pageChange($event)" (sortChange)="service.sortChange($event)"
                class="custom-border-grid">

                <kendo-grid-column field="code" title="{{'label.warehouseCode' | translate}}" [filterable]="true" [sortable]="true">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <a *ngIf="isWarehouseLocationViewAllow; else elseWarehouseCode" class="k-link" [title]="dataItem.code" routerLink="/warehouse-locations/view/{{dataItem.id}}" routerLinkActive="active">{{dataItem.code}}</a>
                        <ng-template #elseWarehouseCode>{{dataItem.code}}</ng-template>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="name" title="{{'label.name' | translate}}" [filterable]="true" [sortable]="true">
                </kendo-grid-column>

                <kendo-grid-column field="location" title="{{'label.cityCountry' | translate}}" [filterable]="true" [sortable]="true">
                </kendo-grid-column>

                <kendo-grid-column field="contactName" title="{{'label.contactName' | translate}}" [filterable]="true" [sortable]="true">
                </kendo-grid-column>

                <kendo-grid-column field="provider" title="{{'label.provider' | translate}}" [filterable]="true" [sortable]="true">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <a *ngIf="isOrganizationViewAllow; else elseProvider" class="k-link" [title]="dataItem.provider" routerLink="/organizations/view/{{dataItem.organizationId}}" routerLinkActive="active" target="_blank">{{dataItem.provider}}</a>
                        <ng-template #elseProvider>{{dataItem.provider}}</ng-template>
                    </ng-template>
                </kendo-grid-column>

                <ng-template kendoPagerTemplate>
                    <app-custom-grid-pager [service]="service" (pageSizeChanged)="gridPageSizeChange($event)">
                    </app-custom-grid-pager>
                </ng-template>
            </kendo-grid>
        </div>
    </div>
</div>
