@import "../../../../styles/variables";

.bulk-fulfillment-cargo-detail-container {
    .k-grid.containers-grid ::ng-deep {
        border-width: 0;
        .k-grid-header {
            border-bottom-width: 0;
        }
        thead {
            display: none;
        }
        td {
            border-width: 0;
        }
        .k-grid-norecords {
            display: none;
        }
    }
    .subtotal-tbl {
        width: 100%;
        font-weight: bold;
        color: $color-green-primary;
        &.table-bordered {
            border: 1px solid $color-white-dark-2;
            border-width: 0 1px 1px 1px;
            td {
                padding: 15px 12px;
                border: 0;
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    .k-grid.containers-grid ::ng-deep {
        colgroup {
            // Ordinal no
            col:nth-child(1) {
                width: 5px !important;
            }
            // Equipment Type
            col:nth-child(2) {
                width: 40px !important;
            }
            // x
            col:nth-child(3) {
                width: 5px !important;
            }
            // Quantity
            col:nth-child(4) {
                width: 19px !important;
            }
            // Containers
            col:nth-child(5) {
                width: 19px !important;
            }
            // Action
            col:nth-child(6) {
                width: 12px !important;
            }
        }
    }
}