
<div class="row">
    <div class="col-6">
        <label class="panel-header fs-14">{{'label.cargoDetails' | translate}}</label>
    </div>
    <div class="col-6">
        <div class="text-right">
            <ng-template *ngIf="(!isHiddenLoads || isLoadTabEditable) else addOrderButton"></ng-template>
        </div>
    </div>
</div>
<div class="bulk-fulfillment-cargo-detail-container">
    <div class="row mb-3" style="align-items: center;">
        <div class="col-6" *ngIf="!isHiddenLoads"[hidden]="isViewMode && formHelper.isHiddenColumn(viewSettings, viewSettingModuleIdType.BULKBOOKING_DETAIL_LOADS,'equipmentType')">
                <div>
                    <label class="required">{{'label.equipmentType' | translate}}</label>
                    <button type="button" class="btn prim-button add-more-icon-button ml-3" *ngIf="!isLoadTabEditable"
                        attr.data-balloon="{{'label.addContainer' | translate}}" data-balloon-pos="up" (click)="addBlankLoad()"
                        id="addMoreBtn" [disabled]="!canAddContainer">
                        <i class="ei ei-icon_plus"></i>
                    </button>
                </div>
                <kendo-grid #grid="kendoGrid" [data]="groupedLoads" [scrollable]="'vertical'" [selectable]="false"
                    class="custom-edit-grid containers-grid" [rowClass]="loadRowCallback">
                    <kendo-grid-column [width]='5'>
                        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                            <div style="margin-top: 6px;">{{dataItem.ordinalNo}}</div>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="equipmentType" [width]='40'>
                        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                            <kendo-dropdownlist name="{{tabPrefix}}equipmentType_{{rowIndex}}" required
                                [(ngModel)]="dataItem.equipmentType" [data]="dataItem.equipmentTypeOptions" [valuePrimitive]="true"
                                [textField]="'label'" [valueField]="'value'" class="form-control"
                                (valueChange)="equipmentTypeChanged(rowIndex)" [disabled]="isLoadTabEditable">
                                <ng-template kendoDropDownListValueTemplate let-dataItem>
                                    {{ dataItem?.label | translate }}
                                </ng-template>
                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                    {{ dataItem?.label | translate }}
                                </ng-template>
                            </kendo-dropdownlist>
                            <div *ngIf="formErrors[tabPrefix + 'equipmentType_' + rowIndex]" class="k-invalid-msg">
                                {{ formErrors[tabPrefix + 'equipmentType_' + rowIndex] }}
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column [width]='5'>
                        <ng-template kendoGridCellTemplate>
                            <div class="text-right" style="margin-top: 6px;">x</div>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="quantity" [width]='20' [headerClass]="'multiline-header'">
                        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                            <kendo-numerictextbox
                                required
                                [disabled]="isLoadTabEditable"
                                name="{{tabPrefix}}containerQty_{{rowIndex}}"
                                [min]="1"
                                [format]="'n0'"
                                class="form-control"
                                [step]="1"
                                [decimals]="0"
                                [autoCorrect]="true"
                                [(ngModel)]="dataItem.quantity">
                            </kendo-numerictextbox>
                            <div *ngIf="formErrors[tabPrefix + 'containerQty_' + rowIndex]" class="k-invalid-msg">
                                {{ formErrors[tabPrefix + 'containerQty_' + rowIndex] }}
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column [width]='15'>
                        <ng-template kendoGridCellTemplate>
                            <div style="margin-top: 6px;">{{'label.containers' | translate}}</div>
                        </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column [width]='15' class="col-action text-left">
                        <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                            <button attr.data-balloon="{{'tooltip.delete' | translate}}" *ngIf="!isLoadTabEditable"
                                data-balloon-pos="left" type="button" class="btn ml-0 btn-default grid-remove-icon-button"
                                (click)="deleteLoad(rowIndex)">
                                <i class="ei ei-icon_minus-06"></i>
                            </button>
                        </ng-template>
                    </kendo-grid-column>
                </kendo-grid>
          
            <div *ngIf="errorMessages.atLeastOneContainer && !isHiddenLoads" class="k-invalid-msg mb-3">
                {{errorMessages.atLeastOneContainer | translate}}
            </div>
        </div>
        <div class="col-6" [hidden]="isViewMode && formHelper.isHiddenColumn(viewSettings, viewSettingModuleIdType.BULKBOOKING_DETAIL,'isAllowMixedCarton')">
            <div class="form-group mb-0">
                <label class="form-label">{{'label.mixedCarton?' | translate}}</label>
                <div class="radio-wrapper" #anchor>
                    <input id="allowMixedCarton_yes"
                            type="radio"
                            class="k-radio"
                            name="allowMixedCarton_yes"
                            [disabled]="isLoadTabEditable"
                            [value]="true"
                            [(ngModel)]="allowMixedCarton"
                            (change)="mixedCartonChange.emit(allowMixedCarton)"/>
                    <label class="k-radio-label" for="allowMixedCarton_yes">{{'label.yes' | translate}}</label>
                    <input id="allowMixedCarton_no"
                            type="radio"
                            class="k-radio"
                            name="allowMixedCarton_no"
                            [disabled]="isLoadTabEditable"
                            [value]="false"
                            [(ngModel)]="allowMixedCarton"
                            (change)="mixedCartonChange.emit(allowMixedCarton)"/>
                    <label class="k-radio-label" for="allowMixedCarton_no">{{'label.no' | translate}}</label>
                </div>
            </div>
        </div>
    </div>
    

    <div class="text-right">
        <ng-template *ngIf="(isHiddenLoads || isLoadTabEditable) else addOrderButton"></ng-template>
    </div>

    <kendo-grid [data]="orders" [rowClass]="itemRowCallback" [scrollable]="'vertical'" class="bulkFulfillment-orders-grid">

        <kendo-grid-column field="customerPONumber" [hidden]="isViewMode && formHelper.isHiddenColumn(viewSettings, viewSettingModuleIdType.BULKBOOKING_DETAIL_CARGO_DETAILS,'customerPONumber')" [width]="12" title="{{'label.poNo' | translate}}" [headerClass]="'multiline-header'">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                {{dataItem.customerPONumber | default: defaultValue}}
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="productCode" [hidden]="isViewMode && formHelper.isHiddenColumn(viewSettings, viewSettingModuleIdType.BULKBOOKING_DETAIL_CARGO_DETAILS,'productCode')" [width]="12" title="{{'label.itemNo' | translate}}" [headerClass]="'multiline-header'">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                {{dataItem.productCode | default: defaultValue}}
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="productName" [hidden]="isViewMode && formHelper.isHiddenColumn(viewSettings, viewSettingModuleIdType.BULKBOOKING_DETAIL_CARGO_DETAILS,'productName')" [width]="22" title="{{'label.descriptionOfGoods' | translate}}" [headerClass]="'multiline-header'">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                <a class="k-link" routerLinkActive="active" (click)="openItemDetailDialog(rowIndex)">{{dataItem.productName}}</a>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="fulfillmentUnitQty" [hidden]="isViewMode && formHelper.isHiddenColumn(viewSettings, viewSettingModuleIdType.BULKBOOKING_DETAIL_CARGO_DETAILS,'fulfillmentUnitQty')" [width]="11" title="{{'label.bookedQty' | translate}}" [headerClass]="'multiline-header'">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                <ng-container *ngIf="dataItem.fulfillmentUnitQty > 0; else fulfillmentUnitQtyDefaultValue">
                    {{dataItem.fulfillmentUnitQty | number:0}} {{getUOMLabel(dataItem.fulfillmentUnitQty, dataItem.unitUOM) | translate}}
                </ng-container>
                <ng-template #fulfillmentUnitQtyDefaultValue>
                    {{defaultValue}}
                </ng-template>
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="bookedPackage" [hidden]="isViewMode && formHelper.isHiddenColumn(viewSettings, viewSettingModuleIdType.BULKBOOKING_DETAIL_CARGO_DETAILS,'bookedPackage')" [width]="11" title="{{'label.bookedPackage' | translate}}" [headerClass]="'multiline-header'">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                {{dataItem.bookedPackage | number:0}} {{getUOMLabel(dataItem.bookedPackage, dataItem.packageUOM) | translate}}
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="grossWeight" [hidden]="isViewMode && formHelper.isHiddenColumn(viewSettings, viewSettingModuleIdType.BULKBOOKING_DETAIL_CARGO_DETAILS,'grossWeight')" [width]="11" title="{{'label.grossWeightKGS' | translate}}" [headerClass]="'multiline-header'">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                {{dataItem.grossWeight | number: '0.2-2'}}
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="volume" [hidden]="isViewMode && formHelper.isHiddenColumn(viewSettings, viewSettingModuleIdType.BULKBOOKING_DETAIL_CARGO_DETAILS,'volume')" [width]="11" title="{{'label.volumeCBM' | translate}}" [headerClass]="'multiline-header'">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                {{dataItem.volume | number: '0.3-3'}}
            </ng-template>
        </kendo-grid-column>

        <kendo-grid-column *ngIf="!isLoadTabEditable" title="{{'label.action' | translate}}" width="10" headerClass="action-header" class="action-column-grid col-action" [headerClass]="'multiline-header'">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <button attr.data-balloon="{{'tooltip.edit' | translate}}" data-balloon-pos="left" type="button" class="ml-0 btn grid-edit-icon-button tooltip-action" (click)="editOrder(rowIndex)">
                    <fa-icon [icon]="faPencilAlt"></fa-icon>
                </button>
                <button attr.data-balloon="{{'tooltip.delete' | translate}}" data-balloon-pos="left"  type="button" class="btn grid-remove-icon-button tooltip-action" (click)="deleteOrder(rowIndex)">
                    <i class="ei ei-icon_minus-06"></i>
                </button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>

    <table class="subtotal-tbl table-bordered" *ngIf="orders?.length > 0">
        <tr>
          <td style="width: 12%"></td>
          <td style="width: 12%"></td>
          <td style="width: 22%">{{'label.total' | translate}}</td>
          <td style="width: 11%"></td>
          <td style="width: 11%" [hidden]="isViewMode && formHelper.isHiddenColumn(viewSettings, viewSettingModuleIdType.BULKBOOKING_DETAIL_CARGO_DETAILS,'bookedPackage')">{{totalBookedPackage | number:0}} {{ getUOMLabel(totalBookedPackage, "Package") | translate}}</td>
          <td style="width: 11%" [hidden]="isViewMode && formHelper.isHiddenColumn(viewSettings, viewSettingModuleIdType.BULKBOOKING_DETAIL_CARGO_DETAILS,'grossWeight')">{{totalGrossWeight | number: '0.2-2'}} KGS</td>
          <td style="width: 11%" [hidden]="isViewMode && formHelper.isHiddenColumn(viewSettings, viewSettingModuleIdType.BULKBOOKING_DETAIL_CARGO_DETAILS,'volume')">{{totalVolume | number: '0.3-3'}} CBM</td>
          <td style="width: 10%" *ngIf="!isLoadTabEditable"></td>
        </tr>
    </table>
    <div *ngIf="errorMessages.atLeastOneCargoItem" class="k-invalid-msg">
        {{errorMessages.atLeastOneCargoItem | translate}}
    </div>
    <div *ngIf="errorMessages.invalidBookedPackage" class="k-invalid-msg">
        {{errorMessages.invalidBookedPackage | translate}}
    </div>
</div>

<ng-template #addOrderButton>
    <button type="button" class="btn header-button small-button" (click)="addOrder()" style="margin-bottom: 20px;">
        <div class="icon-circle">
            <fa-icon [icon]="faPlus"></fa-icon>
        </div>
        <span class="icon-circle-label">{{'label.addItem' | translate}}</span>
    </button>
</ng-template>

<app-bulk-fulfillment-item-form-dialog
    *ngIf="itemFormOpened"
    [formMode]="itemFormMode"
    [model]="orderModel"
    [isRequireBookedPackage]="!allowMixedCarton"
    [itemFormOpened]="itemFormOpened"
    [currentSelectedIndex]="currentSelectedIndex"
    (close)="itemFormClosedHandler()"
    (add)="onOrderAdded($event)"
    (edit)="onOrderEdited($event)">
</app-bulk-fulfillment-item-form-dialog>

<app-bulk-fulfillment-item-detail-dialog
    [viewSettings]="viewSettings"
    [isViewMode]="isViewMode"
    [model]="orderModel"
    [itemDetailDialogOpened]="itemDetailDialogOpened"
    (close)="itemDetailDialogClosedHandler()">
</app-bulk-fulfillment-item-detail-dialog>
