<kendo-dialog [title]="(isViewing ? 'label.viewCargoDetail' : 'label.addCargoDetail') | translate" *ngIf="cargoDetailFormOpened" (close)="onCargoDetailFormClose()" class="custom-header-dialog">
    <div class="cargo-detail-form-wrapper px-3">
        <div class="edit-info row mt-4">
            <form class="edit-info-form-input" #mainForm="ngForm">
                <div class="col-12">
                    <div class="row my-2">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>{{
                                            "label.lineOrder" | translate
                                        }}</label>
                                        <input
                                            class="form-control"
                                            disabled
                                            [(ngModel)]="model.lineOrder"
                                            name="lineOrder"
                                            type="number"
                                            min="1"
                                        />
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <label class="required">{{
                                            "label.loadRefNo" | translate
                                        }}</label>
                                        <kendo-dropdownlist
                                            [data]="loadReferenceNumberOptions"
                                            class="form-control"
                                            [textField]="'label'"
                                            [valueField]="'value'"
                                            [(ngModel)]="model.loadReferenceNumber"
                                            [valuePrimitive]="true"
                                            required
                                            name="loadReferenceNumber"
                                            [disabled]="isViewing"
                                        >
                                            <ng-template
                                                kendoDropDownListValueTemplate
                                                let-dataItem
                                            >
                                                {{
                                                    dataItem?.label | translate
                                                }}
                                            </ng-template>
                                            <ng-template
                                                kendoDropDownListItemTemplate
                                                let-dataItem
                                            >
                                                {{
                                                    dataItem?.label | translate
                                                }}
                                            </ng-template>
                                        </kendo-dropdownlist>
                                        <div *ngIf="formErrors['loadReferenceNumber']" class="k-invalid-msg">
                                            {{formErrors.loadReferenceNumber}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="required">{{
                                            "label.packageQty" | translate
                                        }}</label>
                                        <input
                                            class="form-control"
                                            required
                                            [(ngModel)]="model.packageQuantity"
                                            name="packageQuantity"
                                            kendoTextBox
                                            type="number"
                                            min="1"
                                            (ngModelChange)="onPackageQuantityChange($event)"
                                            [disabled]="isViewing"
                                        />
                                        <div *ngIf="formErrors['packageQuantity']" class="k-invalid-msg">
                                            {{formErrors.packageQuantity}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="required">{{
                                            "label.packageUOM" | translate
                                        }}</label>
                                        <kendo-dropdownlist
                                            [data]="packageUomType"
                                            class="form-control"
                                            [textField]="'label'"
                                            [valueField]="'value'"
                                            [(ngModel)]="model.packageUOM"
                                            [valuePrimitive]="true"
                                            required
                                            name="packageUomType"
                                            [disabled]="isViewing"
                                        >
                                            <ng-template
                                                kendoDropDownListValueTemplate
                                                let-dataItem
                                            >
                                                {{
                                                    dataItem?.label | translate
                                                }}
                                            </ng-template>
                                            <ng-template
                                                kendoDropDownListItemTemplate
                                                let-dataItem
                                            >
                                                {{
                                                    dataItem?.label | translate
                                                }}
                                            </ng-template>
                                        </kendo-dropdownlist>
                                        <div *ngIf="formErrors['packageUomType']" class="k-invalid-msg">
                                            {{formErrors.packageUomType}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="required">{{
                                            "label.packageDimension" | translate
                                        }}</label>
                                        <div class="input-group">
                                            <input
                                                class="form-control border-right-0"
                                                type="number"
                                                required
                                                [(ngModel)]="model.height"
                                                name="height"
                                                type="number"
                                                min="1"
                                                [ngClass]="{'border-error': formErrors['height'] !== ''}"
                                                (ngModelChange)="onHeightChange($event)"
                                                [disabled]="isViewing"
                                            />
                                            <div class="input-group-append" *ngIf="!isViewing">
                                                <span
                                                    class="input-group-text bg-white text-dark" [ngClass]="{'border-error': formErrors['height'] !== ''}"
                                                    >H</span
                                                >
                                            </div>
                                            <div *ngIf="formErrors['height']" class="k-invalid-msg">
                                                {{formErrors.height}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-input-icon">
                                        <span class="ei ei-icon_close"></span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <div class="input-group">
                                            <input
                                                class="form-control border-right-0"
                                                type="text"
                                                required
                                                [(ngModel)]="model.width"
                                                name="width"
                                                type="number"
                                                min="1"
                                                [ngClass]="{'border-error': formErrors['width'] !== ''}"
                                                (ngModelChange)="onWidthChange($event)"
                                                [disabled]="isViewing"
                                            />
                                            <div class="input-group-append" *ngIf="!isViewing">
                                                <span
                                                    class="input-group-text bg-white text-dark" [ngClass]="{'border-error': formErrors['width'] !== ''}"
                                                    >W</span
                                                >
                                            </div>
                                            <div *ngIf="formErrors['width']" class="k-invalid-msg">
                                                {{formErrors.width}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-input-icon">
                                        <span class="ei ei-icon_close"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <div class="input-group">
                                            <input
                                                class="form-control border-right-0"
                                                type="text"
                                                required
                                                [(ngModel)]="model.length"
                                                name="length"
                                                type="number"
                                                min="1"
                                                [ngClass]="{'border-error': formErrors['length'] !== ''}"
                                                (ngModelChange)="onLengthChange($event)"
                                                [disabled]="isViewing"
                                            />
                                            <div class="input-group-append" *ngIf="!isViewing">
                                                <span
                                                    class="input-group-text bg-white text-dark" [ngClass]="{'border-error': formErrors['length'] !== ''}"
                                                    >L</span
                                                >
                                            </div>
                                            <div *ngIf="formErrors['length']" class="k-invalid-msg">
                                                {{formErrors.length}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-input-icon">
                                        <span class="ei ei-icon_close"></span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <kendo-dropdownlist
                                            [data]="packageDimensionUnitType"
                                            class="form-control"
                                            [textField]="'label'"
                                            [valueField]="'value'"
                                            [(ngModel)]="model.dimensionUnit"
                                            [valuePrimitive]="true"
                                            required
                                            name="dimensionUnitType"
                                            (valueChange)="onPackageDemensionUnitChange($event)"
                                            [disabled]="isViewing"
                                        >
                                        </kendo-dropdownlist>
                                        <div *ngIf="formErrors['dimensionUnitType']" class="k-invalid-msg">
                                            {{formErrors.dimensionUnitType}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="required">{{
                                            "label.totalUnitQty" | translate
                                        }}</label>
                                        <input
                                            class="form-control"
                                            required
                                            [(ngModel)]="model.unitQuantity"
                                            name="unitQuantity"
                                            type="number"
                                            min="1"
                                            kendoTextBox
                                            [disabled]="isViewing"
                                        />
                                        <div *ngIf="formErrors['unitQuantity']" class="k-invalid-msg">
                                            {{formErrors.unitQuantity}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="required">{{
                                            "label.unitUOM" | translate
                                        }}</label>
                                        <kendo-dropdownlist
                                            [data]="unitUomType"
                                            class="form-control"
                                            [textField]="'label'"
                                            [valueField]="'value'"
                                            [(ngModel)]="model.unitUOM"
                                            [valuePrimitive]="true"
                                            required
                                            name="unitUomType"
                                            [disabled]="isViewing"
                                        >
                                            <ng-template
                                                kendoDropDownListValueTemplate
                                                let-dataItem
                                            >
                                                {{
                                                    dataItem?.label | translate
                                                }}
                                            </ng-template>
                                            <ng-template
                                                kendoDropDownListItemTemplate
                                                let-dataItem
                                            >
                                                {{
                                                    dataItem?.label | translate
                                                }}
                                            </ng-template>
                                        </kendo-dropdownlist>
                                        <div *ngIf="formErrors['unitUomType']" class="k-invalid-msg">
                                            {{formErrors.unitUomType}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="required">{{
                                            "label.totalVolume" | translate
                                        }}</label>
                                        <div class="input-group">
                                            <input
                                                class="form-control border-right-0"
                                                required
                                                [(ngModel)]="model.volume"
                                                name="volume"
                                                type="number"
                                                min="1"
                                                [ngClass]="{'border-error': formErrors['volume'] !== ''}"
                                                [disabled]="isViewing"
                                            />
                                            <div class="input-group-append" *ngIf="!isViewing">
                                                <span
                                                    class="input-group-text bg-white text-black-50" [ngClass]="{'border-error': formErrors['volume'] !== ''}"
                                                    >CBM</span
                                                >
                                            </div>
                                            <div *ngIf="formErrors['volume']" class="k-invalid-msg">
                                                {{formErrors.volume}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="required">{{
                                            "label.totalGrossWeight" | translate
                                        }}</label>
                                        <div class="input-group">
                                            <input
                                                class="form-control border-right-0"
                                                required
                                                [(ngModel)]="
                                                    model.grossWeight
                                                "
                                                name="grossWeight"
                                                type="number"
                                                min="1"
                                                [ngClass]="{'border-error': formErrors['grossWeight'] !== ''}"
                                                [disabled]="isViewing"
                                                (ngModelChange)="onGrossWeightChange($event)"
                                            />
                                            <div class="input-group-append" *ngIf="!isViewing">
                                                <span
                                                    class="input-group-text bg-white text-black-50" [ngClass]="{'border-error': formErrors['grossWeight'] !== ''}"
                                                    >KGS</span
                                                >
                                            </div>
                                            <div *ngIf="formErrors['grossWeight']" class="k-invalid-msg">
                                                {{formErrors.grossWeight}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="required">{{
                                            "label.totalNetWeight" | translate
                                        }}</label>
                                        <div class="input-group">
                                            <input
                                                class="form-control border-right-0"
                                                required
                                                [(ngModel)]="
                                                    model.netWeight
                                                "
                                                name="netWeight"
                                                type="number"
                                                min="1"
                                                [ngClass]="{'border-error': formErrors['netWeight'] !== ''}"
                                                [disabled]="isViewing"
                                                (ngModelChange)="onNetWeightChange($event)"
                                            />
                                            <div class="input-group-append" *ngIf="!isViewing">
                                                <span
                                                    class="input-group-text bg-white text-black-50" [ngClass]="{'border-error': formErrors['netWeight'] !== ''}"
                                                    >KGS</span
                                                >
                                            </div>
                                            <div *ngIf="formErrors['netWeight']" class="k-invalid-msg">
                                                {{formErrors.netWeight}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>{{
                                            "label.countryOfOrigin" | translate
                                        }}</label>
                                        <input
                                            class="form-control"
                                            [(ngModel)]="model.countryCodeOfOrigin"
                                            name="countryOfOrigin"
                                            [disabled]="isViewing"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>{{
                                            "label.hsCode" | translate
                                        }}</label>
                                        <input
                                            class="form-control"
                                            [(ngModel)]="model.hsCode"
                                            name="hsCode"
                                            kendoTextBox
                                            [disabled]="isViewing"
                                        />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>{{
                                            "label.commodity" | translate
                                        }}</label>
                                        <kendo-dropdownlist
                                            [data]="commodityOptions"
                                            class="form-control"
                                            [textField]="'label'"
                                            [valueField]="'value'"
                                            [(ngModel)]="model.commodity"
                                            [valuePrimitive]="true"
                                            name="commodity"
                                            [disabled]="isViewing"
                                        >
                                            <ng-template
                                                kendoDropDownListValueTemplate
                                                let-dataItem
                                            >
                                                {{
                                                    dataItem?.label | translate
                                                }}
                                            </ng-template>
                                            <ng-template
                                                kendoDropDownListItemTemplate
                                                let-dataItem
                                            >
                                                {{
                                                    dataItem?.label | translate
                                                }}
                                            </ng-template>
                                        </kendo-dropdownlist>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>{{
                                            "label.shippingMarks" | translate
                                        }}</label>
                                        <textarea class="form-control note-textarea"
                                            [(ngModel)]="model.shippingMarks"
                                            name="shippingMarks"
                                            [disabled]="isViewing"
                                        ></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>{{
                                            "label.packageDescription"
                                                | translate
                                        }}</label>
                                        <textarea class="form-control note-textarea"
                                            [(ngModel)]="
                                                model.packageDescription
                                            "
                                            name="packageDescription"
                                            [disabled]="isViewing"
                                        ></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <kendo-dialog-actions>
        <button type="button" class="btn second-button dialog-button" (click)="onCargoDetailFormClose()" #Cancel>{{(isViewing ? 'label.close' : 'label.cancel') | translate}}</button>
        <button type="button" *ngIf="!isViewing && !isEditing" class="btn prim-button dialog-button" (click)="onAddClick()" [disabled]="!mainForm.valid">{{'label.add' | translate}}</button>
        <button type="button" *ngIf="isEditing" class="btn prim-button dialog-button" (click)="onEditClick()" [disabled]="!mainForm.valid">{{'label.save' | translate}}</button>
    </kendo-dialog-actions>
</kendo-dialog>
