<div class="col-12 panel-group">
    <label class="panel-header">{{'label.warehouseAssignment' | translate}}</label>
    <form #mainForm="ngForm">
        <kendo-grid #grid="kendoGrid" [data]="warehouseAssignments" [scrollable]="'vertical'" [selectable]="false" class="custom-edit-grid">
            <kendo-grid-column [width]="14" field="code">
                <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                    <label class="required" style="margin-bottom: unset;">{{'label.warehouseCode' | translate}}</label>
                </ng-template>
                <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex" class="organization-code-dropdown">
                    <a class="k-link" routerLinkActive="active" *ngIf="!dataItem.isAddLine && currentUser.isInternal" target="_blank" routerLink="/warehouse-locations/view/{{dataItem.warehouseLocation?.id}}">{{dataItem.warehouseLocation?.code}}</a>
                    <ng-container *ngIf="!dataItem.isAddLine && !currentUser.isInternal">{{dataItem.warehouseLocation?.code}}</ng-container>
                    <kendo-dropdownlist *ngIf="dataItem.isAddLine"
                                        [class.force-invalid]="frmControlByName('warehouseLocationCode')?.errors && (frmControlByName('warehouseLocationCode')?.dirty || frmControlByName('warehouseLocationCode')?.touched)"
                                        name="warehouseLocationCode"
                                        required
                                        [(ngModel)]="dataItem.warehouseLocation.id"
                                        [data]="filteredWarehouseLocationOptions"
                                        [valuePrimitive]="true"
                                        [textField]="'label'"
                                        [valueField]="'value'"
                                        (valueChange)="onWarehouseCodeChanged($event, rowIndex)">
                    </kendo-dropdownlist>
                    <div *ngIf="dataItem.isAddLine && frmControlByName('warehouseLocationCode')?.errors && (frmControlByName('warehouseLocationCode')?.dirty || frmControlByName('warehouseLocationCode')?.touched)" class="k-invalid-msg">
                        <p *ngIf="frmControlByName('warehouseLocationCode')?.errors?.required">
                            {{ 'validation.requiredField' | translate: {'fieldName': 'label.warehouseCode' | translate} }}
                        </p>
                    </div>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [width]="18" field="warehouseLocation.name" title="{{'label.name' | translate}}">
            </kendo-grid-column>
            <kendo-grid-column [width]="14" field="contactPerson" title="{{'label.contactName' | translate}}">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                    <ng-container *ngIf="!dataItem.isAddLine">{{dataItem.contactPerson}}</ng-container>
                    <input *ngIf="dataItem.isAddLine" name="contactPerson" type="text" class="form-control" [(ngModel)]="dataItem.contactPerson"/>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [width]="14" field="contactPhone" title="{{'label.contactNumber' | translate}}">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                    <ng-container *ngIf="!dataItem.isAddLine">{{dataItem.contactPhone}}</ng-container>
                    <input *ngIf="dataItem.isAddLine" name="contactPhone" type="text" maxlength="32" class="form-control" [(ngModel)]="dataItem.contactPhone"/>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [width]="14" field="contactEmail" title="{{'label.contactEmail' | translate}}" class="organization-email">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                    <a *ngIf="!dataItem.isAddLine; else emailInput" title="{{dataItem.contactEmail}}">{{dataItem.contactEmail}}</a>
                    <ng-template #emailInput>
                        <div [class.force-invalid]="frmControlByName('contactEmail')?.errors">
                            <input name="contactEmail" type="text" class="form-control" [(ngModel)]="dataItem.contactEmail" (ngModelChange)="onContactEmailValueChanged($event)"/>
                        </div>
                        <div *ngIf="frmControlByName('contactEmail')?.errors && (frmControlByName('contactEmail')?.dirty || frmControlByName('contactEmail')?.touched)" class="k-invalid-msg">
                            <p *ngIf="frmControlByName('contactEmail')?.errors?.incorrect">
                                {{ 'validation.emailFormat' | translate }}
                            </p>
                        </div>
                    </ng-template>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-command-column [width]="8" title="{{'label.action' | translate}}" [headerStyle]="{'text-align': 'center'}"
                class="action-column-grid col-action" width="75" *ngIf="isEditable">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                    <button attr.data-balloon="{{'tooltip.delete' | translate}}" data-balloon-pos="left" type="button"
                        class="btn ml-0 btn-default grid-remove-icon-button"
                        (click)="removeWarehouse(dataItem, rowIndex)" [disabled]="isAdding && !dataItem.isAddLine">
                        <i class="ei ei-icon_minus-06"></i>
                    </button>
                    <button attr.data-balloon="{{'label.save' | translate}}" data-balloon-pos="left" type="button"
                        class="btn btn-default grid-approve-icon-button" *ngIf="dataItem.isAddLine"
                        (click)="assignWarehouse(dataItem)" [disabled]="!dataItem?.warehouseLocation?.id || !mainForm.valid">
                        <i class="ei ei-icon_check"></i>
                    </button>
                </ng-template>
            </kendo-grid-command-column>
        </kendo-grid>
    </form>
    
    <div class="margin-add-icon-button" *ngIf="isEditable">
        <button type="button" class="btn prim-button add-more-icon-button"
            attr.data-balloon="{{'label.addMore' | translate}}" data-balloon-pos="up"
            (click)="addBlank()" [disabled]="isAdding" id="addMoreBtn">
            <i class="ei ei-icon_plus"></i>
        </button>
    </div>
</div>