@import '../../../styles/variables';

.editable-field .ng-fa-icon {
    cursor: pointer;
    &:hover {
        color: $theme-color;
    }
}

.editable-field .icon-edit {
    float: right;
}

.save-options {
    margin-top: 4px;
}

.save-options .ng-fa-icon {
    padding: 0 7px;
}
