<div class="editable-field">
    <ng-container *ngIf="!isEditing">
        {{ value }}
        <fa-icon *ngIf="isEditable" [icon]="faPencilAlt" class="icon-edit"
        (click)="editValue()"
        [title]="'label.edit' | translate"></fa-icon>
    </ng-container>
    <ng-container *ngIf="isEditing">
        <input #editable type="text" class="form-control" [(ngModel)]="value"/>
        <div class="save-options text-right">
            <fa-icon [icon]="faCheck" class="" (click)="saveValue()"
            [title]="'label.submit' | translate"></fa-icon>
            <fa-icon [icon]="faRemove" class="" (click)="cancelEditing()"
            [title]="'label.cancel' | translate"></fa-icon>
        </div>
    </ng-container>
</div>
