<div class="content__header">
    <div class="container-fluid">
        <div class="row header-group" *ngIf="firstLoaded">
            <label class="list-header">{{'label.listOfPurchaseOrders' | translate}}</label>
            <span class="k-i-loading k-icon loading" *ngIf="service.gridLoading"></span>
            <div class="col-sm text-right">
                <button *hasPermission="[AppPermissions.PO_ProgressCheckCRD]" type="button"
                    (click)="progressCheck()"
                    class="btn header-button btn-color-yellow">
                    <fa-icon [icon]="faPlus" class="collapsed-content"></fa-icon>
                    {{'label.progressCheck' | translate}}
                </button>

                <button *hasPermission="[AppPermissions.PO_Detail_Add,AppPermissions.PO_Detail_Edit]" type="button"
                    class="btn header-button download-button" (click)="downloadTemplate()"
                    [hidden]="hiddenBtnDownloadTemplate()">
                    <fa-icon [icon]="faCloudDownloadAlt" class=""></fa-icon>
                    {{'label.download' | translate}}
                </button>

                <button type="button" class="btn header-button export-button btn-color-orange" (click)="exportExcel()">
                    <fa-icon [icon]="faFileDownload" class=""></fa-icon>
                    {{'label.export' | translate}}
                </button>

                <button *hasPermission="[AppPermissions.PO_Detail_Add,AppPermissions.PO_Detail_Edit]" type="button"
                    class="btn header-button import-button btn-color-green" (click)="importFormOpened = true"
                    [hidden]="hiddenBtnImportPO()">
                    <fa-icon [icon]="faFileImport" class=""></fa-icon>
                    {{'label.import' | translate}}
                </button>

                <button class="btn header-button booking-multipos-button btn-color-green" *hasPermission="[AppPermissions.PO_Fulfillment_Detail_Edit]"
                    type="button" [hidden]="isHiddenBookingButton" (click)="selectPOsPopupOpeningHandler()">
                    <fa-icon [icon]="faCheck" class=""></fa-icon>
                    {{'label.fulfillment' | translate}}
                </button>

            </div>
        </div>
        <div class="typing_loader" *ngIf="!firstLoaded"></div>
        <div class="row" *ngIf="firstLoaded">
            <kendo-grid #grid="kendoGrid" [data]="view | async" [filterable]="true" [filter]="service.state.filter"
                [pageable]="true" [pageSize]="service.state.take" [skip]="service.state.skip" [sortable]="true"
                (filterChange)="onFilterChanged($event)"
                [sort]="service.state.sort" (dataStateChange)="gridStateChange($event)"
                (pageChange)="service.pageChange($event)" (sortChange)="service.sortChange($event)"
                class="custom-border-grid">

                <!-- server.visibleColumns contains name of visible columns-->
                <kendo-grid-column *ngFor="let column of columns" [sortable]="true" [field]="column.field"
                    [title]="column.title | translate" [class]="column.class" [width]="column.width"
                    [format]="column.format" [filter]="column.filter"
                    [hidden]="service.visibleColumns.indexOf(column.field) < 0">

                    <!-- poNumber -->
                    <ng-template kendoGridCellTemplate let-dataItem *ngIf="column.field === 'poNumber'">
                        <a class="k-link" routerLink="/purchase-orders/{{dataItem.id}}" [title]="dataItem.poNumber"
                            routerLinkActive="active">{{dataItem.poNumber}}</a>
                        <span *ngIf="dataItem.poType === poType.Blanket" class="blanket_arrow_box">{{poTypeText.Blanket}}</span>
                    </ng-template>

                    <!-- incoterms -->
                    <ng-template kendoGridFilterCellTemplate let-filter *ngIf="column.field === 'incoterm'">
                        <app-drop-down-list-filter [filter]="filter" fieldName="incoterm"
                            [data]="service.incotermStringType" textField="text" valueField="value">
                        </app-drop-down-list-filter>
                    </ng-template>

                    <!-- statusName -->
                    <ng-template kendoGridCellTemplate let-dataItem *ngIf="column.field === 'statusName'">
                        <span
                            [className]="dataItem.status == purchaseOrderStatus.Active ? 'active-status' : 'inactive-status'">{{dataItem.statusName | translate}}</span>
                    </ng-template>
                    <ng-template kendoGridFilterCellTemplate let-filter *ngIf="column.field === 'statusName'">
                        <app-drop-down-list-filter [filter]="filter" fieldName="status"
                            [data]="service.purchaseOrderStatus" textField="text" valueField="value">
                        </app-drop-down-list-filter>
                    </ng-template>

                    <!-- stageName -->
                    <ng-template kendoGridCellTemplate let-dataItem *ngIf="column.field === 'stageName'">
                        <span>{{dataItem.stageName | translate}}</span>
                    </ng-template>

                    <ng-template kendoGridFilterCellTemplate let-filter *ngIf="column.field === 'stageName'">
                        <kendo-multiselect
                            class="po-Stage-multiSelect"
                            kendoMultiSelectSummaryTag
                            [valueField]="'value'"
                            [textField]="'label'"
                            [autoClose]="false"
                            [(ngModel)]="poStageFilterModel"
                            (valueChange)="poStageChanged$.next($event)"
                            [data]="service.poStageType">

                            <ng-template kendoMultiSelectItemTemplate let-dataItem>
                                <input type="checkbox" class="k-checkbox" [checked]="isItemSelected(dataItem)">
                                <label class="k-checkbox-label">{{ dataItem?.text | translate}}</label>
                            </ng-template>
                            
                            <ng-template kendoMultiSelectTagTemplate let-dataItem>
                                {{ dataItem.text | translate}}
                            </ng-template>

                            <ng-template kendoMultiSelectGroupTagTemplate let-dataItems>
                                {{ (dataItems.length > 1 ? 'label.item_sSelected' : 'label.itemSelected') | translate : {'count': dataItems.length} }}
                            </ng-template>
                        </kendo-multiselect>
                    </ng-template>

                    <!-- Cargo Ready Date -->
                     <ng-template kendoGridCellTemplate let-dataItem *ngIf="column.field === 'cargoReadyDate'">
                        <span> {{ dataItem.cargoReadyDate | date: DATE_FORMAT }} </span>
                            <span *ngIf="dataItem.isProgressCargoReadyDates && dataItem.stage <= POStageType.Released" tooltipClass="pending-for-progress-tooltip-container" kendoTooltip [tooltipTemplate]="pendingForProgressCheckTooltip" position="right" filter="fa-icon">
                                <fa-icon
                                   *ngIf="checkPendingForProgress(dataItem) && !dataItem.productionStarted"
                                    [icon]="faExclamationCircle"
                                    class="ml-2 pending-for-progress-icon" [size]="'lg'">
                                </fa-icon>
                                <ng-template #pendingForProgressCheckTooltip let-anchor>
                                    <span class="pending-for-progress-check-tooltip">
                                        <fa-icon
                                            [icon]="faExclamationCircle"
                                            class="mr-1 pending-for-progress-icon">
                                        </fa-icon>
                                        {{'label.pendingForProgressCheck' | translate}}
                                    </span>
                                </ng-template>
                            </span>

                            <span
                                kendoTooltip [tooltipTemplate]="readyToBookTooltip"
                                tooltipClass="ready-to-book-tooltip-container"
                                *ngIf="dataItem.productionStarted && dataItem.stage < stageType.ForwarderBookingRequest && dataItem.isProgressCargoReadyDates"
                                position="right" filter="fa-icon">
                                <fa-icon
                                    [icon]="faCheckCircle"
                                    class="ml-2 ready-to-book-icon" [size]="'lg'">
                                </fa-icon>
                                <ng-template #readyToBookTooltip let-anchor>
                                    <span class="ready-to-book-tooltip">
                                        <fa-icon
                                        [icon]="faCheck"
                                        class="mr-1 ready-to-book-icon">
                                        </fa-icon>
                                        {{'label.readyToBook' | translate}}
                                    </span>
                                </ng-template>
                            </span>
                    </ng-template>

                </kendo-grid-column>

                <ng-template kendoPagerTemplate>
                    <app-custom-grid-pager [service]="service" (pageSizeChanged)="gridPageSizeChange($event)">
                    </app-custom-grid-pager>
                </ng-template>
                <kendo-grid-excel fileName="PurchaseOrders.xlsx" [fetchData]="allData"></kendo-grid-excel>
            </kendo-grid>
        </div>
        <app-import-form [uploadSaveUrl]="uploadSaveUrl" [importFormOpened]="importFormOpened"
            (close)="importFormClosedHandler($event)"></app-import-form>

        <app-select-pos-form (popupClosing)="selectPOsPopupClosedHandler($event)" [popupOpened]="selectPOsFormOpened"></app-select-pos-form>
    </div>
</div>



<kendo-excelexport
    *ngIf="isCanExport"
    [data]="pos"
    fileName="PurchaseOrders.xlsx"
    #excelexport>

    <kendo-excelexport-column width="" field="poNumber" title="PO Number  "></kendo-excelexport-column>
    <kendo-excelexport-column width="" field="customerReferences" title="Customer References"></kendo-excelexport-column>
    <kendo-excelexport-column width="80" field="createdDate"  title="PO Date"></kendo-excelexport-column>
    <kendo-excelexport-column width="" field="statusName"  title="Status"></kendo-excelexport-column>
    <kendo-excelexport-column width="100" field="cargoReadyDate"  title="Ex-work Date"></kendo-excelexport-column>
    <kendo-excelexport-column width="" field="supplier"  title="Supplier"></kendo-excelexport-column>
    <kendo-excelexport-column width="" field="modeOfTransport"  title="Transport Mode"></kendo-excelexport-column>
    <kendo-excelexport-column width="" field="shipFrom"  title="Ship From        "></kendo-excelexport-column>
    <kendo-excelexport-column width="" field="shipTo"  title="Ship To        "></kendo-excelexport-column>
    <kendo-excelexport-column width="" field="incoterm"  title="Incorterms"></kendo-excelexport-column>
    <kendo-excelexport-column width="130" field="expectedShipDate"  title="Expected Ship Date"></kendo-excelexport-column>
    <kendo-excelexport-column width="150" field="expectedDeliveryDate"  title="Expected Delivery Date"></kendo-excelexport-column>
    <kendo-excelexport-column width="" field="containerTypeName"  title="Equipment Type"></kendo-excelexport-column>
    <kendo-excelexport-column width="" field="stageName"  title="Stage  ">   </kendo-excelexport-column>
    <kendo-excelexport-column width="" field="poRemark"  title="PO Remark "></kendo-excelexport-column>
    
</kendo-excelexport>
