@import '../../../../src/styles/variables';

.import-upload-image {
    height: 400px;
}

.status-progress {
    margin-top: 5px;
}

.upload-attachment-dialog {
    ::ng-deep .k-dialog .k-content {
        padding: 0px !important;
    }

    ::ng-deep .k-dropzone {
        background: url('/assets/images/import-popup/upload-icon.png');
        background-size: auto;
        height: 280px;
        background-position-y: -45px;

        &.k-dropzone-active.k-dropzone-hovered{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            border: 2px #247ae1 dashed;
        }
    }

    ::ng-deep .k-file-single {
        display: none !important;
    }

    ::ng-deep kendo-upload-action-buttons {
        display: none !important;
    }

    ::ng-deep kendo-upload-status-total {
        display: none;
    }

    ::ng-deep .k-upload-files {
        display: none;
    }

    ::ng-deep .k-upload-button {
        display: none !important;
    }

    ::ng-deep .k-dropzone-hint {
        margin-top: 105px;
        margin-left: 225px !important;
        display: none !important;
    }

    ::ng-deep .import-process-container {
        margin-left: 15px;
        margin-top: auto;
        margin-bottom: auto;
    }
}

.icon-xls {
    background: url('/assets/images/import-popup/icon-excel.png');
    padding: 27px;
    background-size: cover;
    margin-top: 35px;
}

.icon-xlsx {
    background: url('/assets/images/import-popup/icon-excel.png');
    padding: 27px;
    background-size: cover;
    margin-top: 35px;
}

.icon-csv {
    background: url('/assets/images/import-popup/icon-excel.png');
    padding: 27px;
    background-size: cover;
    margin-top: 35px;
}

.icon-pdf {
    background: url('/assets/images/import-popup/icon-pdf@2x.png');
    padding: 27px;
    background-size: cover;
    margin-top: 35px;
}

.icon-doc {
    background: url('/assets/images/import-popup/icon-word@2x.png');
    padding: 27px;
    background-size: cover;
    margin-top: 35px;
}

.icon-docx {
    background: url('/assets/images/import-popup/icon-word@2x.png');
    padding: 27px;
    background-size: cover;
    margin-top: 35px;
}

.icon-png {
    background: url('/assets/images/import-popup/icon-img@2x.png');
    padding: 27px;
    background-size: cover;
    margin-top: 35px;
}

.icon-jpg {
    background: url('/assets/images/import-popup/icon-img@2x.png');
    padding: 27px;
    background-size: cover;
    margin-top: 35px;
}

.icon-default {
    background: url('/assets/images/import-popup/icon-img@2x.png');
    padding: 27px;
    background-size: cover;
    margin-top: 35px;
}

.import-header {
    color: $theme-color;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    top: 45px;
    z-index: 1;
    position: relative;
}

.importing-header {
    top: 35px;
}

.import-file-container {
    height: 126px;
}

.choose-file {
    text-align: center;
    position: relative;
    margin-top: -6px;
}

.file-msg {
    font-size: 14px;
    display: block;
}

.drop-file-msg {
    margin-top: -100px;
    color: #c6c6c6;
}

.choose-file-msg {
    color: #333333;
    margin-top: -5px;
}

.po-import-template{
    position: absolute;
    top: 110px;
    left: 450px;
    font-size: 16px;
    font-weight: bold;
}

.browse-file {
    color: $theme-color !important;
    text-decoration: underline;
    cursor: pointer;
}

.icon-remove-item {
    background: url('/assets/images/import-popup/icon-close@2x.png');
    padding: 5.5px;
    background-size:cover;
    cursor: pointer;
    font-size: 13px;
    left: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.k-upload {
    background-color: white;
    border-width: 0px;
}

.form-group {
    .row {
        position: absolute;
        bottom: 0px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}
