<div class="notification-container" (mouseleave)="closePopupContext()">
    <button type="button" class="btn bell-btn my-1" [class.animation]="animation" (mouseenter)="openPopupContext()">
        <fa-icon [icon]="faBell"></fa-icon>
        <sup *ngIf="unreadTotal > 0" class="notification-number"><mark class="rubberBand">{{unreadTotal >= 99 ? '99+' : unreadTotal}}</mark></sup>
    </button>
    <kendo-popup [anchor]="anchor" *ngIf="isPopupOpening" class="popup-container">
        <div class="popup-header">
            <span *ngIf="!emptyNotification" (click)="readAll()" class="mark-all-as-read"><i>{{'label.markAllAsRead' | translate}}</i></span>
        </div>
        <div class="popup-content">
            <div *ngIf="emptyNotification; else notificationList" class="no-msg-yet">{{'label.noMessagesYet' | translate}}</div>
            <ng-template #notificationList>
                <ul *ngIf="!emptyNotification">
                    <li *ngFor="let item of notifications; let i = index">
                        <div class="notification-item">
                            <fa-icon [ngClass]="{'notification-icon': true, 'read-icon': item.isRead, 'unread-icon': !item.isRead}" [icon]="item.isRead ? faEnvelopeOpen : faEnvelope"></fa-icon>
                            <div class="notification-message">
                                <span style="cursor: pointer;" [innerHTML]="translateMessageKey(item.messageKey)" (click)="read(i)"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </ng-template>
        </div>
        <div class="popup-footer">
            <p *ngIf="showLoadMore" class="load-more"><span (click)="_fetchNotifications()"><i>{{'label.loadMore' | translate}}...</i></span></p>
        </div>
    </kendo-popup>
</div>
