@import '../../../../../../styles/variables';

.button-bar {
    text-align: center;
    margin-top: 25px;
}

.panel-header {
    font-size: 24px;
}

.header-container {
    text-align: center;
    margin-top: 20px;
}

.container {
    padding: 30px;
    padding-bottom: 0px;
}

.loading-icon {
    height: inherit;
}
