::ng-deep .shipment-no .k-dropdown .k-dropdown-wrap, .k-dropdowntree .k-dropdown-wrap {
    background-clip: padding-box;
    border: 0;
    background-color: transparent;
}

::ng-deep .search-wrapper {
    .k-textbox input[type="text"] {
        color:#fff;
    }
    .k-i-loading {
        position: absolute;
        top: 9px !important;
        right: 0 !important;
    }
}


//place holder color
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #fff;
}

img {
    color: #fff;
}

.app-search-container{
    float: right;
    position: absolute;
    right: 240px;
}
