.dynamic-notification-popup{

    ::ng-deep .k-dialog-content {
        min-width: 500px;
        min-height: 70px;
        max-width: 600px;
        max-height: 300px;
        word-break: break-word;
        overflow-x: hidden;
        overflow-y: auto;

        .headline {
            font-weight: bolder;
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 6px;
        }      
    }    
}