<div class="content__header routing-order-form-container">
    <div class="typing_loader" *ngIf="!isInitDataLoaded"></div>
    <form class="content-tabs row position-relative" #mainForm="ngForm" novalidate (ngSubmit)="onSubmit()" [ngClass]="{'hidden-content': !isInitDataLoaded}">
        <div class="container-fluid">
            <!-- This is header menu section -->
            <div class="header-group" id="headerBar" #headerBar>
                <div class="row">
                    <div class="col-sm-6">
                        <button attr.data-balloon="{{'tooltip.backToList' | translate}}" data-balloon-pos="right"
                            data-container="body"
                            type="button" class="btn btn-default back-button" (click)="backToList()">
                            <i class="ei ei-arrow_left"></i>
                        </button>
                        <label class="form-header">{{model.routingOrderNumber}}</label>
                        <app-status-label *ngIf="!isAddMode" [status]="model.status" [statusName]="model.statusName | translate" [statusEnum]="RoutingOrderStatus"></app-status-label>
                    </div>
                    <div class="col-sm-6 text-right button-container" *ngIf="isViewMode">
                        <!-- all action buttons here -->
                    </div>
                </div>
                <div class="row text-muted create-title" *ngIf="!isAddMode">
                    <span>{{'label.createdOn' | translate}}</span>
                    <span class="font-weight-bold pl-1">{{ model?.createdDate | date: DATE_FORMAT }}</span>
                    <span *ngIf="model?.createdBy">
                        <span class="mx-2">
                            <img src="/assets/images/dote-icon.png" />
                        </span>
                        {{'label.owner' | translate}}: <span class="font-weight-bold pl-1">{{ model?.createdBy }}</span>
                    </span>
                </div>
            </div>

            <!-- This is milestone section -->
            <app-dynamic-milestone [data]="milestones" [currentStage]="this.model.stage" *ngIf="isInitDataLoaded"></app-dynamic-milestone>

            <!-- This is sticky bar -->
            <div class="sticky-navigation mt-3" id="stickyBar" #stickyBar style="display: none;">
                <div class="row">
                    <div class="col">
                        <kendo-buttongroup class="button-group" selection="multiple">
                            <button *ngFor="let tab of tabs" kendoButton [toggleable]="true" [selected]="tab.selected" [class.current]="tab.selected" (click)="$event.preventDefault()"
                                (selectedChange)="onClickStickyBar($event, tab)">
                                <span> {{ tab.text | translate | uppercase}} </span>
                            </button>
                        </kendo-buttongroup>
                    </div>
                </div>

            </div>

            <!-- This is content section -->
            <div class="section-container mt-3" id="section-container" #sectionContainer>

                <!-- SECTION: General -->
                <section class="panel-group" id="general" #general *ngIf="getTabDetails('general')">
                    <label class="panel-header fs-14">{{'label.general' | translate}}</label><br>
                    <app-routing-order-general *ngIf="isInitDataLoaded"
                        [model]="model"
                        [parentIntegration$]='integration$'
                        [formErrors]="formErrors"
                        [isViewMode]="isViewMode"
                        [isEditMode]="isEditMode"
                        [isAddMode]="isAddMode"
                        [allLocationOptions]="allLocationOptions"
                        [tabPrefix]="'generalTab#'"
                        [(formErrors)]="formErrors"
                        [validationRules]="validationRules">
                    </app-routing-order-general>
                </section>

                <!-- SECTION: Contact -->
                <section class="panel-group" id="contact" #contact *ngIf="getTabDetails('contact')">
                    <label class="panel-header fs-14">{{'label.contact' | translate}}</label>
                    <app-routing-order-contact *ngIf="isInitDataLoaded"
                        [parentForm]="mainForm"
                        [data]="model.contacts"
                        [isViewMode]="isViewMode"
                        [isAddMode]="isAddMode"
                        [isEditMode]="isEditMode"
                        [validationRules]="validationRules"
                        [tabPrefix]="'contactTab#'"
                        [(formErrors)]="formErrors">
                    </app-routing-order-contact>
                </section>

                <!-- SECTION: Cargo Details -->
                <section class="panel-group" id="cargoDetails" #cargoDetails *ngIf="getTabDetails('cargoDetails')">
                    <label class="panel-header fs-14">{{'label.cargoDetails' | translate}}</label>
                    <p *ngIf="!isHiddenLoads">{{'label.equipmentType' | translate}}</p>
                    <br/>
                    <app-routing-order-container *ngIf="isInitDataLoaded && !isHiddenLoads"
                        [isViewMode]="isViewMode"
                        [containers]="model.containers"
                        [isAddMode]="isAddMode"
                        [validationRules] = "validationRules"
                        [tabPrefix] = "'cargoDetails#'"
                        [(formErrors)]="formErrors"
                        [parentIntegration$]='integration$'>
                    </app-routing-order-container>

                    <app-routing-order-item *ngIf="isInitDataLoaded"
                        [isViewMode]="isViewMode"
                        [lineItems]="model.lineItems"
                        [isAddMode]="isAddMode"
                        [validationRules] = "validationRules"
                        [tabPrefix] = "'cargoDetails#'"
                        [(formErrors)]="formErrors"
                        [parentIntegration$]='integration$'>
                    </app-routing-order-item>
                </section>

                <!-- SECTION: Booking -->
                <section class="panel-group" id="booking" #booking *ngIf="getTabDetails('booking')">
                    <label class="panel-header fs-14">{{'label.fulfillment' | translate}}</label>
                </section>

                <!-- SECTION: Activity -->
                <section class="panel-group" id="activity" #activity *ngIf="getTabDetails('activity')">
                    <label class="panel-header fs-14">{{'label.activity' | translate}}</label>
                    <app-activity-timeline *ngIf="isInitDataLoaded"
                        [entityId]="model.id"
                        [entityType]="entityType"
                        [milestones]="actMilestones"
                        [filterOptions]="filterActOptions">
                    </app-activity-timeline>
                </section>

                <!-- SECTION: Dialog -->
                <section class="panel-group" id="dialog" #dialog *ngIf="getTabDetails('dialog')">
                    <label class="panel-header fs-14">{{'label.dialog' | translate}}</label>
                    <app-routing-order-note-list *ngIf="isInitDataLoaded"
                        [noteList]="noteList"
                        [routingOrderId]="model.id"
                        [lineItems]="model.lineItems"
                        [currentUser]="currentUser"
                        [canAddNote]="true"
                        [canEditAllNotes]="true">
                    </app-routing-order-note-list>
                </section>
            </div>

            <!-- This is save/cancel buttons -->
            <div class="col-12 action-bar mt-3" *ngIf="!isViewMode">
                <button type="button" class="btn second-button" (click)="onCancel()" [disabled]="isSubmitting">{{'label.cancel' | translate}}</button>
                <button type="submit" class="btn prim-button" [disabled]="isSubmitting">{{(!isReloadMode ? 'label.save' : 'label.submit') | translate}}
                    <ng-template *appSpinner="isSubmitting"></ng-template>
                </button>
            </div>

        </div>
    </form>

    <app-scroll-to-top></app-scroll-to-top>
</div>
<app-dynamic-notification-popup [title]="'label.poFulfillment' | translate" [content]="saveBookingErrors" (popupClosing)="saveBookingFailed = false;" *ngIf="saveBookingFailed"></app-dynamic-notification-popup>

