.warehouse-fulfillment-cargo-receive-container ::ng-deep {
    .inline-label {
        margin-top: 11px;
    }
    .k-checkbox:checked:focus+.k-checkbox-label::before {
        border-color: unset;
        box-shadow: unset;
        border: unset;
    }
}
::ng-deep .k-tooltip {
    padding: 0;
}