<div class="warehouse-fulfillment-cargo-receive-container">
    <div class="form-group row mb-4">
        <div class="col-lg-6">
            <div class="row">
                <label class="form-label required col-lg-4 inline-label">{{'label.receivedDates' | translate}}</label>
                <div class="col-lg-5">
                    <kendo-datetimepicker name="{{tabPrefix}}receivedDate" class="form-control" [ngClass]="{'force-invalid': formErrors[tabPrefix + 'receivedDate']}"
                                [max]="maxDate"
                                required
                                (valueChange)="onReceivedDateChanged($event)"
                                (open)="onOpenReceivedDate()"
                                [(ngModel)]="receivedDate">
                                <kendo-datetimepicker-messages today="{{'kendo.datimepicker.today' | translate}}"
                                    toggle="{{'kendo.datimepicker.toogle' | translate}}"
                                    dateTab="{{'kendo.datimepicker.dateTab' | translate}}"
                                    dateTabLabel="{{'kendo.datimepicker.dateTabLabel' | translate}}"
                                    timeTab="{{'kendo.datimepicker.timeTab' | translate}}"
                                    timeTabLabel="{{'kendo.datimepicker.timeTabLabel' | translate}}"
                                    now="{{'kendo.datimepicker.now' | translate}}"
                                    nowLabel="{{'kendo.datimepicker.nowLabel' | translate}}"
                                    accept="{{'kendo.datimepicker.accept' | translate}}"
                                    acceptLabel="{{'kendo.datimepicker.acceptLabel' | translate}}"
                                    cancel="{{'kendo.datimepicker.cancel' | translate}}"
                                    cancelLabel="{{'kendo.datimepicker.cancelLabel' | translate}}">
                                </kendo-datetimepicker-messages>
                     </kendo-datetimepicker>

                    <div *ngIf="formErrors[tabPrefix + 'receivedDate'] && formErrors[tabPrefix + 'receivedDate'] !== 'maxError'" class="k-invalid-msg">
                        {{ formErrors[tabPrefix + 'receivedDate'] }}
                    </div>

                    <div *ngIf="formErrors[tabPrefix + 'receivedDate'] === 'maxError'" class="k-invalid-msg">
                        {{ 'validation.earlierThanOrEqualTo' | translate: {'fieldName': 'kendo.datimepicker.today' | translate} }}
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <kendo-grid [data]="orders | poFulfillmentCustomerOrder" [scrollable]="'vertical'" class="custom-edit-grid">
        <!-- Customer PO -->
        <kendo-grid-column field="customerPONumber" title="{{'label.customerPO' | translate}}" class="organization-email" [headerClass]="'multiline-header'">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <a *ngIf="dataItem.purchaseOrderId > 0; else poNumberText" class="k-link" routerLinkActive="active" target="_blank" routerLink="/purchase-orders/{{dataItem.purchaseOrderId}}">{{dataItem.customerPONumber}}</a>
                <ng-template #poNumberText>
                    {{dataItem.customerPONumber}}
                </ng-template>
            </ng-template>
        </kendo-grid-column>

        <!-- Product Code -->
        <kendo-grid-column field="productCode" title="{{'label.productCode' | translate}}" class="organization-email" [headerClass]="'multiline-header'">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                <a *ngIf="(stringHelper.isNullOrEmpty(dataItem.productCode) || dataItem.poLineItemId == 0); else productCode" class="icon-top k-link" (click)="openCustomerDetailPopup(dataItem)">
                    <fa-icon [icon]="faInfoCircle"></fa-icon>
                    <span> {{'label.details' | translate | lowercase}}</span>
                </a>
                <ng-template #productCode>
                    <a class="k-link" routerLinkActive="active" (click)="openCustomerDetailPopup(dataItem)">{{dataItem.productCode}}</a>
                </ng-template> 
            </ng-template>
        </kendo-grid-column>

        <!-- Style No. -->
        <kendo-grid-column field="styleNo" title="{{'label.styleNo' | translate}}" [headerClass]="'multiline-header'">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                {{dataItem.styleNo | default: defaultValue}}
            </ng-template>
        </kendo-grid-column>

        <!-- Colour Code -->
        <kendo-grid-column field="colourCode" title="{{'label.colourCode' | translate}}" [headerClass]="'multiline-header'">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                {{dataItem.colourCode | default: defaultValue}}
            </ng-template>
        </kendo-grid-column>

        <!-- Booked Qty -->
        <kendo-grid-column field="fulfillmentUnitQty" title="{{'label.bookedQty' | translate}}" [headerClass]="'multiline-header'">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                {{dataItem.fulfillmentUnitQty | number:0 | default: defaultValue}}
            </ng-template>
        </kendo-grid-column>

        <!-- Booked Package -->
        <kendo-grid-column field="bookedPackage" title="{{'label.bookedPackage' | translate}}" [headerClass]="'multiline-header'">
            <ng-template #infoTooltipTemplate let-anchor>
                <span class="tooltip-warning">{{ anchor.nativeElement.getAttribute('data-tooltip') }}</span>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                <span class="icon-top" [class.text-danger]="dataItem.isShowBookedPackageWarning">
                    {{dataItem.bookedPackage | number:0 | default: defaultValue}}
                    <span *ngIf="dataItem.isShowBookedPackageWarning"
                    kendoTooltip [tooltipTemplate]="infoTooltipTemplate" filter="fa-icon" position="top"
                        class="icon-info">
                        <fa-icon attr.data-tooltip="{{'label.hoverBookedPackageIconWarning' | translate}}"
                        [icon]="faInfoCircle" [styles]="{'color': '#FF8A00'}"></fa-icon>
                    </span>
                </span>
            </ng-template>
        </kendo-grid-column>

        <!-- Received -->
        <kendo-grid-column field="received" [headerClass]="'multiline-header'">
            <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                <input
                    id="{{tabPrefix}}receivedAll"
                    name="{{tabPrefix}}receivedAll"
                    type="checkbox"
                    class="k-checkbox"
                    [(ngModel)]="isReceivedAll"
                    (ngModelChange)="onReceivedAllChanged($event)">
                <label class="k-checkbox-label noselect" for="{{tabPrefix}}receivedAll" style="margin-left: 0">
                    {{'label.received' | translate}}
                </label>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                <input
                    id="{{tabPrefix}}received_{{rowIndex}}"
                    name="{{tabPrefix}}received_{{rowIndex}}"
                    type="checkbox"
                    class="k-checkbox"
                    [(ngModel)]="dataItem.received"
                    (ngModelChange)="onReceivedChanged(dataItem)">
                <label class="k-checkbox-label noselect" for="{{tabPrefix}}received_{{rowIndex}}" style="margin-left: 0">
                    {{(dataItem.received ? 'label.yes' : 'label.no') | translate}}
                </label>
            </ng-template>
        </kendo-grid-column>

        <!-- Received Qty -->
        <kendo-grid-column field="receivedQty" [headerClass]="'multiline-header'">
            <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                <label class="required" style="margin-bottom: unset;">{{'label.receivedQty' | translate}}</label>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
                <div style="display: flex;">
                    <div>
                        <kendo-numerictextbox
                            [required]="dataItem.received"
                            [disabled]="!dataItem.received"
                            name="{{tabPrefix}}receivedQty_{{rowIndex}}"
                            [min]="1"
                            [format]="'n0'"
                            class="form-control"
                            [step]="1"
                            [decimals]="0"
                            [autoCorrect]="true"
                            [(ngModel)]="dataItem.receivedQty">
                        </kendo-numerictextbox>
                        <div *ngIf="formErrors[tabPrefix + 'receivedQty_' + rowIndex]" class="k-invalid-msg">
                            {{ formErrors[tabPrefix + 'receivedQty_' + rowIndex] }}
                        </div>
                    </div>
                    <span *ngIf="!stringHelper.isNullOrEmpty(dataItem.receivedQty) 
                                && !stringHelper.isNullOrEmpty(dataItem.bookedPackage)
                                && dataItem.receivedQty !== dataItem.bookedPackage"
                            kendoTooltip [tooltipTemplate]="infoTooltipTemplate"
                            filter="fa-icon"
                            position="top"
                            class="icon-info mt-1 ml-1">
                        <fa-icon attr.data-tooltip="{{'msg.receivedQtyNotMatchingWithPackageQty' | translate}}" [icon]="faInfoCircle" [styles]="{'color': '#FF8A00'}"></fa-icon>
                    </span>
                </div>
            </ng-template>
        </kendo-grid-column>
        
        <!-- Volume -->
        <kendo-grid-column field="volume" title="{{'label.volumeCBM' | translate}}" [headerClass]="'multiline-header'">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                {{dataItem.volume | number: '0.3-3' | default: defaultValue}}
            </ng-template>
        </kendo-grid-column>

        <!-- Gross Weight -->
        <kendo-grid-column field="grossWeight" title="{{'label.grossWeightKGS' | translate}}" [headerClass]="'multiline-header'">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                {{dataItem.grossWeight | number: '0.2-2' | default: defaultValue}}
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>

<app-warehouse-fulfillment-customer-po-detail-dialog
    [model]="customerDetailModel"
    [customerDetailPopupOpened]="customerDetailPopupOpened"
    (close)="customerDetailPopupClosedHandler()">
</app-warehouse-fulfillment-customer-po-detail-dialog>