<kendo-dialog [title]="formTitle" *ngIf="vesselFormOpened" (close)="onFormClosed()"  novalidate [width]="824" [height]="346"  class="custom-header-dialog">
    <form #mainForm="ngForm">
        <div class="row">
            <div class="form-group col-6">
                <label class="form-label">{{'label.vesselCode' | translate}}</label>
                <input
                    type="text"
                    class="form-control"
                    name="code"
                    (input)="typingVesselCodeEvent$.next($event.target.value)"
                    [(ngModel)]="model.code"
                    maxlength="128"/>
                <div class="error-message-container">
                    <div *ngIf="getFormControl('code')?.errors?.isDuplicated && getFormControl('code')?.touched" class="k-invalid-msg">
                        {{ 'validation.cannotBeDuplicated' | translate: {'fieldName': 'label.vesselCode' | translate} }}
                    </div>
                </div>
            </div>

            <div class="form-group col-6">
                <label class="form-label required">{{'label.vesselName' | translate}}</label>
                <input
                    type="text"
                    class="form-control"
                    name="name"
                    required
                    (input)="typingVesselNameEvent$.next($event.target.value)"
                    [(ngModel)]="model.name"
                    maxlength="128"/>
                <div class="error-message-container">
                    <div *ngIf="getFormControl('name')?.errors?.required && getFormControl('name')?.touched" class="k-invalid-msg">
                        {{ 'validation.requiredField' | translate: {'fieldName': 'label.vesselName' | translate} }}
                    </div>

                    <div *ngIf="getFormControl('name')?.errors?.isDuplicated && getFormControl('name')?.touched" class="k-invalid-msg">
                        {{ 'validation.cannotBeDuplicated' | translate: {'fieldName': 'label.vesselName' | translate} }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col">
                <label class="form-label">{{'label.realVessel' | translate}}</label>
                <div>
                    <kendo-switch
                        name="isRealVessel"
                        [(ngModel)]="model.isRealVessel"
                        [onLabel]="'Yes'"
                        [offLabel]="'No'"
                        >
                    </kendo-switch>
                </div>
            </div>

            <div class="form-group col">
                <label class="form-label">{{'label.status' | translate}}</label>
                <div  [className]="model.status == vesselStatus.Active ? 'active-status' : 'inactive-status'">{{model.status == vesselStatus.Active ? 'Active' : 'Inactive'}}</div>
            </div>
        </div>
    </form>
    <kendo-dialog-actions>
        <button type="button" class="btn second-button dialog-button" (click)="onFormClosed()" #Cancel>{{'label.cancel' | translate}}</button>
        <button type="button" class="btn prim-button dialog-button" (click)="onSave()">
            {{(formMode === FormMode.Add ? 'label.add' : 'label.save') | translate}}
        </button>
    </kendo-dialog-actions>
</kendo-dialog>
