<div class="content__header">
    <div class="container-fluid">
        <div class="row header-group">
            <label class="list-header">{{'label.listOfOrganizations' | translate}}</label>
            <span class="k-i-loading k-icon loading" *ngIf="service.gridLoading"></span>

            <div class="col-sm text-right">

                <button *hasPermission="[AppPermissions.Organization_Detail_Add]" type="button"
                    class="btn header-button download-button" (click)="downloadTemplate()">
                    <fa-icon [icon]="faCloudDownloadAlt" class=""></fa-icon>
                    {{'label.download' | translate}}
                </button>

                <button *hasPermission="[AppPermissions.Organization_Detail_Add]" type="button"
                    class="btn header-button import-button btn-color-green" (click)="openImportDataPopup()">
                    <fa-icon [icon]="faFileImport" class=""></fa-icon>
                    {{'label.import' | translate}}
                </button>

                <button class="btn header-button" *hasPermission="[AppPermissions.Organization_Detail_Add]"
                        type="button" routerLink="/organizations/add/0">
                    <div class="icon-circle">
                        <fa-icon [icon]="faPlus"></fa-icon>
                    </div>
                    <span class="icon-circle-label">{{'label.addNew' | translate}}</span>
                </button>
            </div>
        </div>

        <div class="row">
            <kendo-grid #grid="kendoGrid"
                [data]="view | async"
                [filterable]="true"
                [filter]="service.state.filter"
                [pageable]="true"
                [pageSize]="service.state.take"
                [skip]="service.state.skip"
                [sortable]="true"
                [sort]="service.state.sort"
                (dataStateChange)="gridStateChange($event)"
                (pageChange)="service.pageChange($event)"
                (sortChange)="service.sortChange($event)"
                class="custom-border-grid">

                <kendo-grid-column field="code" title="{{'label.organizationCode' | translate}}" [filterable]="true" [sortable]="true" class="link-code">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <a class="k-link" [title]="dataItem.code" routerLink="/organizations/view/{{dataItem.id}}" routerLinkActive="active">{{dataItem.code}}</a>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="name" title="{{'label.name' | translate}}" [filterable]="true" [sortable]="true">
                </kendo-grid-column>
                <kendo-grid-column field="organizationTypeName" title="{{'label.type' | translate}}" [filterable]="true" [sortable]="true">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        {{dataItem.organizationTypeName | translate}}
                    </ng-template>
                    <ng-template kendoGridFilterCellTemplate let-filter="filter">
                        <app-drop-down-list-filter [filter]="filter"
                                                    fieldName="organizationType"
                                                    [data]="organizationTypeList"
                                                    textField="text"
                                                    valueField="value">
                        </app-drop-down-list-filter>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="countryName" title="{{'label.country' | translate}}" [filterable]="true" [sortable]="true">
                </kendo-grid-column>
                <kendo-grid-column field="contactName" title="{{'label.contactName' | translate}}" [filterable]="true" [sortable]="true">
                </kendo-grid-column>
                <kendo-grid-column field="contactEmail" title="{{'label.contactEmail' | translate}}" [filterable]="true" [sortable]="true" class="organization-email">
                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                        <a title="{{dataItem.contactEmail}}" title="{{dataItem.contactEmail}}">{{dataItem.contactEmail}}</a>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="statusName" title="{{'label.status' | translate}}" [sortable]="true" width="109px">
                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                        <span [className]="dataItem.status == organizationStatus.Active ? 'active-status' :
                                            (dataItem.status == organizationStatus.Inactive ? 'inactive-status' : 'pending-status')">{{dataItem.statusName | translate}}</span>
                    </ng-template>
                    <ng-template kendoGridFilterCellTemplate let-filter="filter">
                        <app-drop-down-list-filter [filter]="filter"
                                                    fieldName="status"
                                                    [data]="service.organizationStatus"
                                                    textField="text"
                                                    valueField="value">
                        </app-drop-down-list-filter>
                    </ng-template>
                </kendo-grid-column>

                <ng-template kendoPagerTemplate>
                    <app-custom-grid-pager [service]="service" (pageSizeChanged)="gridPageSizeChange($event)"></app-custom-grid-pager>
                </ng-template>
            </kendo-grid>
        </div>
    </div>

    <app-import-data-popup [hidden]="!importFormOpened" [popupTitle]="'label.organizationImport' | translate" [popupNote]="('label.limit1000OrganizationsToImport' | translate) + '.'" [uploadSaveUrl]="uploadSaveUrl" [allowedFileExtensions]="['.xlsx']"
    (close)="importFormClosedHandler()"></app-import-data-popup>

</div>
