@import '../../../styles/variables';
.dialog-body {
    padding: 0px 70px 10px 70px;
    line-height: 2.5;
}

.notification {
}

a {
    color: $theme-color;
}

.close-button {
    font-family: 'Noto Sans';
    background-color: $theme-color !important;
    color:$theme-color-blank;
    width: 100px;
    height: 36px;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 2px;
}
