<div>
    <kendo-dialog title={{title}} (close)="close()" [minWidth]="280" [width]="850" class="custom-header-dialog">
        <div class="dialog-body">
            <p><span class="notification">{{content}}. If you need further assistance, please contact our customer service at <a href="mailto:csportal.helpdesk@cargofe.com"> csportal.helpdesk@cargofe.com</a></span></p>
        </div>
        <kendo-dialog-actions>
            <button class="btn close-button" (click)="close()">Close</button>
        </kendo-dialog-actions>
   </kendo-dialog>
</div>

