.custom-edit-grid {

    ::ng-deep .k-grid-header .k-header {

        color: #333333;;
        background-color: #F4F7F6;

        .k-link {
            cursor: inherit !important;
            pointer-events: none;
        }
    }
}


