<div class="content__header">
    <div class="container-fluid">
        <div class="row header-group" *ngIf="isInitDataLoaded">
            <div class="col-sm">
                <button attr.data-balloon="{{'tooltip.backToList' | translate}}" data-balloon-pos="up" type="button"
                    class="btn btn-default back-button" (click)="backList()">
                    <i class="ei ei-arrow_left"></i>
                </button>
                <label class="form-header">{{'label.consignment' | translate}} #{{model.id}}</label>
                <app-status-label [status]="model.status" [statusName]="model.status"
                        [statusEnum]="ConsignmentStatus">
                </app-status-label>
            </div>
            <div class="col-sm-5 text-right" *ngIf="isViewMode">
                <button attr.data-balloon="{{'label.edit' | translate}}" data-balloon-pos="up" type="button"
                    class="btn edit-icon-button" (click)="editConsignment()">
                    <fa-icon [icon]="faPencilAlt"></fa-icon>
                </button>
                <button attr.data-balloon="{{'tooltip.delete' | translate}}" data-balloon-pos="up" type="button"
                    class="btn suspend-icon-button" (click)="deleteConsignment()">
                    <fa-icon [icon]="faPowerOff"></fa-icon>
                </button>
            </div>
        </div>
        <div class="typing_loader" *ngIf="!isInitDataLoaded"></div>
        <form class="row" #mainForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="isInitDataLoaded">
            <div class="col-12 panel-group remove-padding-first-panel">
                <label class="panel-header">{{'label.consignmentDetail' | translate}}</label>

                <div class="form-group" *ngIf="isViewMode">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.consignmentId' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.id}}</label></b>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.agentReferenceNumber' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{showTextField('agentReferenceNumber')}}</label></b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.consignmentMasterBL' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{showTextField('consignmentMasterBL')}}</label></b>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{ (stringHelper.caseIgnoredCompare(model.modeOfTransport, modeOfTransportType.Air) ? 'label.mawbNo' : 'label.masterBLNo') | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <ng-container *ngIf="(!(model?.shipment?.masterBillNos) || model?.shipment?.masterBillNos.length <= 0) else masterBOLNumbers">
                                            <b>{{ defaultValue }}</b>
                                        </ng-container>
                                        <!-- Do not change below template -->
                                        <ng-container #masterBOLNumbers *ngFor="let masterBOL of model?.shipment?.masterBillNos; let last = last">
                                            <a *ngIf="canClickOnMasterBL else masterBOLText" class="k-link link-code" routerLink="/master-bill-of-ladings/{{masterBOL.item1}}" routerLinkActive="active"target="_blank">{{masterBOL.item2}}</a>
                                            <ng-template #masterBOLText class="value-label"><b>{{ masterBOL.item2 }}</b></ng-template>{{ !last ? ", " : ""}}
                                        </ng-container>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.modeOfTransport' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{showTextField('modeOfTransport')}}</label></b>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.consignmentType' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{showTextField('consignmentType')}}</label></b>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.shipFrom' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{showTextField('shipFrom')}}</label></b>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.shipFromETDDates' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{ model.shipFromETDDate| date: DATE_FORMAT }}</label></b>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.shipmentNo' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><a class="k-link link-code" target="_blank"
                                                routerLink="/shipments/{{model.shipment.id}}"
                                                routerLinkActive="active">{{model.shipment.shipmentNo}}</a></b>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.shipperName' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{showShipmentTextField('shipper')}}</label></b>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="StringHelper.caseIgnoredCompare(model.modeOfTransport,modeOfTransportType.Sea)"  class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.movement' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{showTextField('movement')}}</label></b>
                                    </div>
                                </div>
                            </div>

                            <div  *ngIf="StringHelper.caseIgnoredCompare(model.modeOfTransport,modeOfTransportType.Air)" class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.incoterm' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{showShipmentTextField('incoterm')}}</label></b>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.totalPackage' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.shipment.totalPackage | number:'0.2' }} {{model.shipment.totalPackageUOM }}</label></b>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.totalGrossWeight' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.shipment.totalGrossWeight | number:'0.2' }} {{model.shipment.totalGrossWeightUOM }}</label></b>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.consignmentDates' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.consignmentDate ? (model.consignmentDate | date: DATE_FORMAT) : '--'}}</label></b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.confirmedDates' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.confirmedDate ? (model.confirmedDate | date: DATE_FORMAT) : '--'}}</label></b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.consignmentHouseBL' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{showTextField('consignmentHouseBL')}}</label></b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{ (stringHelper.caseIgnoredCompare(model.modeOfTransport, modeOfTransportType.Air) ? 'label.hawbNo' : 'label.houseBLNo') | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <ng-container *ngIf="(!(model?.shipment?.billOfLadingNos) || model?.shipment?.billOfLadingNos.length <= 0) else billOfLadingNumbers">
                                            <b>{{ defaultValue }}</b>
                                        </ng-container>
                                        <!-- Do not change below template -->
                                        <ng-container #billOfLadingNumbers *ngFor="let billOfLadingNo of model?.shipment?.billOfLadingNos; let last = last">
                                            <a *ngIf="canClickOnHouseBL else billOfLadingNoText" class="k-link link-code" routerLink="/bill-of-ladings/{{billOfLadingNo.item1}}" routerLinkActive="active" target="_blank">{{billOfLadingNo.item2}}</a>
                                            <ng-template #billOfLadingNoText class="value-label"><b>{{ billOfLadingNo.item2 }}</b></ng-template>{{ !last ? ", " : ""}}
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.serviceType' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{showTextField('serviceType')}}</label></b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.executionAgent' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{executionAgentName}}</label></b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.shipTo' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{showTextField('shipTo')}}</label></b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.shipToETADates' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{ model.shipToETADate| date: DATE_FORMAT }}</label></b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.principal' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{showShipmentTextField('nominee')}}</label></b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.consigneeName' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{showShipmentTextField('consignee')}}</label></b>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="StringHelper.caseIgnoredCompare(model.modeOfTransport,modeOfTransportType.Sea)" class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.incoterm' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{showShipmentTextField('incoterm')}}</label></b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.totalVolume' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.shipment.totalVolume | number:'0.3' }} {{model.shipment.totalVolumeUOM }}</label></b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.totalNetWeight' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.shipment.totalNetWeight | number:'0.2' }} {{model.shipment.totalNetWeightUOM }}</label></b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!isViewMode">
                    <div class="row">
                        <!-- <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label required">{{'label.consignmentId' | translate}}</label>
                                <input name="consignmentId" required type="text" class="form-control" maxlength="250"
                                    [disabled]="true" [(ngModel)]="model.id" />
                            </div>
                        </div> -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-label required">{{'label.sequence' | translate}}</label>
                                <kendo-numerictextbox name="sequence" required [min]="0" [spinners]="false"
                                    [format]="'n'" [autoCorrect]="true" class="form-control"
                                    [(ngModel)]="model.sequence">
                                </kendo-numerictextbox>
                                <div *ngIf="formErrors['sequence']" class="k-invalid-msg">
                                    {{formErrors.sequence}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="consignmentDates"
                                    class="required">{{'label.consignmentDates' | translate}}</label>
                                <kendo-datepicker name="consignmentDate" class="form-control" required
                                    [(ngModel)]="model.consignmentDate">
                                </kendo-datepicker>
                                <div *ngIf="formErrors['consignmentDate']" class="k-invalid-msg">
                                    {{formErrors.consignmentDate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="agentReference">{{'label.agentReference' | translate}}</label>
                                <input type="text" class="form-control" name="agentReference"
                                    [(ngModel)]="model.agentReferenceNumber" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="confirmedDates">{{'label.confirmedDates' | translate}}</label>
                                <kendo-datepicker name="confirmedDates" class="form-control"
                                    [(ngModel)]="model.confirmedDate">
                                </kendo-datepicker>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="consignmentMasterBL">{{'label.consignmentMasterBL' | translate}}</label>
                                <input type="text" class="form-control" name="consignmentMasterBL"
                                    [(ngModel)]="model.consignmentMasterBL" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="consignmentHouseBL">{{'label.consignmentHouseBL' | translate}}</label>
                                <input type="text" class="form-control" name="consignmentHouseBL"
                                    [(ngModel)]="model.consignmentHouseBL" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="modeOfTransport"
                                    class="required">{{'label.modeOfTransport' | translate}}</label>
                                <kendo-dropdownlist name="modeOfTransport" required class="form-control"
                                    [data]="modeOfTransportOptions" [valuePrimitive]="true" [textField]="'label'"
                                    [valueField]="'value'" [(ngModel)]="model.modeOfTransport">
                                    <ng-template kendoDropDownListValueTemplate let-dataItem>
                                        {{ dataItem?.label | translate }}
                                    </ng-template>
                                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                                        {{ dataItem?.label | translate }}
                                    </ng-template>
                                </kendo-dropdownlist>
                                <div *ngIf="formErrors['modeOfTransport']" class="k-invalid-msg">
                                    {{formErrors.modeOfTransport}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="serviceType">{{'label.serviceType' | translate}}</label>
                                <input type="text" class="form-control" name="serviceType"
                                    [(ngModel)]="model.serviceType" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="consignmentType">{{'label.consignmentType' | translate}}</label>
                                <input type="text" class="form-control" name="consignmentType"
                                    [(ngModel)]="model.consignmentType" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="executionAgent"
                                    class="required">{{'label.executionAgent' | translate}}</label>
                                <input name="executionAgentId" required type="hidden"
                                    [(ngModel)]="model.executionAgentId">
                                <kendo-autocomplete #executionAgentAutoComplete required name="executionAgent"
                                    (valueChange)="executionAgentValueChange($event)"
                                    (filterChange)="executionAgentFilterChange($event)" [valueField]="'label'"
                                    [readonly]="!currentUser.isInternal" [loading]="executionAgentLoading"
                                    [(ngModel)]="model.executionAgentName" [data]="filteredExecutionAgentOptions"
                                    [filterable]="true" [placeholder]="'placeholder.egThing' | translate: {thing: ('label.executionAgent' | translate)}" class="form-control"
                                    [ngClass]="{'read-only': !currentUser.isInternal}">
                                </kendo-autocomplete>
                                <div *ngIf="formErrors['executionAgent']" class="k-invalid-msg">
                                    {{ formErrors.executionAgent }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="shipFrom">{{'label.shipFrom' | translate}}</label>
                                <kendo-autocomplete name="shipFrom" (filterChange)="locationFilterChange($event)"
                                    [valueField]="'locationDescription'" [(ngModel)]="model.shipFrom" [data]="filteredLocationOptions"
                                    [filterable]="true" [placeholder]="'Ship From'" class="form-control">
                                </kendo-autocomplete>

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="shipTo">{{'label.shipTo' | translate}}</label>
                                <kendo-autocomplete name="shipTo" (filterChange)="locationFilterChange($event)"
                                    [valueField]="'locationDescription'" [(ngModel)]="model.shipTo" [data]="filteredLocationOptions"
                                    [filterable]="true" [placeholder]="'Ship To'" class="form-control">
                                </kendo-autocomplete>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="shipFromETDDate"
                                    class="required">{{'label.shipFromETDDates' | translate}}</label>
                                <kendo-datepicker name="shipFromETDDate" class="form-control" required
                                    [(ngModel)]="model.shipFromETDDate">
                                </kendo-datepicker>
                                <div *ngIf="formErrors['shipFromETDDate']" class="k-invalid-msg">
                                    {{formErrors.shipFromETDDate}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="shipToETADate"
                                    class="required">{{'label.shipToETADates' | translate}}</label>
                                <kendo-datepicker name="shipToETADate" class="form-control" required
                                    [(ngModel)]="model.shipToETADate">
                                </kendo-datepicker>
                                <div *ngIf="formErrors['shipToETADate']" class="k-invalid-msg">
                                    {{formErrors.shipToETADate}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="isViewMode">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.shipmentNo' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><a class="k-link link-code" target="_blank"
                                                routerLink="/shipments/{{model.shipment.id}}"
                                                routerLinkActive="active">{{model.shipment.shipmentNo}}</a></b>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.shipperName' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{showShipmentTextField('shipper')}}</label></b>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.movement' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{showTextField('movement')}}</label></b>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.totalPackage' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.shipment.totalPackage | number:'0.2' }}</label></b>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.totalGrossWeight' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.shipment.totalGrossWeight | number:'0.2' }}</label></b>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.principal' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{showShipmentTextField('nominee')}}</label></b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.consigneeName' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{showShipmentTextField('consignee')}}</label></b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.incoterm' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{showShipmentTextField('incoterm')}}</label></b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.totalVolume' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.shipment.totalVolume | number:'0.3' }}</label></b>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="info-label">{{'label.totalNetWeight' | translate}}</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <b><label>{{model.shipment.totalNetWeight | number:'0.2' }}</label></b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-tabs mt-5 position-relative padding-tab-strip"  *ngIf="isViewMode">
                <kendo-tabstrip>
                    <kendo-tabstrip-tab title="{{'label.itinerary' | translate}}" [selected]="true">
                        <ng-template kendoTabContent>
                            <div class="col-sm text-right top-bar-container" *hasPermission="[AppPermissions.Consignment_Detail_Edit]" [hidden]="isInactiveConsignment">
                                <button class="btn header-button add-new-button" type="button" (click)="onAddItineraryClick()" [disabled]="isDisabledAddItineraryButton">
                                    <div class="icon-circle">
                                        <fa-icon [icon]="faPlus"></fa-icon>
                                    </div>
                                    <span class="icon-circle-label">{{'label.addNew' | translate}}</span>
                                </button>
                            </div>

                            <kendo-grid #grid="kendoGrid" [data]="itineraryList | orderBy:'sequence'" [scrollable]="'vertical'"
                                [selectable]="false" class="custom-edit-grid" [sortable]="true"
                                [sort]="[{field: 'sequence', dir: 'desc'}]">
                                <kendo-grid-column field="modeOfTransport"
                                    title="{{'label.modeOfTransport' | translate}}" [headerClass]="'multiline-header'">
                                </kendo-grid-column>
                                <kendo-grid-column field="carrierName" title="{{'label.carrier' | translate}}"
                                    [headerClass]="'multiline-header'">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <a class="k-link"
                                            (click)="openItineraryPopup(dataItem)">{{dataItem.carrierName}}</a>
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="vesselFlight" title="{{'label.vesselFlight' | translate}}"
                                    [headerClass]="'multiline-header'">
                                </kendo-grid-column>
                                <kendo-grid-column field="loadingPort" title="{{'label.loadingPort' | translate}}"
                                    [headerClass]="'multiline-header'">
                                </kendo-grid-column>
                                <kendo-grid-column field="etdDate" title="{{'label.etdDates' | translate}}"
                                    format="{0:{{DATE_FORMAT}}}" [headerClass]="'multiline-header'">
                                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                                        {{ dataItem.modeOfTransport.toLowerCase() === modeOfTransportType.Air.toLowerCase() ? (dataItem.etdDate | date: "MM/dd/yyyy hh:mm' 'a") : (dataItem.etdDate | date: DATE_FORMAT) }}
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="dischargePort" title="{{'label.dischargePort' | translate}}"
                                    [headerClass]="'multiline-header'">
                                </kendo-grid-column>
                                <kendo-grid-column field="etaDate" title="{{'label.etaDates' | translate}}"
                                    format="{0:{{DATE_FORMAT}}}" [headerClass]="'multiline-header'">
                                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                                        {{ dataItem.modeOfTransport.toLowerCase() === modeOfTransportType.Air.toLowerCase() ? (dataItem.etaDate | date: "MM/dd/yyyy hh:mm' 'a") : (dataItem.etaDate | date: DATE_FORMAT) }}
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column width="30" *hasPermission="[AppPermissions.Consignment_Detail_Edit]" [hidden]="isInactiveConsignment">
                                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                                        <div>
                                            <div kendoTooltip #tooltip="kendoTooltip"
                                                [tooltipTemplate]="actionMenuTooltip" filter="button" showOn="click"
                                                position="left" offset="-20" showAfter="200">
                                                <button #itineraryButton type="button" class="btn">
                                                    <fa-icon [icon]="faEllipsisV"></fa-icon>
                                                </button>
                                            </div>

                                            <ng-template #actionMenuTooltip let-anchor>
                                                <div class="row action-button"
                                                    (click)="onEditItineraryClick(dataItem); tooltip.hide(itineraryButton)">
                                                    <button type="button" class="btn">
                                                        <fa-icon [icon]="faPencilAlt" class="action-grid-icon">
                                                        </fa-icon>
                                                        <span
                                                            class="action-grid-label">{{'label.edit' | translate}}</span>
                                                    </button>
                                                </div>
                                                <div class="row action-button" *ngIf="canDeleteItinerary(dataItem.id)"
                                                    (click)="onDeleteItineraryClick(dataItem); tooltip.hide(itineraryButton)">
                                                    <button type="button" class="btn">
                                                        <fa-icon [icon]="faTrashAlt" class="action-grid-icon"></fa-icon>
                                                        <span
                                                            class="action-grid-label">{{'tooltip.delete' | translate}}</span>
                                                    </button>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </ng-template>
                                </kendo-grid-column>
                            </kendo-grid>
                            <app-consignment-itinerary-form
                                [itineraryFormOpened]="itineraryFormOpened"
                                [itineraryFormMode]="itineraryFormMode"
                                (add)="onItineraryAdded($event)"
                                (edit)="onItineraryEdited($event)"
                                (close)="onItineraryFormClosed()"
                                [model]="itineraryDetails"
                                [shipmentNo]="model.shipment.shipmentNo"
                                [consignment]="model"
                                [itineraries]="itineraryList"
                                [consignmentId]="model.id">
                            </app-consignment-itinerary-form>
                        </ng-template>
                    </kendo-tabstrip-tab>
                    <kendo-tabstrip-tab *ngIf="StringHelper.caseIgnoredCompare(model.modeOfTransport,modeOfTransportType.Sea)" title="{{'label.container' | translate}}">
                        <ng-template kendoTabContent>
                            <ng-container *hasPermission="[AppPermissions.Shipment_ConsolidationDetail_Add]">
                                <div *ngIf="!isFCL && !isFullLoadShipment && !isInactiveConsignment" class="col-sm text-right top-bar-container">
                                    <button class="btn header-button add-new-consolidation-button" type="button"
                                        (click)="createConsolidation()">
                                        <div class="icon-circle">
                                            <fa-icon [icon]="faPlus"></fa-icon>
                                        </div>
                                        <span class="icon-circle-label">{{'label.addNewConsolidation' | translate}}</span>
                                    </button>
                                </div>
                            </ng-container>

                            <kendo-grid *ngIf="!isFCL" #grid="kendoGrid" [data]="consolidationList" [scrollable]="'vertical'">
                                <kendo-grid-column field="consolidationNo" title="{{'label.loadPlanId' | translate}}">
                                    <ng-template kendoGridCellTemplate let-dataItem *hasPermission="[AppPermissions.Shipment_ConsolidationDetail]">
                                        <a class="k-link" target="_blank" routerLink="/consolidations/{{dataItem.id}}" routerLinkActive="active">{{dataItem.consolidationNo}}</a>
                                    </ng-template>
                                </kendo-grid-column>

                                <kendo-grid-column field="originCFS" title="{{'label.originCFS' | translate}}">
                                </kendo-grid-column>

                                <kendo-grid-column field="cfsCutoffDate" format="{0:{{DATE_FORMAT}}}" title="{{'label.cfsCutoffDates' | translate}}">
                                </kendo-grid-column>

                                <kendo-grid-column field="containerNo" title="{{'label.containerNo' | translate}}">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <ng-container *ngIf="!dataItem.containerId || dataItem.stage !== ConsolidationStage.Confirmed else clickableContainerNumberTemplate">
                                            {{dataItem.containerNo}}
                                        </ng-container>
                                        <ng-template #clickableContainerNumberTemplate>
                                            <a class="k-link" target="_blank" routerLink="/containers/{{dataItem.containerId}}" routerLinkActive="active">{{dataItem.containerNo}}</a>
                                        </ng-template>
                                    </ng-template>
                                </kendo-grid-column>
                            </kendo-grid>
                            <kendo-grid *ngIf="isFCL" #grid="kendoGrid" [data]="containerList" [scrollable]="'vertical'">

                                <kendo-grid-column field="containerNo" title="{{'label.containerNo' | translate}}"
                                    class="organization-email">
                                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                                        <a class="k-link" routerLink="/containers/{{dataItem.id}}"
                                            routerLinkActive="active" target="_blank">{{dataItem.containerNo}}</a>
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="containerTypeName" title="{{'label.containerType' | translate}}">
                                </kendo-grid-column>
                                <kendo-grid-column field="sealNo" title="{{'label.sealNo' | translate}}">
                                </kendo-grid-column>
                                <kendo-grid-column field="totalGrossWeight" title="{{'label.grossWeight' | translate}}">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        {{dataItem.totalGrossWeight | number:'0.2' }} {{dataItem.totalGrossWeightUOM }}
                                    </ng-template>
                                </kendo-grid-column>

                                <kendo-grid-column field="totalNetWeight" title="{{'label.netWeight' | translate}}">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        {{dataItem.totalNetWeight | number:'0.2' }} {{dataItem.totalNetWeightUOM }}
                                    </ng-template>
                                </kendo-grid-column>

                                <kendo-grid-column field="totalVolume" title="{{'label.volume' | translate}}">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        {{dataItem.totalVolume | number:'0.3' }} {{dataItem.totalVolumeUOM }}
                                    </ng-template>
                                </kendo-grid-column>

                                <kendo-grid-column field="latestActivity"
                                    title="{{'label.latestActivity' | translate}}">
                                </kendo-grid-column>
                            </kendo-grid>

                        </ng-template>
                    </kendo-tabstrip-tab>

                    <kendo-tabstrip-tab title="{{'label.cargoDetails' | translate}}">
                        <ng-template kendoTabContent>
                            <kendo-grid #grid="kendoGrid" [data]="cargoDetailList" [scrollable]="'vertical'">

                                <kendo-grid-column field="shippingMarks" title="{{'label.shippingMarks' | translate}}">
                                </kendo-grid-column>
                                <kendo-grid-column field="description" title="{{'label.cargoDescription' | translate}}">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        {{dataItem.description | showless: 100}} <a class="k-link" *ngIf="dataItem.description?.length > 100" style="font-weight: normal;" (click)="seeMoreCargoDescription(dataItem.description)">{{'label.seeMore' | translate | lowercase}}</a>
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="package" title="{{'label.package' | translate}}">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        {{dataItem.package}} {{dataItem.packageUOM}}
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="volume" title="{{'label.volume' | translate}}">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        {{dataItem.volume | number:'1.3-3'}} {{dataItem.volumeUOM}}
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="grossWeight" title="{{'label.grossWeight' | translate}}">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        {{dataItem.grossWeight | number:'1.2-2'}} {{dataItem.grossWeightUOM}}
                                    </ng-template>
                                </kendo-grid-column>

                                <!-- Customer PO # -->
                                <kendo-grid-column field="customerPONumber" title="{{'label.poNo' | translate}}">
                                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex>
                                        <div *ngIf="!dataItem.purchaseOrderId; else linkedCustomerPONumber">
                                            {{dataItem.customerPONumber}}
                                        </div>
                                        <ng-template #linkedCustomerPONumber>
                                            <a *ngIf="dataItem.orderType === 1" class="k-link" target="_blank" routerLink="/purchase-orders/{{dataItem.purchaseOrderId}}" routerLinkActive="active">{{dataItem.customerPONumber}}</a>
                                            <a *ngIf="dataItem.orderType === 2" class="k-link" target="_blank" routerLink="/cruise-orders/view/{{dataItem.purchaseOrderId}}" routerLinkActive="active">{{dataItem.customerPONumber}}</a>
                                        </ng-template>
                                    </ng-template>
                                </kendo-grid-column>

                                <kendo-grid-column field="lineOrder" title="{{'label.poSeq' | translate}}">
                                </kendo-grid-column>

                                <kendo-grid-column field="productCode" title="{{'label.itemNo' | translate}}">
                                </kendo-grid-column>
                            </kendo-grid>

                            <app-cargo-description-detail-popup *ngIf="openCargoDescriptionDetailPopup"
                                [cargoDescription]="cargoDescriptionDetail"
                                (close)="onCargoDescriptionDetailPopupClosed()">
                            </app-cargo-description-detail-popup>
                        </ng-template>
                    </kendo-tabstrip-tab>

                    <kendo-tabstrip-tab title="{{'label.contact' | translate}}">
                        <ng-template kendoTabContent>
                            <kendo-grid #grid="kendoGrid" [data]="contactList | contactSequence" [scrollable]="'vertical'">
                                <kendo-grid-column field="organizationRole"
                                    title="{{'label.organizationRole' | translate}}">
                                </kendo-grid-column>

                                <kendo-grid-column field="companyName" title="{{'label.company' | translate}}">
                                </kendo-grid-column>

                                <kendo-grid-column field="address" title="{{'label.address' | translate}}">
                                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                                        <div [innerHTML]="dataItem.address | linebreak"></div>
                                    </ng-template>
                                </kendo-grid-column>

                                <kendo-grid-column field="contactName" title="{{'label.contactName' | translate}}">
                                </kendo-grid-column>

                                <kendo-grid-column field="contactNumber" title="{{'label.contactNumber' | translate}}">
                                </kendo-grid-column>

                                <kendo-grid-column field="contactEmail" title="{{'label.contactEmail' | translate}}">
                                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                                        <a breakLine title="{{dataItem.contactEmail}}">{{dataItem.contactEmail}}</a>
                                    </ng-template>
                                </kendo-grid-column>

                            </kendo-grid>
                        </ng-template>
                    </kendo-tabstrip-tab>
                </kendo-tabstrip>
            </div>
            <div class="col-12 action-bar p-0" *ngIf="!isViewMode">
                <button type="button" class="btn second-button"
                    (click)="cancelEditingConsignment()">{{'label.cancel' | translate}}</button>
                <button type="submit" class="btn prim-button"
                    (click)="saveConsignment()">{{'label.save' | translate}}</button>
            </div>
        </form>
    </div>
</div>
