<div class="content__header">
    <div class="container-fluid">
        <div class="row header-group" >
            <label class="list-header">{{'label.listOfVesselArrival' | translate}}</label>
            <span class="k-i-loading k-icon loading" *ngIf="service.gridLoading"></span>
            <div class="col-sm text-right">
                <button type="button" class="btn header-button export-button btn-color-orange" (click)="exportExcel()">
                    <fa-icon [icon]="faFileDownload" class=""></fa-icon>
                    {{'label.export' | translate}}
                </button>
            </div>
        </div>

        <div class="row">
            <kendo-grid #grid="kendoGrid" [data]="view | async" [filterable]="true" [filter]="service.state.filter"
                [pageable]="true" [pageSize]="service.state.take" [skip]="service.state.skip" [sortable]="true"
                [sort]="service.state.sort" (dataStateChange)="gridStateChange($event)"
                (pageChange)="service.pageChange($event)" (sortChange)="service.sortChange($event)"
                class="custom-border-grid">

                <kendo-grid-column field="poNumber" title="{{'label.customerPO' | translate}}"  width="245">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <a *ngIf="isCanClickPONumber else poNumberText" class="k-link link-code" routerLink="/purchase-orders/{{dataItem.id}}" [title]="dataItem.poNumber"
                            routerLinkActive="active">{{dataItem.poNumber}}</a>

                        <ng-template #poNumberText> <span>{{dataItem.poNumber}}</span> </ng-template>
                    </ng-template>
                
                </kendo-grid-column>

                <kendo-grid-column field="carrierName" title="{{'label.carrierName' | translate}}">
                </kendo-grid-column>

                <kendo-grid-column field="vesselVoyage" title="{{'label.vessel' | translate}}/{{'label.voyage' | translate}}">
                </kendo-grid-column>

                <kendo-grid-column field="loadingPort" title="{{'label.loadingPort' | translate}}">
                </kendo-grid-column>

                <kendo-grid-column field="etdDate" title="{{'label.etdDates' | translate}}" filter="date" format="{0:{{DATE_FORMAT}}}" [width]="200">
                </kendo-grid-column>

                <kendo-grid-column field="dischargePort" title="{{'label.dischargePort' | translate}}">
                </kendo-grid-column>

                <kendo-grid-column field="etaDate" title="{{'label.etaDates' | translate}}"  filter="date" format="{0:{{DATE_FORMAT}}}" width="200">
                </kendo-grid-column>

                <ng-template kendoPagerTemplate>
                    <app-custom-grid-pager [service]="service" (pageSizeChanged)="gridPageSizeChange($event)">
                    </app-custom-grid-pager>
                </ng-template>
                <kendo-grid-excel fileName="PurchaseOrders.xlsx" [fetchData]="allData"></kendo-grid-excel>
            </kendo-grid>
        </div>
    </div>
</div>



<kendo-excelexport
    *ngIf="isCanExport"
    [data]="vesselArrivalsExportModel"
    fileName="VesselArrival.xlsx"
    #excelexport>
    <kendo-excelexport-column width="150" field="poNumber" title="{{'label.customerPO' | translate}} "></kendo-excelexport-column>
    <kendo-excelexport-column width="200" field="carrierName" title="{{'label.carrierName' | translate}}"></kendo-excelexport-column>
    <kendo-excelexport-column width="200" field="vesselVoyage"  title="{{'label.vessel' | translate}}/{{'label.voyage' | translate}}"></kendo-excelexport-column>
    <kendo-excelexport-column width="200" field="loadingPort"  title="{{'label.loadingPort' | translate}}"></kendo-excelexport-column>
    <kendo-excelexport-column width="100" field="etdDate" title="{{'label.etdDates' | translate}}"></kendo-excelexport-column>
    <kendo-excelexport-column width="200" field="dischargePort"  title="{{'label.dischargePort' | translate}}"></kendo-excelexport-column>
    <kendo-excelexport-column width="100" field="etaDate"  title="{{'label.etaDates' | translate}}" ></kendo-excelexport-column>
</kendo-excelexport>
