<div class="modal fade" id="poDelegationModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-body">

                <div class="row justify-content-center">
                    <span class="k-icon img-delegation"></span>
                </div>
                <span class="k-icon close-popup" data-dismiss="modal" (click)="onClose()"></span>
                <div class="row justify-content-center">
                    <label class="dialog-header text-center">{{'label.poDelegation' | translate}}</label>
                </div>

                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label class="form-label font-italic">{{'label.poDelationNote' | translate}}</label>
                        <kendo-autocomplete formControlName="organizationIdControl" #orgAutoComplete
                            (valueChange)="onValueChange($event)" (filterChange)="onFilterChange($event)"
                            [loading]="orgLoading" [valueField]="'name'" [data]="orgFilter" [filterable]="true"
                            [placeholder]="'label.egOrganizationName' | translate" class="form-control delegate-po">
                        </kendo-autocomplete>
                        <div *ngIf="form.controls['organizationIdControl'].errors && form.controls['organizationIdControl'].touched" class="k-invalid-msg">
                            {{'validation.requiredThisField' | translate}}
                        </div>
                    </div>

                    <div class="form-group">
                        <kendo-autocomplete formControlName="notifyUserAutocomplete" #notifyUserAutocomplete
                            (valueChange)="onNotifyUserValueChange($event)"
                            (filterChange)="onNotifyUserFilterChange($event)" [loading]="notifyUserLoading"
                            [valueField]="'username'" [data]="notifyUserFilter" [filterable]="true"
                            [placeholder]="'placeholder.egThing' | translate: {thing: ('label.userEmail' | translate)}" class="form-control notify-user">
                        </kendo-autocomplete>
                        <div *ngIf="form.controls['notifyUserAutocomplete'].errors && form.controls['notifyUserAutocomplete'].touched" class="k-invalid-msg">
                            {{'validation.requiredThisField' | translate}}
                        </div>
                    </div>

                    <div class="button-bar">
                        <button type="button" class="btn second-button dialog-button" (click)="onClose()"
                            data-dismiss="modal"
                            #Cancel>{{ 'label.cancel' | translate }}</button>
                        <button type="submit" class="btn prim-button dialog-button" *ngIf="!isDone"
                            >{{'label.delegate' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
