<div class="form-group row">
    <div class="col-lg-6">
        <label class="form-label required">{{'label.customer' | translate}}</label>
        <input id="customerId" name="customerId" required type="hidden" [(ngModel)]="customerId">
        <kendo-autocomplete #customerAutoComplete
            required name="organizationIdControl"
            [valueField]="'name'"
            [readonly]="isViewMode || isEditMode"
            [(ngModel)]="customerName"
            [filterable]="true"
            [placeholder]="'label.egOrganizationName' | translate"
            class="form-control"
            [ngClass]="{'read-only': isViewMode || isEditMode, 'force-invalid': formErrors[tabPrefix + 'customerId']}"
            [disabled]="true">
        </kendo-autocomplete>
        <div *ngIf="formErrors[tabPrefix + 'customerId']" class="k-invalid-msg">
            {{ formErrors[tabPrefix + 'customerId'] }}
        </div>
    </div>
    <div class="col-lg-6">
        <label class="form-label required">{{'label.supplier' | translate}}</label>
        <input name="supplierName" type="text" class="form-control" [readonly]="true" [value]="supplierName" />
    </div>
</div>

<div class="form-group row">
    <div class="col-lg-6">
        <label class="form-label required">{{'label.expectedHubArrivalDates' | translate}}</label>
        <kendo-datepicker name="{{tabPrefix}}expectedDeliveryDate" class="form-control" [(ngModel)]="model.expectedDeliveryDate" [readonly]="isViewMode" [disabled]="isViewMode"
            [ngClass]="{'read-only': isViewMode , 'force-invalid': formErrors[tabPrefix + 'expectedDeliveryDate']}" placeholder="">
        </kendo-datepicker>
    </div>
    <div class="col-lg-6">
        <label class="form-label">{{'label.forwarder' | translate}}</label>
        <input name="{{tabPrefix}}forwarder" type="text" class="form-control" [readonly]="isViewMode" [(ngModel)]="model.forwarder" />
    </div>
</div>

<div class="form-group row">
    <div class="col-lg-6">
        <label class="form-label">{{'label.actualTimeArrival' | translate}}</label>
        <kendo-datepicker name="{{tabPrefix}}actualTimeArrival" class="form-control" [(ngModel)]="model.actualTimeArrival" [readonly]="isViewMode" [disabled]="isViewMode"
            [ngClass]="{'read-only': isViewMode }" placeholder="">
        </kendo-datepicker>
    </div>
    <div class="col-lg-6">
        <label class="form-label">{{'label.companyNo' | translate}}</label>
        <input name="{{tabPrefix}}companyNo" type="text" class="form-control" [readonly]="isViewMode" [(ngModel)]="model.companyNo" />
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-6">
        <label class="form-label">{{'label.containerNo' | translate}}</label>
        <input name="{{tabPrefix}}containerNo" type="text" class="form-control" [readonly]="isViewMode" [(ngModel)]="model.containerNo" />
    </div>
    <div class="col-lg-6">
        <label class="form-label">{{'label.plantNo' | translate}}</label>
        <input name="{{tabPrefix}}planNo" type="text" class="form-control" [readonly]="isViewMode" [(ngModel)]="model.plantNo" />
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-6">
        <label class="form-label">{{'label.incoterms' | translate}}</label>
        <kendo-dropdownlist name="{{tabPrefix}}incoterm"
            [(ngModel)]="model.incoterm"
            class="form-control"
            [data]="incotermTypeOptions"
            [valuePrimitive]="true"
            [textField]="'label'"
            [valueField]="'value'"
            [readonly]="isViewMode"
            [disabled]="isViewMode">
            <ng-template kendoDropDownListValueTemplate let-dataItem>
                {{ dataItem?.label | translate }}
            </ng-template>
            <ng-template kendoDropDownListItemTemplate let-dataItem>
                {{ dataItem?.label | translate }}
            </ng-template>
        </kendo-dropdownlist>
    </div>
    <div class="col-lg-6">
        <label class="form-label">{{'label.hawbNo' | translate}}</label>
        <input name="{{tabPrefix}}hawbNo" type="text" class="form-control" [readonly]="isViewMode" [(ngModel)]="model.hawbNo" />
    </div>
    
</div>
<div class="form-group row">
    <div class="col-lg-6">
        <label class="form-label">{{'label.deliveryMode' | translate}}</label>
        <input name="{{tabPrefix}}deliveryMode" type="text" class="form-control" [readonly]="isViewMode" [(ngModel)]="model.deliveryMode" />
    </div>
    <div class="col-lg-6">
        <label class="form-label">{{'label.origin' | translate}}</label>
        <kendo-autocomplete name="{{tabPrefix}}shipFromName"
            [valueField]="'label'"
            [readonly]="isViewMode"
            [disabled]="isViewMode"
            [(ngModel)]="model.shipFromName"
            class="form-control"
            [ngClass]="{'read-only': isViewMode, 'force-invalid': (formErrors[tabPrefix + 'shipFromName_custom'] || formErrors[tabPrefix + 'shipFromName'])}">
        </kendo-autocomplete>
    </div>
</div>

<div class="form-group row">
    <div class="col-lg-6">
        <label class="form-label">{{'label.etdOrigin' | translate}}</label>
        <kendo-datepicker name="{{tabPrefix}}etdOrigin" class="form-control" [(ngModel)]="model.etdOrigin" [readonly]="isViewMode" [disabled]="isViewMode"
            [ngClass]="{'read-only': isViewMode , 'force-invalid': formErrors[tabPrefix + 'etdOrigin']}" placeholder="">
        </kendo-datepicker>
    </div>
    <div class="col-lg-6">
        <label class="form-label">{{'label.etaDestination' | translate}}</label>
        <kendo-datepicker name="{{tabPrefix}}etaDestination" class="form-control" [(ngModel)]="model.etaDestination" [readonly]="isViewMode" [disabled]="isViewMode"
            [ngClass]="{'read-only': isViewMode , 'force-invalid': formErrors[tabPrefix + 'etaDestination']}" placeholder="">
        </kendo-datepicker>
    </div>
</div>

<div class="form-group row">
    <div class="col-lg-6">
        <label class="form-label">{{'label.remarks' | translate}}</label>
        <textarea kendoTextArea rows="3" name="remarks" [(ngModel)]="model.remarks"
            class="form-control note-textarea" [readonly]="isViewMode" maxlength="500"
            [ngClass]="{'read-only': isViewMode}">
        </textarea>
    </div>
    <div class="col-lg-6">
        <label class="form-label">{{'label.nameOfInternationalAccount' | translate}}</label>
        <input name="{{tabPrefix}}nameOfInternationalAccount" type="text" class="form-control" [readonly]="isViewMode" [(ngModel)]="model.nameofInternationalAccount" />
    </div>
</div>
