::ng-deep .summary-grid {
    th.k-hierarchy-cell + th {
        border-width: 0 !important;
    }
    td.k-hierarchy-cell {
        border-right: none !important;
    }
    tr.k-master-row {
        td.k-hierarchy-cell {
            a {
                display: none !important;
            }
        }
        &+tr.k-detail-row {
            display: none;
        }
    }
    tr.k-master-row.expandable {
        td.k-hierarchy-cell {
            a {
                display: block !important;
                font-size: 18px;
            }
        }
        &+tr.k-detail-row {
            display: table-row;
        }
    }

    .other-answer-grid.k-grid {
        border-width: 0 !important;
        th {
            display: none;
        }
        .k-grid-header {
            border-width: 0;
        }

        tr td:first-child {
            border-bottom: 0 !important;
        }
    }
}