<div class="content__header consolidation-detail-container">
    <div class="typing_loader" *ngIf="!isInitDataLoaded"></div>
    <div class="container-fluid" *ngIf="isInitDataLoaded">
        <div class="row header-group">
            <div class="col-sm">
                <button attr.data-balloon="{{'tooltip.backToList' | translate}}" data-balloon-pos="up" type="button"
                    class="btn btn-default back-button" (click)="backList()">
                    <i class="ei ei-arrow_left"></i>
                </button>
                <label class="form-header">{{'label.consolidation' | translate}} #{{model.consolidationNo}}</label>
                <app-status-label [status]="model.stage" [statusName]="model.stageName" [statusEnum]="consolidationStage">
                </app-status-label>
            </div>
            <div class="col-sm-5 text-right pr-0" *ngIf="!isCollapseMode">
                <button *hasPermission="[AppPermissions.Shipment_ConsolidationDetail_Edit]" attr.data-balloon="{{'label.edit' | translate}}" data-balloon-pos="up" type="button"
                    class="btn edit-icon-button" routerLink="/consolidations/edit/{{model.id}}"
                    [hidden]="model.stage === consolidationStage.Confirmed">
                    <fa-icon [icon]="faPencilAlt"></fa-icon>
                </button>
                <button *hasPermission="[AppPermissions.Shipment_ConsolidationDetail_Delete]" attr.data-balloon="{{'tooltip.delete' | translate}}" data-balloon-pos="up" type="button"
                    class="btn suspend-icon-button"
                    [hidden]="hiddenDeleteConsolidationBtn"
                    (click)="deleteConsolidation()">
                    <fa-icon [icon]="faMinus"></fa-icon>
                </button>
                <button *hasPermission="[AppPermissions.Shipment_ConsolidationDetail_Confirm]"
                    type="button"
                    (click)="confirmConsolidation()"
                    class="btn header-button btn-color-green"
                    [hidden]="model.stage === consolidationStage.Confirmed">
                    <fa-icon [icon]="faCheck"></fa-icon>
                    {{'label.confirm' | translate}}
                </button>
                <button *hasPermission="[AppPermissions.Shipment_ConsolidationDetail_Unconfirm]"
                    type="button"
                    class="btn header-button btn-color-orange"
                    (click)="unconfirmConsolidation()"
                    [hidden]="model.stage === consolidationStage.New">
                    <fa-icon [icon]="faCog"></fa-icon>
                    {{'label.unconfirm' | translate}}
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-12 panel-group remove-padding-first-panel" [class.collapse-panel]="isCollapseMode">
                <label class="panel-header">{{'label.consolidationDetail' | translate}}</label>

                <div class="row">
                    <div class="col content-details">
                        <div class="row">
                            <div class="col-5 text-label">{{'label.loadPlanId' | translate}}</div>
                            <div class="col-7 value-label">{{ model?.consolidationNo }}</div>
                        </div>

                        <div class="row">
                            <div class="col-5 text-label">{{'label.originCFS' | translate}}</div>
                            <div class="col-7 value-label">{{ model?.originCFS | default:'--' }}</div>
                        </div>

                        <div class="row">
                            <div class="col-5 text-label">{{'label.cfsCutoffDates' | translate}}</div>
                            <div class="col-7 value-label">{{model?.cfsCutoffDate | date: DATE_FORMAT}}</div>
                        </div>

                        <div class="row">
                            <div class="col-5 text-label">{{'label.equipmentType' | translate}}</div>
                            <div class="col-7 value-label">{{ model?.equipmentTypeName | default:'--' }}</div>
                        </div>

                        <div class="row">
                            <div class="col-5 text-label">{{'label.carrierSONo' | translate}}</div>
                            <div class="col-7 value-label">{{ model?.carrierSONo | default:'--' }}</div>
                        </div>

                        <div class="row">
                            <div class="col-5 text-label">{{'label.sealNo' | translate}}</div>
                            <div class="col-7 value-label">{{ model?.sealNo | default:'--' }}</div>
                        </div>

                        <div class="row">
                            <div class="col-5 text-label">{{'label.sealNo2' | translate}}</div>
                            <div class="col-7 value-label">{{ model?.sealNo2 | default:'--' }}</div>
                        </div>
                    </div>

                    <div class="col content-details">
                        <div class="row">
                            <div class="col-5 text-label">{{'label.containerNo' | translate}}</div>
                            <div class="col-7 value-label">
                                <ng-container *ngIf="!model?.containerId || model?.stage !== consolidationStage.Confirmed else clickableContainerNumberTemplate">
                                    {{model?.containerNo | default: '--'}}
                                </ng-container>
                                <ng-template #clickableContainerNumberTemplate>
                                    <a class="k-link link-code" target="_blank" routerLink="/containers/{{model?.containerId}}" [title]="model?.containerNo" routerLinkActive="active">{{model?.containerNo}}</a>
                                </ng-template>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-5 text-label">{{'label.loadingDates' | translate}}</div>
                            <div class="col-7 value-label">{{ model?.loadingDate | date: DATE_FORMAT | default: '--' }}</div>
                        </div>

                        <div class="row">
                            <div class="col-5 text-label">{{'label.totalGrossWeight' | translate}}</div>
                            <div class="col-7 value-label">{{ model?.totalGrossWeight | number:'0.2' | default:'--'}}
                                {{ model.totalGrossWeightUOM }}</div>
                        </div>

                        <div class="row">
                            <div class="col-5 text-label">{{'label.totalNetWeight' | translate}}</div>
                            <div class="col-7 value-label">{{ model?.totalNetWeight | number:'0.2' | default:'--'}}
                                {{ model.totalNetWeightUOM }}</div>
                        </div>

                        <div class="row">
                            <div class="col-5 text-label">{{'label.totalPackage' | translate}}</div>
                            <div class="col-7 value-label">{{ model?.totalPackage | number:'0.0' | default:'--'}}
                                {{ model.totalPackageUOM }}</div>
                        </div>

                        <div class="row">
                            <div class="col-5 text-label">{{'label.totalVolume' | translate}}</div>
                            <div class="col-7 value-label">{{ model?.totalVolume | number:'0.3' | default:'--'}}
                                {{ model.totalVolumeUOM }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-tabs position-relative padding-tab-strip">
                <kendo-tabstrip [keepTabContent] = 'true'>
                    <kendo-tabstrip-tab title="{{'label.consignment' | translate}}" [selected]="true" [disabled]="isCollapseMode">
                        <ng-template kendoTabContent>
                            <app-consolidation-consignment-form
                                [model]="consignmentList"
                                [parentIntegration$]='integration$'
                                [consolidationId]="consolidationId"
                                [stage]="model.stage">
                            </app-consolidation-consignment-form>
                        </ng-template>
                    </kendo-tabstrip-tab>
                    <kendo-tabstrip-tab title="{{'label.cargoDetails' | translate}}">
                        <ng-template kendoTabContent>
                            <app-consolidation-cargo-detail-list
                                [parentIntegration$]='integration$'
                                (changeMode)="onCargoDetailListModeChange($event)"
                                [consolidationId]="consolidationId"
                                [stage]="model.stage">
                            </app-consolidation-cargo-detail-list>
                        </ng-template>
                    </kendo-tabstrip-tab>
                </kendo-tabstrip>
            </div>
        </div>
    </div>
</div>
