<div class="content__header">
    <div class="container-fluid">

        <div class="row header-group">
            <label class="list-header">{{'label.listOfFreightScheduler' | translate}}</label>
            <span class="k-i-loading k-icon loading" *ngIf="service.gridLoading"></span>
            <div class="col-sm text-right">
                <button *hasPermission="[AppPermissions.FreightScheduler_List_Add]" (click)="onAddNewFreightScheduler()" type="button" class="btn header-button add-new-button">
                    <div class="icon-circle">
                        <fa-icon [icon]="faPlus"></fa-icon>
                    </div>
                    <span class="icon-circle-label">{{'label.addNew' | translate}}</span>
                </button>
            </div>
        </div>

        <div class="row">
            <kendo-grid #grid="kendoGrid" [data]="view | async" [filterable]="true" [filter]="service.state.filter"
                [pageable]="true" [pageSize]="service.state.take" [skip]="service.state.skip" [sortable]="true"
                [sort]="service.state.sort" (dataStateChange)="gridStateChange($event)"
                (pageChange)="service.pageChange($event)" (sortChange)="service.sortChange($event)"
                class="custom-border-grid freight-scheduler-grid">

                <kendo-grid-column *ngFor="let column of columns" [sortable]="column.sortable" [field]="column.field"
                    [title]="column.title | translate" [class]="column.class" [width]="column.width"
                    [format]="column.format" [filter]="column.filter">

                    <!-- Mode of Transport -->
                    <ng-template kendoGridCellTemplate let-dataItem *ngIf="column.field === 'modeOfTransport'">
                        {{dataItem.modeOfTransport | translate}}
                    </ng-template>
                    <ng-template kendoGridFilterCellTemplate let-filter *ngIf="column.field === 'modeOfTransport'">
                        <app-drop-down-list-filter [filter]="filter" fieldName="modeOfTransport" [data]="service.modeOfTransport"
                            textField="text" valueField="value">
                        </app-drop-down-list-filter>
                    </ng-template>

                    <!-- Allow External Update -->
                    <ng-template kendoGridCellTemplate let-dataItem *ngIf="column.field === 'allowUpdateFromExternal'">
                        {{dataItem.allowUpdateFromExternal}}
                    </ng-template>

                    <!-- ETD Date -->
                    <ng-template kendoGridCellTemplate let-dataItem *ngIf="column.field === 'etdDate'">
                        <span *ngIf="dataItem.modeOfTransport.toLowerCase() === ModeOfTransportType.Air.toLowerCase() else etdDateFormatTemplate">{{dataItem.etdDate | date: DATE_HOUR_FORMAT }}</span>
                        <ng-template #etdDateFormatTemplate>{{dataItem.etdDate | date: DATE_FORMAT }}</ng-template>
                    </ng-template>

                     <!-- ETA Date -->
                     <ng-template kendoGridCellTemplate let-dataItem *ngIf="column.field === 'etaDate'">
                        <span *ngIf="dataItem.modeOfTransport.toLowerCase() === ModeOfTransportType.Air.toLowerCase() else etaDateFormatTemplate">{{dataItem.etaDate | date: DATE_HOUR_FORMAT }}</span>
                        <ng-template #etaDateFormatTemplate>{{dataItem.etaDate | date: DATE_FORMAT }}</ng-template>
                    </ng-template>

                    <!-- Action -->
                    <ng-template kendoGridCellTemplate let-dataItem *ngIf="column.field === 'action'" class="col-action">
                        <kendo-dropdownbutton [data]="getMoreActionMenu(dataItem)" textField="actionName" class="btn grid-bars-icon-button ml-0" >
                            <fa-icon [icon]="faBars"></fa-icon>
                        </kendo-dropdownbutton>
                    </ng-template>
                    <ng-template kendoGridFilterCellTemplate let-filter *ngIf="column.field === 'action'"></ng-template>
                </kendo-grid-column>
                <ng-template kendoPagerTemplate>
                    <app-custom-grid-pager [service]="service" (pageSizeChanged)="gridPageSizeChange($event)">
                    </app-custom-grid-pager>
                </ng-template>
            </kendo-grid>
        </div>
    </div>
</div>

<app-freight-scheduler-form
    *ngIf="isOpenFreightSchedulerPopup"
    [carriersModel]="carriersModel"
    [locationsModel]="locationsModel"
    [model]="freightSchedulerModel"
    [popupMode]="schedulerPopupMode"
    (saveSuccess)="onSaveFreightSchedulerSuccess()"
    (close)="onCloseFreightSchedulerPopup()">
</app-freight-scheduler-form>
