<div class="content__header">
    <div class="container-fluid">

        <div class="row header-group">
            <label class="list-header">{{'label.listOfLocations' | translate}}</label>
            <span class="k-i-loading k-icon loading" *ngIf="service.gridLoading"></span>
            <div class="col-sm text-right">
                <button 
                    *hasPermission="[AppPermissions.Organization_Location_Detail_Add]" 
                    (click)="onAddNewLocation()" 
                    type="button" 
                    class="btn header-button add-new-button">
                    <div class="icon-circle">
                        <fa-icon [icon]="faPlus"></fa-icon>
                    </div>
                    <span class="icon-circle-label">{{'label.addNew' | translate}}</span>
                </button>
            </div>
        </div>

        <div class="row">
            <kendo-grid 
                #grid="kendoGrid" [data]="view | async" [filterable]="true" [filter]="service.state.filter"
                [pageable]="true" [pageSize]="service.state.take" [skip]="service.state.skip" [sortable]="true"
                [sort]="service.state.sort" (dataStateChange)="gridStateChange($event)"
                (pageChange)="service.pageChange($event)" (sortChange)="service.sortChange($event)"
                class="custom-border-grid">

                <kendo-grid-column field="countryName" title="{{'label.country' | translate}}" [filterable]="true" [sortable]="true">
                </kendo-grid-column>
                <kendo-grid-column field="name" title="{{'label.locationCode' | translate}}" [filterable]="true" [sortable]="true">
                </kendo-grid-column>

                <kendo-grid-column field="locationDescription" title="{{'label.locationName' | translate}}" [filterable]="true" [sortable]="true">
                </kendo-grid-column>

                <kendo-grid-column field="ediSonPortCode" title="{{'label.ediSONCode' | translate}}" [filterable]="true" [sortable]="true">
                </kendo-grid-column>

                <!-- Action -->
                <kendo-grid-column title="{{'label.action' | translate}}" width="100">
                    <ng-template kendoGridCellTemplate let-dataItem class="col-action">
                        <div *hasPermission="[AppPermissions.Organization_Location_Detail_Edit]">
                            <button attr.data-balloon="{{'label.edit' | translate}}"
                                    data-balloon-pos="right"
                                    type="button"
                                    (click)="onEditLocation(dataItem)"
                                    class="btn grid-edit-icon-button ml-0">
                                <fa-icon [icon]="faPencilAlt"></fa-icon>
                            </button>
                        </div>
                    </ng-template>
                </kendo-grid-column>

                <ng-template kendoPagerTemplate>
                    <app-custom-grid-pager [service]="service" (pageSizeChanged)="gridPageSizeChange($event)">
                    </app-custom-grid-pager>
                </ng-template>
            </kendo-grid>
        </div>
    </div>
</div>

<app-location-form
    [formMode]="locationFormMode"
    [isOpen]="isOpenLocationForm"
    [model]="locationModel"
    (close)="onCloseLocationForm($event)">
</app-location-form>