<div class="content__header bulk-fulfillment-container">
    <div class="typing_loader" *ngIf="!isInitDataLoaded"></div>
    <form class="content-tabs row position-relative" #mainForm="ngForm" novalidate (ngSubmit)="onSubmit()" [ngClass]="{'hidden-content': !isInitDataLoaded}">
        <div class="container-fluid">
            <!-- This is header menu section -->
            <div class="header-group" id="headerBar" #headerBar>
                <div class="row">
                    <div class="col-sm-6">
                        <button attr.data-balloon="{{'tooltip.backToList' | translate}}" data-balloon-pos="right"
                            data-container="body"
                            type="button" class="btn btn-default back-button" (click)="backToList()">
                            <i class="ei ei-arrow_left"></i>
                        </button>
                        <label class="form-header">{{isAddMode ? ('label.addNewPOFulfillment' | translate) : model.number}}</label>
                        <app-status-label *ngIf="!isAddMode" [status]="model.status" [statusName]="model.statusName | translate" [statusEnum]="POFulfillmentStatus"></app-status-label>
                    </div>
                    <div class="col-sm-6 text-right button-container" *ngIf="isViewMode">
                        <button [disabled]="inBookingProgress || isCancelling || isAmending" [attr.data-balloon]="'label.edit' | translate" data-balloon-pos="down" type="button" class="btn edit-icon-button"
                            name="editBtn" id="editBtn" [hidden]="hiddenBtnEdit" (click)="onEditButtonClick()">
                            <fa-icon [icon]="faPencilAlt"></fa-icon>
                        </button>
                        <button [disabled]="inBookingProgress || isCancelling || isAmending" *hasPermission="[AppPermissions.PO_Fulfillment_Detail_Add]"
                            [hidden]="hiddenBtnCopy" [attr.data-balloon]="'label.copy' | translate" data-balloon-pos="down" type="button" class="btn edit-icon-button"
                            name="copyBtn" id="copyBtn" (click)="onCopyButtonClick()">
                            <fa-icon [icon]="faCopy"></fa-icon>
                        </button>
                        <button type="button" class="btn header-button btn-color-orange" *hasPermission="[AppPermissions.PO_Fulfillment_Detail_Edit]"
                            [hidden]="hiddenBtnReload" (click)="onReloadButtonClick()">
                            <fa-icon [icon]="faRedo"></fa-icon>
                            {{'label.reload' | translate}}
                        </button>
                        <button type="button" class="btn header-button btn-color-grey"
                            [hidden]="hiddenBtnCancel" (click)="onCancelBulkFulfillmentClick()" [disabled]="isCancelling || inBookingProgress || isAmending">
                            <fa-icon [icon]="faBan" class=""></fa-icon>
                            {{'label.cancel' | translate}}
                            <ng-template *appSpinner="isCancelling"></ng-template>
                        </button>
                        <button type="button" class="btn header-button btn-color-orange" *hasPermission="[AppPermissions.PO_Fulfillment_Detail_Edit]"
                            [hidden]="hiddenBtnAmend" [disabled]="isAmending || isCancelling" (click)="onAmendPOFulfillmentClick()">
                            <fa-icon [icon]="faUserCog" class=""></fa-icon>
                            {{'label.amend' | translate}}
                            <ng-template *appSpinner="isAmending"></ng-template>
                        </button>
                        <button type="button" class="btn header-button btn-color-green" *hasPermission="[AppPermissions.PO_Fulfillment_Detail_Edit]"
                            [hidden]="hiddenBtnBook" (click)="onBookButtonClick()" [disabled]="inBookingProgress || isCancelling">
                            <fa-icon [icon]="faCheck" class=""></fa-icon>
                            {{'label.book' | translate}}
                            <ng-template *appSpinner="inBookingProgress"></ng-template>
                        </button>
                        <button type="button" class="btn header-button btn-color-blue" [disabled]="ineSIProgress" *hasPermission="[AppPermissions.PO_Fulfillment_Detail_Edit]" (click)="onPlanToShipButtonClick()" [hidden]="hiddenBtnPlanToShip">
                            <fa-icon [icon]="faClipboardList" class=""></fa-icon>
                            {{'label.planToShip' | translate}}
                            <ng-template *appSpinner="ineSIProgress"></ng-template>
                        </button>
                    </div>
                </div>
                <div class="row text-muted create-title" *ngIf="!isAddMode">
                    <span>{{'label.createdOn' | translate}}</span>
                    <span class="font-weight-bold pl-1">{{ model?.createdDate | date: DATE_FORMAT }}</span>
                    <span *ngIf="model?.createdBy">
                        <span class="mx-2">
                            <img src="/assets/images/dote-icon.png" />
                        </span>
                        {{'label.owner' | translate}}: <span class="font-weight-bold pl-1">{{ model?.createdBy }}</span>
                    </span>
                </div>
            </div>

            <!-- This is milestone section -->
            <app-bulk-fulfillment-milestone [currentStage]="model.stage" *ngIf="isInitDataLoaded">
            </app-bulk-fulfillment-milestone>

            <!-- This is sticky bar -->
            <div class="sticky-navigation mt-3" id="stickyBar" #stickyBar style="display: none;" [hidden]="isReloadMode">
                <div class="row">
                    <div class="col">
                        <kendo-buttongroup class="button-group" selection="multiple">
                            <button *ngFor="let tab of tabs" kendoButton [toggleable]="true" [selected]="tab.selected" [class.current]="tab.selected" (click)="$event.preventDefault()"
                                (selectedChange)="onClickStickyBar($event, tab)">
                                <span> {{ tab.text | translate | uppercase}} </span>
                            </button>
                        </kendo-buttongroup>
                    </div>
                </div>

            </div>

            <!-- This is content section -->
            <div class="section-container mt-3" id="section-container" #sectionContainer>
                <!-- General -->
                <section class="panel-group" id="general" #general *ngIf="getTabDetails('general')" [hidden]="isReloadMode">
                    <label class="panel-header fs-14">{{'label.general' | translate}}</label><br>
                    <app-bulk-fulfillment-general *ngIf="isInitDataLoaded"
                        [visibleColumns]="model.viewSettings"
                        [isViewMode]="isViewMode"
                        [model]="model"
                        [parentIntegration$]='integration$'
                        [formErrors]="formErrors"
                        [isGeneralTabEditable]="!isGeneralTabEditable"
                        [isEditMode]="isEditMode"
                        [isAddMode]="isAddMode"
                        [saveAsDraft]="saveAsDraft"
                        [allLocationOptions]="allLocationOptions"
                        [tabPrefix]="'generalTab#'"
                        [(formErrors)]="formErrors"
                        [validationRules]="validationRules"
                        (onModeOfTransportChange)="onModeOfTransportChange($event)"
                        (onMovementChange)="onMovementChange($event)">
                    </app-bulk-fulfillment-general>
                </section>

                <!-- Planned Schedule -->
                <section class="panel-group" id="plannedSchedule" #plannedSchedule *ngIf="getTabDetails('plannedSchedule')" [hidden]="isReloadMode">
                    <label class="panel-header fs-14">{{'label.plannedSchedule' | translate}}</label>  <p class="float-right cargo-closing-date">
                        <!-- Temporarily hide CFS Closing Date information.
                            <ng-container *ngIf="isCFSBooking">{{'label.cfsClosingDates' | translate}} <strong>{{poff.cfsClosingDate | date: DATE_FORMAT | default: defaultValue}}</strong> {{'label.at' | translate | lowercase}} <strong>{{poff.cfsWarehouseDescription | default: defaultValue}}</strong></ng-container> 
                        -->
                        <ng-container *ngIf="!isCFSBooking && model.modeOfTransport !== ModeOfTransportType.Air && !formHelper.isHiddenColumn(model.viewSettings, viewSettingModuleIdType.BULKBOOKING_DETAIL,'cyClosingDate')">{{'label.cyClosingDates' | translate}} 
                            <strong>{{model.cyClosingDate | date: DATE_FORMAT | default: defaultValue}}</strong> {{'label.at' | translate | lowercase}} <strong [hidden]="formHelper.isHiddenColumn(model.viewSettings,viewSettingModuleIdType.BULKBOOKING_DETAIL,'cyEmptyPickupTerminalDescription')">{{model.cyEmptyPickupTerminalDescription | default: defaultValue}}</strong>
                        </ng-container>
                    </p><br>
                    <app-bulk-fulfillment-planned-schedule
                        [isViewMode]="isViewMode"
                        [viewSettings]="model.viewSettings"
                        [bulkBooking]="model"
                        [bulkBookingId]="model.id">
                    </app-bulk-fulfillment-planned-schedule>
                </section>

                <!-- Contact -->
                <section class="panel-group" id="contact" #contact *ngIf="getTabDetails('contact')" [hidden]="isReloadMode">
                    <label class="panel-header fs-14">{{'label.contact' | translate}}</label>
                    <app-bulk-fulfillment-contact *ngIf="isInitDataLoaded"
                        [viewSettings]="model.viewSettings"
                        [parentForm]="mainForm"
                        [data]="model.contacts"
                        [isContactTabEditable]="!isContactTabEditable"
                        [isViewMode]="isViewMode"
                        [isAddMode]="isAddMode"
                        [isEditMode]="isEditMode"
                        [isCopyMode]="copyingBookingId > 0"
                        [saveAsDraft]="saveAsDraft"
                        [validationRules]="validationRules"
                        [tabPrefix]="'contactTab#'"
                        [(formErrors)]="formErrors"
                        [isNotifyPartyAsConsignee]="model.isNotifyPartyAsConsignee"
                        [isShipperPickup]="model.isShipperPickup">
                    </app-bulk-fulfillment-contact>
                </section>

                <!-- Cargo Details -->
                <section class="panel-group" id="cargoDetails" #cargoDetails *ngIf="getTabDetails('cargoDetails')" [hidden]="isReloadMode">
                    <app-bulk-fulfillment-cargo-detail *ngIf="isInitDataLoaded"
                        [isLoadTabEditable]="!isLoadTabEditable"
                        [isHiddenLoads]="isHiddenLoads"
                        [isViewMode]="isViewMode"
                        [viewSettings]="model.viewSettings"
                        [orders]="model.orders"
                        [loads]="model.loads"
                        [allowMixedCarton]="model.isAllowMixedCarton"
                        [isAddMode]="isAddMode"
                        [saveAsDraft]="saveAsDraft"
                        [validationRules] = "validationRules"
                        [tabPrefix] = "'cargoDetails#'"
                        [(formErrors)]="formErrors"
                        [parentIntegration$]='integration$'
                        (mixedCartonChange)="onMixedCartonChange($event)">
                    </app-bulk-fulfillment-cargo-detail>
                </section>

                <!-- Load Detail -->
                <section class="panel-group" id="loadDetails" #loadDetails *ngIf="getTabDetails('loadDetails')">
                    <label class="panel-header fs-14">{{'label.loadDetails' | translate}}</label>
                    <app-bulk-fulfillment-load-detail *ngIf="isInitDataLoaded && isLoadDetailTabEditable"
                        [(model)]="model"
                        [viewSettings]="model.viewSettings"
                        [isViewMode]="isViewMode"
                        [isReloadMode]="isReloadMode"
                        [isShowContainerInfo]='isShowContainerInfo'>
                    </app-bulk-fulfillment-load-detail>
                </section>

                <!-- Attachment -->
                <section class="panel-group" id="attachment" #attachment *ngIf="getTabDetails('attachment')" [hidden]="isReloadMode">
                    <app-bulk-fulfillment-attachment *ngIf="isInitDataLoaded"
                        [bookingModel]="model"
                        [isAddMode]="isAddMode"
                        [isViewMode]="isViewMode"
                        [isEditMode]="isEditMode"
                        [saveAsDraft]="saveAsDraft">
                    </app-bulk-fulfillment-attachment>
                </section>

                <!-- Activity -->
                <section class="panel-group" id="activity" #activity *ngIf="getTabDetails('activity')" [hidden]="isReloadMode">
                    <label class="panel-header fs-14">{{'label.activity' | translate}}</label>
                    <app-bulk-fulfillment-activity *ngIf="isInitDataLoaded"
                        [bookingModel]="model"
                        [bulkFulfillmentId]="model.id">
                    </app-bulk-fulfillment-activity>
                </section>

                <!-- Dialog -->
                <section class="panel-group" id="dialog" #dialog *ngIf="getTabDetails('dialog')" [hidden]="isReloadMode">
                    <app-bulk-fulfillment-dialog *ngIf="isInitDataLoaded"
                        [bookingModel]="model"
                        [noteList]="noteList"
                        [currentUser]="currentUser"
                        [canAddNote]="isViewMode"
                        [canEditAllNotes]="isViewMode">
                    </app-bulk-fulfillment-dialog>
                </section>
            </div>

            <!-- This is save/cancel buttons -->
            <div class="col-12 action-bar mt-3" *ngIf="!isViewMode">
                <button type="button" class="btn second-button" (click)="onCancel()" [disabled]="isSubmitting">{{'label.cancel' | translate}}</button>
                <button type="submit" class="btn prim-button" [disabled]="isSubmitting">{{(!isReloadMode ? 'label.save' : 'label.submit') | translate}}
                    <ng-template *appSpinner="isSubmitting"></ng-template>
                </button>
            </div>

        </div>
    </form>

    <kendo-dialog [title]="'label.poFulfillment' | translate" *ngIf="cancelBulkFulfillmentDialog" (close)="onNoOfCancelDialogClick()" class="cancel-po-dialog" [width]="475">
        <p>{{ 'confirmation.cancelPOFulfillment' | translate }}</p>
        <textarea
            class="form-control cancel-reason mt-3"
            rows="4"
            [placeholder]="'placeholder.cancelPOReason' | translate"
            [(ngModel)]="cancelReason"></textarea>

        <kendo-dialog-actions [layout]="actionsLayout">
          <button kendoButton (click)="onYesOfCancelDialogClick()" primary="true" [disabled]="stringHelper.isNullOrEmpty(cancelReason)" class="prim-button bg-0">{{ 'label.yes' | translate }}</button>
          <button kendoButton (click)="onNoOfCancelDialogClick()">{{ 'label.no' | translate }}</button>
        </kendo-dialog-actions>
    </kendo-dialog>

    <app-scroll-to-top></app-scroll-to-top>
</div>
<app-dynamic-notification-popup [title]="'label.poFulfillment' | translate" [content]="saveBookingErrors" (popupClosing)="saveBookingFailed = false;" *ngIf="saveBookingFailed"></app-dynamic-notification-popup>

<app-bulk-fulfillment-duplicated-company-dialog [isOpenDialog]="isOpenDuplicatedCompanyDialog" [duplicatedCompanies]="duplicatedCompanies" (dialogEvent)="duplicatedCompanyDialogChanged($event)">

</app-bulk-fulfillment-duplicated-company-dialog>