.add-new-button {
    width: 110px;
}

.prim-button {
    margin-right: 0;
}

.status-font {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

// pending
.pending {
    @extend .status-font;
    color: #FF6C00;
}

.waitForConfirm {
    @extend .status-font;
    color: #FF6C00;
}

// active
.active {
    @extend .status-font;
    color: #0BB573;
}