<div class="content__header">
    <div class="container-fluid">
        <div class="row header-group" *ngIf="isInitDataLoaded">
            <div class="col-sm">
                <button attr.data-balloon="{{'tooltip.backToList' | translate}}" data-balloon-pos="up" type="button"
                    class="btn btn-default back-button" (click)="backToList()">
                    <i class="ei ei-arrow_left"></i>
                </button>
                <label *ngIf="isEditMode" class="form-header">{{'label.consolidation' | translate}} #{{model.consolidationNo}}</label>
                <label *ngIf="isAddMode" class="form-header">{{'label.addNewConsolidation' | translate}}</label>
                <label *ngIf="isEditMode" class="new-status status-font">| {{'label.new' | translate}}</label>
            </div>
        </div>
        <div class="typing_loader" *ngIf="!isInitDataLoaded"></div>
        <form class="row" #mainForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="isInitDataLoaded">
            <div class="col-12 panel-group remove-padding-first-panel">
                <label class="panel-header">{{'label.consolidationDetail' | translate}}</label>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-label required">{{'label.originCFS' | translate}}</label>
                            <kendo-autocomplete #originCFSAutoComplete
                                                [disabled]="true"
                                                required
                                                name="originCFSControl"
                                                (filterChange)="originCFSFilterChange($event)"
                                                [valueField]="'label'"
                                                [(ngModel)]="model.originCFS"
                                                [data]="filteredLocations"
                                                [filterable]="true"
                                                [placeholder]="'placeholder.egThing' | translate: {thing: ('label.originCFS' | translate)}"
                                                class="form-control">
                            </kendo-autocomplete>
                            <div *ngIf="formErrors['originCFSControl']" class="k-invalid-msg">
                                {{formErrors.originCFSControl}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="cfsCutoffDateControl"
                                class="required">{{'label.cfsCutoffDates' | translate}}</label>
                            <kendo-datepicker name="cfsCutoffDateControl"
                                class="form-control"
                                required
                                [(ngModel)]="model.cfsCutoffDate">
                            </kendo-datepicker>
                            <div *ngIf="formErrors['cfsCutoffDateControl']" class="k-invalid-msg">
                                {{formErrors.cfsCutoffDateControl}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="required" for="equipmentTypeControl">{{'label.equipmentType' | translate}}</label>
                            <kendo-dropdownlist name="equipmentTypeControl"
                                                required
                                                [(ngModel)]="model.equipmentType"
                                                [data]="equipmentTypeOptions"
                                                [valuePrimitive]="true"
                                                [textField]="'label'"
                                                [valueField]="'value'"
                                                class="form-control">
                                <ng-template kendoDropDownListValueTemplate let-dataItem>
                                    {{ dataItem?.label | translate }}
                                </ng-template>
                                <ng-template kendoDropDownListItemTemplate let-dataItem>
                                    {{ dataItem?.label | translate }}
                                </ng-template>
                            </kendo-dropdownlist>
                            <div *ngIf="formErrors['equipmentTypeControl']" class="k-invalid-msg">
                                {{formErrors.equipmentTypeControl}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" [class.force-invalid]="formErrors['carrierSONumberControl']">
                            <label for="carrierSONumberControl" [class.required]="!isEditAsDraft">{{'label.carrierSONo' | translate}}</label>
                            <input type="text" class="form-control" name="carrierSONumberControl"
                                [(ngModel)]="model.carrierSONo"
                                (ngModelChange)="validateCarrierSONumber()"
                                (focusout)="checkDuplicateContainer().subscribe()"/>
                            <div *ngIf="formErrors['carrierSONumberControl']" class="k-invalid-msg">
                                {{formErrors.carrierSONumberControl}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" [class.force-invalid]="formErrors['containerNumberControl']">
                            <label for="containerNumberControl" [class.required]="!isEditAsDraft">{{'label.containerNo' | translate}}</label>
                            <input type="text" class="form-control" name="containerNumberControl"
                                [(ngModel)]="model.containerNo" (focusout)="onContainerNumberFocusout()"
                                (ngModelChange)="validateContainerNumber()"/>
                            <div *ngIf="formErrors['containerNumberControl']" class="k-invalid-msg">
                                {{formErrors.containerNumberControl}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" [class.force-invalid]="formErrors['sealNumberControl']">
                            <label for="sealNumberControl" [class.required]="!isEditAsDraft">{{'label.sealNo' | translate}}</label>
                            <input type="text" class="form-control" name="sealNumberControl"
                                [(ngModel)]="model.sealNo" (ngModelChange)="validateSealNumber()"/>
                            <div *ngIf="formErrors['sealNumberControl']" class="k-invalid-msg">
                                {{formErrors.sealNumberControl}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="form-label">{{'label.loadingDates' | translate}}</label>
                        <kendo-datepicker name="loadingDate" class="form-control"
                            [(ngModel)]="model.loadingDate">
                        </kendo-datepicker>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="sealNumber2Control">{{'label.sealNo2' | translate}}</label>
                            <input type="text" class="form-control" name="sealNumber2Control"
                                [(ngModel)]="model.sealNo2" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 action-bar p-0">
                <button type="button" class="btn second-button"
                    (click)="cancelEditingConsolidation()">{{'label.cancel' | translate}}</button>
                <button type="submit" class="btn prim-button"
                    (click)="saveConsolidation()">{{'label.save' | translate}}</button>
            </div>
        </form>
    </div>
</div>
