<div class="content__header">
    <div class="container-fluid">
        <div class="row header-group">
            <label class="list-header">{{'label.listOfArticles' | translate}}</label>
            <span class="k-i-loading k-icon loading" *ngIf="service.gridLoading"></span>
        </div>

        <div class="row">
            <kendo-grid #grid="kendoGrid"
                [data]="view | async"
                [filterable]="true"
                [filter]="service.state.filter"
                [pageable]="true"
                [pageSize]="service.state.take"
                [skip]="service.state.skip"
                [sortable]="true"
                [sort]="service.state.sort"
                (dataStateChange)="gridStateChange($event)"
                (pageChange)="service.pageChange($event)"
                (sortChange)="service.sortChange($event)"
                class="custom-border-grid">

                <kendo-grid-column field="companyName" title="{{'label.customer' | translate}}" [filterable]="true" [sortable]="true" width="30">
                </kendo-grid-column>
                <kendo-grid-column field="itemNo" title="{{'label.itemNo' | translate}}" [filterable]="true" [sortable]="true" width="20">
                    <ng-template kendoGridCellTemplate let-dataItem *hasPermission="[AppPermissions.Organization_ArticleMaster_Detail]">
                        <a class="k-link link-code" [title]="dataItem.itemNo" routerLink="/article-masters/view/{{dataItem.id}}" routerLinkActive="active">{{dataItem.itemNo}}</a>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column field="itemDesc" title="{{'label.description' | translate}}" [filterable]="true" [sortable]="true" width="40">
                </kendo-grid-column>

                <kendo-grid-column field="statusName" title="{{'label.status' | translate}}" [filterable]="true" [sortable]="true" width="10">
                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                        <span [className]="dataItem.status == 1 ? 'active-status' : (dataItem.status == 0 ? 'inactive-status' : '')">{{dataItem.statusName | translate}}</span>
                    </ng-template>
                </kendo-grid-column>

                <ng-template kendoPagerTemplate>
                    <app-custom-grid-pager [service]="service" (pageSizeChanged)="gridPageSizeChange($event)"></app-custom-grid-pager>
                </ng-template>
            </kendo-grid>
        </div>
    </div>
</div>
