@import '../../../../styles/variables';

.telerik-report-container {
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
    ::ng-deep {
        .trv-content-wrapper {
            .trv-nav {
                #trv-main-menu-ul {
                    display: flex;
                    &.k-menu > .k-item {
                        color: $theme-color-darker !important;
                        .k-link {
                            padding: 6px 15px;
                        }
                        &.k-state-disabled {
                            opacity: 0.3 !important;
                            background-color: inherit !important;
                        }
                        &#trv-main-menu-export-command {
                            .k-link {
                                font-weight: normal;
                            }
                        }
                        a[data-command-parameter="PDF"],
                        a[data-command-parameter="CSV"],
                        a[data-command-parameter="PPTX"],
                        a[data-command-parameter="RTF"],
                        a[data-command-parameter="IMAGE"],
                        a[data-command-parameter="MHTML"],
                        a[data-command-parameter="DOCX"],
                        a[data-command-parameter="XPS"] {
                            display: none;
                        }
                    }
                    li[aria-label="Search in report contents"],
                    li[aria-label="Print"] {
                        display: none;
                    }
                    .t-font-icon {
                        font-size: 19px;
                        height: 1.8em;
                        line-height: 1.8em;
                    }

                    ul.k-menu-group {
                        color: $theme-color;
                    }
                }
            }

            .trv-content {
                .trv-page-container {
                    *, ::after, ::before {
                        box-sizing: content-box;
                    }
                }
                .trv-parameters-area {
                    .trv-parameters-area-content {
                        height: 100%;
                    }
                    .trv-parameter-value {
                        .k-listview>.k-state-selected {
                            background-color: $theme-color-secondary-darker;
                        }
                    }
                    .trv-parameter-editor-datetime > .k-picker-wrap {
                        height: unset;
                    }
                    .trv-parameters-area-footer {
                        position: unset;
                        .trv-parameters-area-preview-button {
                            top: -40px;
                            background: $theme-color;
                            color: $color-white-primary;
                            font-size: 16px;
                            border: $theme-color-darker solid 1px;

                            &:hover {
                                background-color: $theme-color-darker;
                            }

                            &.k-state-disabled {
                                background-color: $theme-color-darker !important;
                                color: $color-white-primary !important;
                                opacity: .6 !important;
                                border: $theme-color-darker solid 1px !important;
                            }
                        }
                    }
                }
                .trv-error-pane {
                    .trv-error-message {
                        color: $color-white-primary;
                        font-size: 16px;
                        background-color: $color-blue-primary;
                        padding: 3px 5px;
                    }
                }
            }

            .trv-parameters-area {
                .k-link {
                    font-weight: normal;
                }
                .trv-parameter-container {

                    padding-bottom: 12px;

                    .trv-parameter-header {
                        .trv-parameter-title {
                            background-color: $theme-color;
                            color: $theme-color-blank;
                            padding-left: 4px;
                            font-weight: normal;
                        }
                    }
                    .trv-parameter-error {
                        .k-icon.k-warning{
                            display: none;
                        }
                        .trv-parameter-error-message {
                            font-size: 13px;
                        }
                    }

                    .trv-parameter-value {
                        .trv-parameter-actions {
                            .trv-select-all {
                                color: $color-blue-primary;
                                &:hover {
                                    color: $color-blue-primary-darker;
                                }
                            }

                            .trv-select-none {
                                color: $color-blue-primary;
                                &:hover {
                                    color: $color-blue-primary-darker;
                                }
                            }

                        }

                        .trv-list {
                            cursor: default;
                            max-height: 200px;
                            overflow-y: auto;

                            .trv-listviewitem{
                                padding-left: 4px;
                                padding-bottom: 2px;

                                &.k-state-selected {
                                    background-color: $color-blue-bright-1;
                                }
                            }
                        }
                    }

                }
            }
        }
    }

    .schedule-btn {
        cursor: pointer;
    }

    .schedule-img{
        height: 40px;
        margin-top: 3px;
    }
}
