<div class="content__header">
    <div class="container-fluid">
        <div class="row header-group" *ngIf="isInitDataLoaded">
            <div class="col-sm">
                <button attr.data-balloon="{{'tooltip.backToList' | translate}}" data-balloon-pos="up"
                        type="button" class="btn btn-default back-button" (click)="backToList()">
                    <i class="ei ei-arrow_left"></i>
                </button>
                <span class="form-header mr-auto">{{ model.name }} #{{ ("0000" + model.id).slice(-4) }}</span>
                <app-status-label [status]="model.status" [statusName]="model.statusName | translate" [statusEnum]="userStatus">
                </app-status-label>
            </div>
            <div class="col-sm text-right">
                <button attr.data-balloon="{{'tooltip.approve' | translate}}" data-balloon-pos="up"
                        type="submit" class="btn approve-icon-button" (click)="approveUser()">
                    <fa-icon [icon]="faCheck"></fa-icon>
                </button>
                <button attr.data-balloon="{{'tooltip.reject' | translate}}" data-balloon-pos="up"
                        type="button" class="btn suspend-icon-button" (click)="rejectUser()" *ngIf="model.status == userStatus.Pending">
                    <fa-icon [icon]="faBan" style="font-size: 26px"></fa-icon>
                </button>
            </div>
        </div>

        <div class="typing_loader" *ngIf="!isInitDataLoaded"></div>
        <form class="row" #mainForm="ngForm" novalidate (ngSubmit)="onSubmit()" *ngIf="isInitDataLoaded">
            <div class="col panel-group remove-padding-first-panel">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-label required">{{'label.email' | translate}}</label>
                            <input name="email" required type="text" class="form-control" maxlength="512" [disabled]="true" [ngModel]="model.email" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-label required">{{'label.name' | translate}}</label>
                            <input name="name" required type="text" class="form-control" maxlength="512" [disabled]="true" [(ngModel)]="model.name" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group"  [ngClass]="formErrors['companyName'] ? 'force-invalid' : ''" >
                            <label class="form-label required">{{'label.companyName' | translate}}</label>
                            <input name="companyName" required type="text" class="form-control" maxlength="512" [disabled]="model.isInternal || isViewMode"
                                [(ngModel)]="model.companyName" />
                            <div *ngIf="formErrors['companyName']" class="k-invalid-msg">
                                {{ formErrors.companyName }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-group"  [ngClass]="formErrors['userPhone'] ? 'force-invalid' : ''">
                                <label class="form-label">{{'label.phone' | translate}}</label>
                                <input #userPhoneElement name="userPhone" type="text" 
                                class="form-control" [disabled]="isViewMode"

                                    (input)="onTypingPhoneNumber($event.target.value)" 
                                    [(ngModel)]="model.phone" />
                                <div *ngIf="formErrors['userPhone']" class="k-invalid-msg">
                                    {{ 'validation.maxLengthInput' | translate: {'maxValue': maxLengthInput} }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" [ngClass]="formErrors['companyAddress'] ? 'force-invalid' : ''" >
                            <label class="form-label required">{{'label.companyAddress' | translate}}</label>
                            <input name="companyAddress" required type="text" class="form-control" maxlength="512" [disabled]="model.isInternal || isViewMode"
                                [(ngModel)]="model.companyAddressLine1" />
                            <div *ngIf="formErrors['companyAddress']" class="k-invalid-msg">
                                {{ formErrors.companyAddress }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="form-label">{{'label.companyWeChatIDOrWhatsApp' | translate}}</label>
                                <input name="companyWeChatOrWhatsApp" type="text" class="form-control" [disabled]="true" [(ngModel)]="model.companyWeChatOrWhatsApp" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" [ngClass]="formErrors['companyAddressLine2'] ? 'force-invalid' : ''" >
                            <label class="form-label">{{'label.addressLine2' | translate}}</label>
                            <input name="companyAddressLine2" type="text" class="form-control" maxlength="512" [disabled]="model.isInternal || isViewMode"
                                [(ngModel)]="model.companyAddressLine2" />
                            <div *ngIf="formErrors['companyAddressLine2']" class="k-invalid-msg">
                                {{ formErrors.companyAddressLine2 }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="form-label">{{'label.operationContactName' | translate}}</label>
                                <input name="opContactName" type="text" class="form-control" [disabled]="true" [(ngModel)]="model.opContactName" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" [ngClass]="formErrors['companyAddressLine3'] ? 'force-invalid' : ''" >
                            <label class="form-label">{{'label.addressLine3' | translate}}</label>
                            <input name="companyAddressLine3" type="text" class="form-control" maxlength="512" [disabled]="model.isInternal || isViewMode"
                                [(ngModel)]="model.companyAddressLine3" />
                            <div *ngIf="formErrors['companyAddressLine3']" class="k-invalid-msg">
                                {{ formErrors.companyAddressLine3 }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="form-label">{{'label.operationContactEmail' | translate}}</label>
                                <input name="opContactEmail" type="text" class="form-control" [disabled]="true" maxlength="256" [(ngModel)]="model.opContactEmail" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" [ngClass]="formErrors['companyAddressLine4'] ? 'force-invalid' : ''" >
                            <label class="form-label">{{'label.addressLine4' | translate}}</label>
                            <input name="companyAddressLine4" type="text" class="form-control" maxlength="512" [disabled]="model.isInternal || isViewMode"
                                [(ngModel)]="model.companyAddressLine4" />
                            <div *ngIf="formErrors['companyAddressLine4']" class="k-invalid-msg">
                                {{ formErrors.companyAddressLine4 }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-group" [ngClass]="formErrors['opCountryId'] ? 'force-invalid' : ''">
                                <label class="form-label">{{'label.operationContactCountry' | translate}}</label>
                                <kendo-dropdownlist
                                    name="opCountryId"
                                    class="form-control"
                                    [data]="countryDropdownDataSource"
                                    [disabled]="true"
                                    [(ngModel)]="model.opCountryId"
                                    [valuePrimitive]="true"
                                    [textField]="'label'"
                                    [valueField]="'value'">
                                </kendo-dropdownlist>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group k-custom-userRequest">
                            <label class="form-label">{{'label.customer' | translate}}</label>
                            <input #customerElement name="customer" type="text" class="form-control" [disabled]="isViewMode"
                                    [(ngModel)]="model.customer" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-group" [ngClass]="formErrors['opLocationName'] ? 'force-invalid' : ''">
                                <label class="form-label">{{'label.operationContactCity' | translate}}</label>
                                <kendo-autocomplete
                                    name="opLocationName"
                                    class="form-control"
                                    [data]="locationDataSource"
                                    [valueField]="'label'"
                                    [placeholder]="'label.select' | translate"
                                    [filterable]="true"
                                    [(ngModel)]="model.opLocationName"
                                    [disabled]="true">
                                </kendo-autocomplete>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group k-custom-userRequest">
                            <label class="form-label required">{{'label.userRole' | translate}}</label>
                            <kendo-dropdownlist name="roleId" [data]="roleOptions" [disabled]="isViewMode" [(ngModel)]="model.roleId" [valuePrimitive]="true"
                            (valueChange)="roleValueChange($event)" [textField]="'name'" [valueField]="'id'" class="form-control" required>
                            </kendo-dropdownlist>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-label">{{'label.taxpayerId' | translate}}</label>
                            <input name="taxpayerId" type="text" class="form-control" maxlength="128" [disabled]="true" [(ngModel)]="model.taxpayerId" />
                            <div *ngIf="formErrors['taxpayerId']" class="k-invalid-msg">
                                {{ formErrors.taxpayerId }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="!model.isInternal">
                    <div class="col-sm-6">
                        <div class="form-group k-custom-userRequest">
                            <label class="form-label required">{{'label.organization' | translate}}</label>
                            <kendo-autocomplete #organizationUserElement name="organizationUser" [data]="organizationOptions" [valueField]="'label'"
                                [placeholder]="'label.select' | translate" [filterable]="true" (filterChange)="organizationFilterChange($event)" [(ngModel)]="model.organizationCodeName"
                                (valueChange)="organizationValueChange($event)" class="form-control" required>
                            </kendo-autocomplete>
                            <div *ngIf="formErrors['organizationUser']" class="k-invalid-msg">
                                {{ formErrors.organizationUser }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group k-custom-userRequest">
                            <label class="form-label">{{'label.createdDates' | translate}}</label>
                            <kendo-dateinput name="createdDate" required type="text" class="form-control k-custom-date" [disabled]="true" [format]="DATE_FORMAT"
                                [value]="model.createdDate"></kendo-dateinput>
                        </div>
                    </div>
                    <!-- <div class="col-sm-6">
                    <div class="form-group k-custom-userRequest">
                        <label class="form-label required">{{'label.organizationRole' | translate}}</label>
                        <kendo-dropdownlist name="organizationRoleId" [data]="organizationRoleOptions" [defaultItem]="defaultDropDownItem" [disabled]="isDisabledOrganizationRole"
                            [(ngModel)]="model.organizationRoleId" [valuePrimitive]="true" [textField]="'label'" [valueField]="'value'"
                            (valueChange)="onOrganizationRoleChanged($event)" class="form-control" required>
                            <ng-template kendoDropDownListItemTemplate let-dataItem>
                                {{ dataItem.label | translate }}
                            </ng-template>
                            <ng-template kendoDropDownListValueTemplate let-dataItem>
                                {{ dataItem.label | translate }}
                            </ng-template>
                        </kendo-dropdownlist>
                        <div *ngIf="formErrors['organizationRoleId']" class="k-invalid-msg">
                            {{ formErrors.organizationRoleId }}
                        </div>
                    </div>
                </div> -->
                </div>
            </div>
        </form>
    </div>
</div>