@import '../../../../styles/variables';

.button-bar {
    text-align: center;
    margin-top: 25px;
}

.panel-header {
    font-size: 24px;
}

.header-container {
    text-align: center;
    margin-top: 20px;
}

.container {
    padding: 30px;
    padding-bottom: 0px;
}

// Custom popup

::ng-deep .custom-header-dialog .k-dialog-titlebar .k-dialog-title {
    margin-top: 0px !important;
}

::ng-deep .container {
    padding: 0 30px !important;
    .row:last-child{
        &.text-label {
            margin-bottom: unset !important;
        }
    }
}
