<kendo-dialog [title]="'label.addMissingPO' | translate" *ngIf="isOpen" (close)="onFormClosed()" novalidate [width]="850" class="custom-header-dialog add-missing-po-form max-screen-1280x768">
    <form #mainForm="ngForm">
        <div class="container">
            <div class="form-group mb-0">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="form-label required">{{'label.customerPO' | translate}}</label>
                            <input name="customerPO" type="text" required class="form-control" [(ngModel)]="model.customerPO" />

                            <div *ngIf="mainForm.controls['customerPO']?.invalid && mainForm.controls['customerPO']?.touched" class="k-invalid-msg">
                                <p *ngIf="mainForm.controls['customerPO'].errors.required">
                                    {{ 'validation.requiredField' | translate: {'fieldName': 'label.customerPO' | translate} }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <kendo-dialog-actions>
        <button type="button" class="btn second-button dialog-button" (click)="onFormClosed()" #Cancel>{{'label.cancel' | translate}}</button>
        <button type="button" class="btn prim-button dialog-button"  (click)="onFormSaved()">{{'label.save' | translate}}</button>
    </kendo-dialog-actions>
</kendo-dialog>