@import '../../../styles/variables';

.form-control {
    padding-left: 46px

}

.modal {
    margin-top: 75px;
}

.modal-content {
  width: 540px;
  height: auto;
  border-radius: 10px;
}

.modal-body {
    width: 540px;
    height: auto;
    padding: 40px;
}

.dialog-header {
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    color: #333333;
    margin: 30px 0 30px 0;
}

.file-list {
    overflow-y: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    max-height: 185px;
    width: 100%;
}

.button-bar {
    margin-left: 25px;
}

.file-list ul {
    width: 100%;
    display: block;
}

.file-list ul li {
    list-style: none;
}

.file-list ul li a {
    float: right;
    margin-right: 10px;
}

.file-list ul li label {
    margin-left: 14px;
    color: $theme-color;
    margin-bottom: 25px;
}

.icon-pdf {
    background: url('/assets/images/share-file-dialog/icon-pdf@2x.png');
    padding: 13px;
    background-size:cover;
}

.icon-doc {
    background: url('/assets/images/share-file-dialog/icon-word@2x.png');
    padding: 13px;
    background-size:cover;
}

.icon-ppt {
    background: url('/assets/images/share-file-dialog/icon-ppt@2x.png');
    padding: 13px;
    background-size:cover;
}

.icon-xls {
    background: url('/assets/images/share-file-dialog/icon-excel@2x.png');
    padding: 13px;
    background-size:cover;
}

.icon-default {
    background: url('/assets/images/share-file-dialog/icon-default@2x.png');
    padding: 13px;
    background-size:cover;
}

.icon-remove-item {
    background: url('/assets/images/share-file-dialog/icon-close@2x.png');
    padding: 5.5px;
    background-size:cover;
    cursor: pointer;
    font-size: 13px;
}

.img-email {
    background: url('/assets/images/share-file-dialog/email-img@2x.png');
    padding: 65px;
    background-size:cover;
    margin-top: -105px;
}

.share-file-dialog {
    ::ng-deep .ng2-tag-input__text-input {
        width: 459px !important;
        padding-left: 46px !important;
        height: 46px !important;
        font-family: "Noto Sans" !important;
        border: 1px solid #ced4da !important;
    
        background: url(/assets/images/share-file-dialog/email-icon@2x.png) no-repeat;
        background-repeat: no-repeat;
        background-position: 10px 50%;
        background-size: 24px;
        background-color: transparent;
    }
    
    ::ng-deep tag-input-form {
        margin-top: 10px;
    }
    
    ::ng-deep .ng2-tag-input.ng2-tag-input--focused {
        border: none !important;
    }
    ::ng-deep .ng2-tag-input {
        border: none !important;
    }
    
    ::ng-deep tag:not(.readonly):not(.tag--editing):focus {
        background: $theme-color !important;
    }
    ::ng-deep .invalid-control {
        input{
           border: 1px solid $color-red-bright-1 !important;
       }
   }
}

.empty-file-list {
    font-size: 18px;
    font-family: "Noto Sans";
    color: #666666;
    font-weight: bold;
}