<!-- General information -->
<label class="panel-header">{{'label.generalInformation' | translate}}</label>
<div class="row">
    <div class="col content-details">
        <div class="row">
            <div class="col-6 text-label">{{'label.ship' | translate}}</div>
            <div class="col-6 value-label">{{ returnValue('ship') }}</div>
        </div>

        <div class="row">
            <div class="col-6 text-label">{{'label.poSubject' | translate}}</div>
            <div class="col-6 value-label">{{ returnValue('poSubject') }}</div>
        </div>

        <div class="row">
            <div class="col-6 text-label">{{'label.poCause' | translate}}</div>
            <div class="col-6 value-label">{{ returnValue('poCause') }}</div>
        </div>

        <div class="row">
            <div class="col-6 text-label">{{'label.estimatedDeliveryDates' | translate}}</div>
            <div class="col-6 value-label">
                {{ cruiseOrderModel.estimatedDeliveryDate | date: DATE_FORMAT  | default : defaultValue }}
            </div>
        </div>

        <div class="row">
            <div class="col-6 text-label">{{'label.deliveryDates' | translate}}</div>
            <div class="col-6 value-label">
                {{ cruiseOrderModel.actualShipDate | date: DATE_FORMAT  | default : defaultValue }}
            </div>
        </div>

        <div class="row">
            <div class="col-6 text-label">{{'label.deliveryMeans' | translate}}</div>
            <div class="col-6 value-label">
                {{ returnValue('deliveryMeans') }}
            </div>
        </div>

        <div class="row">
            <div class="col-6 text-label">{{'label.maintenanceObject' | translate}}</div>
            <div class="col-6 value-label">
                {{ returnValue('maintenanceObject') }}
            </div>
        </div>

        <div class="row">
            <div class="col-6 text-label">{{'label.firstReceivingPoint' | translate}}</div>
            <div class="col-6 value-label">
                {{ returnValue('firstReceivingPoint') }}
            </div>
        </div>

        <div class="row">
            <div class="col-6 text-label">{{'label.cerNumber' | translate}}</div>
            <div class="col-6 value-label">
                {{ returnValue('certificateNumber') }}
            </div>
        </div>

        <div class="row">
            <div class="col-6 text-label">{{'label.cerId' | translate}}</div>
            <div class="col-6 value-label">
                {{ returnValue('certificateId') }}
            </div>
        </div>
    </div>

    <div class="col content-details">
        <div class="row">
            <div class="col-6 text-label">{{'label.department' | translate}}</div>
            <div class="col-6 value-label">{{ returnValue('department') }}</div>
        </div>

        <div class="row">
            <div class="col-6 text-label">{{'label.poType' | translate}}</div>
            <div class="col-6 value-label">{{ returnValue('poType') }}</div>
        </div>

        <div class="row">
            <div class="col-6 text-label">{{'label.delivered' | translate}}</div>
            <div class="col-6 value-label">{{ returnValue('delivered') }}</div>
        </div>

        <div class="row">
            <div class="col-6 text-label">{{'label.approver' | translate}}</div>
            <div class="col-6 value-label">{{ returnValue('approver') }}</div>
        </div>

        <div class="row">
            <div class="col-6 text-label">{{'label.approvalPOStatus' | translate}}</div>
            <div class="col-6 value-label">{{ returnValue('approvalStatus') }}</div>
        </div>

        <div class="row">
            <div class="col-6 text-label">{{'label.approvedDates' | translate}}</div>
            <div class="col-6 value-label">
                {{ cruiseOrderModel.approvedDate | date: DATE_FORMAT  | default : defaultValue }}
            </div>
        </div>

        <div class="row">
            <div class="col-6 text-label">{{'label.maker' | translate}}</div>
            <div class="col-6 value-label">{{ returnValue('maker') }}</div>
        </div>

        <div class="row">
            <div class="col-6 text-label">{{'label.withWO' | translate}}</div>
            <div class="col-6 value-label">{{ returnValue('withWO') }}</div>
        </div>

        <div class="row">
            <div class="col-6 text-label">{{'label.creationUser' | translate}}</div>
            <div class="col-6 value-label">{{ returnValue('creationUser') }}</div>
        </div>
    </div>
</div>

<hr class="colored"/>

<!-- REQ Information -->
<label class="panel-header">{{'label.reqInformation' | translate}}</label>
<div class="row">
    <div class="col content-details">
        <div class="row">
            <div class="col-6 text-label">{{'label.reqRequestor' | translate}}</div>
            <div class="col-6 value-label">{{ returnValue('requestor') }}</div>
        </div>

        <div class="row">
            <div class="col-6 text-label">{{'label.reqPriority' | translate}}</div>
            <div class="col-6 value-label">{{ returnValue('requestPriority') }}</div>
        </div>

        <div class="row">
            <div class="col-6 text-label">{{'label.reqApprovalDates' | translate}}</div>
            <div class="col-6 value-label">
                {{ cruiseOrderModel.requestApprovedDate | date: DATE_FORMAT  | default : defaultValue }}
            </div>
        </div>
    </div>

    <div class="col content-details">
        <div class="row">
            <div class="col-6 text-label">{{'label.reqDates' | translate}}</div>
            <div class="col-6 value-label">
                {{ cruiseOrderModel.requestDate | date: DATE_FORMAT  | default : defaultValue }}
            </div>
        </div>

        <div class="row">
            <div class="col-6 text-label">{{'label.reqType' | translate}}</div>
            <div class="col-6 value-label">{{ returnValue('requestType') }}</div>
        </div>

        <div class="row">
            <div class="col-6 text-label">{{'label.reqType2' | translate}}</div>
            <div class="col-6 value-label">{{ returnValue('requestType2') }}</div>
        </div>

        <div class="row">
            <div class="col-6 text-label">{{'label.reqType3' | translate}}</div>
            <div class="col-6 value-label">{{ returnValue('requestType3') }}</div>
        </div>
    </div>
</div>

<hr class="colored"/>

<!-- Budget Information -->
<label class="panel-header">{{'label.budgetInformation' | translate}}</label>
<div class="row">
    <div class="col content-details">
        <div class="row">
            <div class="col-6 text-label">{{'label.budgetId' | translate}}</div>
            <div class="col-6 value-label">{{ returnValue('budgetId') }}</div>
        </div>

        <div class="row">
            <div class="col-6 text-label">{{'label.invoice' | translate}}</div>
            <div class="col-6 value-label">{{ cruiseOrderModel?.invoiced | number: '0.0-0' | default : defaultValue}}</div>
            
        </div>
    </div>

    <div class="col content-details">
        <div class="row">
            <div class="col-6 text-label">{{'label.budgetYear' | translate}}</div>
            <div class="col-6 value-label">{{ cruiseOrderModel?.budgetYear | number: '0.0-0' | default : defaultValue}}</div>
        </div>

        <div class="row">
            <div class="col-6 text-label">{{'label.budgetPeriod' | translate}}</div>
            <div class="col-6 value-label">{{ cruiseOrderModel?.budgetPeriod | number: '0.0-0' | default : defaultValue}}</div>
        </div>
    </div>
</div>
