
<fieldset class="border fieldset-container">
    <legend class="w-auto custom-legend">{{'label.basicInfo' | translate}}</legend>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 form-group" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL, 'customer')">
                <label class="form-label required">{{'label.customer' | translate}}</label>
                <input id="customerId" name="customerId" required type="hidden" [(ngModel)]="customerId">
                <kendo-autocomplete #customerAutoComplete
                                    required
                                    name="organizationIdControl"
                                    (valueChange)="customerValueChange($event)"
                                    (filterChange)="customerFilterChange($event)"
                                    [valueField]="'name'"
                                    [readonly]="isViewMode || isEditMode"
                                    [loading]="customerLoading"
                                    [(ngModel)]="customerName"
                                    [data]="customerOptions"
                                    [filterable]="true"
                                    [placeholder]="'label.egOrganizationName' | translate"
                                    class="form-control"
                                    [ngClass]="{'read-only': isViewMode || isEditMode, 'force-invalid': formErrors[tabPrefix + 'customerId']}"
                                    [disabled]="isCreatedFromPO">
                </kendo-autocomplete>
                <div *ngIf="formErrors[tabPrefix + 'customerId']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'customerId'] }}
                </div>
            </div>

            <div class="col-lg-6 form-group" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL, 'customerPrefix')">
                <label class="form-label">{{'label.customerPrefix' | translate}}</label>
                <input name="customerPrefix" type="text" class="form-control" [readonly]="true"
                    [(ngModel)]="customerPrefix" />
            </div>

            <div class="col-lg-6 form-group" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL, 'supplier')">
                <label class="form-label required">{{'label.supplier' | translate}}</label>
                <input name="supplierName"
                        type="text" class="form-control"
                        [readonly]="true"
                        [value]="supplierName" />
            </div>

            <div class="col-lg-6 form-group" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL, 'cargoReadyDate')">
                <label class="form-label required">{{'label.bookingCargoReadyDates' | translate}}</label>
                <kendo-datepicker name="cargoReadyDate"
                                class="form-control"
                                [(ngModel)]="model.cargoReadyDate"
                                (valueChange)="onCargoReadyDateChanged($event)"
                                [readonly]="isViewMode"
                                [ngClass]="{'read-only': isViewMode , 'force-invalid': formErrors[tabPrefix + 'cargoReadyDate']  }">
                </kendo-datepicker>

                <div *ngIf="formErrors[tabPrefix + 'cargoReadyDate']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'cargoReadyDate'] }}
                </div>
            </div>
            <div class="col-lg-6 form-group" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL, 'incoterm')">
                <label class="form-label required">{{'label.incoterms' | translate}}</label>
                <kendo-dropdownlist name="incoterm"
                                    #incoterm="ngModel"
                                    [(ngModel)]="model.incoterm"
                                    class="form-control"
                                    [data]="incotermTypeOptions"
                                    [valuePrimitive]="true"
                                    [textField]="'label'"
                                    [valueField]="'value'"
                                    [readonly]="isViewMode || isIncotermDisabled"
                                    [ngClass]="{'read-only': isViewMode || isIncotermDisabled}">
                    <ng-template kendoDropDownListValueTemplate let-dataItem>
                        {{ dataItem?.label | translate }}
                    </ng-template>
                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                        {{ dataItem?.label | translate }}
                    </ng-template>
                </kendo-dropdownlist>
            </div>
            <div class="col-lg-6 form-group" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL, 'owner')">
                <label class="form-label">{{'label.bookedBy' | translate}}</label>
                <input name="bookedBy" type="text" class="form-control" [readonly]="true" [value]="model.owner" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-6" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL, 'isShipperPickup')">
                <div class="form-group">
                    <label class="form-label">{{'label.isShipperPickup' | translate}}</label>
                    <div class="radio-wrapper" #anchor>
                        <input id="isShipperPickup_yes"
                                type="radio"
                                class="k-radio"
                                name="isShipperPickup_yes"
                                [disabled]="isViewMode"
                                [value]="true"
                                [(ngModel)]="model.isShipperPickup"
                                (ngModelChange)="requirePickupChange($event)"/>
                        <label class="k-radio-label" for="isShipperPickup_yes">{{'label.yes' | translate}}</label>
                        <input id="isShipperPickup_no"
                                type="radio"
                                class="k-radio"
                                name="isShipperPickup_no"
                                [disabled]="isViewMode"
                                [value]="false"
                                [(ngModel)]="model.isShipperPickup"
                                (ngModelChange)="requirePickupChange($event)"/>
                        <label class="k-radio-label" for="isShipperPickup_no">{{'label.no' | translate}}</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL, 'isNotifyPartyAsConsignee')">
                <div class="form-group">
                    <label class="form-label">{{'label.isNotifyPartyAsConsignee' | translate}}</label>
                    <div class="radio-wrapper" #anchor>
                        <input id="isNotifyPartyAsConsignee_yes"
                                type="radio"
                                class="k-radio"
                                name="isNotifyPartyAsConsignee_yes"
                                [disabled]="isViewMode"
                                [value]="true"
                                [(ngModel)]="model.isNotifyPartyAsConsignee"
                                (ngModelChange)="isNotifyPartyAsConsigneeChange($event)"/>
                        <label class="k-radio-label" for="isNotifyPartyAsConsignee_yes">{{'label.yes' | translate}}</label>
                        <input id="isNotifyPartyAsConsignee_no"
                                type="radio"
                                class="k-radio"
                                name="isNotifyPartyAsConsignee_no"
                                [disabled]="isViewMode"
                                [value]="false"
                                [(ngModel)]="model.isNotifyPartyAsConsignee"
                                (ngModelChange)="isNotifyPartyAsConsigneeChange($event)"/>
                        <label class="k-radio-label" for="isNotifyPartyAsConsignee_no">{{'label.no' | translate}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<fieldset class="border fieldset-container mt-4">
    <legend class="w-auto custom-legend">{{'label.shipmentInfo' | translate}}</legend>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 form-group" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL, 'modeOfTransport')">
                <label class="form-label required">{{'label.modeOfTransport' | translate}}</label>
                <kendo-dropdownlist name="modeOfTransport"
                                    [(ngModel)]="model.modeOfTransport"
                                    class="form-control"
                                    [data]="modeOfTransportOptions"
                                    [valuePrimitive]="true"
                                    [textField]="'label'"
                                    [valueField]="'value'"
                                    (ngModelChange)="modeOfTransportChange($event)"
                                    [readonly]="isViewMode || isModeOfTransportDisabled"
                                    [ngClass]="{'read-only': isViewMode || isModeOfTransportDisabled}">
                    <ng-template kendoDropDownListValueTemplate let-dataItem>
                        {{ dataItem?.label | translate }}
                    </ng-template>
                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                        {{ dataItem?.label | translate }}
                    </ng-template>
                </kendo-dropdownlist>
            </div>

            <div class="col-lg-6 form-group" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL, 'preferredCarrier')">
                <label class="form-label">{{'label.carrierName' | translate}}</label>
                <kendo-autocomplete name="carrier"
                                    [data]="carrierOptions"
                                    [valueField]="'name'"
                                    [readonly]="isViewMode || isPreferredCarrierDisabled"
                                    [(ngModel)]="model.carrier"
                                    [filterable]="true"
                                    (filterChange)="carrierFilter($event)"
                                    (valueChange)="carrierValueChange($event)"
                                    [placeholder]="'placeholder.egThing' | translate: {thing: ('label.carrierName' | translate)}"
                                    class="form-control"
                                    [ngClass]="{'read-only': isViewMode || isPreferredCarrierDisabled, 'force-invalid': formErrors[tabPrefix + 'carrier']}">
                </kendo-autocomplete>
                <div *ngIf="formErrors[tabPrefix + 'carrier']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'carrier'] }}
                </div>
            </div>

            <div class="col-lg-6 form-group" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL, 'logisticsService')">
                <label class="form-label required">{{'label.serviceType' | translate}}</label>
                <kendo-dropdownlist name="logisticsService"
                                    [(ngModel)]="model.logisticsService"
                                    class="form-control"
                                    (valueChange)="logisticsServiceTypeChange($event, true, true)"
                                    [data]="logisticServiceTypeOptions"
                                    [textField]="'label'"
                                    [valueField]="'value'"
                                    [valuePrimitive]="true"
                                    [readonly]="isViewMode"
                                    [ngClass]="{'read-only': isViewMode}">
                    <ng-template kendoDropDownListValueTemplate let-dataItem>
                        {{ dataItem?.label | translate }}
                    </ng-template>
                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                        {{ dataItem?.label | translate }}
                    </ng-template>
                </kendo-dropdownlist>
            </div>

            <div class="col-lg-6 form-group" *ngIf="model?.modeOfTransport !== modeOfTransportType.Air" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL, 'movementType')">
                <label class="form-label">{{'label.movementType' | translate}}</label>
                <kendo-dropdownlist name="movementType"
                                    [(ngModel)]="model.movementType"
                                    class="form-control"
                                    [data]="movementTypeOptions"
                                    [textField]="'label'"
                                    [valueField]="'value'"
                                    [valuePrimitive]="true"
                                    readonly="true"
                                    [ngClass]="{'read-only': isViewMode}">
                    <ng-template kendoDropDownListValueTemplate let-dataItem>
                        {{ dataItem?.label | translate }}
                    </ng-template>
                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                        {{ dataItem?.label | translate }}
                    </ng-template>
                </kendo-dropdownlist>
            </div>

            <div class="col-lg-6 form-group" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL, 'shipFromName')">
                <label class="form-label required">{{literalLabels.shipFrom | translate}}</label>
                <kendo-autocomplete name="shipFrom"
                                    [valueField]="'label'"
                                    [readonly]="isViewMode || isShipFromDisabled"
                                    [(ngModel)]="model.shipFromName"
                                    [data]="locationOptions"
                                    [filterable]="true"
                                    (filterChange)="locationFilter($event)"
                                    (valueChange)="shipFromValueChange($event)"
                                    [placeholder]="'placeholder.egThing' | translate: {thing: ('label.locationName' | translate)}"
                                    class="form-control"
                                    [ngClass]="{'read-only': isViewMode || isShipFromDisabled, 'force-invalid': formErrors[tabPrefix + 'shipFromName']}">
                </kendo-autocomplete>
                <div *ngIf="formErrors[tabPrefix + 'shipFromName']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'shipFromName'] }}
                </div>
            </div>

            <div class="col-lg-6 form-group" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL, 'expectedShipDate')">
                <label class="form-label required">{{'label.expectedShipDates' | translate}}</label>
                <kendo-datepicker name="expectedShipDate"
                                class="form-control"
                                [(ngModel)]="model.expectedShipDate"
                                (valueChange)="onExpectedShipDateChanged($event)"
                                [readonly]="isViewMode || isExpectedShipDateDisabled"
                                [ngClass]="{'read-only': isViewMode || isExpectedShipDateDisabled, 'force-invalid': formErrors[tabPrefix + 'expectedShipDate' + 'notEarlierThan']  ||  formErrors[tabPrefix + 'expectedShipDate' + 'notLaterThan'] ||  formErrors[tabPrefix + 'expectedShipDate' + 'invalid']}">
                </kendo-datepicker>
    
                <div *ngIf="formErrors[tabPrefix + 'expectedShipDate' + 'notEarlierThan'] " class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'expectedShipDate' + 'notEarlierThan'] }}
                </div>
    
                <div *ngIf="formErrors[tabPrefix + 'expectedShipDate' + 'notLaterThan'] " class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'expectedShipDate' + 'notLaterThan'] }}
                </div>
    
                <div *ngIf="formErrors[tabPrefix + 'expectedShipDate' + 'invalid'] " class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'expectedShipDate' + 'invalid'] }}
                </div>
            </div>

            <div class="col-lg-6 form-group" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL, 'shipToName')">
                <label class="form-label required">{{literalLabels.shipTo | translate}}</label>
                <kendo-autocomplete name="shipTo"
                                    [valueField]="'label'"
                                    [readonly]="isViewMode || isShipToDisabled"
                                    [(ngModel)]="model.shipToName"
                                    (valueChange)="shipToValueChange($event)"
                                    [data]="locationOptions"
                                    [filterable]="true"
                                    (filterChange)="locationFilter($event)"
                                    [placeholder]="'placeholder.egThing' | translate: {thing: ('label.locationName' | translate)}"
                                    class="form-control"
                                    [ngClass]="{'read-only': isViewMode || isShipToDisabled, 'force-invalid': formErrors[tabPrefix + 'shipToName']}">
                </kendo-autocomplete>
                <div *ngIf="formErrors[tabPrefix + 'shipToName']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'shipToName'] }}
                </div>
            </div>

            <div class="col-lg-6 form-group" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL, 'expectedDeliveryDate')">
                <label class="form-label">{{'label.expectedDeliveryDates' | translate}}</label>
                <kendo-datepicker name="expectedDeliveryDate"
                                class="form-control"
                                [(ngModel)]="model.expectedDeliveryDate"
                                [readonly]="isViewMode || isExpectedDeliveryDateDisabled"
                                (valueChange)="onExpectedDeliveryDateChanged($event)"
                                [ngClass]="{'read-only': isViewMode || isExpectedDeliveryDateDisabled, 'force-invalid': formErrors[tabPrefix + 'expectedDeliveryDate'] }">
                </kendo-datepicker>

                <div *ngIf="formErrors[tabPrefix + 'expectedDeliveryDate']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'expectedDeliveryDate'] }}
                </div>
            </div>

            <div class="col-lg-6 form-group" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL, 'receiptPort')">
                <label class="form-label required">{{'label.placeOfReceipt' | translate}}</label>
                <kendo-autocomplete name="receiptPort"
                                    [valueField]="'label'"
                                    [readonly]="isViewMode || isReceiptPortDisabled"
                                    [(ngModel)]="model.receiptPort"
                                    [data]="locationOptions"
                                    [filterable]="true"
                                    (filterChange)="locationFilter($event)"
                                    (valueChange)="receiptPortValueChange($event)"
                                    [placeholder]="'placeholder.egThing' | translate: {thing: ('label.locationName' | translate)}"
                                    class="form-control"
                                    [ngClass]="{'read-only': isViewMode || isReceiptPortDisabled, 'force-invalid': formErrors[tabPrefix + 'receiptPort']}">
                </kendo-autocomplete>
                <div *ngIf="formErrors[tabPrefix + 'receiptPort']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'receiptPort'] }}
                </div>
            </div>

            <div class="col-lg-6 form-group" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL, 'deliveryPort')">
                <label class="form-label required">{{'label.placeOfDelivery' | translate}}</label>
                <kendo-autocomplete name="deliveryPort"
                                    [valueField]="'label'"
                                    [readonly]="isViewMode || isDeliveryPortDisabled"
                                    [(ngModel)]="model.deliveryPort"
                                    (valueChange)="deliveryPortValueChange($event)"
                                    [data]="locationOptions"
                                    [filterable]="true"
                                    (filterChange)="locationFilter($event)"
                                    [placeholder]="'placeholder.egThing' | translate: {thing: ('label.locationName' | translate)}"
                                    class="form-control"
                                    [ngClass]="{'read-only': isViewMode || isDeliveryPortDisabled, 'force-invalid': formErrors[tabPrefix + 'deliveryPort']}">
                </kendo-autocomplete>
                <div *ngIf="formErrors[tabPrefix + 'deliveryPort']" class="k-invalid-msg">
                    {{ formErrors[tabPrefix + 'deliveryPort'] }}
                </div>
            </div>
        </div>
    </div>
</fieldset>

<fieldset class="border fieldset-container mt-4">
    <legend class="w-auto custom-legend">{{'label.additionalInformation' | translate}}</legend>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 form-group" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL, 'isContainDangerousGoods')">
                <div class="form-group">
                    <label class="form-label">{{'label.isContainDangerousGoods' | translate}}</label>
                    <div class="radio-wrapper" #anchor>
                        <input id="isContainDangerousGoods_yes"
                                type="radio"
                                class="k-radio"
                                name="isContainDangerousGoods_yes"
                                [disabled]="isViewMode"
                                [value]="true"
                                [(ngModel)]="model.isContainDangerousGoods"/>
                        <label class="k-radio-label" for="isContainDangerousGoods_yes">{{'label.yes' | translate}}</label>
                        <input id="isContainDangerousGoods_no"
                                type="radio"
                                class="k-radio"
                                name="isContainDangerousGoods_no"
                                [disabled]="isViewMode"
                                [value]="false"
                                [(ngModel)]="model.isContainDangerousGoods"/>
                        <label class="k-radio-label" for="isContainDangerousGoods_no">{{'label.no' | translate}}</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 form-group" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL, 'isCIQOrFumigation')">
                <label class="form-label">{{'label.ciqOrFumigation' | translate}}</label>
                <div class="radio-wrapper" #anchor>
                    <input id="isCIQOrFumigation_yes"
                            type="radio"
                            class="k-radio"
                            name="isCIQOrFumigation_yes"
                            [disabled]="isViewMode"
                            [value]="true"
                            [(ngModel)]="model.isCIQOrFumigation"/>
                    <label class="k-radio-label" for="isCIQOrFumigation_yes">{{'label.yes' | translate}}</label>
                    <input id="isCIQOrFumigation_no"
                            type="radio"
                            class="k-radio"
                            name="isCIQOrFumigation_no"
                            [disabled]="isViewMode"
                            [value]="false"
                            [(ngModel)]="model.isCIQOrFumigation"/>
                    <label class="k-radio-label" for="isCIQOrFumigation_no">{{'label.no' | translate}}</label>
                </div>
            </div>
            <div class="col-lg-6 form-group" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL, 'isBatteryOrChemical')">
                <div class="form-group">
                    <label class="form-label">{{'label.batteryOrChemical' | translate}}</label>
                    <div class="radio-wrapper" #anchor>
                        <input id="isBatteryOrChemical_yes"
                                type="radio"
                                class="k-radio"
                                name="isBatteryOrChemical_yes"
                                [disabled]="isViewMode"
                                [value]="true"
                                [(ngModel)]="model.isBatteryOrChemical"/>
                        <label class="k-radio-label" for="isBatteryOrChemical_yes">{{'label.yes' | translate}}</label>
                        <input id="isBatteryOrChemical_no"
                                type="radio"
                                class="k-radio"
                                name="isBatteryOrChemical_no"
                                [disabled]="isViewMode"
                                [value]="false"
                                [(ngModel)]="model.isBatteryOrChemical"/>
                        <label class="k-radio-label" for="isBatteryOrChemical_no">{{'label.no' | translate}}</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 form-group" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL, 'isExportLicence')">
                <label class="form-label">{{'label.exportLicence' | translate}}</label>
                <div class="radio-wrapper" #anchor>
                    <input id="isExportLicence_yes"
                            type="radio"
                            class="k-radio"
                            name="isExportLicence_yes"
                            [disabled]="isViewMode"
                            [value]="true"
                            [(ngModel)]="model.isExportLicence"/>
                    <label class="k-radio-label" for="isExportLicence_yes">{{'label.yes' | translate}}</label>
                    <input id="isExportLicence_no"
                            type="radio"
                            class="k-radio"
                            name="isExportLicence_no"
                            [disabled]="isViewMode"
                            [value]="false"
                            [(ngModel)]="model.isExportLicence"/>
                    <label class="k-radio-label" for="isExportLicence_no">{{'label.no' | translate}}</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-6" [hidden]="!isVisibleField(viewSettingModuleIdType.FREIGHTBOOKING_DETAIL, 'remarks')">
                <label class="form-label">{{'label.remarks' | translate}}</label>
                <textarea kendoTextArea
                        rows="3"
                        name="remarks"
                        [(ngModel)]="model.remarks"
                        class="form-control note-textarea"
                        [readonly]="isViewMode"
                        maxlength="500"
                        [ngClass]="{'read-only': isViewMode}">
                </textarea>
            </div>
        </div>
    </div>
</fieldset>