@import '../../../../styles/variables';

.load-container-wrapper {
    .edit-info-form-input {
        width: 100%;
    }
    .edit-info {
        .form-input-icon {
            position: absolute;
            right: -9px;
            top: 38px;
            font-size: 18px;
            color: $color-grey-bright-1;
        }
    }
}
.load-ref-no {
    font-weight: bold;
    color: black;
}

.view-extend-unit {
    border: 0px;
    background-color: $theme-background-color-disable !important;
}
