@import '../../../../styles/variables';

.load-icon {
    margin-right: 0 !important;
    margin-left: 8px;
}
.unload-icon {
    margin-right: 6px;
}
.tree-view-container {
    height: 424px;
    overflow-y: auto;
}
.group-col-header {
    font-weight: bold;
    color: $color-grey-dark-3;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.tree-view-panel-group {
    background-color: $theme-color-blank;
    border-color: $color-white-dark-2;
    border-width: thin;
    border-style: solid;
    .tree-view-panel-header {
        border-color: $color-white-dark-2;
        border-bottom-width: thin;
        border-style: solid;
        background-color: $color-white-dark-1;
    }
}
::ng-deep {
    .load-cargo-detail-popup {
        .k-dialog .k-content {
            padding: 25px 40px;
        }

        &.custom-header-dialog .k-dialog-titlebar .k-dialog-title {
            margin-top: 0;
        }
    }
    .loaded-cargo-list {
        height: 470px;
        overflow-y: auto;
        .k-grid-table-wrap {
            height: 431px;
            tr:last-child > td, .k-grid-content-locked tr:last-child > td {
                border-bottom-width: 1px !important;
            }
            tr.k-grid-norecords > td {
                border-bottom-width: 0 !important;
            }
            tr.dragging td{
                background-color: $color-blue-bright-1 !important;
            }
            tr {
                cursor: move;
            }
            .order-drag-container:hover .hover-drag {
                margin-left: 21px;
            }
            tr:hover {
                .grid-icon-remove {
                    display: block;
                }
            }
            tr td {
                position: relative;
            }
            .grid-icon-remove {
                cursor: pointer;
                color: $color-red-primary;
                position: absolute;
                right: 0;
                top: 10px;
                display: none;
            }
        }
    }

    .k-treeview {

        .k-in {
            padding: 6px;

            &:hover, &.k-state-hover{
                background-color: $theme-color-blank;
            }

            &.k-state-focused {
                box-shadow: none;
            }
        }

        // upper case title
        ul li span:not([data-treeindex*='_']) {
            font-weight: bold;
            text-transform: uppercase;
            color: $color-grey-dark-2;
        }

        // align
        .k-item .k-treeview-item {
            margin-left: 15px;
        }

        .k-in {
            top: -2px;
        }

        ul li.k-state-disabled {
            background-color: unset !important;
            .k-checkbox:checked + .k-checkbox-label::before {
                opacity: 0.5;
            }
        }

    }

    .k-checkbox-label{
        &::before, &::after
        {
            font-size: 11px;
        }
    }
    .k-checkbox:checked:focus+.k-checkbox-label::before {
        border-color: $theme-color;
        box-shadow: unset;
    }
    .k-checkbox:focus+.k-checkbox-label::before {
        border-width: 0;
    }
    .check-all-label {
        font-size: inherit;
        font-weight: bold;
    }
}
